<nav>
    <ul>
        <li>
            <a routerLink="home">
                <label>Home</label>
            </a>
        </li>
        <li>
            <a routerLink="chassis">
                <label>Chassis</label>
            </a>
        </li>
        <li>
            <a routerLink="tanks">
                <label>Tanks</label>
            </a>
        </li>
        <li>
            <a routerLink="alarms">
                <label>Alarms</label>
            </a>
        </li>
        <li>
            <a routerLink="protocols">
                <label>Protocols</label>
            </a>
        </li>
        <li>
            <a routerLink="settings">
                <label>Settings</label>
            </a>
        </li>
    </ul>
</nav>