<?xml version="1.0"?>
<serviceHostingEnvironment>
	<serviceActivations>
		<add relativeAddress="IGasboyDevices.svc" service="FuelsManager.Afss.Module.Gasboy.BusinessServices.ServiceClasses.GasboyDevices"/>
		<add relativeAddress="IGasboyStations.svc" service="FuelsManager.Afss.Module.Gasboy.BusinessServices.ServiceClasses.GasboyStations"/>
		<add relativeAddress="IGasboyTransactionProcessor.svc" service="FuelsManager.Afss.Module.Gasboy.BusinessServices.ServiceClasses.GasboyTransactionProcessor"/>
		<add relativeAddress="IGasboyDepartments.svc" service="FuelsManager.Afss.Module.Gasboy.BusinessServices.ServiceClasses.GasboyDepartments"/>
	</serviceActivations>
</serviceHostingEnvironment>
