<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
			<section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true"/>
			<section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true"/>
			<section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true"/>
			<section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true"/>
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true"/>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>

		<pages>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
			</controls>
		</pages>
	</system.web>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
				</binding>
				<binding name="FMEnterpriseBusinessServices" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="WebHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</webHttpBinding>
			<wsHttpBinding>
				<binding name="WsHttpsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None">
							<extendedProtectionPolicy policyEnforcement="Never"/>
						</transport>
					</security>
				</binding>
				<binding name="WsHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security>
						<transport>
							<extendedProtectionPolicy policyEnforcement="Never"/>
						</transport>
					</security>
				</binding>
				<binding name="FMEnterpriseBusinessServices" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security>
						<transport>
							<extendedProtectionPolicy policyEnforcement="Never"/>
						</transport>
					</security>
				</binding>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBindingIIS" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
				</binding>
				<binding name="SRMTcpBinding" maxReceivedMessageSize="10000" maxConnections="500" listenBacklog="500">
					<security mode="None">
						<message clientCredentialType="None"/>
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</netTcpBinding>
			<netNamedPipeBinding>
				<binding name="NetNamedPipeBinding" maxReceivedMessageSize="2147483647">
					<security mode="Transport"/>
				</binding>
			</netNamedPipeBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="FuelsManager.Afss.Module.Gasboy.BusinessServicesBehavior">
					<serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647"/>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<!-- NOTE: This must be set to false if using net.tcp [A.Hush 12/19/2011] -->
					<!--<serviceMetadata httpGetEnabled="true"/>-->
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<!-- name is left blank, so it applies to all services-->
				<behavior name="">
					<serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647"/>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<!-- NOTE: This must be set to false if using net.tcp [A.Hush 12/19/2011] -->
					<!--<serviceMetadata httpGetEnabled="true"/>-->
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment configSource="ServiceHostingEnvironment.config">
		</serviceHostingEnvironment>
		<protocolMapping>
			<add scheme="http" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" />
			<add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBindingIIS"/>
			<add scheme="net.pipe" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding" />
		</protocolMapping>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\NspaTraces.svclog"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<appSettings>
		<!-- Location of FMBusinessServices -->
		<!-- use netNamedPipeBinding if all web services and clients are hosted on the same machine. Add net.pipe to list of enabled protocols in IIS accepted by a web site.
		<add key="bindingName" value="NetNamedPipeBinding" />
		<add key="endPointAddress" value="net.pipe://localhost/FMBusinessServices" />
		-->
		<add key="bindingName" value="NetTcpBindingIIS"/>
		<add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices"/>

		<!-- Location of GasboyBusinessServices -->
		<!-- use netNamedPipeBinding if all web services and clients are hosted on the same machine. Add net.pipe to list of enabled protocols in IIS accepted by a web site.
		<add key="GasboyBindingName" value="NetNamedPipeBinding" />
		<add key="GasboyEndPointAddress" value="net.pipe://localhost/GasboyBusinessServices" />
		-->
		<add key="GasboyBindingName" value="NetTcpBindingIIS"/>
		<add key="GasboyEndPointAddress" value="net.tcp://localhost:808/GasboyBusinessServices"/>

		<add key="gasboySkipTransactionReceivedNotification" value="true"/>

		<!-- This value governs all database connections -->
		<add key="ConnectionString" value="Persist Security Info=False;Integrated Security=SSPI;database=FuelsManagerDB;server=1MNFV52\SQLSERVER2012;Connect Timeout=60"/>

		<add key="DataDictionaryFailsafeCheckForChangesIntervalMinutes" value="5"/>
		<add key="EnableChangeLogging" value="false"/>
		<add key="LoggerDebugFlag" value="false"/>
		<add key="LoggerInfoFlag" value="false"/>
		<add key="LoggerPerformanceFlag" value="false"/>
		<add key="LoggerWarnFlag" value="false"/>
		<add key="LoggerErrorFlag" value="false"/>
		<add key="LoggerCriticalFlag" value="false"/>
		<add key="LoggerLogDir" value="C:\Program Files\FuelsManager\ErrorLogging"/>
		<add key="SiteCacheSize" value="5"/>
		<add key="HardwareKeyCloudDeployment" value="false"/>
		<add key="LogTable_DaysOld" value="4"/>
		<add key="LogTable_DeleteOld" value="true"/>
		<add key="HardwareKeyOptionsCell" value="4294967295"/>
		<add key="HardwareKeySpecialKeyCodes" value="4294836191"/>
		<add key="HardwareKeyOPCAllowedFunctions" value="4294967295"/>
		<add key="HardwareKeyProgramVersion" value="9999"/>
		<add key="HardwareKeyIsADFKey" value="false"/>
		<add key="HardwareKeyIsMODKey" value="false"/>
		<add key="HardwareKeyIsTFMDKey" value="false"/>
		<add key="InteropFMUtilPath" value="C:\Projects\FuelsManager\Defense Merge\Web Application\Binaries"/>
		<add key="FuelsManagerServiceAddress" value="net.tcp://localhost:53120/FuelsManagerServiceCommunication.svc/FuelsManagerService"/>
		<add key="TotalMovementCalculationName" value=""/>
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
			</dependentAssembly>
		</assemblyBinding>

		<!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
		<legacyHMACWarning enabled="0"/>
		<!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
		<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
		<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
		</dependentAssembly>
		</assemblyBinding>
		-->
	</runtime>
	<system.net>
		<defaultProxy enabled="true"/>
		<settings>
			<!-- This setting causes .NET to check certificate revocation lists (CRL)
			before trusting HTTPS certificates.  But this setting tends to not
			be allowed in shared hosting environments. -->
			<!--<servicePointManager checkCertificateRevocationList="true"/>-->
		</settings>
	</system.net>


</configuration>
