<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="AccountingTransactionDetailURL" value="ADFWebApp/TransactionDetail.aspx"></add>
  <add key="TransactionFieldConfiguration" value="TransactionFieldLength.xml"></add>
  <add key="TFMSImportLogFileDirPath" value="C:\Program Files\FuelsManager\TFMSImportLogDir\"></add>
  <add key="SupressInvoiceWebAppMenu" value="true"/>
</appSettings>
