USE ConsolidatedDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_CustomerAccountInformation') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_CustomerAccountInformation
GO


CREATE PROCEDURE [dbo].[rpt_sp_ta_CustomerAccountInformation]

 /*=============================================
 Author:	 			
 Create date: 			
 Description: 			
 Version:				7.5.1.0
 Execution:
			Execute rpt_sp_ta_CustomerAccountInformation 1,1,2,'<All>'
 Modification History:
	Date		by		Description
	06/11/2008			Add state and filter out Lockedout shipTo
	07/01/2008			Add lockedout column
	08/05/2008			Added PIDX ID, PIDX Type, TDS, and TABS columns. Also added "Shipper" criteria selection.
	4/30/2009			Rename from [fm_ShipperLoadIDReport] to [rpt_sp_ta_ShipperLoadIDReport]
	7/15/2009	KF		Rename from rpt_sp_ta_ShipperLoadIDReport to rpt_sp_ta_CustomerAccountInformation
						Modified to have one line of detail.
	12/9/2009	KF		Version 7.5.1.0
 =============================================*/

@LoginSiteIndex int,
@SiteIndex int,
@UserIndex int,
@Shipper nvarchar(30)


AS 
BEGIN

Create Table #temp(
						[Load ID]	nvarchar(60),
						[ShipperID]	nvarchar(60),
						[Shipper]	nvarchar(200),
						[Ship-To]	nvarchar(200),
						[Address]	nvarchar(200),
						[State]		nvarchar(40),
						[City]		nvarchar(40),
						[AccountNumber]  nvarchar(60),
						[Lockedout] bit,
						[TDS]		nvarchar(28),
						[TABS]		nvarchar(28),

			)
									
INSERT INTO #temp

				select 
					 A.ID as [Load ID]
					,H.ID as [ShipperID]
					,H.[NAME] as [Shipper]
					,D.[NAME] as [Ship-To]
					,D.Address1 +' ' + D.Address2 AS [Address]
					,D.State as [State]
					,D.City as [City]
					,D.AccountNumber as [AccountNumber]
					,D.Lockedout as [Lockedout]
					,'' as [TDS]
					,'' as [TABS]
				From 
					tblCompanyMap A with (nolock)
						left outer join tblCompanyMap B with (nolock) on 
											A.AssignedToIndex = B.[Index]
						left outer join tblCompanies D with (nolock) on 
											B.AssignedIndex = D.CompanyIndex
						left outer join tblCompanyMap E with (nolock) on 
											B.AssignedToIndex = E.[Index]
						left outer join tblCompanies F with (nolock) on 
											E.AssignedIndex = F.CompanyIndex
						left outer join tblCompanyMap G with (nolock) on 
											E.AssignedToIndex = G.[Index]
						left outer join tblCompanies H with (nolock) on 
											G.AssignedIndex = H.CompanyIndex
						left outer join (tblPIDXProfileCompanyMap Y with (nolock) 
													inner join tblPIDXProfiles Z with (nolock) on 
																	Y.PIDXProfileIndex = Z.[Index]) on 
											A.[Index] = Y.LoadIDCompanyMapIndex
				Where 
					    A.SiteIndex = @SiteIndex
					AND A.[Type] = 5
					AND (@Shipper = '<All>' OR (H.[ID] = @Shipper))

				Group by 
					H.ID ,
					H.[NAME] ,
					A.ID,
					D.[NAME],
					D.Address1,
					D.Address2,
					D.State,
					D.City,
					D.AccountNumber,
					D.Lockedout
				Order by
					H.[NAME], D.[NAME]

--------------------------------------

--------------------------------------

			select distinct
				 A.ID as [Load ID]
				,Z.Type as [Type]
				,Y.ConsigneeNumber
								
INTO #temp2
			From 
				tblCompanyMap A with (nolock)
					left outer join tblCompanyMap B with (nolock) on 
										A.AssignedToIndex = B.[Index]
					left outer join tblCompanies D with (nolock) on 
										B.AssignedIndex = D.CompanyIndex
					left outer join tblCompanyMap E with (nolock) on 
										B.AssignedToIndex = E.[Index]
					left outer join tblCompanies F with (nolock) on 
										E.AssignedIndex = F.CompanyIndex
					left outer join tblCompanyMap G with (nolock) on 
										E.AssignedToIndex = G.[Index]
					left outer join tblCompanies H with (nolock) on 
										G.AssignedIndex = H.CompanyIndex
					left outer join (tblPIDXProfileCompanyMap Y with (nolock) 
												inner join tblPIDXProfiles Z with (nolock) on 
																Y.PIDXProfileIndex = Z.[Index]) on 
										A.[Index] = Y.LoadIDCompanyMapIndex
			Where 
				    A.SiteIndex = 1
				AND A.[Type] = 5
							
			Order by A.ID

update #temp
set [TDS] = t2.ConsigneeNumber
from #temp2 t2  
where #temp.[Load ID] = t2.[Load ID] and t2.[Type] = 0

update #temp
set [TABS] = t2.ConsigneeNumber
from #temp2 t2 
where #temp.[Load ID] = t2.[Load ID] and t2.[Type] = 1



Select * from #temp 

drop table #temp
drop table #temp2




END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.[rpt_sp_ta_CustomerAccountInformation] TO [public]
GO



