USE ConsolidatedDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_ds_sp_CompanyNameFromID') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_ds_sp_CompanyNameFromID
GO

CREATE PROCEDURE [dbo].[rpt_ds_sp_CompanyNameFromID] 
 /*=============================================
 Author:	 			UNKNOWN
 Create date: 			
 Description:
 Version:				7.5.1.0 			
 Modification History:
	Date		by		Description
	5/15/2009	kf		Rename from [fm_CompanyNameFromID] to [rpt_ds_sp_CompanyNameFromID]

 =============================================*/


(
	@SiteIndex int,
	@CompanyID nvarchar(30)
)
AS

SELECT	[Name] 
FROM	tblCompanies 
WHERE	SiteIndex = @SiteIndex and ID = @CompanyID

