USE FuelsManagerDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_BOLReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_BOLReport
GO



CREATE Procedure [dbo].[rpt_sp_ta_BOLReport]
/***-- =============================================
 Author:		Amanda Sang
 Create date: 04/15/2008
 Description:	Standard BOL Report
 Version:		7.5.1.0
 Execution:
		Execute rpt_sp_ta_BOLReport 1,'ea259b1b-56b6-4e0f-b54d-df6c50d0c62e',2	

 Modification History:
Sq#		Date		By		Description
		1/19/2010	KF		New Standard
Sq#002	5/09/2011	Al		Added StartDate and EndDate clause for the FootNote Query's criteria

=============================================**/


(
	@SiteGuidStr nvarchar(36),
	@TransID nvarchar(200),
	@Header int
)

AS

SET NOCOUNT ON;

DECLARE @TransactionGuid uniqueidentifier
SET @TransactionGuid = (SELECT TransactionGuid FROM tblTransactions WHERE TransID = @TransID)
DECLARE @SiteGuid uniqueidentifier
SELECT @SiteGuid = Convert(uniqueidentifier,@SiteGuidStr)
DECLARE @VolumeFactor float
SELECT @VolumeFactor = 0.003785412
DECLARE @MassFactor float
SELECT @MassFactor = 2.20462262  -- 1kg = 2.20462262lb
DECLARE @AdditiveVolumeFactor float
SELECT @AdditiveVolumeFactor = 1000000 --1 cubic meter = 1000000 cubic cm

DECLARE @AdditiveVolumeUnits int
SET @AdditiveVolumeUnits = (SELECT AdditiveVolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteGuid = @SiteGuid)

DECLARE @AdditiveVolumeDecimalPlaces int
SELECT @AdditiveVolumeDecimalPlaces = (SELECT AdditiveVolumeDecimalPlaces FROM dbo.tblSites with(nolock) WHERE SiteGuid = @SiteGuid)

--footnotes table used later by two @Header
DECLARE @ProductGuids TABLE (
	ProductGuid uniqueidentifier
)

INSERT INTO @ProductGuids SELECT  Distinct (ProductGuid) AS ProductGuid
FROM	tblTransactionLineItems 
WHERE	TransactionGuid = @TransactionGuid AND (BrokenBlend IS NULL OR BrokenBlend =cast(0 As bit)) --broken blend value can be null
UNION
SELECT Distinct(ProductGuid) AS ProductGuid
FROM	tblTransactionSubLineItems
WHERE	TransactionLineItemGuid IN (SELECT TransactionLineItemGuid 
							FROM tblTransactionLineItems  with(nolock)
							WHERE BrokenBlend = cast(1 AS bit) 
								  AND TransactionGuid = @TransactionGuid)
--Select * from @ProductGuids

--An Index of NULL in map table represents <All>
DECLARE @ShipToGuid uniqueidentifier,
		@ShipperGuid uniqueidentifier, 
		@InventoryDate DATETIME

SELECT	@ShipToGuid = ShipToCompanyGuid,
		@ShipperGuid = ShipperCompanyGuid, 
		@InventoryDate = ISNULL(InventoryDate,'1900-01-01 00:00:00')
	FROM dbo.tblTransactions with(nolock) 
	WHERE TransactionGuid = @TransactionGuid

DECLARE @FootNotes TABLE (
		[ID] [nvarchar] (250) NOT NULL,
		[ApplicationStringGuid] uniqueidentifier NOT NULL,
		[Type] int NOT NULL,
		[AssignedToGuid] uniqueidentifier NULL
)

INSERT INTO @FootNotes SELECT S.ID, S.[ApplicationStringGuid], 11, M.CompanyGuid
FROM	dbo.tblApplicationString S RIGHT JOIN map.tblApplicationStringToFootNoteShipTo M 
		ON S.[ApplicationStringGuid] = M. [ApplicationStringGuid] 
WHERE	S.[LookupApplicationStringTypeIndex] = 12 --footnote type 
		AND (M.[CompanyGuid] IS NULL OR M.[CompanyGuid] = @ShipToGuid)
--		AND	@InventoryDate BETWEEN ISNULL(s.StartDate,'1900-01-01 00:00:00') AND ISNULL(s.EndDate,'9999-12-31') --</Sq#002>
ORDER BY S.ID,ApplicationStringGuid

INSERT INTO @FootNotes SELECT S.ID, S.[ApplicationStringGuid], 12, M.CompanyGuid
FROM	dbo.tblApplicationString S RIGHT JOIN map.tblApplicationStringToFootNoteShipper M
		ON S.[ApplicationStringGuid] = M. [ApplicationStringGuid] 
WHERE	S.[LookupApplicationStringTypeIndex] = 12 --footnote type 
		AND (M.[CompanyGuid] IS NULL
		OR M.[CompanyGuid] = @ShipperGuid)
--		AND	@InventoryDate BETWEEN ISNULL(s.StartDate,'1900-01-01 00:00:00') AND ISNULL(s.EndDate,'9999-12-31') --</Sq#002>
ORDER BY S.ID,ApplicationStringGuid

INSERT INTO @FootNotes SELECT S.ID, S.[ApplicationStringGuid], 13, M.AssignedToApplicationStringGuid
FROM	dbo.tblApplicationString S RIGHT JOIN map.tblApplicationStringToFootNoteShipToState M
		ON S.[ApplicationStringGuid] = M. [ApplicationStringGuid] 
WHERE	S.[LookupApplicationStringTypeIndex] =12 --footnote type 
		AND (M.[ApplicationStringGuid] IS NULL 
		OR M.[ApplicationStringGuid] = (SELECT [ApplicationStringGuid] FROM dbo.tblApplicationString  
				 WHERE [LookupApplicationStringTypeIndex] = 13 AND ID = (SELECT State FROM dbo.tblCompanies WHERE CompanyGuid = @ShipToGuid)))
--		AND	@InventoryDate BETWEEN ISNULL(s.StartDate,'1900-01-01 00:00:00') AND ISNULL(s.EndDate,'9999-12-31') --</Sq#002>
ORDER BY S.ID,ApplicationStringGuid

INSERT INTO @FootNotes SELECT S.ID, S.[ApplicationStringGuid], 14, M.ProductGuid
FROM	dbo.tblApplicationString S with(nolock) Right Join map.tblApplicationStringToFootNoteProduct M with(nolock)
		ON S.[ApplicationStringGuid] = M. [ApplicationStringGuid] 
WHERE	S.[LookupApplicationStringTypeIndex] =12 --footnote type 
		AND (M.[ProductGuid] IS NULL OR M.[ProductGuid] IN (SELECT * FROM @ProductGuids))
--		AND	@InventoryDate BETWEEN ISNULL(s.StartDate,'1900-01-01 00:00:00') AND ISNULL(s.EndDate,'9999-12-31') --</Sq#002>
ORDER BY S.ID,ApplicationStringGuid

--select * from @FootNotes

DECLARE @FootNoteList TABLE (
	AssignedGuid uniqueidentifier,
	Type INT,
	ID NVARCHAR(250) NOT NULL,
	FootNoteIndex int IDENTITY(1,1)
)

INSERT INTO @FootnoteList SELECT Distinct F.AssignedToGuid, F.Type, F.ID
FROM @FootNotes F

IF @Header = 1
BEGIN
	CREATE TABLE [dbo].[#TBL_TEMP_HEADER_INFO]
	 (
		[ManagerCompanyName] [nvarchar] (50) NULL ,
		[Address1] [nvarchar] (60) NULL ,
		[Address2] [nvarchar] (60) NULL ,
		[City] [nvarchar] (20) NULL ,
		[State] [nvarchar] (20) NULL ,
		[Zip] [nvarchar] (11) NULL ,
		[ManagerPhone] [nvarchar] (20) null,
		[EPANumber] [nvarchar] (60) null,
		[TCNNumber] [nvarchar] (60) null,
		[SPLCCode] [nvarchar] (30) null,
		[BOLNumber][nvarchar] (30) NULL ,
		[StartLoad] [datetime] NULL ,
		[EndLoad] [datetime] NULL ,
		[FolioNumber] [smalldatetime] NULL ,
		[CompanyRegistryNum] [nvarchar] (10) NULL ,  --broker, not used by anyone
		[LoadingLocationID] [nvarchar] (30) NULL,
		[TareWeight] [float] NULL ,
		[ExitWeight][float] NULL ,
		[BillToCompanyGuid] [uniqueidentifier] NULL ,
		[BillToCompanyName] [nvarchar] (60) NULL ,
		[BillToCompanyAccNumber] [nvarchar] (30) NULL ,
		[BillToCity][nvarchar] (20) NULL ,
		[BillToState] [nvarchar] (20) NULL ,
		[BillToAddress1] [nvarchar] (60) NULL ,
		[BillToAddress2] [nvarchar] (60) NULL ,
		[BillToZip] [nvarchar] (11) NULL ,
		[BillToPhone] [nvarchar] (20) NULL ,
		[BillToFax] [nvarchar] (20) NULL ,
		[ShipToCompanyGuid] [uniqueidentifier]  NULL ,
		[ShipToCompanyName] [nvarchar] (60) NULL ,
		[ShipToCompanyType] [nvarchar] (30) NULL ,
		[ShipToDestNumber] [nvarchar] (30) NULL ,
		[ShipToCity] [nvarchar] (20) NULL ,
		[ShipToState] [nvarchar] (20) NULL ,
		[ShipToAddress1] [nvarchar] (60) NULL ,
		[ShipToAddress2] [nvarchar] (60) NULL ,
		[ShipToZip] [nvarchar] (11) NULL ,
		[ShipToPhone] [nvarchar] (20) NULL ,
		[ShipToFax] [nvarchar] (20) NULL ,
		[ShipToFEIN] [nvarchar] (20) NULL,
		[RcvByCompanyGuid] [uniqueidentifier] NULL ,
		[RcvByCompanyName] [nvarchar] (60) NULL ,
		[RcvByCompanyAccNumber] [nvarchar] (30) NULL ,
		[RcvBySCACCode] [nvarchar] (10) NULL ,
		[RcvByCity] [nvarchar] (20) NULL ,
		[RcvByState] [nvarchar] (20) NULL ,
		[RcvByAddress1] [nvarchar] (60) NULL ,
		[RcvByAddress2] [nvarchar] (60) NULL ,
		[RcvByZip] [nvarchar] (11) NULL ,
		[RcvByFEIN] [nvarchar] (20) NULL ,
		[OwnerCompanyGuid] [uniqueidentifier] NULL ,
		[OwnerName] [nvarchar] (60) NULL ,
		[OwnerAccNumber] [nvarchar] (30) NULL ,
		[OwnerCity] [nvarchar] (20) NULL ,
		[OwnerState] [nvarchar] (20) NULL ,
		[OwnerZip] [nvarchar] (11) NULL ,
		[OwnerAddress1] [nvarchar] (60) NULL ,
		[OwnerAddress2] [nvarchar] (60) NULL ,
		[ShipperCompanyGuid][uniqueidentifier] NULL ,
		[ShipperCompanyName][nvarchar] (60) NULL ,
		[ShipperLicenseNumber] [nvarchar] (30) NULL ,
		[ShipperCity] [nvarchar] (20) NULL ,
		[ShipperState] [nvarchar] (20) NULL ,
		[ShipperAddress1] [nvarchar] (60) NULL ,
		[ShipperAddress2] [nvarchar] (60) NULL ,
		[ShipperZip] [nvarchar] (11) NULL ,
		[ShipperPhone] [nvarchar] (20) NULL ,
		[shipperFax] [nvarchar] (20) NULL ,
		[PONumber] [nvarchar] (30) NULL ,
		[MAPOrderNumber]  [nvarchar] (30) NULL,
		[DriverNumber] [nvarchar] (30) NULL ,
		[DriverName][nvarchar] (50) NULL,
		[DriverSignature] [varbinary] (max) NULL,
		[LoadID] [nvarchar] (50) NULL,
		[LoadRack] [nvarchar] (30) NULL,
		[TrailerNum] [nvarchar] (30) NULL,
		[TransDateTime] datetime NULL,
		[UpdatedDate] datetime NULL,
		[Notes] [nvarchar] (225) NULL,
		[ReversalType] [nvarchar] (30) NULL
	) ON [PRIMARY];
	
	
	-- Create row for new header information
	INSERT INTO  [dbo].[#TBL_TEMP_HEADER_INFO]
	SELECT NULL,Address1, Address2, City, State, Zip,Phone, UserData1, UserData2,SPLCCode,NULL, NULL, NULL,NULL,NULL,NULL,--NULL, 
		NULL,NULL,NULL,NULL, NULL, NULL,NULL,NULL, NULL, NULL, Null,NULL, NULL, NULL, NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,
		NULL, NULL, NULL, NULL, NULL,NULL,NULL,NULL, NULL,NULL,NULL,NULL, NULL,NULL,NULL,NUll,NULL,NULL,NULL,
		 NULL,NULL, NULL, NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,Null
	FROM tblSites with(nolock)
	WHERE SiteGuid = @SiteGuid

	-- Update Manager, ShipTo,BillTo, RcvBy company name
	UPDATE  [dbo].[#TBL_TEMP_HEADER_INFO]
	SET 	ManagerCompanyName=ManagerID,
		ShipToCompanyGuid = T.ShipToCompanyGuid,
		BillToCompanyGuid = T.BillToCompanyGuid,
		RcvByCompanyGuid = T.CarrierCompanyGuid,
		ShipperCompanyGuid = T.ShipperCompanyGuid,
		--RcvBySCACCode = SCACCode
		StartLoad = 
		CASE
		WHEN FST IS NULL THEN TimeIn
		ELSE FST
		END, 
		EndLoad = TimeOut, --weight out 
		BOLNumber = DocumentNumber, 
		FolioNumber = InventoryDate, 
		CompanyRegistryNum = ShipperCode,
		OwnerName = OwnerID,
		PONumber = T.PONumber,
		MAPOrderNumber = (SELECT DocumentNumber FROM dbo.tblTransactions with(nolock)
							WHERE TransID = (SELECT TransReferenceID FROM dbo.tblTransactions with(nolock) WHERE transID =@TransID)), 
		DriverNumber = DriverIdentificationNumber,
		LoadID = T.LoadID,
		TrailerNum=DestinationCompanyEquipmentID1,
		TransDateTime = T.TransDateTime,
		UpdatedDate = 
		CASE
		WHEN DateDiff(minute,T.TransDateTime,T.UpdatedDate)>=1 THEN T.UpdatedDate
		ELSE NULL
		END,
		Notes = (SELECT Notes FROM dbo.tblTransactionNotes with(nolock) WHERE TransID = @TransID),
		ReversalType = 
		CASE
		WHEN T.ReversalType = 'O' OR T.ReversalType = 'UO' THEN 'Original'
		WHEN T.ReversalType = 'R' OR T.ReversalType = 'RU' THEN 'Reversed'
		WHEN T.ReversalType = 'U' THEN 'Updated'
		ELSE ''
		END
	FROM	tblTransactions T with(nolock)
	WHERE 	TransID = @TransID 
		AND Site in (
				SELECT 	[ID] 
				FROM 	tblSites S with(nolock), 
					map.tblSiteToSite M with(nolock)
				WHERE 	M.ParentSiteGuid = @SiteGuid 
					AND M.ChildSiteGuid = S.SiteGuid
				) 

	-- Get  manager's company address, city, state, and code. Update the temp table with the information.


	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET 	Address1 = C.Address1, 
		Address2 = C.Address2, 
		City = C.City, 
		State = C.State,
		Zip = C.Zip,
		ManagerPhone = C.Phone
	FROM 	tblCompanies C with(nolock), [#TBL_TEMP_HEADER_INFO] D
	WHERE 	C.[ID] = D.ManagerCompanyName 


	-- Get ShipTo company address, city, state, and code. Update the temp table with the information.
	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET ShipToCompanyName = C.[Name],	
		ShipToAddress1 = C.Address1, 
		ShipToAddress2 = C.Address2, 
		ShipToZip = C.Zip,
		ShipToCity = C.City, 
		ShipToState = C.State,
		ShipToCompanyType = (SELECT ID FROM dbo.tblApplicationString with(nolock) WHERE [ApplicationStringGuid] = C.CustomerShipToTypeApplicationStringGuid),
		ShipToDestNumber= C.ID, --ShipTo ID is the account number
		ShipToPhone = C.Phone,
		ShipToFax = C.FAX,
		ShipToFEIN = C.FederalID
	FROM 	tblCompanies C with(nolock),[#TBL_TEMP_HEADER_INFO] D
	WHERE 	C.CompanyGuid = D.ShipToCompanyGuid

	-- Get BillTo company address, city, state, and code. Update the temp table with the information.
	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET	BillToCompanyName = C.[Name],
		BillToCity = C.City, 
		BillToState =C.State,
		BillToZip = C.Zip,
		BillToCompanyAccNumber = C.AccountNumber, --6 digits account number
		BillToPhone = C.Phone,
		BillToFax = C.FAX
	FROM 	tblCompanies C with(nolock),[#TBL_TEMP_HEADER_INFO] D
	WHERE 	C.CompanyGuid=D.BillToCompanyGuid
	
	--Get Owner company account, Update the temp table with the info. 
	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET	OwnerName = C.[Name],
		OwnerAccNumber = C.AccountNumber,
		OwnerAddress1 = C.Address1, 
		OwnerAddress2 = C.Address2, 
		OwnerCity = C.City, 
		OwnerState = C.State,
		OwnerZip = C.Zip
	FROM 	tblCompanies C with(nolock),[#TBL_TEMP_HEADER_INFO] D
	WHERE 	C.CompanyGuid=D.OwnerCompanyGuid

	--Get Revby company account, Update the temp table with the info. 
	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET		RcvByCompanyName = C.[Name],
			RcvByCompanyAccNumber = C.AccountNumber,
			RcvByCity = C.City ,
		    RcvByState=C.State,
			RcvByAddress1 = C.Address1,
			RcvByAddress2 = C.Address2 ,
			RcvByZip = C.Zip,
			RcvByFEIN = C.FederalID,
			RcvBySCACCode = C.SCACCode
	FROM 	tblCompanies C with(nolock),[#TBL_TEMP_HEADER_INFO] D
	WHERE 	C.CompanyGuid=D.RcvByCompanyGuid

	-- Get Shipper company address, city, state, and code. Update the temp table with the information.
	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET 	ShipperCompanyName = C.[Name],
			ShipperAddress1 = C.Address1, 
			ShipperAddress2 = C.Address2, 
			ShipperCity = C.City, 
			ShipperState = C.State,
			ShipperZip = C.Zip,
			ShipperLicenseNumber = C.TaxNumber,
			ShipperPhone = C.Phone,
			ShipperFax = C.FAX
	FROM 	tblCompanies C ,[#TBL_TEMP_HEADER_INFO] D
	WHERE 	C.CompanyGuid= D.ShipperCompanyGuid

	--Get TareWeight and ExitWeight from tblTransactionWeightReadings
	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET	TareWeight =ROUND(BeginQuantityValue*@MassFactor,0),
		ExitWeight = ROUND(FinalQuantityValue*@MassFactor,0)
	FROM 	dbo.tblTransactionWeightReadings
	WHERE 	TransactionGuid=@TransactionGuid
	
    --- driver name
	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET DriverName = P.FirstName + ' ' + P.LastName
	FROM dbo.tblPersonnel P with(nolock),[#TBL_TEMP_HEADER_INFO] D
	WHERE P.PersonnelGuid =(SELECT PersonnelGuid FROM tblTransactions WHERE TransactionGuid = @TransactionGuid)
	
--drive signature
	UPDATE	[dbo].[#TBL_TEMP_HEADER_INFO] 
	SET	DriverSignature = Signature
	FROM 	dbo.tblTransactionSignature
	WHERE 	TransactionGuid = @TransactionGuid

	--update loadRack
	UPDATE [dbo].[#TBL_TEMP_HEADER_INFO] 
	SET LoadRack = (SELECT Max(T.LoadingLocationID)
					FROM  dbo.tblTransactionLineItems T with(nolock)
					WHERE T.TransactionGuid =@TransactionGuid)

	SELECT * FROM [dbo].[#TBL_TEMP_HEADER_INFO]
	DELETE FROM  [dbo].[#TBL_TEMP_HEADER_INFO]
END

ELSE 
--	IF @Header=0  --- Finished Product Details  --****Modified 5/28/2009*******
--	BEGIN		  
		-- Query the transaction line item table for products.
	SELECT 	l.ProductGuid, 
				SUM(ABS(ROUND(l.GrossQuantity / @VolumeFactor,0))) AS Gross, 
				SUM(ABS(ROUND(l.NetQuantity / @VolumeFactor,0)))AS Net, 
				ROUND(AVG(ROUND((32.0+(9.0/5.0)*Temperature), 2)),1) AS Temperature, 
			 -- only convert if it is not zero
				ROUND(AVG(ROUND((141.5*999.012/Density-131.5), 2)),1) AS Gravity,					
				SUM(ABS(ROUND((l.NetQuantity * Density*@MassFactor), 0)))  AS CalculatedWeight,
				--'0' as BrokenBlend
				l.BrokenBlend,
				P.UserData1 AS DOTShippingName,
				'LineItem' As FinalProductType
		INTO	#FinishedProductDetail
		FROM 	tblTransactionLineItems l with(nolock)
					Left Join tblproducts p with(nolock) on
								l.ProductGuid = p.ProductGuid
		WHERE 	l.TransactionGuid = @TransactionGuid
		GROUP BY l.ProductGuid,l.BrokenBlend,P.UserData1	
		UNION
		SELECT 	S.ProductGuid, 
				ABS(ROUND(S.GrossQuantity / @VolumeFactor,0)) AS Gross, 
				ABS(ROUND(S.NetQuantity / @VolumeFactor,0))AS Net, 
				ROUND((32.0+(9.0/5.0)*S.Temperature), 1) AS Temperature, 
				ROUND((141.5*999.012/S.Density-131.5), 1) AS Gravity,					
				ABS(ROUND((S.NetQuantity * S.Density*@MassFactor), 0))  AS CalculatedWeight,
				--'1' as BrokenBlend
				S.BrokenBlend,
				P.UserData1 AS DOTShippingName,
				'SubLineItem' As FinalProductType
		FROM 	tblTransactionLineItems T  with(nolock)
					Right Join tblTransactionSubLineItems S with(nolock) on 
									 T.TransactionLineItemGuid = S.TransactionLineItemGuid
					Left Join tblProducts P with(nolock) on
									S.ProductGuid = P.ProductGuid
		WHERE 	T.TransactionGuid = @TransactionGuid 
				AND S.ProductType ='Component'
	
	IF @Header=0  --- Finished Product Details
	BEGIN	
			select *,
			Case When DOTShippingName like 'GASOLINE' Then 'Gasoline' 
				 When DOTShippingName like 'ALCOHOL, N.O.S.' Then 'Ethanol' Else 'Distillates' End as [Type],
			0 as GasSubTotal,
			0 as DisSubTotal,
			0 as EthSubtotal,
			0 as NGasSubTotal,
			0 as NDisSubTotal,
			0 as NEthSubTotal 
		INTO #FinishedProduct
				from #FinishedProductDetail
					where 
						((BrokenBlend IS NULL or BrokenBlend = cast(0 as bit)) and  FinalProducttype = 'Lineitem') or
						(BrokenBlend = cast(1 as bit) and  FinalProducttype = 'SubLineItem') --or
						--(BrokenBlend = 0 and BrokenBlend = 1 and FinalProducttype in('Lineitem','SubLineItem'))
		update #FinishedProduct
		Set GasSubtotal = Case When [Type] like 'GASOLINE' Then Gross Else '' End
				from #FinishedProduct
		update #FinishedProduct
		Set DisSubtotal = Case When [Type] like 'Distillates' Then Gross Else '' End
				from #FinishedProduct
		update #FinishedProduct
		Set EthSubtotal = Case When [Type] like 'Ethanol' Then Gross Else '' End
				from #FinishedProduct
	
		update #FinishedProduct
		Set NGasSubTotal = Case When [Type] like 'GASOLINE' Then Net Else '' End
				from #FinishedProduct
		update #FinishedProduct
		Set NDisSubTotal = Case When [Type] like 'Distillates' Then Net Else '' End
				from #FinishedProduct
		update #FinishedProduct
		Set NEthSubTotal = Case When [Type] like 'Ethanol' Then Net Else '' End
				from #FinishedProduct



		--- Ethanal details
		SELECT 	L.ProductGuid, 
				SUM(ABS(ROUND(S.GrossQuantity / @VolumeFactor,0))) AS EthanolGross, 
				SUM(ABS(ROUND(S.NetQuantity / @VolumeFactor,0)))AS EthanolNet
		INTO	#EthanolProduct
		FROM 	tblTransactionLineItems L with(nolock) RIGHT JOIN tblTransactionSubLineItems S with(nolock)
				ON L.TransactionLineItemGuid = S.TransactionLineItemGuid
		WHERE 	L.TransactionGuid = @TransactionGuid AND S.Product ='3201' --non-broken blend
		GROUP BY L.ProductGuid
				
		--this code is to concatenate rows for footnotes	
		DECLARE @TempFootNote TABLE(
				FootNoteNumber NVARCHAR(4000),
				FootNoteIndex int,
				ProductGuid uniqueidentifier
		)
		INSERT INTO @TempFootNote
		SELECT	Convert(nvarchar(4000),L.FootNoteIndex) AS FootNoteNumber,
				L.FootNoteIndex,
				L.[AssignedGuid] AS ProductGuid
		FROM	@FootNoteList L
		WHERE	L.[Type] = 14 --product mapping type
		ORDER BY ProductGuid,L.FootNoteIndex

	--	SELECT * from @TempFoot 

		DECLARE @Notes NVARCHAR(4000)
		SET @Notes = ''
		DECLARE @ProductGuid uniqueidentifier
		SET @ProductGuid = null

		UPDATE @TempFootNote
		SET @Notes = FootNoteNumber =	
				CASE WHEN @ProductGuid = ProductGuid THEN @Notes + ',' + FootNoteNumber 				
				ELSE FootNoteNumber 
				END,
			@ProductGuid = ProductGuid

		--select * from #tempfoot

		--build one string for <All> product
		SET @Notes=''
		SELECT @Notes = @Notes+','+FootNoteNumber
		FROM @TempFootNote
		WHERE ProductGuid IS NULL
		GROUP BY FootNoteNumber
		
		--select @Notes
			
		UPDATE @TempFootNote --Add <All> FootNote to every product
		SET FootNoteNumber = FootNoteNumber + @Notes
		
		--select * from @TempFootNote

		SELECT	F.*,
				P.ProductID As ProductCode,
				P.Description AS ProductDescription, 
				P.OctaneNumber AS OCT,
				P.ReidVaporPressure AS RVP,
				N.FootNotes,
				E.EthanolGross,
				E.EthanolNet
		FROM	((#FinishedProduct AS F 
				LEFT JOIN tblProducts AS P with(nolock)
				ON F.ProductGuid = P.ProductGuid)
				LEFT JOIN #EthanolProduct E
				ON E.ProductGuid = F.ProductGuid)
				LEFT JOIN ( SELECT ProductGuid,Max(FootNoteNumber) AS FootNotes
							FROM @TempFootNote 
							Group BY ProductGuid
							) AS N
				ON N.ProductGuid = F.ProductGuid
		ORDER BY ProductCode

		DELETE #FinishedProduct

	END
	ELSE IF @Header=6  --- DOT Product Details
	BEGIN
		-- Query the transaction line item table for products.
		SELECT 	T.ProductGuid, 
			SUM(ABS(ROUND(GrossQuantity / @VolumeFactor,0))) AS Gross 
		INTO	#DOTProduct
		FROM 	tblTransactionLineItems T  --Left Join #Product1 P ON T.ProductIndex = P.ProductIndex
		WHERE 	TransactionGuid = @TransactionGuid 
		GROUP BY T.ProductGuid
		

		SELECT	SUM(F.Gross) AS Gross,
				P.UserData1 AS DOTShippingName,
				P.UserData2 AS HazardClass,
				P.UserData3 AS UNNumber,
				P.UserData4 AS PackingGroup
		FROM	#DOTProduct AS F 
				LEFT JOIN tblProducts AS P with(nolock)
				ON F.ProductGuid = P.ProductGuid
		GROUP BY UserData1,UserData2,UserData3,UserData4
		ORDER BY UserData1

		DELETE #DOTProduct
	END

	ELSE IF @Header = 2
	BEGIN -- Component Details
		-- Query the transaction line item table for product type, if type = 'Blend', go into subline item table
		SELECT 	l.ProductCode,
				P.Description AS ProductDescription,
				P.UserData1 AS ProductDetail,
				ProductDiesel = case when P.UserData1 like 'Diesel fuel' then '1' else 0 end, 
				ProductGas = case when P.UserData1 = 'Gasoline' then '1' else 0 end, 
				l.DestinationCompartmentID AS CompartmentID,
				ABS(ROUND(l.GrossQuantity / @VolumeFactor,0)) AS Gross, 
				ABS(ROUND(l.NetQuantity / @VolumeFactor,0))AS Net, 
				ROUND((32.0+(9.0/5.0)*l.Temperature), 1) AS Temperature, 
				Gravity=  -- only convert if it is not zero
					CASE
					WHEN l.Density<>0 THEN ROUND((141.5*999.012/l.Density-131.5), 1)
					ELSE l.Density
					END, 
				l.StorageLocationID AS TankNumber, 
				ABS(ROUND((l.NetQuantity * l.Density*@MassFactor), 0))  AS CalculatedWeight, 
				l.SequenceID AS LineItemSequenceID,
				0 AS SubLineItemSequenceID,
				l.DestinationCompanyEquipmentID
			FROM 	tblTransactionLineItems l 
			Left Join tblProducts P On	l.ProductGuid = P.ProductGuid
			WHERE 	l.TransactionGuid = @TransactionGuid AND l.ProductType <>'Blend' AND l.ProductType<>'Additive'

		UNION  --add all the transactions together

			SELECT 	S.ProductCode, 
					P.Description AS ProductDescription, 
					P.UserData1 AS ProductDetail,
					ProductDiesel = case when P.UserData1 = 'Diesel fuel' then '1' else 0 end, 
					ProductGas = case when P.UserData1 = 'Gasoline' then '1' else 0 end,
					T.DestinationCompartmentID AS CompartmentID,
					ABS(ROUND(S.GrossQuantity / @VolumeFactor,0))AS Gross,
					ABS(ROUND(S.NetQuantity / @VolumeFactor,0))AS Net,
					ROUND((32.0+(9.0/5.0)*S.Temperature), 1) AS Temperature,
					Gravity=
						CASE
						WHEN S.Density<>0	THEN ROUND((141.5*999.012/S.Density-131.5), 1)
						ELSE S.Density
						END,
					S.StorageLocationID AS TankNumber,
					ABS(ROUND((S.NetQuantity * S.Density* @MassFactor), 0)) AS CalculatedWeight, 
					T.SequenceID AS LineItemSequenceID,
					S.SequenceID AS SubLineItemSequenceID,
					T.DestinationCompanyEquipmentID 
			FROM 	tblTransactionSubLineItems AS S
							Left Join tblTransactionLineItems AS T On
										 S.TransactionLineItemGuid = T.TransactionLineItemGuid
							Left Join tblProducts P with(nolock) On
											S.ProductGuid = P.ProductGuid
			WHERE 	T.TransactionGuid = @TransactionGuid AND S.ProductType<>'Additive'

		UNION --add Additive products

			SELECT 	l.ProductCode, 
					l.Product AS ProductDescription, 
					P.UserData1 AS ProductDetail,
					ProductDiesel = case when P.UserData1 = 'Diesel fuel' then '1' else 0 end, 
					ProductGas = case when P.UserData1 = 'Gasoline' then '1' else 0 end, 
					l.DestinationCompartmentID AS CompartmentID,
					IsNull(-1*dbo.udf_ConvertFromSIUnits(l.GrossQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces),0.0) AS Gross,
					IsNull(-1*dbo.udf_ConvertFromSIUnits(l.NetQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces),0.0)AS Net, 
					ROUND((32.0+(9.0/5.0)*l.Temperature), 1) AS Temperature, 
					Gravity=  -- only convert if it is not zero
						CASE
						WHEN l.Density<>0 THEN ROUND((141.5*999.012/l.Density-131.5), 1)
						ELSE l.Density
						END, 
					l.StorageLocationID AS TankNumber, 
					ABS(ROUND((l.GrossQuantity * l.Density*@MassFactor), 0))  AS CalculatedWeight, 
					l.SequenceID AS LineItemSequenceID,
					0 AS SubLineItemSequenceID,
					l.DestinationCompanyEquipmentID
				FROM 	tblTransactionLineItems l with(nolock)
							left Join tblProducts p with(nolock) On
											l.ProductGuid = p.ProductGuid
				WHERE 	l.TransactionGuid = @TransactionGuid AND l.ProductType='Additive'

			UNION  --add all the transactions together

				SELECT 	S.ProductCode, 
						S.Product AS ProductDescription, 
						P.UserData1 AS ProductDetail, 
						ProductDiesel = case when P.UserData1 = 'Diesel fuel' then '1' else 0 end, 
						ProductGas = case when P.UserData1 = 'Gasoline' then '1' else 0 end,
						T.DestinationCompartmentID AS CompartmentID,
						IsNull(-1*dbo.udf_ConvertFromSIUnits(S.GrossQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces),0.0) AS Gross,
						IsNull(-1*dbo.udf_ConvertFromSIUnits(S.NetQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces),0.0)AS Net, 
						ROUND((32.0+(9.0/5.0)*S.Temperature), 1) AS Temperature, 
						Gravity=  -- only convert if it is not zero
							CASE
							WHEN S.Density<>0 THEN ROUND((141.5*999.012/S.Density-131.5), 1)
							ELSE S.Density
							END, 
						S.StorageLocationID AS TankNumber,
						ABS(ROUND((S.GrossQuantity * S.Density* @MassFactor), 0)) AS CalculatedWeight, 
						T.SequenceID AS LineItemSequenceID,
						S.SequenceID AS SubLineItemSequenceID,
						T.DestinationCompanyEquipmentID 
				FROM 	tblTransactionSubLineItems AS S  
							left Join tblTransactionLineItems AS T On
											S.TransactionLineItemGuid = T.TransactionLineItemGuid
							Left Join tblProducts P with(nolock) On
											S.ProductGuid = P.ProductGuid
				WHERE 	T.TransactionGuid = @TransactionGuid AND S.ProductType ='Additive'
				ORDER BY LineItemSequenceID, SubLineItemSequenceID
		END
		ELSE
		IF @Header = 3 -- FootNote Info @Header = 3
		BEGIN  
			SELECT	convert(varchar(3),FootNoteIndex) + '.'+ ID AS FootNoteID
			FROM @FootNoteList
			ORDER BY FootNoteIndex
		END
		ELSE
		IF @Header = 4  -- Order notes section, not include BOL Notes
		BEGIN
			SELECT Notes FROM dbo.tblTransactionNotes with(nolock)
			WHERE TransactionGuid IN(
								SELECT Distinct TransactionGuid 
								FROM dbo.tblTransactionLineItems with(nolock)
								WHERE TransactionLineItemGuid IN(
															SELECT OrderReferenceTransactionLineItemGuid 
															FROM dbo.tblTransactionLineItems  with(nolock)
															WHERE TransactionGuid = @TransactionGuid
														)
							)
		END
		ELSE
		IF @Header = 5 -- Additive product section
		BEGIN
			SELECT 	ProductCode, 
				Product AS ProductDescription, 
				DestinationCompartmentID AS CompartmentID,
				ROUND(ABS(GrossQuantity *@AdditiveVolumeFactor),0) AS Gross,
				ROUND(ABS(NetQuantity*@AdditiveVolumeFactor),0)AS Net, 
				ROUND((32.0+(9.0/5.0)*Temperature), 1) AS Temperature, 
				Gravity=  -- only convert if it is not zero
					CASE
					WHEN Density<>0 THEN ROUND((141.5*999.012/Density-131.5), 1)
					ELSE Density
					END, 
				StorageLocationID AS TankNumber, 
				ABS(ROUND((GrossQuantity * Density*@MassFactor), 0))  AS CalculatedWeight, 
				DestinationCompanyEquipmentID
			FROM 	tblTransactionLineItems
			WHERE 	TransactionGuid = @TransactionGuid AND ProductType='Additive'

		UNION  --add all the transactions together

			SELECT 	S.ProductCode, 
					S.Product AS ProductDescription, 
					T.DestinationCompartmentID AS CompartmentID,
					ROUND(ABS(S.GrossQuantity* @AdditiveVolumeFactor),0)AS Gross,
					ROUND(ABS(S.NetQuantity* @AdditiveVolumeFactor),0)AS Net,
					ROUND((32.0+(9.0/5.0)*S.Temperature), 1) AS Temperature, 
					Gravity=  -- only convert if it is not zero
						CASE
						WHEN S.Density<>0 THEN ROUND((141.5*999.012/S.Density-131.5), 1)
						ELSE S.Density
						END, 
					S.StorageLocationID AS TankNumber,
					ABS(ROUND((S.GrossQuantity * S.Density* @MassFactor), 0)) AS CalculatedWeight, 
					T.DestinationCompanyEquipmentID 
			FROM 	tblTransactionSubLineItems AS S  with(nolock)
					LEFT JOIN tblTransactionLineItems AS T with(nolock)
					ON S.TransactionLineItemGuid = T.TransactionLineItemGuid
			WHERE 	T.TransactionGuid = @TransactionGuid AND S.ProductType ='Additive'
			ORDER BY DestinationCompanyEquipmentID,CompartmentID
		END


/****** Object:  StoredProcedure [dbo].[rpt_sp_ta_BOLReport]    Script Date: 05/06/2011 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

