USE ConsolidatedDB

GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_RackActivityByTimeReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_RackActivityByTimeReport
GO



CREATE Procedure [dbo].[rpt_sp_ta_RackActivityByTimeReport] 
 /*=============================================
 Author:	   
 Create date: 
 Description: 
 Version:			7.5.1.2
 Execution:
				EXEC rpt_sp_ta_RackActivityByTimeReport 1,1,2,'1/1/2009','1/31/2009','<ALL>','<ALL>','<ALL>'
		
 Modification History:
	Date		by		Description
	6/12/09		kf		Add with(nolock) to tables
	6/15/2009	UP		Rename from fm_RackActivityByTimeReport to rpt_sp_ta_RackActivityByTimeReport
	1/29/2010	KF		Version change due to change in report.
	2/9/2010	KF		Version changed due to change in report.
	3/8/2010	KF		AuthorizedCompanies replaced by rpt_fn_ta_AuthorizedCompanies
	5/11/2011	HB		Modified to make sure that GetLocalTime is only called on the transaction records of the targetted site.
 =============================================*/

(
	@SiteIndex int ,
	@LoginSiteIndex int,
	@UserIndex int,
	@BeginDate datetime,
	@EndDate datetime,
	@Product nvarchar(30),
	@Owner nvarchar(30),
	@Manager nvarchar(30)
)
 AS

DECLARE @VolumeUnits int
SET @VolumeUnits = (SELECT tblSites.VolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @VolumeDecimalPlaces int
SET @VolumeDecimalPlaces = (SELECT tblSites.VolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @AdditiveVolumeUnits int
SELECT @AdditiveVolumeUnits = (SELECT AdditiveVolumeUnitIndex FROM dbo.tblSites with(nolock) WHERE SiteIndex = @LoginSiteIndex)

DECLARE @AdditiveVolumeDecimalPlaces int
SELECT @AdditiveVolumeDecimalPlaces = (SELECT AdditiveVolumeDecimalPlaces FROM dbo.tblSites with(nolock) WHERE SiteIndex = @LoginSiteIndex)

DECLARE @AuthorizedCompanies TABLE (
	[ID] [nvarchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
);
INSERT INTO @AuthorizedCompanies 
SELECT * FROM rpt_fn_ta_AuthorizedCompanies(@LoginSiteIndex,@SiteIndex,@UserIndex)

SELECT ID AS Site,
		SiteIndex
INTO #Site
FROM tblSites with(nolock),tblSiteToSiteMap with(nolock) 
WHERE ParentSiteIndex = @SiteIndex AND tblSiteToSiteMap.ChildSiteIndex = tblSites.SiteIndex


SELECT SiteIndex, TransID, ManagerID, OwnerID, TransDateTime
INTO #TransIDTemp
FROM dbo.tblTransactions with(nolock)
WHERE TransTypeID NOT IN(9,10,11,12,14,17)
AND DeleteFlag = cast(0 as bit)
AND SiteIndex IN (SELECT SiteIndex FROM #Site)

SELECT TransID,	ManagerID, OwnerID
INTO #TransID
FROM #TransIDTemp with(nolock)
WHERE dbo.GetLocalTime(SiteIndex, TransDateTime) >=@BeginDate 
AND dbo.GetLocalTime(SiteIndex, TransDateTime) <=@EndDate


IF @Manager <>'<All>' 
BEGIN
DELETE FROM #TransID WHERE ManagerID<> @Manager OR ManagerID Is NUll
END

IF @Owner <>'<All>'
BEGIN
DELETE FROM #TransID WHERE OwnerID<>@Owner OR OwnerID IS Null
End


 SELECT T.Site,
		T.TransID,
		L.TransLineItemID,
		S.TransSubLineItemID,
		dbo.GetLocalTime(T.SiteIndex,T.TransDateTime) as TransDateTime,
		T.InventoryDate,
		T.AliasName,
		T.DocumentNumber AS BOL,
		T.ManagerID,
		T.OwnerID,
		T.CarrierID,
		T.ShipToID,
		T.SupplierID,
		T.BillToID,
		T.ShipperID,
		L.Product,
		L.ProductType,
		S.Product AS ComponentProduct,
		L.DestinationCompanyEquipmentID As Trailer,
		dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)AS GrossQuantity,
		dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces) AS NetQuantity,
		ComponentGross =
		CASE
			WHEN S.ProductType = 'Additive' THEN dbo.ConvertFromSIUnits(S.GrossQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces)
			ELSE
			dbo.ConvertFromSIUnits(S.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)
			END,
		ComponentNet = 
		CASE
			WHEN S.ProductType = 'Additive' THEN dbo.ConvertFromSIUnits(S.NetQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces)
		ELSE
			dbo.ConvertFromSIUnits(S.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces)
		END
INTO #TransList
FROM	((#TransID I Left Join dbo.tblTransactions T with(nolock) ON I.TransID = T.TransID) 
		Left Join dbo.tblTransactionLineItems L with(nolock) ON I.TransID = L.TransID)
		Left Join dbo.tblTransactionSubLineItems S with(nolock) ON L.TransLineItemID = S.TransLineItemID
WHERE	L.ProductType = 'Blend' 
		AND L.DeleteFlag = cast(0 as bit)
		AND S.DeleteFlag = cast(0 as bit)
UNION
SELECT T.Site,
		T.TransID,
		L.TransLineItemID,
		0 AS TransSubLineItemID,
		dbo.GetLocalTime(T.SiteIndex,T.TransDateTime) as TransDateTime,
		T.InventoryDate,	
		T.AliasName,
		T.DocumentNumber AS BOL,
		T.ManagerID,
		T.OwnerID,
		T.CarrierID,
		T.ShipToID,
		T.SupplierID,
		T.BillToID,
		T.ShipperID,
		L.Product,
		L.ProductType,
		'' AS ComponentProduct,
		L.DestinationCompanyEquipmentID As Trailer,
		dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)AS GrossQuantity,
		dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces) AS NetQuantity,
		0 AS ComponentGross,
		0 AS ComponentNet
FROM	(#TransID I Left Join dbo.tblTransactions T with(nolock) ON I.TransID = T.TransID) 
		Left Join dbo.tblTransactionLineItems L with(nolock) ON I.TransID = L.TransID
WHERE	L.ProductType <> 'Blend' 
		AND L.DeleteFlag = cast(0 as bit)
		

IF @Product <>'<All>'
BEGIN
	DELETE FROM #TransList WHERE Product <>@Product OR Product IS NUll
END


--Set the blend product gross so only one blend product has gross reading
Update #TransList
SET GrossQuantity = 0,
	NetQuantity = 0
WHERE ProductType ='Blend' 
	AND TransSubLineItemID NOT IN ( SELECT Min(TransSubLineItemID) FROM #TransList WHERE ProductType ='Blend' Group BY TransLineItemID)


--Filter the authorized companies
SELECT * FROM #TransList
WHERE EXISTS( SELECT ID FROM @AuthorizedCompanies WHERE ID IN(CarrierID, 
									ShipperID, 
									ShipToID, 
									SupplierID, 
									ManagerID, 
									OwnerID, 
									BillToID))
ORDER BY Site,TransDateTime,AliasName,TransID, TransLineItemID,TransSubLineItemID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 

GRANT EXECUTE ON dbo.rpt_sp_ta_RackActivityByTimeReport TO [public]
GO