USE ConsolidatedDB

GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_TankInventoryReconciliation') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_TankInventoryReconciliation
GO

CREATE PROCEDURE [dbo].[rpt_sp_ta_TankInventoryReconciliation]
 /*=============================================
 Author:	   
 Create date: 
 Description: 
 Version:			7.5.1.0
 Execution:			
		Execute rpt_sp_ta_TankInventoryReconciliation '12/1/2009','12/7/2009','','3122 - CITGO Petroleum Corp',1,1,2,0

 Modification History:
	Date		by		Description
	11/16/2007  unknown correct the Net bug
	6/12/2009	kf		Add with(nolock) to tables
	6/26/2009	UP		Rename from fm_TankInventoryReconciliation to rpt_sp_ta_TankInventoryReconciliation
	12/08/2009	KF		changed function AliasList to rpt_fn_ta_AliasList
 =============================================*/

( 
	@BeginDate datetime,
	@EndDate datetime,
	@Month	nvarchar(20),
	@Manager nvarchar(30),
	@LoginSiteIndex int,
	@SiteIndex int,
	@UserIndex int,
	@Group int
)
AS

IF @Month IS NOT NUll
BEGIN
	SET @BeginDate = Convert(datetime,@Month)
	SET @EndDate = DateAdd(s,-1,DateAdd(mm,1,@BeginDate)) --last day of the month
END	
--SELECT @BeginDate,@EndDate
DECLARE @VolumeUnits int
SET @VolumeUnits = (SELECT VolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @VolumeDecimalPlaces int
SET @VolumeDecimalPlaces = (SELECT VolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @TemperatureUnits int
SET @TemperatureUnits = (SELECT TemperatureUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @TemperatureDecimalPlaces int
SET @TemperatureDecimalPlaces = (SELECT TemperatureDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @DensityUnits int
SET @DensityUnits = (SELECT DensityUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @DensityDecimalPlaces int
SET @DensityDecimalPlaces = (SELECT DensityDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @Zero float
SET @Zero = Round(0.0,@VolumeDecimalPlaces)

SELECT	ID AS Site,
		SiteIndex
INTO	#Site
FROM	tblSites with(nolock),tblSiteToSiteMap with(nolock) 
WHERE	ParentSiteIndex = @SiteIndex 
		AND ChildSiteIndex = tblSites.SiteIndex --???
		AND SiteGroupFlag = 0

-- Get the Transaction Aliases
DECLARE @AliasList TABLE
(
	AliasName nvarchar (30),
	TransTypeID int
)

INSERT INTO @AliasList 
SELECT * 
FROM rpt_fn_ta_AliasList(@LoginSiteIndex,@SiteIndex) 
ORDER BY AliasName 

--SELECT * from @AliasList

-- Get Transactions from @BeginDate to @EndDate
SELECT	SiteIndex, 
		InventoryDate,
		AliasName,
		TransTypeID,
		TransID
INTO	#TransactionTable
FROM	tblTransactions a with(nolock)
WHERE	AliasName IN (SELECT AliasName FROM @AliasLIst)
		AND SiteIndex IN (SELECT SiteIndex FROM #Site)
		AND InventoryDate > =@BeginDate
		AND InventoryDate <=@EndDate
		AND ManagerID = @Manager
		AND TransTypeID NOT IN (7,9,10,11,12,17) -- Not affect inventory
		AND a.DeleteFlag = cast(0 as bit)

--SELECT * FROM #TransactionTable

--Begin, the latest date earlier than @BeginDate with a Physical inventory so we can get the first BeginInventory
--Different tank, product's date can be vary 
SELECT  TransLineItemID,
		M.SiteIndex,
		TransactionInventoryDate AS InventoryDate,
		Tank = CASE WHEN I.StorageLocationID IS NUll OR I.StorageLocationID='' THEN 'Unknown' ELSE I.StorageLocationID END,
		I.Product,
		IsNull(dbo.ConvertFromSIUnits(GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Gross,
		IsNull(dbo.ConvertFromSIUnits(NetQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Net,
		IsNull(dbo.ConvertFromSIUnits(Temperature,@TemperatureUnits,@TemperatureDecimalPlaces),0.0) AS Temperature,
		IsNull(dbo.ConvertFromSIUnits(Density,@DensityUnits,@DensityDecimalPlaces),0.0) AS Density
INTO	#BeginPhysical
FROM	dbo.tblTransactionLineItems I with(nolock) Right Join
		(SELECT	T.SiteIndex,  -- table to store lastest Inventorydate before @BeginDate
				Max(T.InventoryDate) AS BeginInventoryDate,
				L.StorageLocationID  --each tank has one product per day
		FROM	dbo.tblTransactions T with(nolock) Right Join dbo.tblTransactionLineItems L with(nolock) ON T.TransID = L.TransID
		WHERE	T.SiteIndex IN (SELECT SiteIndex FROM #Site)
				AND T.ManagerID = @Manager 
				AND T.TransTypeID = 14 
				AND L.TransactionInventoryDate < @BeginDate
				AND L.DeleteFlag = cast(0 as bit)
		GROUP By SiteIndex,StorageLocationID
		) AS M ON I.TransactionInventoryDate = M.BeginInventoryDate
				AND I.StorageLocationID = M.StorageLocationID 
ORDER by Tank,InventoryDate

--SELECT * From #BeginPhysical

--Get Tank End Inventory
SELECT	TransLineItemID,
		T.SiteIndex,
		TransactionInventoryDate AS InventoryDate,
		Tank = CASE WHEN StorageLocationID IS NULL OR StorageLocationID =' ' THEN 'Unknown' ELSE StorageLocationID END,
		Product,
		IsNull(dbo.ConvertFromSIUnits(GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS EndGross,
		IsNull(dbo.ConvertFromSIUnits(NetQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS EndNet,
		IsNull(dbo.ConvertFromSIUnits(Temperature,@TemperatureUnits,@TemperatureDecimalPlaces),0.0) AS Temperature,
		IsNull(dbo.ConvertFromSIUnits(Density,@DensityUnits,@DensityDecimalPlaces),0.0) AS Density
INTO	#Physical
FROM	dbo.tblTransactionLineItems L with(nolock) Left join #TransactionTable T ON L.TransID = T.TransID 
WHERE	T.TransTypeID = 14 --Get Physical Inventory only
		AND TransactionInventoryDate BETWEEN @BeginDate AND @EndDate
		AND DeleteFlag = cast(0 as bit)
ORDER BY T.SiteIndex,Tank,InventoryDate

--SELECT * from #Physical order by Tank,inventoryDate

--build @DateList table lists each day from BeginDay to EndDay
DECLARE @DateList TABLE
( Inventory_Date DateTime,
  Link int Default 1 )

DECLARE @BeginTemp datetime
SET @BeginTemp = @BeginDate

WHILE (@BeginTemp <= @EndDate) -- populate with each date
BEGIN
 INSERT INTO @DateList(Inventory_Date) values (@BeginTemp)
 SET @BeginTemp = DateAdd(day,1,@BeginTemp)
END

---Create a table per day, per tank
SELECT  A.SiteIndex,  
		A.InventoryDate,
		A.Tank,
		A.Product,
		@Zero AS BeginGross,
		@Zero AS BeginNet,
		P.EndGross,
		P.EndNet,
		P.Density,
		P.Temperature
INTO	#Summary
FROM	#Physical P Right Join
		(SELECT  D.Inventory_Date AS InventoryDate,
				T.SiteIndex,
				T.Tank,
				T.Product
		FROM	@DateList D inner join (SELECT Distinct(Tank),1 AS Link, SiteIndex, Product 
										FROM #Physical) AS T ON T.Link = D.Link
		) AS A ON A.SiteIndex = P.SiteIndex 
									AND A.InventoryDate = P.InventoryDate
									AND A.Tank = P.Tank
									AND A.Product = P.Product
ORDER BY A.SiteIndex,A.InventoryDate, A.Tank, P.Product

---SELECT * From #Summary

--Set the first day BeginInventory
Update #Summary 
SET BeginGross = IsNull(B.Gross,0.0),
	BeginNet = IsNull(B.Net,0.0),
	EndGross = CASE WHEN S.EndGross IS NUll THEN IsNull(B.Gross,0.0) ELSE S.EndGross END,
	ENDNet = CASE WHEN S.EndNet IS NULL THEN IsNull(B.Net,0.0) ELSE S.EndNet End,
	Temperature = CASE WHEN S.Temperature IS NULL AND S.EndGross IS NULL THEN IsNull(B.Temperature,0.0) ELSE S.Temperature END,
	Density = CASE WHEN S.Density IS NULL AND S.EndGross IS NULL THEN IsNull(B.Density,0.0) ELSE S.Density END
FROM #Summary S Join #BeginPhysical B ON S.SiteIndex = B.SiteIndex AND S.Tank=B.Tank
WHERE S.InventoryDate = @BeginDate

--SELECT * From #Summary ORDER by InventoryDate,SiteIndex,Tank

--Set everyday's begin inventory after the first date
SET @BeginTemp = @BeginDate
WHILE (@BeginTemp <@EndDate)
Begin
	Update #Summary 
	SET BeginGross = E.EndGross,
		BeginNet = E.EndNet,
		EndGross = CASE WHEN S.EndGross IS NULL THEN E.EndGross ELSE S.EndGross END,
		EndNet = CASE WHEN S.EndNet Is Null THEN E.EndNet ELSE S.EndNet END,
		Temperature = CASE WHEN S.Temperature IS NULL AND S.EndGross IS NULL THEN E.Temperature ELSE S.Temperature END,
		Density = CASE WHEN S.Density IS NULL AND S.EndGross IS NULL THEN E.Density ELSE S.Density END
	FROM #Summary S join (SELECT * FROM #Summary) AS E 
		ON S.SiteIndex = E.SiteIndex 
			AND S.InventoryDate = DateAdd(day,1,E.InventoryDate) 
			AND S.Tank=E.Tank
    WHERE S.InventoryDate = DateAdd(day,1,@BeginTemp) 

	SET @BeginTemp  = DateAdd(day,1,@BeginTemp)
End

--SELECT * From #Summary ORDER by SiteIndex,Tank,InventoryDate

--Calculate increase and descrease total
--TransTypeID IN(7,9,10,11,12,14,17) --14 is Phyiscal Inventory
/*
T7_FillStand,T9_Request,T10_Unload,T11_ConsumerTransfer,T12_Type12,,T14_PhysicalInventory,T17_Order

T1_PrimaryAdjustment = 1,T2_SecondaryAdjustment, T3_PrimaryDefuel, T4_SecondaryDefuel,  
T5_PrimaryDisbursement,T6_SecondaryDisbursement,T8_Receipt,T13_OwnerTransfer,
T15_PrimaryRegrade,T16_SecondaryRegrade,

1,2 can increase or descrease
3,4,8 increase inventory
5,6 descrease inventory

*/
SELECT	l.TransLineItemID AS ID,
		t.SiteIndex, 
		t.InventoryDate, 
		Tank = CASE WHEN l.StorageLocationID IS NUll OR l.StorageLocationID='' THEN 'Unknown' ELSE l.StorageLocationID END,
		l.Product,
		IsNull(dbo.ConvertFromSIUnits(l.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Gross,
		IncreaseGross =
		CASE 
			WHEN (l.GrossQuantity>0 AND t.TransTypeID IN (1,2)) OR t.TransTypeID IN (3,4,8) Then 'Y'
			WHEN (l.GrossQuantity<=0 AND t.TransTypeID IN (1,2)) OR t.TransTypeID IN (5,6) THEN 'N'
			ELSE ' '
		END,
		IsNull(dbo.ConvertFromSIUnits(l.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Net,
		IncreaseNet = 
		CASE 
			WHEN (l.NetQuantity>0 AND t.TransTypeID IN (1,2)) OR t.TransTypeID IN (3,4,8) Then 'Y'
			WHEN (l.NetQuantity<=0 AND t.TransTypeID IN (1,2)) OR t.TransTypeID IN (5,6) THEN 'N'
			ELSE ' '
		END
INTO	#Transactions
FROM tblTransactionLineItems l with(nolock) LEFT OUTER JOIN #TransactionTable t ON l.TransID = t.TransID
WHERE	
		l.TransactionInventoryDate BETWEEN @BeginDate AND @EndDate AND
		l.TransID = t.TransID AND
		t.TransTypeID <>14 AND
		l.DeleteFlag = cast(0 as bit)
UNION ALL
SELECT	l.TransSubLineItemID AS ID,
		t.SiteIndex, 
		t.InventoryDate,
		Tank = CASE WHEN l.StorageLocationID IS NUll OR l.StorageLocationID='' THEN 'Unknown' ELSE l.StorageLocationID END,
		l.Product,
		IsNull(dbo.ConvertFromSIUnits(l.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Gross,
		IncreaseGross =
		CASE 
			WHEN (l.GrossQuantity>0 AND t.TransTypeID IN (1,2)) OR t.TransTypeID IN (3,4,8) Then 'Y'
			WHEN (l.GrossQuantity<=0 AND t.TransTypeID IN (1,2)) OR t.TransTypeID IN (5,6) THEN 'N'
			ELSE ' '
		END,
		IsNull(dbo.ConvertFromSIUnits(l.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Net,
		IncreaseNet = 
		CASE 
			WHEN (l.NetQuantity>0 AND t.TransTypeID IN (1,2)) OR t.TransTypeID IN (3,4,8) Then 'Y'
			WHEN (l.NetQuantity<=0 AND t.TransTypeID IN (1,2)) OR t.TransTypeID IN (5,6) THEN 'N'
			ELSE ' '
		END
FROM tblTransactionSubLineItems l with(nolock) LEFT OUTER JOIN #TransactionTable t ON l.TransID = t.TransID
WHERE	
		l.TransactionInventoryDate BETWEEN @BeginDate AND @EndDate AND
		l.TransID = t.TransID AND
		t.TransTypeID <>14 AND
		l.DeleteFlag = cast(0 as bit)

--SELECT * from #Transactions

SELECT  S.*,
		IsNull(GI.GrossIncrease,0.0) AS GrossIncrease,
		IsNull(GD.GrossDecrease,0.0) AS GrossDecrease,
		IsNull(NI.NetIncrease,0.0) AS NetIncrease,
		IsNull(ND.NetDecrease,0.0) AS NetDecrease
INTO #Results
	FROM (
			 (
				(#Summary S Left Join
					(SELECT	SiteIndex,
							InventoryDate,
							Tank,
							Product,
							SUM(Gross) AS GrossIncrease
					FROM   #Transactions
					WHERE	IncreaseGross = 'Y'
					GROUP BY SiteIndex,InventoryDate,Tank,Product
					) AS GI ON S.SiteIndex = GI.SiteIndex AND S.InventoryDate = GI.InventoryDate 
							 AND S.Tank = GI.Tank AND S.Product = GI.Product
				) Left Join
				(SELECT	SiteIndex,
						InventoryDate,
						Tank,
						Product,
						SUM(Gross) AS GrossDecrease
				FROM   #Transactions
				WHERE	IncreaseGross = 'N'
				GROUP BY SiteIndex,InventoryDate,Tank,Product
				) AS GD ON S.SiteIndex = GD.SiteIndex AND S.InventoryDate = GD.InventoryDate 
							 AND S.Tank = GD.Tank AND S.Product = GD.Product
			 ) Left Join
			(SELECT	SiteIndex,
					InventoryDate,
					Tank,
					Product,
					SUM(Net) AS NetIncrease
			FROM   #Transactions
			WHERE	IncreaseNet = 'Y'
			GROUP BY SiteIndex,InventoryDate,Tank,Product
			) AS NI ON S.SiteIndex = NI.SiteIndex AND S.InventoryDate = NI.InventoryDate 
							 AND S.Tank = NI.Tank AND S.Product = NI.Product
		) Left Join
		(SELECT	SiteIndex,
				InventoryDate,
				Tank,
				Product,
				SUM(Net) AS NetDecrease
		FROM   #Transactions
		WHERE	IncreaseNet = 'N'
		GROUP BY SiteIndex,InventoryDate,Tank,Product
        ) AS ND ON S.SiteIndex = ND.SiteIndex AND S.InventoryDate = ND.InventoryDate 
							 AND S.Tank = ND.Tank AND S.Product = ND.Product
ORDER BY SiteIndex,Tank,Product,InventoryDate

IF @Group = 0 --Group by per Tank per day
BEGIN
	SELECT * FROM #Results
END

IF @Group = 1 -- Group by Product per day
BEGIN
	SELECT	SiteIndex, 
			Product,
			InventoryDate,
			SUM(BeginGross)AS BeginGross,
			SUM(BeginNet) AS BeginNet,
			SUM(EndGross) AS EndGross,
			SUM(EndNet) AS EndNet,
			Round(AVG(Density),@DensityDecimalPlaces) AS Density,
			Round(AVG(Temperature),@TemperatureDecimalPlaces) AS Temperature,
			SUM(GrossIncrease) AS GrossIncrease,
			SUM(NetIncrease) AS NetIncrease,
			SUM(GrossDecrease) AS GrossDecrease,
			SUM(NetDecrease) AS NetDecrease
FROM #Results
Group BY SiteIndex,Product,InventoryDate
ORDER by SiteIndex,Product,InventoryDate
END

IF @Group = 2 --Group by total tank per day
BEGIN
	SELECT	SiteIndex, 
			InventoryDate,
			SUM(BeginGross)AS BeginGross,
			SUM(BeginNet) AS BeginNet,
			SUM(EndGross) AS EndGross,
			SUM(EndNet) AS EndNet,
			Round(AVG(Density),@DensityDecimalPlaces) AS Density,
			Round(AVG(Temperature),@TemperatureDecimalPlaces) AS Temperature,
			SUM(GrossIncrease) AS GrossIncrease,
			SUM(NetIncrease) AS NetIncrease,
			SUM(GrossDecrease) AS GrossDecrease,
			SUM(NetDecrease) AS NetDecrease
FROM #Results
Group BY SiteIndex,InventoryDate
ORDER by SiteIndex,InventoryDate

END

DELETE #Site
DELETE #TransactionTable
DELETE #BeginPhysical
DELETE #Physical
DELETE #Summary
DELETE #Transactions
DELETE #Results

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 

GRANT EXECUTE ON dbo.rpt_sp_ta_TankInventoryReconciliation TO [public]
GO
