USE [ConsolidatedDB]
GO

/****** Object:  StoredProcedure [dbo].[rpt_ds_sp_MonthYearList]    Script Date: 02/09/2011 00:23:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_ds_sp_MonthYearList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_ds_sp_MonthYearList]
GO

USE [ConsolidatedDB]
GO

/****** Object:  StoredProcedure [dbo].[rpt_ds_sp_MonthYearList]    Script Date: 02/09/2011 00:23:31 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[rpt_ds_sp_MonthYearList] 
 /*=============================================
 Author:	 			UNKNOWN
 Create date: 			
 Description: 			New report
 Version:				7.5.2.0
 Modification History:
	Date		by		Description
02/09/2011     A.Sang	Rewrite the SP
4/11/2012		C. Knight	separate variable declarations from initializations; SQL Server 2005 compatibility
 =============================================*/

AS
BEGIN
	DECLARE @MonthYear TABLE(
		[MonthYearID] nvarchar (20) NOT NULL
	);
	
	DECLARE @BeginDate datetime
	DECLARE @EndDate datetime
	
	SET @BeginDate = (SELECT MIN(InventoryDate) FROM tblTransactions )
	SET @EndDate = (SELECT MAX(InventoryDate) FROM tblTransactions)

	-- get the month difference
	DECLARE @NumMonths int 
	SET @NumMonths = DATEDIFF(month,@BeginDate,@EndDate)
	
	DECLARE @i int 
	SET @i = 0
	
	While @i <=@NumMonths
	BEGIN
		INSERT INTO @MonthYear (MonthYearID) VALUES (DateName(month,@EndDate) +' '+ CONVERT(nvarchar,YEAR(@EndDate),4))
		SET @EndDate = DateAdd(month,-1,@EndDate)
		SET @i = @i+1
	END
	
	SELECT * FROM @MonthYear
	
	DELETE @MonthYear
END


GO