USE [ConsolidatedDB]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_StockDataReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_StockDataReport
GO

CREATE PROCEDURE [dbo].[rpt_sp_ta_StockDataReport]

/***********************************************************************************************************************

 Author:				UNKNOWN
 Create date:			
 Description:			
 Version:				7.5.1.2
 Execution:			
					Execute rpt_sp_ta_StockDataReport '9/1/2009','9/7/2009','3122 - CITGO Petroleum Corp','0440','4001',1,2,1

 Modification History:

	Date			By			Description
	2/10/2010		KF			Standard Report
	2/12/2010		KF			Version change due to change in report
****************************************************************************************************************************/


(
	@BeginDate smalldatetime,
	@EndDate smalldatetime,
	@Manager nvarchar(1000),
	@Owner nvarchar(1000),
	@Product nvarchar(1000),
	@SiteIndex int,
	@UserIndex int,
	@LoginSiteIndex int
)
AS 

BEGIN
SET NOCOUNT ON


DECLARE @VolumeUnits int
SET @VolumeUnits = (SELECT VolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @AdditiveVolumeUnits int
SET @AdditiveVolumeUnits = (SELECT AdditiveVolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @VolumeDecimalPlaces int
SET @VolumeDecimalPlaces = (SELECT VolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @AdditiveVolumeDecimalPlaces int
SET @AdditiveVolumeDecimalPlaces = (SELECT AdditiveVolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)
			

DECLARE @SiteList TABLE (Site nvarchar (30))
INSERT INTO @SiteList SELECT ID FROM tblSites with(nolock), tblSiteToSiteMap with(nolock) WHERE ParentSiteIndex = @SiteIndex AND SiteGroupFlag = 0

DECLARE @AuthorizedCompanies TABLE (CompanyID nvarchar(30))
INSERT INTO @AuthorizedCompanies SELECT * FROM AuthorizedCompanies(@LoginSiteIndex, @SiteIndex,@UserIndex)

-- Build up product list
DECLARE @ProductList TABLE ( ProductID nvarchar(30), LoadRackDisplayText nvarchar(10))
IF (@Product = '<All>')
	BEGIN
		INSERT INTO @ProductList	SELECT	ProductID, LoadRackDisplayText
									FROM	tblProducts with(nolock)
									WHERE	SiteIndex = @SiteIndex and 
											--ProductType = 0 and
											ProductType = 0 or ProductType = 2 and
											LockedOut = 0
	END	
ELSE
	BEGIN
		INSERT INTO @ProductList	SELECT	ProductID, LoadRackDisplayText
									FROM	tblProducts  with(nolock)
									WHERE	SiteIndex = @SiteIndex and
											ProductID = @Product
	END
DECLARE ProductCursor CURSOR FOR SELECT * FROM @ProductList 
DECLARE @LoadRackDisplayText nvarchar(10)

CREATE TABLE #OwnerList 
    (Site nvarchar (30) NOT NULL, 
     OwnerID nvarchar (30) NOT NULL, 
	 OwnerName nvarchar (100) NOT NULL,
	 ProductID nvarchar (30) NOT NULL,
	 LoadRackDisplayText nvarchar(10) NOT NULL,
     PriorCloseoutDate datetime NOT NULL, 
     PriorNetVolume float,
	 UnavailableInventoryNet float)
IF (@Owner = '<All>')
	BEGIN
		INSERT INTO #OwnerList		SELECT DISTINCT Site, CompanyName AS OwnerID, '', ProductID, LoadRackDisplayText, '1901-01-01', 0, 0
									FROM @SiteList,CompanyList(@LoginSiteIndex,@SiteIndex,1,0), @ProductList
									WHERE CompanyName IN(SELECT * FROM @AuthorizedCompanies) 
									ORDER BY Site, CompanyName
	END
ELSE
	BEGIN
		INSERT INTO #OwnerList		SELECT DISTINCT Site, CompanyName AS OwnerID, '', ProductID, LoadRackDisplayText, '1901-01-01', 0, 0
									FROM @SiteList,CompanyList(@LoginSiteIndex,@SiteIndex,1,0), @ProductList
									WHERE CompanyName = @Owner
									ORDER BY Site, CompanyName
	END

-- Loop through all products updating the OwnerList
OPEN ProductCursor
FETCH NEXT FROM ProductCursor INTO @Product, @LoadRackDisplayText

WHILE @@FETCH_STATUS = 0
BEGIN
	-- Update based on closeout records per product
	UPDATE #OwnerList
		SET	[PriorCloseoutDate] = b.[CloseoutDate],
			[PriorNetVolume] = b.[NetBookInventory]
	FROM #OwnerList a, tblOwnerCloseout b with(nolock)
	WHERE a.[OwnerID] = b.[OwnerName] 
		  AND b.[ManagerName] = @Manager 
		  AND b.[ProductName] = @Product 
		  AND a.[ProductID] = @Product
		  AND b.CloseoutDate = (SELECT MAX(CloseoutDate)
								FROM tblOwnerCloseout c with(nolock)
								WHERE b.Site = c.Site 
		  AND b.ManagerName = c.ManagerName 
		  AND b.ProductName = c.ProductName 
		  AND b.OwnerName = c.OwnerName 
		  AND c.CloseoutDate < @BeginDate) 
		  AND a.Site = b.Site


	-- Update unavailable inventory per product
	UPDATE #OwnerList
		SET	[UnavailableInventoryNet] = Case when c.ProductType = 2 then IsNull(dbo.ConvertFromSIUnits(d.[UnavailableInventoryNet], @AdditiveVolumeUnits, @AdditiveVolumeDecimalPlaces), 0.0)
											else IsNull(dbo.ConvertFromSIUnits(d.[UnavailableInventoryNet], @VolumeUnits, @VolumeDecimalPlaces), 0.0)
												end
	FROM #OwnerList a, tblCompanies b with(nolock), tblProducts c with(nolock), tblProductMap d with(nolock)
	WHERE b.SiteIndex = @SiteIndex
		  AND c.SiteIndex = @SiteIndex
		  AND a.[OwnerID] = b.[ID] 
		  AND b.[CompanyIndex] = d.AssignedToIndex
		  AND a.[ProductID] = @Product
		  AND a.[ProductID] = c.[ProductID]
		  AND c.[ProductIndex] = d.AssignedIndex
		  AND d.[Type] = 11
		  AND b.LockedOut = cast(0 as bit)

	FETCH NEXT FROM ProductCursor INTO @Product, @LoadRackDisplayText
END
CLOSE ProductCursor

-- Determine if the site is a non-group site. If it is a non-group site, then the closeout date
-- should be the same for every owner. To made the transaction query faster, the closeout date
-- scalar value will be used. 
DECLARE @CloseoutDate datetime
DECLARE @SiteName nvarchar(30)
DECLARE @IsSiteGroup bit
SELECT @IsSiteGroup = SiteGroupFlag, @SiteName = [ID] FROM tblSites with(nolock) WHERE SiteIndex = @SiteIndex

IF (@IsSiteGroup = 0)
  BEGIN
     SELECT @CloseoutDate = MIN(PriorCloseoutDate) FROM #OwnerList WHERE [Site] = @SiteName
  END


-- Get the Transaction Aliases
DECLARE @AliasList TABLE
(
	AliasName nvarchar (30),
	TransTypeID int
)

INSERT INTO @AliasList SELECT * FROM rpt_fn_ta_AliasList(@LoginSiteIndex,@SiteIndex) WHERE TransTypeID NOT IN(9,10,11,14,17,18) ORDER BY AliasName -- Could speed up by not including Type 12 Transactions

-- Create the Summary Journal Table
CREATE TABLE #SummaryJournal (OwnerID nvarchar (30), OwnerName nvarchar (100), ProductID nvarchar(30), ProductType int, LoadRackDisplayText nvarchar(10), [Begin Inventory] float, [Book Inventory] float, [Unavailable Inventory] float, [Available Inventory] float )
DECLARE @AlterTableString nvarchar (2000)
DECLARE @AliasName nvarchar (32)
DECLARE @TransTypeID int
DECLARE @FirstTime bit
DECLARE AliasCursor CURSOR FOR SELECT * FROM @AliasList 
SET @FirstTime = 1

OPEN AliasCursor
FETCH NEXT FROM AliasCursor INTO @AliasName, @TransTypeID

SET @AliasName = '[' + @AliasName + ']'
WHILE @@FETCH_STATUS = 0
BEGIN
    IF (@FirstTime = 1)
      BEGIN
	     SET @AlterTableString = 'ALTER TABLE #SummaryJournal ADD ' + @AliasName + ' float NULL'
         SET @FirstTime = 0
      END
    ELSE
      BEGIN
 	     SET @AlterTableString = @AlterTableString + ', ' + @AliasName + ' float NULL'
      END

	FETCH NEXT FROM AliasCursor INTO @AliasName, @TransTypeID
	SET @AliasName = '[' + @AliasName + ']'
END

EXEC(@AlterTableString)
CLOSE AliasCursor

CREATE TABLE #TransactionTotals
(
	AliasName nvarchar (32),
	TransTypeID smallint,
	OwnerID nvarchar (30),
	OwnerName nvarchar (100) NOT NULL,
	ProductID nvarchar (30),
	NetQuantity [float],
	IsPrior [int]
)

DECLARE @TransactionTable TABLE
(
	Site nvarchar(30),
	OwnerID nvarchar(30),
	OwnerName nvarchar (100) NOT NULL,
	AliasName nvarchar(32),
	TransTypeID smallint,
	TransID nvarchar(64),
    IsPrior [int]
)

-- Check to see if the site is a non-site group. If so, then use scalar values for performance.
IF (@IsSiteGroup = 0)
  BEGIN
	-- Since the site is a non-group site, use the closeout date scalar value for better performance.
    -- Get Transactions from Closeout Date to End Date
	INSERT INTO @TransactionTable
	SELECT a.Site, a.OwnerID, c.[Name], a.AliasName, a.TransTypeID, a.TransID,
		   (CASE
			 WHEN a.InventoryDate < @BeginDate
				THEN 1
				ELSE 0
			END) AS IsPrior
	 FROM tblTransactions a with(nolock), tblCompanies c with(nolock)
	 WHERE a.TransTypeID not in(14,18)	-- 2/10/2010 do not include Supply Order kf
	   AND a.OwnerIndex = c.CompanyIndex
	   AND a.Site = @SiteName
	   AND a.DeleteFlag = cast(0 as bit)
	   AND c.LockedOut = cast(0 as bit)
	   AND a.ManagerID = @Manager
	   AND EXISTS (SELECT CompanyID 
				   FROM @AuthorizedCompanies 
				   WHERE CompanyID IN (a.CarrierID, a.ShipperID, a.ShipToID, a.SupplierID, a.ManagerID, a.OwnerID, a.BillToID))
	   AND (a.InventoryDate > @CloseoutDate AND a.InventoryDate <= @EndDate)
  END
ELSE
  BEGIN
    -- Since the site is a group site, the performance will be degraded.
	-- Get Transactions from Closeout Date to End Date
	INSERT INTO @TransactionTable
	SELECT a.Site, a.OwnerID, c.[Name], a.AliasName, a.TransTypeID, a.TransID,
		   (CASE
			 WHEN a.InventoryDate < @BeginDate
				THEN 1
				ELSE 0
			END) AS IsPrior
	 FROM tblTransactions a with(nolock) LEFT OUTER JOIN #OwnerList ol ON a.Site = ol.Site AND a.OwnerID = ol.OwnerID, tblCompanies c
	 WHERE a.TransTypeID not in(14,18)	-- 2/10/2010 do not include Supply Order kf
	   AND a.OwnerIndex = c.CompanyIndex
	   AND a.Site IN (SELECT Site FROM @SiteList)
	   AND a.DeleteFlag = cast(0 as bit)
	   AND b.LockedOut = cast(0 as bit)
	   AND a.ManagerID = @Manager
	   AND EXISTS (SELECT CompanyID 
				   FROM @AuthorizedCompanies 
				   WHERE CompanyID IN (a.CarrierID, a.ShipperID, a.ShipToID, a.SupplierID, a.ManagerID, a.OwnerID, a.BillToID))
	   AND (a.InventoryDate > ol.PriorCloseoutDate AND a.InventoryDate <= @EndDate)
  END

-- Loop through all products updating the totalizing the transactions
OPEN ProductCursor
FETCH NEXT FROM ProductCursor INTO @Product, @LoadRackDisplayText

WHILE @@FETCH_STATUS = 0
BEGIN
	-- Totalize the Transactions in the LineItems and SubLineItems table from Begin Date to End Date
	INSERT INTO #TransactionTotals  
	SELECT	AliasName, TransTypeID, OwnerID, OwnerName, Product, 
						 Case when ProductType = 'Additive' then IsNull(Sum(dbo.ConvertFromSIUnits(NetQuantity, @AdditiveVolumeUnits, @AdditiveVolumeDecimalPlaces)), 0.0)
									else IsNull(Sum(dbo.ConvertFromSIUnits(NetQuantity, @VolumeUnits, @VolumeDecimalPlaces)), 0.0)
											end,
			--IsNull(SUM(dbo.ConvertFromSIUnits(NetQuantity, @VolumeUnits, @VolumeDecimalPlaces)), 0.0),
			IsPrior
	  FROM
	  (
		(SELECT  t.AliasName, t.TransTypeID, t.OwnerID, t.OwnerName, l.Product, l.NetQuantity, t.IsPrior,l.ProductType 
		 FROM tblTransactionLineItems l with (nolock) LEFT OUTER JOIN @TransactionTable t ON l.TransID = t.TransID
		 WHERE l.Product = @Product
			   AND t.IsPrior = 0
			   AND (l.TransactionInventoryDate BETWEEN @BeginDate AND @EndDate)
			   AND (l.DeleteFlag = cast(0 as bit))
		)

		UNION ALL

		(SELECT t.AliasName, t.TransTypeID, t.OwnerID, t.OwnerName, l.Product, l.NetQuantity, t.IsPrior,l.ProductType
		 FROM tblTransactionSubLineItems l with (nolock) LEFT OUTER JOIN @TransactionTable t ON l.TransID = t.TransID
		 WHERE l.Product = @Product
			   AND t.IsPrior = 0
			   AND (l.TransactionInventoryDate BETWEEN @BeginDate AND @EndDate)
			   AND (l.DeleteFlag = cast(0 as bit))
		)
	) AS UNIONTABLE 
	GROUP BY AliasName, TransTypeID, OwnerID, OwnerName, Product, IsPrior,ProductType
	ORDER BY AliasName, OwnerID

	FETCH NEXT FROM ProductCursor INTO @Product, @LoadRackDisplayText
END
CLOSE ProductCursor

-- Loop through all products updating the totalizing the transactions from the closeout to the begin date
OPEN ProductCursor
FETCH NEXT FROM ProductCursor INTO @Product, @LoadRackDisplayText

WHILE @@FETCH_STATUS = 0
BEGIN
	-- Totalize the Transactions in the LineItems and SubLineItems table from Closeout Date to Begin Date	
	INSERT INTO #TransactionTotals  
	SELECT	AliasName, TransTypeID, OwnerID, OwnerName, Product, 
							Case when ProductType = 'Additive' then IsNull(Sum(dbo.ConvertFromSIUnits(NetQuantity, @AdditiveVolumeUnits, @AdditiveVolumeDecimalPlaces)), 0.0)
									else IsNull(Sum(dbo.ConvertFromSIUnits(NetQuantity, @VolumeUnits, @VolumeDecimalPlaces)), 0.0)
											end,
			--IsNull(SUM(dbo.ConvertFromSIUnits(NetQuantity, @VolumeUnits, @VolumeDecimalPlaces)), 0.0),
			IsPrior
	  FROM
	  (
		(SELECT  t.AliasName, t.TransTypeID, t.OwnerID, t.OwnerName, l.Product, l.NetQuantity, t.IsPrior,l.ProductType
		 FROM ((tblTransactionLineItems l with (nolock) LEFT OUTER JOIN @TransactionTable t ON l.TransID = t.TransID) 
			   LEFT OUTER JOIN #OwnerList ol ON ol.Site = t.Site AND ol.OwnerID = t.OwnerID)
		 WHERE l.Product = @Product
			   AND ol.ProductID = @Product
			   AND t.IsPrior = 1
			   AND (l.TransactionInventoryDate > ol.PriorCloseoutDate AND l.TransactionInventoryDate < @BeginDate)
			   AND (l.DeleteFlag = cast(0 as bit))
		)

		UNION ALL

		(SELECT t.AliasName, t.TransTypeID, t.OwnerID, t.OwnerName, l.Product, l.NetQuantity, t.IsPrior,l.ProductType
		 FROM ((tblTransactionSubLineItems l with (nolock) LEFT OUTER JOIN @TransactionTable t ON l.TransID = t.TransID) 
			   LEFT OUTER JOIN #OwnerList ol ON ol.Site = t.Site AND ol.OwnerID = t.OwnerID)
		 WHERE l.Product = @Product
			   AND ol.ProductID = @Product
			   AND t.IsPrior = 1
			   AND (l.TransactionInventoryDate > ol.PriorCloseoutDate AND l.TransactionInventoryDate < @BeginDate)
			   AND (l.DeleteFlag = cast(0 as bit))
		)
	) AS UNIONTABLE 
	GROUP BY AliasName, TransTypeID, OwnerID, OwnerName, Product, IsPrior,ProductType
	ORDER BY AliasName, OwnerID

	FETCH NEXT FROM ProductCursor INTO @Product, @LoadRackDisplayText
END
CLOSE ProductCursor

-- Update the Owner List with all the new owner names retrieved from the transaction totals
UPDATE #OwnerList
	SET	OwnerName = b.OwnerName
FROM #OwnerList a, #TransactionTotals b
WHERE a.OwnerID = b.OwnerID 

-- Initialize the Summary Journal
DECLARE @AliasColumnName nvarchar (34)
DECLARE @InitializeString nvarchar (1000)
DECLARE @ValuesString nvarchar (1000)
SELECT @InitializeString = 'INSERT INTO #SummaryJournal (OwnerID, OwnerName, ProductID, ProductType, LoadRackDisplayText, [Begin Inventory], [Book Inventory], [Unavailable Inventory], [Available Inventory]'
SELECT @ValuesString = 'SELECT DISTINCT OwnerID, OwnerName, ProductID, 0, LoadRackDisplayText, 0, 0, UnavailableInventoryNet, 0 '
OPEN AliasCursor
FETCH NEXT FROM AliasCursor INTO @AliasName, @TransTypeID
SET @AliasColumnName = '[' + @AliasName + ']'
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @InitializeString = @InitializeString + ',' + @AliasColumnName
	SELECT @ValuesString = @ValuesString + ',0 '
	FETCH NEXT FROM AliasCursor INTO @AliasName, @TransTypeID
	SET @AliasColumnName = '[' + @AliasName + ']'
END	 
SELECT @InitializeString = @InitializeString + ')' + @ValuesString+'FROM #OwnerList'  
CLOSE AliasCursor
EXEC(@InitializeString)

 UPDATE #SummaryJournal
   SET ProductType = (select ProductType 
			from dbo.tblproducts p with (nolock) 
			Where p.ProductID = a.ProductID or @Product = '<All>')
FROM #SummaryJournal a

-- Update Begin Inventory with PriorNetVolume from tblOwnerClosout
UPDATE #SummaryJournal 
   SET [Begin Inventory] = case when a.ProductType = 2 then IsNull((SELECT SUM(dbo.ConvertFromSIUnits(PriorNetVolume, @AdditiveVolumeUnits, @AdditiveVolumeDecimalPlaces))
					               FROM #OwnerList b WHERE b.OwnerID = a.OwnerID AND b.ProductID = a.ProductID), 0)
								else
									IsNull((SELECT SUM(dbo.ConvertFromSIUnits(PriorNetVolume, @VolumeUnits, @VolumeDecimalPlaces))
									 FROM #OwnerList b WHERE b.OwnerID = a.OwnerID AND b.ProductID = a.ProductID), 0)
								end
FROM #SummaryJournal a


-- Update Begin Inventory with Transactions prior to BeginDate
UPDATE #SummaryJournal SET [Begin Inventory] = [Begin Inventory] +
	IsNull((SELECT SUM(IsNull(NetQuantity, 0))
	        FROM #TransactionTotals b
	        WHERE b.OwnerID = a.OwnerID AND 
				  b.ProductID = a.ProductID AND
                  b.IsPrior = 1 AND 
                  b.TransTypeID not in(12,18) AND  -- 2/10/2010 do not include Supply Order kf
                  b.TransTypeID not in(7,18)), 0) FROM #SummaryJournal a -- 2/10/2010 do not include Supply Order kf

DELETE FROM #TransactionTotals WHERE IsPrior = 1;

-- Update Book Inventory
UPDATE #SummaryJournal SET [Book Inventory] = [Begin Inventory], [Available Inventory] = [Begin Inventory] - [Unavailable Inventory]

-- Update Transaction Totals
DECLARE @UpdateString nvarchar (1000)
OPEN AliasCursor
FETCH NEXT FROM AliasCursor INTO @AliasName, @TransTypeID
SET @AliasColumnName = '[' + @AliasName + ']'
WHILE @@FETCH_STATUS = 0
BEGIN
	IF ((@TransTypeID not in(12,18) AND (@TransTypeID not in(7,18))))  -- 2/10/2010 do not include Supply Order kf
		SELECT @UpdateString = 'UPDATE #SummaryJournal SET ' + @AliasColumnName + ' = NetQuantity,
		[Book Inventory] = [Book Inventory] + NetQuantity, [Available Inventory] = ([Book Inventory] + NetQuantity) - [Unavailable Inventory]'
	ELSE
		SELECT @UpdateString = 'UPDATE #SummaryJournal SET ' + @AliasColumnName + ' = NetQuantity'

	SELECT @UpdateString = @UpdateString + ' FROM #SummaryJournal a, #TransactionTotals b
	WHERE b.OwnerID = a.OwnerID and b.ProductID = a.ProductID
	AND AliasName = ''' + @AliasName + ''''

	EXEC(@UpdateString)


	FETCH NEXT FROM AliasCursor INTO @AliasName, @TransTypeID
	SET @AliasColumnName = '[' + @AliasName + ']'
END

CLOSE AliasCursor

-- Final Query
SELECT * FROM #SummaryJournal 
WHERE  ([Begin Inventory] <> 0 or [Book Inventory] <> 0 or [Unavailable Inventory] <> 0 or [Available Inventory] <> 0 or 
		[Adjustment]<> 0 or [BOL] <> 0 or [Meter Closeout] <> 0 or [Receipt] <> 0 or [Regrade] <> 0 or [Shipment] <> 0 or [Transfer]<> 0)
ORDER BY OwnerID
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 

GRANT EXECUTE ON dbo.rpt_sp_ta_StockDataReport TO [public]
GO