USE [ConsolidatedDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID(N'rpt_fn_ta_BulkAdditive_ParseArray') IS NOT NULL
   DROP FUNCTION rpt_fn_ta_BulkAdditive_ParseArray

GO

 /*=============================================
 Author:				URVI PATEL
 Create date:			5/8/2009
 Description:			
 Version:				7.5.1.0
 Modification History:
	Date		by		Description
	5/8/2009	UP		

 =============================================*/

CREATE FUNCTION [dbo].[rpt_fn_ta_BulkAdditive_ParseArray] 
   (@Array varchar(8000), 
    @separator char)
RETURNS @ParsedArrays TABLE (row_counter int identity(1,1), array_value varchar(8000))
AS
BEGIN
   
   -- @Array is the array we wish to parse
   -- @Separator is the separator charactor such as a comma
   declare @separator_position int -- This is used to locate each separator character
   declare @array_value varchar(8000) -- this holds each array value as it is returned
   
   --create table #ParsedArrays (array_Value varchar(8000))
   
   -- For my loop to work I need an extra separator at the end. I always look to the
   -- left of the separator character for each array value
   set @array = @array + @separator
   
   -- Loop through the string searching for separtor characters
   while patindex('%' + @separator + '%' , @array) <> 0 
   begin
   
   -- patindex matches the a pattern against a string
   select @separator_position = patindex('%' + @separator + '%' , @array)
   select @array_value = left(@array, @separator_position - 1)
   
   -- This is where you process the values passed.
   -- Replace this select statement with your processing
   -- @array_value holds the value of this element of the array
   insert @ParsedArrays(array_value) VALUES (@array_value)
   
   
   -- This replaces what we just processed with and empty string
   select @array = stuff(@array, 1, @separator_position, '')
   end
   RETURN 
END
