USE ConsolidatedDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.[rpt_sp_ta_ReceiptReport]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.[rpt_sp_ta_ReceiptReport]
GO


CREATE PROCEDURE [dbo].[rpt_sp_ta_ReceiptReport] 

 /*=============================================
 Author:		Unknown   
 Create date:	1/14/2008	
 Description:	Used as Standard sp.
 Version:		7.5.1.1
 Execution:		
			Execute rpt_sp_ta_ReceiptReport 1,1,2,'3122 - CITGO Petroleum Corp','12/1/2009','12/7/2009'

 Modification History:
	Date		by		Description
	11/6/2007	unknown	Correct the Net bug.
	07/07/2008	unknown	change volume
	07/08/2008	unknown	add more fields
	04/30/2009	UP		Rename from [rptTA_st_sp_ReceiptVolumesReport] to [rpt_sp_ta_ReceiptVolumesReport]
	07/07/2009	KF		Rename from rpt_sp_ta_ReceiptVolumesReport to rpt_sp_ta_ReceiptReport
						Add l.DeleteFlag = cast(0 as bit) and @Manager
	07/08/2009	KF		Change TimeEnd to TransDateTime
	07/13/2009	KF		Convert TransdateTime
	12/10/2009	KF		Version 7.5.1.0
	3/8/2010	KF		AuthorizedCompanies replaced by rpt_fn_ta_AuthorizedCompanies
 =============================================*/

	@SiteIndex int,
	@LoginSiteIndex int,
	@UserIndex int,
	@Manager nvarchar(30),
	@StartDate datetime,
	@EndDate datetime


AS 
BEGIN

DECLARE @VolumeFactor float
SELECT @VolumeFactor = dbo.ConvertFromSIUnits (1,(SELECT VolumeUnitIndex FROM dbo.tblSites with (nolock) WHERE SiteIndex = @SiteIndex),9)

DECLARE @VolumeDecimal int
SELECT @VolumeDecimal = (SELECT VolumeDecimalPlaces FROM dbo.tblSites with (nolock) WHERE SiteIndex = @SiteIndex)

DECLARE @AuthorizedCompanies TABLE(
				Company nvarchar (30)
				)
INSERT INTO @AuthorizedCompanies SELECT * FROM rpt_fn_ta_AuthorizedCompanies(@LoginSiteIndex,@SiteIndex,@UserIndex)






SELECT 
	l.ProductCode,
	t.SourceRegistrationID1,
	t.DocumentNumber,
	dbo.GetLocalTime(@SiteIndex,t.TransDateTime) as TransDateTime,
	t.InventoryDate,
	t.OwnerID,
	l.StorageLocationID,
	t.PONumber AS Batch_BargeID,
	ROUND(l.NetQuantity * @VolumeFactor, @VolumeDecimal)AS Net

FROM 
	tblTransactions t with (nolock) 
		LEFT OUTER JOIN tblTransactionLineItems l on t.TransID = l.TransID

WHERE 
		t.SiteIndex = @SiteIndex
	AND t.ManagerID = @Manager
	AND (t.InventoryDate >= @StartDate AND t.InventoryDate <= @EndDate )
	AND t.AliasName = 'Receipt'
	AND t.DeleteFlag = cast(0 as bit)
	AND l.DeleteFlag = cast(0 as bit)
	AND EXISTS (SELECT Company
			FROM @AuthorizedCompanies
			WHERE Company IN (t.ShipToID, t.SupplierID, t.ShipperID, t.OwnerID, t.ManagerID, t.CarrierID, t.BillToID))

ORDER BY
	l.ProductCode,
	t.DocumentNumber

END









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 

GRANT EXECUTE ON dbo.[rpt_sp_ta_ReceiptReport] TO [public]
GO





