USE ConsolidatedDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_UserIDListReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_UserIDListReport
GO


CREATE PROCEDURE [dbo].rpt_sp_ta_UserIDListReport 

 /*=============================================
 Author:		Kimberly Foote   
 Create date:	1/13/2010
 Description:	Used as Standard sp.
 Version:		7.5.1.0
 Execution:
	

	Execute rpt_sp_ta_UserIDListReport 1,1,46,'3427 - CITGO Petroleum Corp', 1
	Execute rpt_sp_ta_UserIDListReport 1,1,46,'3427 - CITGO Petroleum Corp', 2

 Modification History:
	Date		by		Description
	1/13/2010	KF		New 

 =============================================*/

@SiteIndex int,
@LoginSiteIndex int,
@UserIndex int,
@Manager nvarchar(100),
@Header int

AS

CREATE TABLE #UserInfo(
						[UserID] nvarchar(60),
						[Groups] nvarchar(60),
						[AuthorizedCompanies] nvarchar(200),
					  )
CREATE TABLE #Rights(
						[Groups] nvarchar(60),
						[Assigned Rights] nvarchar(300)
					)

/************
	BEGIN
	DETAILS
*************/

		Select distinct
			 g.GroupID as [Groups]
			,c.Name as [AuthorizedCompanies]
			,c.CompanyIndex
			,AssignedIndex 
			,case when gr.RightIndex = 0 then 'VIEW_USERS'
				 when gr.RightIndex = 1	then 'VIEW_USER_GROUPS'
				 when gr.RightIndex = 2	then 'MODIFY_USERS'
				 when gr.RightIndex = 3	then 'MODIFY_USER_GROUPS'
				 when gr.RightIndex = 4	then 'IMPORT_CONFIGURATION_DATA'
				 when gr.RightIndex = 5	then 'EXPORT_CONFIGURATION_DATA'
				 when gr.RightIndex = 6	then 'PERFORM_PRODUCT_UPDATE'
				 when gr.RightIndex = 7	then 'VIEW_INSTALLED_MODULES_STATUS'
				 when gr.RightIndex = 8	then 'VIEW_SITES_AND_SITE_GROUPS'
				 when gr.RightIndex = 9	then 'MODIFY_SITES_AND_SITE_GROUPS'
				 when gr.RightIndex = 10 then 'VIEW_COMPANY_DATA'
				 when gr.RightIndex = 11 then 'MODIFY_COMPANY_DATA'
				 when gr.RightIndex = 12 then 'VIEW_PRODUCTS_DATA'
				 when gr.RightIndex = 13 then 'MODIFY_PRODUCTS_DATA'
				 when gr.RightIndex = 14 then 'VIEW_ALLOCATIONS_DATA'
				 when gr.RightIndex = 15 then 'MODIFY_ALLOCATIONS_DATA'
				 when gr.RightIndex = 16 then 'VIEW_EQUIPMENT_DATA'
				 when gr.RightIndex = 17 then 'MODIFY_EQUIPMENT_DATA'
				 when gr.RightIndex = 18 then 'VIEW_PERSONNEL_DATA'
				 when gr.RightIndex = 19 then 'MODIFY_PERSONNEL_DATA'
				 when gr.RightIndex = 20 then 'VIEW_TRANSACTION_DATA'
				 when gr.RightIndex = 21 then 'MODIFY_TRANSACTION_DATA'
				 when gr.RightIndex = 22 then 'VIEW_TRANSACTION_ALIASES'
				 when gr.RightIndex = 23 then 'MODIFY_TRANSACTION_ALIASES'
				 when gr.RightIndex = 24 then 'PERFORM_CLOSEOUT'
				 when gr.RightIndex = 25 then 'CONFIGURE_ACCOUNTING'
				 when gr.RightIndex = 26 then 'VIEW_LOAD_RACK_DATA'
				 when gr.RightIndex = 27 then 'MODIFY_LOAD_RACK_DATA'
				 when gr.RightIndex = 28 then 'VIEW_INVENTORY_DATA'
				 when gr.RightIndex = 29 then 'VIEW_REPORTS'
				 when gr.RightIndex = 30 then 'MODIFY_REPORTS'
				 when gr.RightIndex = 31 then 'CONFIGURE_IMPORT_EXPORT'
				 when gr.RightIndex = 32 then 'EXECUTE_IMPORT_EXPORT'
				 when gr.RightIndex = 33 then 'VIEW_TICKETING_DATA'
				 when gr.RightIndex = 34 then 'MODIFY_TICKETING_DATA'
				 when gr.RightIndex = 35 then 'MODIFY_ORDERS'
				 when gr.RightIndex = 36 then 'VIEW_ORDERS'
				 when gr.RightIndex = 37 then 'CREATE_ORDERS'
				 when gr.RightIndex = 38 then 'VIEW_QUERIES'
				 when gr.RightIndex = 39 then 'MODIFY_QUERIES'
				 when gr.RightIndex = 40 then 'MODIFY_SYSTEM_SETTINGS'
				 when gr.RightIndex = 41 then 'PERFORM_REVERSE_TRANSACTION'
				 when gr.RightIndex = 42 then 'VIEW_STANDING_OFFERS'
				 when gr.RightIndex = 43 then 'MODIFY_STANDING_OFFERS'
				 when gr.RightIndex = 44 then 'VIEW_GRAPHICS'
				 when gr.RightIndex = 45 then 'VIEW_PIDX_PROFILES'
				 when gr.RightIndex = 46 then 'MODIFY_PIDX_PROFILES'
				 when gr.RightIndex = 47 then 'ENABLE_DISABLE_STATIONS'
				 when gr.RightIndex = 48 then 'CONFIGURE_TRAINING'
				 when gr.RightIndex = 49 then 'CONFIGURE_QUALIFICATIONS'
				 when gr.RightIndex = 50 then 'CONFIGURE_LICENSES'
				 when gr.RightIndex = 51 then 'MODIFY_FUEL_CARD_DATA'
				 when gr.RightIndex = 52 then 'VIEW_FUEL_CARD_DATA'
				 when gr.RightIndex = 53 then 'MODIFY_FINANCIAL_DATA'
				 when gr.RightIndex = 54 then 'VIEW_FINANCIAL_DATA'
				 when gr.RightIndex = 55 then 'PRIVILEGED_FINANCIAL'
				 when gr.RightIndex = 56 then 'INTERFACE_IMPORT_EXPORT'
				 when gr.RightIndex = 57 then 'VIEW_PAYMENT_DATA'
				 when gr.RightIndex = 58 then 'MODIFY_PAYMENT_DATA'
				 when gr.RightIndex = 59 then 'VIEW_RECOVERY_DATA'
				 when gr.RightIndex = 60 then 'MODIFY_RECOVERY_DATA'
				 when gr.RightIndex = 61 then 'VIEW_SUPPLY_ORDERS'
				 when gr.RightIndex = 62 then 'CREATE_SUPPLY_ORDERS'
				 when gr.RightIndex = 63 then 'MODIFY_SUPPLY_ORDERS'
				 when gr.RightIndex = 64 then 'TOGGLE_DATA_DICTIONARY'
				 when gr.RightIndex = 65 then 'CREATE_ADJUSTMENT'
				 when gr.RightIndex = 66 then 'MODIFY_ADJUSTMENT'
				 when gr.RightIndex = 67 then 'VIEW_AUDIT_LOGS'
				 when gr.RightIndex = 68 then 'VIEW_ALARM_EVENT_LOGS'
				 when gr.RightIndex = 69 then 'VIEW_CLOSEOUT_DATA'
				 when gr.RightIndex = 70 then 'CONFIGURE_QUERIES'
				 when gr.RightIndex = 71 then 'CONFIGURE_RESERVE_LEVEL'
				 when gr.RightIndex = 72 then 'UNDELETE_TRANSACTION_DATA'
				 when gr.RightIndex = 73 then 'VIEW_BILLS_OF_LADING'
				 when gr.RightIndex = 74 then 'EXECUTE_QUALITY_TESTS'
				 when gr.RightIndex = 75 then 'MODIFY_QUALITY_TESTS'
				 when gr.RightIndex = 76 then 'VIEW_QUALITY_TESTS'
				 when gr.RightIndex = 77 then 'MODIFY_TEST_ITEMS'
				 when gr.RightIndex = 78 then 'VIEW_TEST_ITEMS'
				 when gr.RightIndex = 79 then 'ADD_MAINTENANCE_RECORD'
				 when gr.RightIndex = 80 then 'VIEW_MAINTENANCE_RECORD'
				 when gr.RightIndex = 82 then 'VIEW_TRAINING_QUALIFICATIONS'
				 when gr.RightIndex = 83 then 'MODIFY_PERSON_QUALIFICATIONS'
				 when gr.RightIndex = 84 then 'MODIFY_PERSON_TRAINING'
				 when gr.RightIndex = 86 then 'VIEW_TRAINING_QUAL_HISTORY'
				 when gr.RightIndex = 87 then 'MODIFY_TRAINING_QUAL_HISTORY'
				 when gr.RightIndex = 88 then 'MODIFY_APPOINTMENTS'
				 when gr.RightIndex = 89 then 'VIEW_APPOINTMENTS'
				 when gr.RightIndex = 90 then 'VIEW_DISPATCH'
				 when gr.RightIndex = 91 then 'ADD_QUALITYTAG_RECORD'
				 when gr.RightIndex = 92 then 'VIEW_QUALITYTAG_RECORD'
				 when gr.RightIndex = 93 then 'VIEW_QUALITYTAG_LOGS'
				 when gr.RightIndex = 94 then 'VIEW_DATABASE_AUDIT_LOG'
				 when gr.RightIndex = 95 then 'MODIFY_DATABASE_AUDIT_LOG'
				 when gr.RightIndex = 96 then 'MODIFY_MAINTENANCE_RECORD'
				 when gr.RightIndex = 98 then 'MODIFY_QUALITYTAG_RECORD'
				 when gr.RightIndex = 99 then 'MODIFY_QUALITYTAG_LOGS'
				 when gr.RightIndex = 100 then 'MODIFY_DISPATCH' end as [AssignedRights]
			,u.UserID as UserID
			,u.UserIndex as UserIndex


INTO #Detail

		From	dbo.tblGroups g with(nolock)
						Left Join dbo.tblGroupRightsMap gr with(nolock) on
									g.GroupIndex = gr.GroupIndex
						Left Join dbo.tblCompanyMap cm with(nolock) on
									cm.AssignedToIndex = g.GroupIndex
						Left Join dbo.tblCompanies c with(nolock) on
									c.CompanyIndex = cm.AssignedIndex OR cm.AssignedIndex = 0
						Left Join dbo.tblUserGroupMap ug with(nolock) on
									ug.GroupIndex = g.GroupIndex
						Left Join dbo.tblUsers u with(nolock) on
									u.UserIndex	= ug.UserIndex  

		Where 
				 c.CompanyIndex IN (SELECT [Index] FROM dbo.tblEntityToSiteMap WHERE TypeID = 'Companies' AND SiteIndex=@SiteIndex)
			and (c.SiteIndex = @SiteIndex or CompanyIndex IN (SELECT [Index] FROM dbo.tblEntityToSiteMap WHERE TypeID = 'Companies' AND SiteIndex=@LoginSiteIndex))
			and ((0 IN (SELECT AssignedIndex FROM dbo.tblCompanyMap WHERE Type = 6 AND AssignedToIndex IN (SELECT GroupIndex FROM dbo.tblUserGroupMap WHERE UserIndex = @UserIndex))) or
				(CompanyIndex IN (SELECT AssignedIndex FROM dbo.tblCompanyMap WHERE Type = 6 AND AssignedToIndex IN (SELECT GroupIndex FROM dbo.tblUserGroupMap WHERE UserIndex = @UserIndex))))

		Order by [Groups],[AuthorizedCompanies],[AssignedRights],UserID

/************
	END
	DETAILS
*************/

/************
	BEGIN
INSERT TABLES
*************/


INSERT INTO #UserInfo
							Select distinct
								   case when [UserID] <> '' then [UserID] else 'User Not Assigned' end as [UserID]
								  ,[Groups]
								  ,case when AssignedIndex = 0 then '<All>' else [AuthorizedCompanies] end as 'Authorized Companies'

							From  #Detail
							

INSERT INTO #Rights
							
							Select distinct
								   [Groups]
								   ,[AssignedRights]
							
							From  #Detail
/************
	END
UPDATE TABLES
*************/


/************
	BEGIN
MAIN QUERY
*************/

IF @Header = 1
	BEGIN
				Select * From #UserInfo 
						

END
	ELSE
		IF @Header = 2
BEGIN

				Select * From #Rights

END
	ELSE
	BEGIN
				Select distinct UserID,Groups  from #UserInfo 
							
END


/************
	END
MAIN QUERY
*************/




drop table #UserInfo
drop table #Rights
Drop table #Detail




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.rpt_sp_ta_UserIDListReport TO [public]
GO


