USE [ConsolidatedDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.[rpt_sp_ta_AuditLogReport]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.[rpt_sp_ta_AuditLogReport]
GO

CREATE PROCEDURE [dbo].[rpt_sp_ta_AuditLogReport]
 /*=============================================
 Author:	 			URVI PATEL
 Create date: 			
 Description: 			New report
 Version:				7.5.1.0
 Execution:		
			EXEC rpt_sp_ta_AuditLogReport 1,'<ALL>','<ALL>','<ALL>','12/1/2009','12/7/2009'

 Modification History:
	Date		by		Description
	5/8/2009	UP		Add dbo.[GetLocalTime](@SiteIndex,CreatedDate) to get correct result (as FuelsManager)
	5/20/2009	UP		Remove ID Parameter
	12/9/2009	KF		Version 7.5.1.0
 =============================================*/


	@SiteIndex int,
	@ActionID nvarchar(120),
	@TypeID nvarchar(120),
	@User nvarchar(50),
	@StartDate datetime,
	@EndDate datetime
--	@ID nvarchar(50),

AS BEGIN

IF @ActionID = '<All>' SET @ActionID = ''
IF @TypeID = '<All>' SET @TypeID = ''
IF @User = '<All>' SET @User = ''
--IF @ID = '<All>' SET @ID = ''

select 
	CreatedDate = dbo.GetLocalTime(@SiteIndex,CreatedDate),
	ActionID,
	TypeID,
	ID,
	PropertyID,
	NewValue,
	OldValue,
	CreatedBy
 
from 
	dbo.tblAuditLog with (nolock)

where 
	SiteIndex = @SiteIndex
	AND (dbo.[GetLocalTime](@SiteIndex,CreatedDate) >= @StartDate AND (dbo.[GetLocalTime](@SiteIndex,CreatedDate))<= @EndDate)
	AND (@ActionID = null OR @ActionID = '' OR ActionID = @ActionID)
	AND (@TypeID = null OR @TypeID = '' OR TypeID = @TypeID)
	AND (@User = null OR @User = '' OR CreatedBy = @User)
	--AND (@ID = null OR @ID = '' OR ID = @ID)

order by 
	CreatedDate, [Index]
END






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.[rpt_sp_ta_AuditLogReport] TO [public]
GO

