USE [ConsolidatedDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID(N'[rpt_fn_ta_AliasList]') IS NOT NULL
   DROP FUNCTION [rpt_fn_ta_AliasList]

GO

 /*=============================================
 Author:				
 Create date:			
 Description:			
 Version:				7.5.1.1
 Modification History:
	Date		by		Description
	9/20/2010	KF		Add if exist to function command line above.
 =============================================*/

CREATE FUNCTION [dbo].[rpt_fn_ta_AliasList] (
	@LoginSiteIndex int,
	@SiteIndex int
)  
RETURNS TABLE AS  
RETURN
	SELECT tblTransactionAliases.AliasName,tblTransactionAliases.TransTypeID
	FROM tblTransactionAliases,
	(SELECT tblEntityToSiteMap.*,
		(SELECT SubTable.SiteIndex FROM tblEntityToSiteMap SubTable
		WHERE SubTable.TypeID = 'Transaction Aliases'
		AND SubTable.[Index] = tblEntityToSiteMap.[Index]
		AND SubTable.SiteIndex = @LoginSiteIndex) AS LoginSiteIndex
		FROM tblEntityToSiteMap WHERE TypeID = 'Transaction Aliases'
		AND SiteIndex = @SiteIndex) tblEntities
	WHERE tblEntities.[Index] = tblTransactionAliases.AliasID
	AND (@SiteIndex <> @LoginSiteIndex
	OR (tblTransactionAliases.SiteIndex = @SiteIndex OR tblEntities.LoginSiteIndex = @LoginSiteIndex))

GO



