USE [ConsolidatedDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.[rpt_ds_sp_BeginMonthDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.[rpt_ds_sp_BeginMonthDate]
GO



CREATE PROCEDURE [dbo].[rpt_ds_sp_BeginMonthDate]

 /*=============================================
 Author:	 			UNKNOWN
 Create date: 			
 Description: 			New report
 Version:				7.5.1.0
 Modification History:
	Date		by		Description
	

 =============================================*/
/*

*/


AS

DECLARE @currentdate datetime;
DECLARE @beginmonthdate datetime;
DECLARE @day int;
DECLARE @millisec int;
DECLARE @sec int;
DECLARE @min int;
DECLARE @hour int;

SELECT @currentdate = GETDATE();

SELECT @day = DATEPART(day, @currentdate);
SELECT @millisec = DATEPART(millisecond, @currentdate);
SELECT @sec = DATEPART(second, @currentdate);
SELECT @min = DATEPART(minute, @currentdate);
SELECT @hour = DATEPART(hour, @currentdate);

SELECT @beginmonthdate = DATEADD(millisecond, (-@millisec), @currentdate);
SELECT @beginmonthdate = DATEADD(second, (-@sec), @beginmonthdate);
SELECT @beginmonthdate = DATEADD(minute, (-@min), @beginmonthdate);
SELECT @beginmonthdate = DATEADD(hour, (-@hour), @beginmonthdate);

SELECT DATEADD(day, (-@day)+1, @beginmonthdate) as BeginMonthDate


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.[rpt_ds_sp_BeginMonthDate] TO [public]
GO

