USE ConsolidatedDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_EquipmentTrailerReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_EquipmentTrailerReport
GO

create procedure [dbo].rpt_sp_ta_EquipmentTrailerReport
 /*=============================================
 Author:	 			UNKNOWN
 Create date: 			
 Description: 			
 Version:				7.5.1.2
 Execution:
			Execute rpt_sp_ta_EquipmentTrailerReport 1,1,2

 Modification History:
	Date		by		Description
	4/29/2009	UP		Rename from [fm_EquipmentTrailerReport] to [rpt_sp_ta_EquipmentTrailerReport]
	5/1/2009	UP		Add LoginSiteIndex and UserIndex Parameter
	12/9/2009	KF		Equipment.Type no longer exist. Join Equipment on tblEquipmentTypes. 
						Use tblEquipmentTypes.EqTypeIndex = 1 Trailer
	1/26/2010	KF		Remove criteria for ExpirationDate. This is will show all Inspections.
	7/28/2010	KF		Historical Records are now being used. Need to add to where clause
						qm.HistoricalRecord = 0
 =============================================*/

	@SiteIndex int,
	@LoginSiteIndex int,
	@UserIndex int


AS 

Select
	     case when c.[Name] = '' then '<Not Assigned>' else c.[Name] end as CarrierName
		,e.CompanyEquipmentID as CompanyTrailerID
		,e.ID as TrailerID
		,case when e.LockedOut = 0 then 'No' else 'Yes' end as LockedOut
		,q.ID as TestInspectionName
		,qm.ExpirationDate as TestInspectionExpiration

From tblEquipment e with (nolock) 
			 Left Join dbo.tblEquipmentTypes et with(nolock) on
						e.EqTypeIndex = et.EqTypeIndex
			 Left Join dbo.tblCompanies c with (nolock) on
						e.CompanyIndex = c.CompanyIndex 
			 Left Join dbo.tblQualificationsMap qm with (nolock) on
						e.[Index] = qm.[Index]
			 Left Join dbo.tblQualifications q with (nolock) on
						q.[Index] = qm.AssignedIndex
Where
		e.SiteIndex = @SiteIndex and
		et.EqTypeIndex = 1 and -- TRAILER_TYPE = 1
		(qm.[Type] = 1 or qm.[Type] = 2) and  -- EQUIPMENT_TEST_AND_INSPECTION = 1, EQUIPMENT_TAG_AND_LICENSE = 2
--		qm.ExpirationDate = (select min(ExpirationDate) from tblQualificationsMap x where x.[Index] = e.[Index] and (x.[Type] = 1 or x.[Type] = 2))1/26/2010 kf
		qm.HistoricalRecord = 0

order by CarrierName, CompanyTrailerID



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.[rpt_sp_ta_EquipmentTrailerReport] TO [public]
GO


