USE ConsolidatedDB

GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_TransactionDetails') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_TransactionDetails
GO

CREATE PROCEDURE  [dbo].[rpt_sp_ta_TransactionDetails] 
 /*=============================================
 Author:				UNKNOWN	   
 Create date:			08/04/2008
 Description: 
 Version:				7.5.1.2
 Modification History:
	Date		by		Description
	1/19/2010	kf		Standard Report
	2/12/2010	KF		Add union to show components.
	3/8/2010	KF		AuthorizedCompanies replaced by rpt_fn_ta_AuthorizedCompanies
 =============================================*/

(
	@SiteIndex int ,
	@LoginSiteIndex int,
	@UserIndex int,
	@BeginDate datetime,
	@EndDate datetime,
	@Product nvarchar(30),
	@Owner nvarchar(30),
	@Manager nvarchar(30),
	@Shipper nvarchar(30),
	@BillTo nvarchar(30),
	@ShipTo nvarchar(30),
	@ShipToLike nvarchar(100),
	@UseShipToLike bit
)
 AS

DECLARE @VolumeUnits int
SET @VolumeUnits = (SELECT tblSites.VolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @VolumeDecimalPlaces int
SET @VolumeDecimalPlaces = (SELECT tblSites.VolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @AdditiveVolumeUnits int
SELECT @AdditiveVolumeUnits = (SELECT AdditiveVolumeUnitIndex FROM dbo.tblSites with(nolock) WHERE SiteIndex = @LoginSiteIndex)

DECLARE @AdditiveVolumeDecimalPlaces int
SELECT @AdditiveVolumeDecimalPlaces = (SELECT AdditiveVolumeDecimalPlaces FROM dbo.tblSites with(nolock) WHERE SiteIndex = @LoginSiteIndex)

DECLARE @AuthorizedCompanies TABLE (
	[ID] [nvarchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
);
INSERT INTO @AuthorizedCompanies 
SELECT ID FROM rpt_fn_ta_AuthorizedCompanies(@LoginSiteIndex,@SiteIndex,@UserIndex)

SELECT ID AS Site,
		SiteIndex
INTO #Site
FROM tblSites with(nolock) ,tblSiteToSiteMap with(nolock)  
WHERE ParentSiteIndex = @SiteIndex AND tblSiteToSiteMap.ChildSiteIndex = tblSites.SiteIndex

SELECT TransID,
		ManagerID,
		OwnerID,
		ShipperID,
		BillToID,
		ShipToID
INTO #TransID
FROM dbo.tblTransactions with(nolock) 
WHERE TransTypeID NOT IN(9,10,11,12,14,17)
	 AND InventoryDate >=@BeginDate 
	 AND InventoryDate<=@EndDate
	AND DeleteFlag = cast(0 as bit)
	AND SiteIndex IN (SELECT SiteIndex FROM #Site)

IF @Manager <>'<All>' 
BEGIN
DELETE FROM #TransID WHERE ManagerID<> @Manager OR ManagerID Is NUll
END

IF @Owner <>'<All>'
BEGIN
DELETE FROM #TransID WHERE OwnerID<>@Owner OR OwnerID IS Null
End

IF @Shipper <>'<All>'
BEGIN
DELETE FROM #TransID WHERE ShipperID<>@Shipper OR ShipperID IS Null
End

IF @BillTo <>'<All>'
BEGIN
DELETE FROM #TransID WHERE BillToID<>@BillTo OR BillToID IS Null
End

IF @UseShipToLike = 1 
	BEGIN
		SET @ShipToLike	= '%' + @ShipToLike + '%'
		DELETE FROM #TransID WHERE ShipToID NOT LIKE @ShipToLike OR ShipToID IS Null
	END
ELSE
	BEGIN
		IF @ShipTo <>'<All>'
		BEGIN
			DELETE FROM #TransID WHERE ShipToID<>@ShipTo OR ShipToID IS Null
		END
	END


SELECT T.Site,
		T.TransID,
		L.TransLineItemID,
		S.TransSubLineItemID,
		T.InventoryDate,
		T.AliasName,
		T.DocumentNumber AS BOL,
		T.ManagerID,
		T.OwnerID,
		T.CarrierID,
		T.ShipToID,
		ShipToCompanyType = (SELECT ID FROM tblApplicationstring with (nolock) WHERE [type]=4 AND [Index]=(SELECT CustomerShipToTypeIndex FROM dbo.tblCompanies with (nolock)WHERE CompanyIndex = T.ShipToIndex)),
		ShipToName = (SELECT [Name] FROM tblCompanies with (nolock) WHERE CompanyIndex =T.ShipToIndex),
		TimeIn = dbo.GetLocalTime(@SiteIndex,T.TimeIn),
		TimeOut =dbo.GetLocalTime(@SiteIndex,T.TimeOut),
		T.SupplierID,
		T.BillToID,
		T.ShipperID,
		L.Product,
		L.ProductType,
		S.ProductType AS AdditiveProduct,
		S.Product AS ComponentProduct,
		L.DestinationCompanyEquipmentID As Trailer,
		dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)AS GrossQuantity,
		dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces) AS NetQuantity,
		ComponentGross =
		CASE
			WHEN S.ProductType = 'Additive' THEN dbo.ConvertFromSIUnits(S.GrossQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces)
			ELSE
			dbo.ConvertFromSIUnits(S.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)
			END,
		ComponentNet = 
		CASE
			WHEN S.ProductType = 'Additive' THEN dbo.ConvertFromSIUnits(S.NetQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces)
		ELSE
			dbo.ConvertFromSIUnits(S.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces)
		END
INTO #TransList
FROM	((#TransID I Left Join dbo.tblTransactions T with(nolock) ON I.TransID = T.TransID) 
		Left Join dbo.tblTransactionLineItems L with(nolock) ON I.TransID = L.TransID)
		Left Join dbo.tblTransactionSubLineItems S with(nolock) ON L.TransLineItemID = S.TransLineItemID
WHERE	L.ProductType = 'Blend' 
		AND	T.DeleteFlag = cast(0 as bit)
		AND L.DeleteFlag = cast(0 as bit)
		AND S.DeleteFlag = cast(0 as bit)
UNION
SELECT T.Site,
		T.TransID,
		L.TransLineItemID,
		0 AS TransSubLineItemID,
		T.InventoryDate,
		T.AliasName,
		T.DocumentNumber AS BOL,
		T.ManagerID,
		T.OwnerID,
		T.CarrierID,
		T.ShipToID,
		ShipToCompanyType = (SELECT ID FROM tblApplicationstring with (nolock) WHERE [type]=4 AND [Index]=(SELECT CustomerShipToTypeIndex FROM dbo.tblCompanies with (nolock) WHERE CompanyIndex = T.ShipToIndex)),
		ShipToName = (SELECT [Name] FROM tblCompanies with (nolock) WHERE CompanyIndex =T.ShipToIndex),
		TimeIn = dbo.GetLocalTime(@SiteIndex,T.TimeIn),
		TimeOut =dbo.GetLocalTime(@SiteIndex,T.TimeOut),
		T.SupplierID,
		T.BillToID,
		T.ShipperID,
		L.Product,
		'' AS AdditiveProduct,
		L.ProductType,
		'' AS ComponentProduct,
		L.DestinationCompanyEquipmentID As Trailer,
		dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)AS GrossQuantity,
		dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces) AS NetQuantity,
		0 AS ComponentGross,
		0 AS ComponentNet
FROM	(#TransID I Left Join dbo.tblTransactions T with(nolock) ON I.TransID = T.TransID) 
		Left Join dbo.tblTransactionLineItems L with(nolock) ON I.TransID = L.TransID
WHERE	L.ProductType <> 'Blend' 
		AND	T.DeleteFlag = cast(0 as bit)
		AND L.DeleteFlag = cast(0 as bit)

UNION

SELECT T.Site,
		T.TransID,
		L.TransLineItemID,
		S.TransSubLineItemID,
		T.InventoryDate,
		T.AliasName,
		T.DocumentNumber AS BOL,
		T.ManagerID,
		T.OwnerID,
		T.CarrierID,
		T.ShipToID,
		ShipToCompanyType = (SELECT ID FROM tblApplicationstring with (nolock) WHERE [type]=4 AND [Index]=(SELECT CustomerShipToTypeIndex FROM dbo.tblCompanies with (nolock)WHERE CompanyIndex = T.ShipToIndex)),
		ShipToName = (SELECT [Name] FROM tblCompanies with (nolock) WHERE CompanyIndex =T.ShipToIndex),
		TimeIn = dbo.GetLocalTime(1,T.TimeIn),
		TimeOut =dbo.GetLocalTime(1,T.TimeOut),
		T.SupplierID,
		T.BillToID,
		T.ShipperID,
		L.Product,
		L.ProductType,
		S.ProductType AS AdditiveProduct,
		S.Product AS ComponentProduct,
		L.DestinationCompanyEquipmentID As Trailer,
		dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)AS GrossQuantity,
		dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces) AS NetQuantity,
		ComponentGross =
		CASE
			WHEN S.ProductType = 'Additive' THEN dbo.ConvertFromSIUnits(S.GrossQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces)
			ELSE
			dbo.ConvertFromSIUnits(S.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)
			END,
		ComponentNet = 
		CASE
			WHEN S.ProductType = 'Additive' THEN dbo.ConvertFromSIUnits(S.NetQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces)
		ELSE
			dbo.ConvertFromSIUnits(S.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces)
		END

FROM	((#TransID I Left Join dbo.tblTransactions T with(nolock) ON I.TransID = T.TransID) 
		Left Join dbo.tblTransactionLineItems L with(nolock) ON I.TransID = L.TransID)
		Left Join dbo.tblTransactionSubLineItems S with(nolock) ON L.TransLineItemID = S.TransLineItemID
WHERE	
			l.ProductType = 'Component' and L.ProductType <> 'Blend' 
		AND T.DeleteFlag = cast(0 as bit)
		AND L.DeleteFlag = cast(0 as bit)
		AND S.DeleteFlag = cast(0 as bit)


		

IF @Product <>'<All>'
BEGIN
	DELETE FROM #TransList 
	WHERE (Product <>@Product OR Product IS NUll) 
		 and (ComponentProduct <> @Product OR ComponentProduct IS NUll)
END


--Set the blend product gross so only one blend product has gross reading
Update #TransList
SET GrossQuantity = 0,
	NetQuantity = 0
WHERE ProductType ='Blend' 
	AND TransSubLineItemID NOT IN ( SELECT Min(TransSubLineItemID) FROM #TransList WHERE ProductType ='Blend' Group BY TransLineItemID)

SELECT P.ConsigneeNumber,
		F.ID AS PIDXProfile ,
		C.ID 
INTO #PIDXID
FROM dbo.tblPIDXProfileCompanyMap P with (nolock) LEFT JOIN tblCompanyMap C with (nolock) ON P.LoadIDCompanyMapIndex = C.[Index]
	 LEFT JOIN dbo.tblPIDXProfiles F with(nolock) ON F.[Index]=P.PIDXProfileIndex
WHERE C.[type]=5 AND C.ID IN (SELECT Distinct ShipToID FROM #TransList)
ORDER BY C.ID,PIDXProfile desc

--SELECT * from #PIDXID

--Filter the authorized companies
SELECT T.*, --select TDSY if there are TDSY and TABS
		PIDXID = (SELECT Top 1 ConsigneeNumber FROM #PIDXID WHERE T.ShipToID = ID)
FROM #TransList T 
WHERE EXISTS( SELECT ID FROM @AuthorizedCompanies WHERE ID IN(CarrierID, 
									ShipperID, 
									ShipToID, 
									SupplierID, 
									ManagerID, 
									OwnerID, 
									BillToID))
ORDER BY Site,InventoryDate,AliasName,TransID, TransLineItemID,TransSubLineItemID

DELETE #PIDXID
DELETE #TransList

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 

GRANT EXECUTE ON dbo.rpt_sp_ta_TransactionDetails TO [public]
GO






