USE [ConsolidatedDB]

GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_InventoryReconciliationSummary') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_InventoryReconciliationSummary
GO


CREATE PROCEDURE [dbo].[rpt_sp_ta_InventoryReconciliationSummary]
/*=============================================
 Author:		Unknown
 Create date: 
 Version:		7.5.2.1
 Description:	9/4/2007
 Execution:	
			Execute rpt_sp_ta_InventoryReconciliationSummary 1,1,2,'12/1/2009','12/7/2009','Null','3122 - CITGO Petroleum Corp','4001','Gross',1

 Modification History:
	Date		BY	Description
	09-21-2007,		add SiteIndex filter at line 57 when retrieving views
	10-05-2007,		change Variance formula to Physical - Book
	11-05-2007,		change volumeUnit based on the product type
	11-12-2007,		add daily variance percentage; add type 12 in transType filter 
	09-08-2008,		add BookInventorySummaryGross and net in Inventory Summary Report
	03-03-2009,		change begin date to handle begin data is a closeout date
	03-26-2009, kf	Add @AuthorizedCompanies to create Userdefine functionality. 
	03-30-2009, kf	copied fm_InventoryReconciliation
								Used in the Inventory Reconciliation Summary Report and Subreport.	
								Add with(nolock) to tables.	
	06-30-2009	IO	Bug - stored procedure was not picking up total variance for new sites.
								Add  @VarianceStartDate to section Inventory Reconcilation with Physical Inventory
								If the the first physical inventory/closeout happens in the before the begin use that 
								date for variance calculations
	12-08-2009	kf	Changed function AliasList to rpt_fn_ta_AliasList
	3/8/2010	KF	AuthorizedCompanies replaced by rpt_fn_ta_AuthorizedCompanies												
	4/22/2010	KF  New AliasName Supply Order. Need to exclude from report.
	6/10/2010	KF	Version change due to report subreport.
	1/24/2011	kf	Version change due to change in sp subreport.
	11/15/2012	TH	Corrected determination of past closeouts to specify product
	11/29/2012	TH	Copied changes to InventoryReconciliationSummary from v7.5.1 to v7.5.2
 =============================================*/
( 
	@SiteIndex int,
	@LoginSiteIndex int,
	@UserIndex int,
	@BeginDate datetime,
	@EndDate datetime,
	@Month	nvarchar(20),
	@Manager nvarchar(30),
	@Product nvarchar(30),
	@GrossNet nvarchar(10), -- the value is either Gross or Net
	@Header int
)
AS


Declare @StandardViewType TABLE ---Get the View Header first 
( TypeIndex int,
  ColumnName nvarchar(50),
  DictionaryKey nvarchar(100) COLLATE SQL_Latin1_General_CP1_CS_AS
)
INSERT INTO @StandardViewType Values(1,'BEGIN_INVENTORY'+@GrossNet,'Begin Inventory')
INSERT INTO @StandardViewType Values(2,'BOOK_INVENTORY'+@GrossNet,'Book Inventory')
INSERT INTO @StandardViewType Values(3,'INVENTORY_DATE'+@GrossNet,'Inventory Date')
INSERT INTO @StandardViewType Values(9,'VARIANCE'+@GrossNet,'Variance')	
INSERT INTO @StandardViewType Values(13,'TOTAL_VARIANCE'+@GrossNet, 'Total Variance')
INSERT INTO @StandardViewType Values(43,'TOTAL_PHYSICAL_INVENTORY'+@GrossNet,'Total Physical Inventory')
INSERT INTO @StandardViewType Values(61,'TOTAL_ACTIVITY'+@GrossNet,'Total Activity')	

-- Get the Authorized Companies
DECLARE @AuthorizedCompanies TABLE (CompanyID nvarchar(30))
INSERT INTO @AuthorizedCompanies SELECT ID FROM rpt_fn_ta_AuthorizedCompanies(@LoginSiteIndex, @SiteIndex, @UserIndex)	
																	
SELECT	L.ColumnOrder,
		S1.ColumnName ,
		S1.DictionaryKey,
		IsNull(S1.DictionaryValue, S1.DictionaryKey) AS DictionaryValue
INTO	#ViewDefinition
FROM	dbo.tblListViewFields L with(nolock) Right Join
	   (SELECT S.*,
		D.[Value] AS DictionaryValue
		FROM @StandardViewType S Left Join dbo.tblDataDictionaries D with(nolock) ON S.DictionaryKey = D.[Key]) AS S1
		ON S1.TypeIndex = L.TypeIndex
WHERE	L.ListViewIndex = (SELECT [Index] FROM dbo.tblListViews with(nolock) 
						WHERE [Type] = 2 --Standard View 
							AND TypeIndex = 4 AND SiteIndex=@SiteIndex ) -- Inventory Reconcilation View
		AND L.[Type] = 4
UNION
SELECT  L.ColumnOrder,
		T.AliasName AS ColumnName,-- 1 is TransAlias
		'' AS DictionaryKey,
		T.AliasName AS DictionaryValue 
FROM dbo.tblListViewFields L with(nolock) Right Join dbo.tblTransactionAliases T with(nolock) ON L.TypeIndex = T.AliasID
WHERE L.ListViewIndex = (SELECT [Index] FROM dbo.tblListViews with(nolock) 
						WHERE [Type] = 2 --Standard View 
							AND TypeIndex = 4 AND SiteIndex=@SiteIndex ) -- Inventory Reconcilation View
	  AND L.[Type] = 1
ORDER BY ColumnOrder

IF @Header = 1
BEGIN
	DECLARE @TP nvarchar(1000)
	SELECT @TP =''
	SELECT @TP =@TP + '['+ Convert(nvarchar(10),ColumnOrder)+'],'
	FROM	#ViewDefinition
	GROUP BY ColumnOrder

	SELECT @TP=LEFT(@TP, LEN(@TP) - 1)
	--SELECT @TP

	SELECT ColumnOrder, DictionaryValue
	INTO #TempV
	FROM #ViewDefinition

	SELECT @TP = 'SELECT * FROM #TempV PIVOT (Max(DictionaryValue) FOR ColumnOrder IN ('+@TP+'))AS InfoPivot'
	
	EXEC(@TP)	
	DELETE #TempV
	DELETE #ViewDefinition
	
	--SELECT * from #ViewDefinition  --return header dataset
END
ELSE --@Header = 2 -- Transaction details
BEGIN

	IF @Month IS NOT NUll AND @Month<>''
	BEGIN
		SET @BeginDate = Convert(datetime,@Month)
		SET @EndDate = DateAdd(s,-1,DateAdd(mm,1,@BeginDate)) --last day of the month
	END	
		
	--SELECT @BeginDate,@EndDate

	DECLARE @ProductType int
	SET @ProductType = (SELECT Top(1)ProductType FROM dbo.tblProducts with(nolock) WHERE ProductID = @Product AND SiteIndex =@LoginSiteIndex )

	DECLARE @VolumeUnits int
	SET @VolumeUnits = 
		CASE
			WHEN  @ProductType= 2 THEN (SELECT tblSites.AdditiveVolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)
		ELSE
			(SELECT tblSites.VolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)
		END

	DECLARE @VolumeDecimalPlaces int
	SET @VolumeDecimalPlaces = 
		CASE
			WHEN @ProductType =2 THEN (SELECT AdditiveVolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)
		ELSE
			(SELECT tblSites.VolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)
		END

	DECLARE @Zero float
	SET @Zero = Round(0.0,@VolumeDecimalPlaces)

	--Build Begining Inventory table
	DECLARE @SummarySheet TABLE
	(
		SiteIndex int,
		INVENTORY_DATE datetime Default '1901-01-01',
		BEGIN_INVENTORYGross float Default 0.0,
		BEGIN_INVENTORYNet float Default 0.0,
		TOTAL_ACTIVITYGross float Default 0.0,
		TOTAL_ACTIVITYNet float Default 0.0,
		BOOK_INVENTORYGross float Default 0.0,
		BOOK_INVENTORYNet float Default 0.0,
		PHYSICAL_INVENTORYGross float Default 0.0,
		PHYSICAL_INVENTORYNet float Default 0.0,
		Link int Default 1  -- this field is used to populate per day per owner later
	)

	SELECT	ID AS Site,
			SiteIndex
	INTO	#Site
	FROM	tblSites with(nolock) ,tblSiteToSiteMap with(nolock) 
	WHERE	ParentSiteIndex = @SiteIndex 
			AND ChildSiteIndex = tblSites.SiteIndex --???
			AND SiteGroupFlag = 0

	--Get last closeout records if exist
	Declare @Begin datetime 
	SELECT @Begin = (SELECT Max(CloseoutDate)FROM dbo.tblCloseoutInventory with(nolock) 
					WHERE		Site = (SELECT ID FROM tblSites with(nolock) WHERE SiteIndex = @SiteIndex)
					AND ManagerName = @Manager
					AND ProductName = @Product
					AND CloseoutDate < @BeginDate)

	SELECT @Begin = 
	CASE 
	WHEN @Begin IS Null Then '1901-01-01'
	WHEN @Begin <=@BeginDate THEN @Begin
	END

	-- Get the Transaction Aliases
	DECLARE @AliasList TABLE
	(
		AliasName nvarchar (30),
		TransTypeID int
		--AliasID int
	)

	INSERT INTO @AliasList 
	SELECT * 
	FROM rpt_fn_ta_AliasList(@LoginSiteIndex,@SiteIndex) 
	--WHERE TransTypeID NOT IN(9,10,11,14,17) --14 is Phyiscal Inventory
	ORDER BY AliasName 

	--SELECT * from @AliasList

	-- Get Transactions from @Begin to @EndDate, NOT from @BeginDate
	SELECT	SiteIndex, 
			InventoryDate,
			AliasName,
			TransTypeID,
			TransID
	INTO	#TransactionTable
	FROM	tblTransactions a with(nolock) 
	WHERE	AliasName IN (SELECT AliasName FROM @AliasLIst)-- WHERE TransTypeID NOT IN(9,10,11,14,17))
			AND SiteIndex IN (SELECT SiteIndex FROM #Site)
			AND InventoryDate > =@Begin
			AND InventoryDate <=@EndDate
			AND ManagerID = @Manager
			AND EXISTS (SELECT CompanyID 
						FROM @AuthorizedCompanies 
						WHERE CompanyID IN (a.CarrierID, a.ShipperID, a.ShipToID, a.SupplierID, a.ManagerID, a.OwnerID, a.BillToID)) 
			AND a.DeleteFlag = cast(0 as bit)

	--SELECT * FROM #TransactionTable

	IF @Begin = @BeginDate  -- I need the BeginBook and BookInventory for the first day
	Begin
		INSERT INTO @SummarySheet
		SELECT	@SiteIndex,
				CloseoutDate,
				0.0,
				0.0,
				0.0,
				0.0,
				GrossBookInventory,
				NetBookInventory,
				GrossPhysicalInventory,
				NetPhysicalInventory,
				1
			FROM dbo.tblCloseoutInventory with(nolock) 
			WHERE		Site = (SELECT Site FROM #Site WHERE SiteIndex = @SiteIndex)
						AND ManagerName = @Manager
						AND ProductName = @Product
						AND CloseoutDate = @BeginDate
	END
	ELSE --Find the earlist Physical Inventory Date, if not exists, use the first transaction date as begin date
	BEGIN
		SELECT Product, t.InventoryDate 
		INTO #PhysicalInventory
		FROM tblTransactions t
		INNER JOIN tblTransactionLineItems li ON t.TransID = li.TransID
		WHERE t.TransTypeID = 14
			AND InventoryDate <= @BeginDate
		ORDER BY Product, InventoryDate

		SELECT @Begin = IsNull((SELECT Max(InventoryDate) 
								FROM #PhysicalInventory p
								WHERE p.Product = @Product),
								(SELECT Min(InventoryDate) 
								 FROM #PhysicalInventory p
								 WHERE p.Product = @Product )) --this may later than begindate??

		INSERT INTO @SummarySheet (SiteIndex, Inventory_Date) Values(@SiteIndex, @Begin)
		DELETE #PhysicalInventory
	END

--	SELECT * from @SummarySheet

	-- Totalize the Transactions from Begin Date to End Date
	SELECT	SiteIndex,
			InventoryDate As INVENTORY_DATE,
			AliasName,
			TransTypeID, 
			IsNull(SUM(dbo.ConvertFromSIUnits(GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces)),0.0) AS Gross,
			IsNull(SUM(dbo.ConvertFromSIUnits(NetQuantity,@VolumeUnits,@VolumeDecimalPlaces)),0.0) AS Net
	INTO	#TransactionTotals 
	FROM	
	(		SELECT	t.SiteIndex, 
					t.InventoryDate,
					t.AliasName, 
					t.TransTypeID,
					l.GrossQuantity,
					l.NetQuantity
			FROM tblTransactionLineItems l with(nolock) LEFT OUTER JOIN #TransactionTable t ON l.TransID = t.TransID
			WHERE	
					l.Product = @Product AND
					l.TransactionInventoryDate BETWEEN @Begin AND @EndDate AND
					l.TransID = t.TransID AND
					l.DeleteFlag = cast(0 as bit)
			UNION ALL
			SELECT	t.SiteIndex, 
					t.InventoryDate,
					t.AliasName, 
					t.TransTypeID,
					l.GrossQuantity,
					l.NetQuantity
			FROM tblTransactionSubLineItems l with(nolock) LEFT OUTER JOIN #TransactionTable t ON l.TransID = t.TransID
			WHERE	
					l.Product = @Product AND
					l.TransactionInventoryDate BETWEEN @Begin AND @EndDate AND
					l.TransID = t.TransID AND
					l.DeleteFlag = cast(0 as bit)
	) AS UnionTable
	GROUP BY SiteIndex,InventoryDate,AliasName,TransTypeID
	--ORDER BY SiteIndex,InventoryDate,AliasName

	--SELECT * from #TransactionTotals
	--ORDER BY SiteIndex, Inventory_Date,AliasName

	--build @DateList table lists each day from BeginDay to EndDay
	DECLARE @DateList TABLE
	( Inventory_Date DateTime,
	  Link int Default 1 )

	DECLARE @BeginTemp datetime
	SET @BeginTemp = @Begin

	WHILE (@BeginTemp <= @EndDate) -- populate with each date
	BEGIN
	 INSERT INTO @DateList(Inventory_Date) values (@BeginTemp)
	 SET @BeginTemp = DateAdd(day,1,@BeginTemp)
	END

	--select * from @DateList

	SELECT	Identity (int,1,1) AS RecNo,
			S.SiteIndex,
			D.Inventory_Date AS INVENTORY_DATE,
			S.BEGIN_INVENTORYGross,
			S.BEGIN_INVENTORYNet,
			C.TOTAL_ACTIVITYGross,
			C.TOTAL_ACTIVITYNet,
			S.BOOK_INVENTORYGross,
			S.BOOK_INVENTORYNet,
			P.PHYSICAL_INVENTORYGross,
			P.PHYSICAL_INVENTORYNet
	INTO	#Summary
	FROM	((@DateList D Left Join @SummarySheet S ON D.Link = S.Link)
				Left Join 
				(SELECT SiteIndex, 
						INVENTORY_DATE,
						SUM(Gross) AS TOTAL_ACTIVITYGross,
						SUM(Net) AS TOTAL_ACTIVITYNet
				 FROM	#TransactionTotals
				 WHERE  TransTypeID NOT IN(9,10,11,12,14,17,18) --kf 4/22/2010 add 18 for Supply Order --Only calculate the type affect the book inventory
				 GROUP By SiteIndex, INVENTORY_DATE ) AS C 
				 ON C.SiteIndex = S.SiteIndex AND C.INVENTORY_DATE = D.Inventory_Date)
			Left Join
			(SELECT SiteIndex, 
					INVENTORY_DATE,
					SUM(Gross) AS PHYSICAL_INVENTORYGross,
					SUM(Net) AS PHYSICAL_INVENTORYNet
					FROM	#TransactionTotals
					WHERE  TransTypeID=14 --Only calculate the type affect the book inventory
					GROUP By SiteIndex, INVENTORY_DATE ) AS P 
			ON P.SiteIndex = S.SiteIndex AND P.INVENTORY_DATE = D.Inventory_Date
	--ORDER by SiteIndex, INVENTORY_DATE

	Update #Summary SET TOTAL_ACTIVITYGross = 0 WHERE TOTAL_ACTIVITYGross IS Null
	Update #Summary SET TOTAL_ACTIVITYNet = 0 WHERE TOTAL_ACTIVITYNet IS NULL

	-- SELECt * from #Summary

	--Set Begining Inventory. 
	--A Physical Inventory will be NEXT Day's Begin Book, 
	-- if no physical inventory, End Book Inventory will be next day's begin book 
	DECLARE @Temp TABLE 
	( RecNo int,
	  GrossVolume float,
	  NetVolume float,
	  PhysicalGross float,
	  PhysicalNet float,	
	  MovementGross float,
	  MovementNet	float	
	)

	SET @BeginTemp = @Begin
	WHILE (@BeginTemp <=@EndDate)
	Begin
		Update #Summary 
			SET BOOK_INVENTORYGross = BEGIN_INVENTORYGross + TOTAL_ACTIVITYGross,
				BOOK_INVENTORYNet = BEGIN_INVENTORYNet + TOTAL_ACTIVITYNet
		OUTPUT INSERTED.RecNo, 
			   INSERTED.BOOK_INVENTORYGross,
			   INSERTED.BOOK_INVENTORYNet,
			   INSERTED.PHYSICAL_INVENTORYGross,
			   INSERTED.PHYSICAL_INVENTORYNet,
			   0.0,0.0 INTO @Temp
		WHERE	INVENTORY_DATE = @BeginTemp
		
		--SELECT * FROM @Temp
		SET @BeginTemp  = DateAdd(day,1,@BeginTemp)
		Update #Summary 
		SET BEGIN_INVENTORYGross = 
			CASE 
			WHEN T.PhysicalGross IS NULL THEN T.GrossVolume
			ELSE T.PhysicalGross
			END,
			BEGIN_INVENTORYNet = 
			CASE 
			WHEN T.PhysicalNet IS NULL THEN T.NetVolume
			ELSE T.PhysicalNet
			END
		FROM #Summary D Inner Join @Temp T ON D.RecNo = T.RecNo+1 AND D.INVENTORY_DATE = @BeginTemp

		DELETE FROM @Temp
	End

	-- SELECT * from #Summary

	--Total movements = Type 5 and Type 6
	--Variance percentage = Total variance/Total movements

	--*********************This section builds the Inventory Reconcilation with Physical Inventory********
	--****************************************************************************************************
	DECLARE @VarianceStartDate datetime
	IF @Begin > @BeginDate -- If the the first physical inventory/closeout happens in the before the begin use that date for variance calculations
		BEGIN
			SET @VarianceStartDate = @Begin
		END
	ELSE
		BEGIN
			SET @VarianceStartDate = @BeginDate
		END

	SELECT	
			S.*,
			(PHYSICAL_INVENTORYGross - BOOK_INVENTORYGross) AS VARIANCEGross,
			(PHYSICAL_INVENTORYNet - BOOK_INVENTORYNet ) AS VARIANCENet,
			IsNull(M.MovementGross,0.0) AS MovementGross,
			IsNull(M.MovementNet,0.0) AS MovementNet,
			@Zero AS TOTAL_VARIANCEGross,
			@Zero AS TOTAL_VARIANCENet,
			@Zero AS TotalMovementGross,
			@Zero As TotalMovementNet,
			@Zero AS TOTAL_PHYSICAL_INVENTORYGross,
			@Zero AS TOTAL_PHYSICAL_INVENTORYNet,
			@Zero AS TotalVarianceGrossPercentage,
			@Zero AS TotalVarianceNetPercentage,
			@Zero AS ToleranceGrossResult, -- result comparing the @Tolerance
			@Zero As ToleranceNetResult,
			@Zero As DailyVarianceGrossPercentage,
			@Zero As DailyVarianceNetPercentage
	INTO	#InventoryReconcilation
	FROM   #Summary S Left Join 
			(SELECT SiteIndex, 
					INVENTORY_DATE,
					SUM(Gross) AS MovementGross,
					SUM(Net) AS MovementNet
			FROM	#TransactionTotals
--WHERE	TransTypeID IN (5,6) AND INVENTORY_DATE >=@BeginDate (IGO 2009-Jun-30)
			WHERE	TransTypeID IN (5,6) AND INVENTORY_DATE >=@VarianceStartDate
			GROUP BY SiteIndex, INVENTORY_DATE) AS M
			ON S.SiteIndex = M.SiteIndex AND S.INVENTORY_DATE = M.INVENTORY_DATE
--WHERE	S.INVENTORY_DATE >=@BeginDate (IGO 2009-Jun-30)
	WHERE	S.INVENTORY_DATE >=@VarianceStartDate
		
	--Select * from #InventoryReconcilation

	--Calculate the TotalVariance, TotalMovement, Total Physicl Inventory
	--SET @BeginTemp = @BeginDate (IGO 2009-Jun-30)
	SET @BeginTemp = @VarianceStartDate
	Update #InventoryReconcilation
	SET TOTAL_VARIANCEGross = IsNull(VARIANCEGross,0.0),
		TOTAL_VARIANCENet = IsNull(VARIANCENet,0.0),
		TOTAL_PHYSICAL_INVENTORYGross = IsNull(PHYSICAL_INVENTORYGross,0.0),
		TOTAL_PHYSICAL_INVENTORYNet = IsNull(PHYSICAL_INVENTORYNet,0.0),
		TotalMovementGross = IsNull(MovementGross,0.0),
		TotalMovementNet = IsNull(MovementNet,0.0)
		OUTPUT INSERTED.RecNo, 
			   INSERTED.TOTAL_VARIANCEGross,
			   INSERTED.TOTAL_VARIANCENet,
			   INSERTED.TOTAL_PHYSICAL_INVENTORYGross,
			   INSERTED.TOTAL_PHYSICAL_INVENTORYNet,
			   INSERTED.TotalMovementGross,
			   INSERTED.TotalMovementNet INTO @Temp
	WHERE Inventory_Date = @BeginTemp					

	--select * from #InventoryReconcilation

	SET @BeginTemp  = DateAdd(day,1,@BeginTemp)

	WHILE (@BeginTemp <=@EndDate)
	Begin
		--SELECT * FROM @temp
		Update #InventoryReconcilation 
		SET TOTAL_VARIANCEGross = IsNull(VARIANCEGross,0.0) + T.GrossVolume,
			TOTAL_VARIANCENet = IsNull(VARIANCENet,0.0) + T.NetVolume,
			TOTAL_PHYSICAL_INVENTORYGross = IsNull(PHYSICAL_INVENTORYGross,0.0)+T.PhysicalGross,
			TOTAL_PHYSICAL_INVENTORYNet = IsNull(PHYSICAL_INVENTORYNet,0.0)+T.PhysicalNet,
			TotalMovementGross = D.MovementGross + T.MovementGross,
			TotalMovementNet = D.MovementNet + T.MovementNet
		OUTPUT INSERTED.RecNo, 
			   INSERTED.TOTAL_VARIANCEGross,
			   INSERTED.TOTAL_VARIANCENet, 
			   INSERTED.TOTAL_PHYSICAL_INVENTORYGross,
			   INSERTED.TOTAL_PHYSICAL_INVENTORYNet,
			   INSERTED.TotalMovementGross,
			   INSERTED.TotalMovementNet INTO @Temp
		FROM #InventoryReconcilation D Inner Join @Temp T ON D.RecNo = T.RecNo+1 AND D.Inventory_Date = @BeginTemp

		SET @BeginTemp  = DateAdd(day,1,@BeginTemp)
	End
	DELETE FROM @Temp
	--Select * from #InventoryReconcilation

	--update DailyVariance
	Update #InventoryReconcilation
	SET DailyVarianceGrossPercentage =
		CASE WHEN VARIANCEGross Is NUll THEN Null
		ELSE ABS(VARIANCEGross/MovementGross)
		END
	WHERE MovementGross <>0 

	Update #InventoryReconcilation
	SET DailyVarianceNetPercentage = 
		CASE WHEN VARIANCENet Is NUll Then NUll
		ELSE ABS(VARIANCENet/MovementNet)
		END
	WHERE MovementNet <>0 

	--Calculate the tolerance
	DECLARE @Tolerance float
	SET @Tolerance =IsNUll((SELECT VarianceTolerance FROM dbo.tblProducts with(nolock) WHERE ProductID = @Product AND SiteIndex = @SiteIndex),0.0)
	--SELECT @Tolerance

	Update #InventoryReconcilation
	SET TotalVarianceGrossPercentage =
		CASE WHEN VARIANCEGross Is NUll THEN Null
		ELSE ABS(TOTAL_VARIANCEGross/TotalMovementGross)
		END
	WHERE TotalMovementGross <>0 

	Update #InventoryReconcilation
	SET TotalVarianceNetPercentage = 
		CASE WHEN VARIANCENet Is NUll Then NUll
		ELSE ABS(TOTAL_VARIANCENet/TotalMovementNet)
		END
	WHERE TotalMovementNet <>0 

	Update #InventoryReconcilation
	SET ToleranceGrossResult = 
		CASE WHEN VARIANCEGross Is NUll THEN Null 
		ELSE TotalVarianceGrossPercentage - @Tolerance/100
		END,
		ToleranceNetResult = 
		CASE
		WHEN VARIANCENet Is Null THEN Null
		ELSE TotalVarianceNetPercentage - @Tolerance/100
		END

	--Select * from #InventoryReconcilation

	---********************This section builds the columnn in the desired display order******************
	---**************************************************************************************************
	-- Build a string for Pivot table
	DECLARE @pivotValues nvarchar(2000)
	DECLARE @sqlString nvarchar(2000)
	SELECT @pivotValues = ''
	SELECT @sqlString =''

	--build all aliasNames into one string - Gross volume first
	SELECT @pivotValues = @pivotValues + '[' + AliasName + '],'
	FROM @AliasList
	GROUP BY AliasName 

	SELECT @pivotValues = LEFT(@pivotValues, LEN(@pivotValues) - 1)  --remove the last comma
	--SELECT @pivotValues

	SELECT @sqlString = 'SELECT * FROM (SELECT SiteIndex, INVENTORY_DATE,AliasName,'+@GrossNet+' FROM #TransactionTotals) AS NewTable PIVOT (SUM('+@GrossNet+') FOR AliasName IN (' + @pivotValues + ')) AS InfoPivot' 
																														  
	SELECT @sqlString = 'SELECT P.*, 
						I.SiteIndex AS SiteIndex1,
						I.INVENTORY_DATE AS INVENTORY_DATE'+@GrossNet+','+
						'BEGIN_INVENTORYGross, BEGIN_INVENTORYNet,BOOK_INVENTORYGross,BOOK_INVENTORYNet,
						 TOTAL_ACTIVITYGross,TOTAL_ACTIVITYNet,
						 VARIANCEGross,VARIANCENet,TOTAL_VARIANCEGross,TOTAL_VARIANCENet,
						TotalMovementGross,TotalMovementNet,TOTAL_PHYSICAL_INVENTORYGross,TOTAL_PHYSICAL_INVENTORYNet,
						DailyVarianceGrossPercentage,DailyVarianceNetPercentage,TotalVarianceGrossPercentage,TotalVarianceNetPercentage,
						ToleranceGrossResult, ToleranceNetResult
	 FROM #InventoryReconcilation I Left Join ('+@sqlString+' ) AS P ON P.SiteIndex=I.SiteIndex AND P.INVENTORY_DATE=I.INVENTORY_DATE'

	--EXEC( @sqlString)

	---***************************Build InventoryReconcilation View using the user's View Definition*********
	Declare @sql nvarchar(2000)
	SET @sql =''
	SELECT @sql = @sql + '['+ColumnName + '] AS Column'+Convert(nvarchar(3),ColumnOrder)+','
	FROM #ViewDefinition
	Group By ColumnOrder, ColumnName

	SELECT @sql = LEFT(@sql, LEN(@sql) - 1)  --remove the last comma

	SELECT @sql = 'SELECT '+@sql + ',TotalMovementGross,TotalMovementNet,DailyVarianceGrossPercentage,DailyVarianceNetPercentage,TotalVarianceGrossPercentage,TotalVarianceNetPercentage,
						ToleranceGrossResult, ToleranceNetResult,TOTAL_ACTIVITYGross AS TotalActivityGross,TOTAL_ACTIVITYNet AS TotalActivityNet FROM ('+@sqlString+') AS T'
	--SELECT @sql
	EXEC(@sql)

	DELETE #Site
	DELETE #TransactionTable
	DELETE #TransactionTotals
	DELETE #Summary
	DELETE #InventoryReconcilation
	DELETE #ViewDefinition
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 

GRANT EXECUTE ON dbo.rpt_sp_ta_InventoryReconciliationSummary TO [public]
GO
