USE ConsolidatedDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_AlarmAndEventLogReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_AlarmAndEventLogReport
GO

create procedure [dbo].[rpt_sp_ta_AlarmAndEventLogReport]
 /*=============================================
 Author:	 			UNKNOWN
 Create date: 			
 Description: 
 Version:				7.5.1.0
 Execution:
				exec rpt_sp_ta_AlarmAndEventLogReport 1,'<all>','<all>','<all>','<all>','Both','12/1/2009','12/7/2009'	
		
 Modification History:
	Date		by		Description
	4/23/2009	UP		Rename [fm_AlarmAndEventLogReport] to [rpt_sp_ta_AlarmAndEventLogReport] for Standard Report
	12/9/2009	KF		Version 7.5.1.0

 =============================================*/


	@SiteIndex int,
	@Source nvarchar(120),
	@ID nvarchar(120),
	@CategoryID nvarchar(50),
	@PriorityID nvarchar(50),
	@Type nvarchar(10),
	@StartDate datetime,
	@EndDate datetime
AS BEGIN

IF @Source = '<All>' SET @Source = ''
IF @ID = '<All>' SET @ID = ''
IF @CategoryID = '<All>' SET @CategoryID = ''
IF @PriorityID = '<All>' SET @PriorityID = ''

select 
	CreatedDate = dbo.GetLocalTime(@SiteIndex,CreatedDate),
	--CreatedDate, 
	SequenceNumber,
	Source,
	ID,
	AssociatedData,
	CategoryID,
	PriorityID,
	Acknowledged
 
from 
	tblAlarmAndEventLog with (nolock)

where 
	SiteIndex = @SiteIndex
	and (dbo.[GetLocalTime](@SiteIndex,CreatedDate) >= @StartDate AND (dbo.[GetLocalTime](@SiteIndex,CreatedDate))<= @EndDate)
	--AND CreatedDate >= @StartDate AND CreatedDate <= @Enddate
	AND (@Source = null OR @Source = '' OR Source = @Source)
	AND (@ID = null OR @ID = '' OR ID = @ID)
	AND (@CategoryID = null OR @CategoryID = '' OR CategoryID = @CategoryID)
	AND (@PriorityID = null OR @PriorityID = '' OR PriorityID = @PriorityID)
	AND (@Type = 'Both' OR (@Type = 'Alarm' AND Alarm = 1) OR (@Type = 'Event' AND Alarm = 0))

order by 
	CreatedDate desc, SequenceNumber

END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.rpt_sp_ta_AlarmAndEventLogReport TO [public]
GO

