USE [ConsolidatedDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID(N'[rpt_fn_ta_AuthorizedCompanies]') IS NOT NULL
   DROP FUNCTION [rpt_fn_ta_AuthorizedCompanies]

GO

 /*=============================================
 Author:				Unknow
 Create date:			3/4/2010
 Description:			
 Version:				7.5.1.0
 Execution:		
		Select * from rpt_fn_ta_AuthorizedCompanies(1,1,2)

 Modification History:
	Date		by		Description
	3/4/2010	KF		Replaces system function AuthorizedCompanies. 
						This is only used for reports	

 =============================================*/

CREATE FUNCTION [dbo].[rpt_fn_ta_AuthorizedCompanies]
	(
		@LoginSiteIndex INT, 
		@SiteIndex INT, 
		@UserIndex INT
	)

RETURNS TABLE AS

RETURN 
    SELECT ID 
	FROM dbo.tblCompanies
	WHERE	CompanyIndex IN (SELECT [Index] FROM dbo.tblEntityToSiteMap WHERE TypeID = 'Companies' AND SiteIndex=@SiteIndex)
		AND (SiteIndex = @SiteIndex	OR 
			 CompanyIndex IN (SELECT [Index] FROM dbo.tblEntityToSiteMap WHERE TypeID = 'Companies' AND SiteIndex=@LoginSiteIndex))
		AND ((0 IN (SELECT AssignedIndex FROM dbo.tblCompanyMap WHERE Type = 6
		AND  AssignedToIndex IN (SELECT GroupIndex FROM dbo.tblUserGroupMap WHERE UserIndex = @UserIndex))) OR 
			 (CompanyIndex IN (SELECT AssignedIndex FROM dbo.tblCompanyMap WHERE Type = 6
		AND AssignedToIndex IN (SELECT GroupIndex FROM dbo.tblUserGroupMap WHERE UserIndex = @UserIndex))))

GO





