USE ConsolidatedDB

GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_LedgerList') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_LedgerList
GO

CREATE PROCEDURE [dbo].[rpt_sp_ta_LedgerList]
 /*=============================================
 Author:				Unknown
 Create date: 
 Description:			Monthly Ledger Report
 Version:				7.5.1.2
 Execution:
		Execute rpt_sp_ta_LedgerList '1/1/2010','1/30/2010','3427 - CITGO Petroleum Corp','0440','4001',1,1,2,0

 Modification History:
	Date		by		Description
	2/17/2009	KF		Adding function to pull additives volumes.
	2/18/2009	KF		Add @VolumeLength to enable decimal places for additives.
	4/16/20089	KF		Add with(nolock) to tables. 
	5/14/2009	KF		Changed name from fm_JournalList to rpt_citgo_sp_ta_LedgerList
	5/21/2009	IO		Modified < @EndDate to include date entered <= @EndDate
						Months that don't begin with a transaction add else statement
						IF( @InventoryDate > @BeginDate )
	7/13/2009	KF		Need to pull ledger for Tracked Products. Had to create temp tables
						@ProductIndex and @ProductAliasTable, Also to where clause 
						(l.Product = @Product OR l.Product IN (SELECT AliasName FROM @ProductAliasTable)) 
	7/23/2009	KF		Rename for Standard report from rpt_citgo_sp_ta_LedgerList to rpt_sp_ta_LedgerList
	12/10/2009	KF		Version 7.5.1.0
	3/8/2010	KF		AuthorizedCompanies replaced by rpt_fn_ta_AuthorizedCompanies
	3/9/2010	KF		Add '18' to be excluded from tblTransactionAliases.TransTypeID (Supply Order)
 =============================================*/

( 
	@BeginDate datetime,
	@EndDate datetime,
	@Manager nvarchar(30),
	@Owner nvarchar(30),
	@Product nvarchar(30),
	@LoginSiteIndex int,
	@SiteIndex int,
	@UserIndex int,
	@Gross bit
)
AS

DECLARE @ProductType int
SET @ProductType = (SELECT ProductType FROM tblProducts with(nolock) WHERE SiteIndex = @SiteIndex AND ProductID = @Product)

DECLARE @VolumeLength int
SET @VolumeLength = 10

DECLARE @VolumeUnits int
DECLARE @VolumeDecimalPlaces int

IF (@ProductType = 2)	-- Additive
	BEGIN
		SET @VolumeUnits = (SELECT tblSites.AdditiveVolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @SiteIndex)
		SET @VolumeDecimalPlaces = (SELECT tblSites.AdditiveVolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @SiteIndex)
	END
ELSE IF(@ProductType = 0)	-- Component
	BEGIN
		SET @VolumeUnits = (SELECT tblSites.VolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @SiteIndex)
		SET @VolumeDecimalPlaces = (SELECT tblSites.VolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @SiteIndex)
	END
ELSE	-- Default
	BEGIN
		SET @VolumeUnits = (SELECT tblSites.VolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @SiteIndex)
		SET @VolumeDecimalPlaces = (SELECT tblSites.VolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @SiteIndex)
	END

DECLARE @AuthorizedCompanies TABLE
(
	Company nvarchar (30)
)

INSERT INTO @AuthorizedCompanies SELECT * FROM rpt_fn_ta_AuthorizedCompanies(@LoginSiteIndex,@SiteIndex,@UserIndex)

DECLARE @SiteList TABLE
(
	Site nvarchar (50),
	PriorCloseoutDate datetime,
	PriorCloseoutGrossVolume float,
	PriorCloseoutNetVolume float
)

INSERT INTO @SiteList
	SELECT tblSites.ID, '1901-01-01', 0, 0
	FROM tblSiteToSiteMap with(nolock) , tblSites with(nolock) 
	WHERE ParentSiteIndex = @SiteIndex
	      AND ChildSiteIndex = tblSites.SiteIndex
	      AND tblSites.SiteGroupFlag = 0

UPDATE @SiteList
	 SET PriorCloseoutDate = b.CloseoutDate,
	     PriorCloseoutGrossVolume = b.GrossBookInventory,
	     PriorCloseoutNetVolume = b.NetBookInventory
	 FROM @SiteList a, tblOwnerCloseout b with(nolock) 
	 WHERE a.Site = b.Site
	       AND b.ManagerName = @Manager
	       AND b.OwnerName = @Owner
	       AND b.ProductName = @Product
	       AND b.CloseoutDate = (SELECT MAX(CloseoutDate)
				                 FROM tblOwnerCloseout c with(nolock) 
				                 WHERE a.Site = c.Site
				                       AND c.ManagerName = @Manager
				                       AND c.OwnerName = @Owner 
				                       AND c.ProductName = @Product
				                       AND c.CloseoutDate < @BeginDate)

-- Get the Transaction Aliases
DECLARE @AliasList TABLE
(
	AliasName nvarchar (30),
	TransTypeID int
)

INSERT INTO @AliasList
	SELECT tblTransactionAliases.AliasName,tblTransactionAliases.TransTypeID
	FROM tblTransactionAliases with(nolock) , 
        (SELECT tblEntityToSiteMap.*, (SELECT SubTable.SiteIndex 
                                       FROM tblEntityToSiteMap SubTable with(nolock) 
		                               WHERE SubTable.TypeID = 'Transaction Aliases'
		                                     AND SubTable.[Index] = tblEntityToSiteMap.[Index]
		                                     AND SubTable.SiteIndex = @LoginSiteIndex) AS LoginSiteIndex
		FROM tblEntityToSiteMap with(nolock) 
        WHERE TypeID = 'Transaction Aliases'
		      AND SiteIndex = @SiteIndex) tblEntities
	WHERE tblEntities.[Index] = tblTransactionAliases.AliasID
	      AND tblTransactionAliases.TransTypeID NOT IN(7,9,10,11,14,17,18)
	      AND (@SiteIndex <> @LoginSiteIndex
	           OR (tblTransactionAliases.SiteIndex = @SiteIndex OR tblEntities.LoginSiteIndex = @LoginSiteIndex))
	ORDER BY tblTransactionAliases.AliasName

------------------------- Add 7/13/2009
-- Get the ProductIndex
-----------------------
DECLARE @ProductIndex int
SET @ProductIndex = (SELECT ProductIndex FROM tblProducts
	WHERE ProductID = @Product
	AND ProductIndex IN 
	(SELECT [Index] FROM tblEntityToSiteMap
	WHERE SiteIndex = @SiteIndex))

---------------------------------------------------- Add 7/13/2009
-- Get the products assigned to Tracking Product
-----------------------------------------------------
DECLARE @ProductAliasTable TABLE (AliasName nvarchar (30));
INSERT INTO @ProductAliasTable
	SELECT ProductID FROM tblProducts
	WHERE TrackingProductIndex = @ProductIndex
    AND ProductIndex IN
    (SELECT [Index] FROM tblEntityToSiteMap
    WHERE SiteIndex = @SiteIndex)


-- Create the Journal Table Name
DECLARE @TableName nvarchar (40)
SELECT @TableName = 'Journal_' + CONVERT(nvarchar, GETDATE(), 126)
SET @TableName = (SELECT REPLACE(@TableName,'-', ''))
SET @TableName = (SELECT REPLACE(@TableName,':', ''))
SET @TableName = (SELECT REPLACE(@TableName,'.', ''))

-- Create the Journal Table
DECLARE @CreateJournalString nvarchar (2000)
SELECT @CreateJournalString = 'CREATE TABLE ' + @TableName + ' ([Inventory Date] datetime,[Begin Inventory] float, [Book Inventory] float'
DECLARE @InitializationString nvarchar (1000)
SELECT @InitializationString =
'	DECLARE @InventoryDate datetime' +
'	SELECT @InventoryDate = ''' + CONVERT(nvarchar,@BeginDate,101) + '''' +
'	DECLARE @EndDate datetime' +
'	SELECT @EndDate = ''' + CONVERT(nvarchar,@EndDate,101) + '''' +
'	WHILE (@InventoryDate <= @EndDate)'+		--******Fixed < @EndDate to include date entered (2009-05-21)*******
'	BEGIN'+
'		INSERT INTO ' + @TableName + ' ([Inventory Date], [Begin Inventory], [Book Inventory]'
DECLARE @InitialValuesString nvarchar (1000)
SELECT @InitialValuesString = '@InventoryDate, 0 ,0'
DECLARE @AliasName nvarchar (32)
DECLARE @TransTypeID int
DECLARE AliasCursor CURSOR FOR SELECT * FROM @AliasList 
OPEN AliasCursor
FETCH NEXT FROM AliasCursor INTO @AliasName,@TransTypeID
SET @AliasName = '[' + @AliasName + ']'
WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT @CreateJournalString = @CreateJournalString + ',' + @AliasName + ' float'
		SELECT @InitializationString = @InitializationString + ',' + @AliasName
		SELECT @InitialValuesString = @InitialValuesString + ', 0.0'
		FETCH NEXT FROM AliasCursor INTO @AliasName, @TransTypeID
		SET @AliasName = '[' + @AliasName + ']'
	END

SELECT @InitializationString = @InitializationString +
	') VALUES (' + @InitialValuesString + ') '+
	'	SELECT @InventoryDate = DATEADD(day, 1, @InventoryDate)' +
	'	END'
SELECT @CreateJournalString = @CreateJournalString + ')'
EXEC (@CreateJournalString)
EXEC (@InitializationString)
CLOSE AliasCursor

-- Update the Journal
DECLARE SiteCursor CURSOR FOR SELECT * FROM @SiteList
DECLARE @Site nvarchar (50)
DECLARE @PriorCloseoutDate datetime
DECLARE @PriorCloseoutGrossVolume float
DECLARE @PriorCloseoutNetVolume float
DECLARE @LedgerList TABLE (InventoryDate datetime,
	                       AliasName nvarchar (32),
	                       GrossQuantity float,
	                       NetQuantity float
                          )

DECLARE @LedgerInventoryDate datetime
DECLARE @LedgerAliasName nvarchar (32)
DECLARE @LedgerGrossQuantity float
DECLARE @LedgerNetQuantity float
DECLARE LedgerCursor  CURSOR FOR SELECT * FROM @LedgerList

-- Iterate for each Site
DECLARE @UpdateString nvarchar (1000)
OPEN SiteCursor
FETCH NEXT FROM SiteCursor INTO @Site, @PriorCloseoutDate, @PriorCloseoutGrossVolume, @PriorCloseoutNetVolume
WHILE @@FETCH_STATUS = 0
BEGIN
	DECLARE @InventoryDate datetime
	SELECT @InventoryDate = @PriorCloseoutDate
	DECLARE @SiteBookInventory float;

	IF(@Gross = 1)
		SELECT @SiteBookInventory = dbo.ConvertFromSIUnits(@PriorCloseoutGrossVolume, @VolumeUnits, @VolumeDecimalPlaces)
	ELSE
		SELECT @SiteBookInventory = dbo.ConvertFromSIUnits(@PriorCloseoutNetVolume ,@VolumeUnits, @VolumeDecimalPlaces)


	INSERT INTO @LedgerList 
      SELECT InventoryDate, AliasName,
	         ISNULL(SUM(dbo.ConvertFromSIUnits(GrossQuantity, @VolumeUnits, @VolumeDecimalPlaces)),0.0),
	         ISNULL(SUM(dbo.ConvertFromSIUnits(NetQuantity, @VolumeUnits, @VolumeDecimalPlaces)),0.0)
	  FROM
	  (
		(SELECT  t.InventoryDate, t.AliasName, l.GrossQuantity, l.NetQuantity 
		 FROM tblTransactionLineItems l with(nolock) LEFT OUTER JOIN tblTransactions t with(nolock) ON l.TransID = t.TransID
		 WHERE (l.Product = @Product OR 
				l.Product IN (SELECT AliasName FROM @ProductAliasTable)) AND --Fixed 7/13/2009
		       l.TransID = t.TransID AND
               t.Site = @Site AND
		       t.ManagerID = @Manager AND
		       t.InventoryDate <= @EndDate AND
		       t.InventoryDate > @PriorCloseoutDate AND
		       t.DeleteFlag = cast(0 as bit) AND
		       t.OwnerID = @Owner AND
		       EXISTS (SELECT Company
				       FROM @AuthorizedCompanies
			           WHERE Company IN (t.ShipToID, t.SupplierID, t.ShipperID, t.OwnerID, t.ManagerID, t.CarrierID, t.BillToID)) AND
		       t.AliasName IN (SELECT AliasName FROM @AliasList)
		)

		UNION ALL

		(SELECT InventoryDate, t.AliasName, l.GrossQuantity, l.NetQuantity
		 FROM tblTransactionSubLineItems l with(nolock) LEFT OUTER JOIN tblTransactions t with(nolock) ON l.TransID = t.TransID
		 WHERE (l.Product = @Product OR 
				l.Product IN (SELECT AliasName FROM @ProductAliasTable)) AND --Fixed 7/13/2009
		       l.TransID = t.TransID AND
               t.Site = @Site AND
		       t.ManagerID = @Manager AND
		       t.InventoryDate <= @EndDate AND
		       t.InventoryDate > @PriorCloseoutDate AND
		       t.DeleteFlag = cast(0 as bit) AND
		       t.OwnerID = @Owner AND
		       EXISTS (SELECT Company
				       FROM @AuthorizedCompanies
			           WHERE Company IN (t.ShipToID, t.SupplierID, t.ShipperID, t.OwnerID, t.ManagerID, t.CarrierID, t.BillToID)) AND
		       t.AliasName IN (SELECT AliasName FROM @AliasList)
		)
	) AS UNIONTABLE 
	GROUP BY InventoryDate, AliasName
	ORDER BY InventoryDate ASC,AliasName

	OPEN LedgerCursor
	FETCH NEXT FROM LedgerCursor INTO @LedgerInventoryDate, @LedgerAliasName, @LedgerGrossQuantity, @LedgerNetQuantity

	SELECT @InventoryDate = ISNULL(@LedgerInventoryDate, @EndDate)

-- Fix for months that don't begin with a transaction  --- *** FIXED (2009-05-21) *****
	IF( @InventoryDate > @BeginDate )
		BEGIN
			SELECT @UpdateString = 'UPDATE ' + @TableName
			                       + ' SET [Begin Inventory] = ' + STR(@SiteBookInventory,@VolumeLength,@VolumeDecimalPlaces)
			                       + ', [Book Inventory] = ' + STR(@SiteBookInventory,@VolumeLength,@VolumeDecimalPlaces)
			                       + '  WHERE [Inventory Date] < ''' + CONVERT(nvarchar, @InventoryDate,101) + ''''
			EXEC (@UpdateString)
		END

	WHILE (@InventoryDate <= @EndDate)		--- *** FIXED (2009-05-21) *****
	BEGIN

		IF(@InventoryDate >= @BeginDate)
		BEGIN
			SELECT @UpdateString = 'UPDATE ' + @TableName
			                       + ' SET [Begin Inventory] = [Begin Inventory]+' + STR(@SiteBookInventory,@VolumeLength,@VolumeDecimalPlaces)
			                       + ', [Book Inventory] = [Book Inventory]+' + STR(@SiteBookInventory,@VolumeLength,@VolumeDecimalPlaces)
			                       + '  WHERE [Inventory Date] = ''' + CONVERT(nvarchar, @InventoryDate,101) + ''''

			EXEC (@UpdateString)
		END

		OPEN AliasCursor
		FETCH NEXT FROM AliasCursor INTO @AliasName,@TransTypeID
		WHILE @@FETCH_STATUS = 0
		BEGIN
		

			IF (@InventoryDate = @LedgerInventoryDate AND @AliasName = @LedgerAliasName)
			BEGIN
				DECLARE @AliasInventory float
				IF(@Gross = 1)
					SELECT @AliasInventory = @LedgerGrossQuantity
				ELSE
					SELECT @AliasInventory = @LedgerNetQuantity

				IF(@InventoryDate >= @BeginDate)
				BEGIN
				
					SET @AliasName ='['+ @AliasName+']'	
					SELECT @UpdateString = 'UPDATE '+ @TableName + ' SET ' + @AliasName + ' = ' + @AliasName + '+' + STR(@AliasInventory,@VolumeLength,@VolumeDecimalPlaces)
					                       + '  WHERE [Inventory Date] = ''' + CONVERT(nvarchar, @InventoryDate,101) + ''''
	
					EXEC (@UpdateString)
	
					IF(@TransTypeID <> 12)
					BEGIN
						SELECT @UpdateString = 'UPDATE ' + @TableName + ' SET [Book Inventory] = [Book Inventory]+'
						                       + STR(@AliasInventory,@VolumeLength,@VolumeDecimalPlaces)
						                       + '  WHERE [Inventory Date] = ''' + CONVERT(nvarchar, @InventoryDate,101) + ''''

						EXEC(@UpdateString)
					END
				END

				IF(@TransTypeID <> 12)
					SELECT @SiteBookInventory = @SiteBookInventory + @AliasInventory

				FETCH NEXT FROM LedgerCursor INTO @LedgerInventoryDate, @LedgerAliasName, @LedgerGrossQuantity, @LedgerNetQuantity
			END

			FETCH NEXT FROM AliasCursor INTO @AliasName, @TransTypeID
		END

		CLOSE AliasCursor
		SELECT @InventoryDate = DATEADD(day, 1, @InventoryDate)

	END

	CLOSE LedgerCursor
	DELETE FROM @LedgerList
	FETCH NEXT FROM SiteCursor INTO @Site, @PriorCloseoutDate, @PriorCloseoutGrossVolume, @PriorCloseoutNetVolume
END

CLOSE SiteCursor
DEALLOCATE SiteCursor


-- Final Query
DECLARE @QueryString nvarchar (100)
SELECT @QueryString = 'SELECT * FROM ' + @TableName
EXEC (@QueryString)

-- Drop the Journal
DECLARE @DropString nvarchar (100)
SELECT @DropString = 'DROP TABLE ' + @TableName
EXEC (@DropString)

print @EndDate




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 

GRANT EXECUTE ON dbo.rpt_sp_ta_LedgerList TO [public]
GO