USE ConsolidatedDB

GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_ProductsConfigurationReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_ProductsConfigurationReport
GO


CREATE PROCEDURE [dbo].[rpt_sp_ta_ProductsConfigurationReport]
  /*=============================================
 Author:	   
 Create date: 
 Description: 
 Version:				7.5.1.0
 Execution:
		EXEC rpt_sp_ta_ProductsConfigurationReport 1		

 Modification History:
	Date		by		Description
	6/15/2009	UP		Rename from fm_ProductsConfigurationReport to rpt_sp_ta_ProductsConfigurationReport
	12/10/2009	KF		Version 7.5.1.0
 =============================================*/

	@SiteIndex int
AS

begin

select	p.ProductID as ID,
		p.ProductCode as Code,
		p.Description,
		case p.ProductType	when 0 then 'Tank Product'	-- COMPONENT_PRODUCT = 0,
							when 1 then 'Blend'			-- BLEND_PRODUCT = 1,
							when 2 then 'Additive'		-- ADDITIVE_PRODUCT = 2,
							when 3 then 'Additized'		-- ADDITIZED_PRODUCT = 3,
		end as ProductType,
		p.PIDXFamilyCode as PIDXCode


from	tblProducts p with(nolock)

where	p.SiteIndex = @SiteIndex 

order by	p.ProductID

end


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 
GRANT EXECUTE ON dbo.rpt_sp_ta_ProductsConfigurationReport TO [public]
GO

