USE ConsolidatedDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_CompanyReport') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_CompanyReport
GO

create procedure [dbo].[rpt_sp_ta_CompanyReport]
 /*=============================================
 Author:	 			UNKNOWN
 Create date: 			
 Description: 			
 Version:				7.5.1.0
 Execution:	
			Execute rpt_sp_ta_CompanyReport 1,1,2,0
 Modification History:
	Date		by		Description
	4/29/2009	UP		Rename from [fm_CompanyReport] to rpt_sp_ta_CompanyReport
	5/1/2009	UP		Add Userindex paramter
	12/9/2009	KF		Version 7.5.1.0
 =============================================*/
(
	@LoginSiteIndex int,
	@SiteIndex int,
	@UserIndex int,
	@Role int
)
as 
begin

select	distinct c.ID as CompanyID,
		c.AccountNumber, 
		c.[Name] as CompanyName,
		c.EffectiveDate, 
		c.ExpirationDate,
		case when c.LockedOut = 1 then 'Yes' else 'No' end as LockedOut

from tblCompanies c with(noLock) , tblCompanyRoleMap crm with(noLock) , 
	(select tblEntityToSiteMap.*,
	    (select SubTable.SiteIndex 
         from tblEntityToSiteMap SubTable with(noLock) 
	     where SubTable.TypeID = 'Companies'
	           and SubTable.[Index] = tblEntityToSiteMap.[Index]
  	           and SubTable.SiteIndex = @LoginSiteIndex
        ) as LoginSiteIndex
	from tblEntityToSiteMap with(noLock) 
	where TypeID = 'Companies'
	   and SiteIndex = @SiteIndex
	) tblEntities 

where tblEntities.[Index] = c.CompanyIndex
      and (@SiteIndex <> @LoginSiteIndex or (c.SiteIndex = @SiteIndex OR tblEntities.LoginSiteIndex = @LoginSiteIndex))
      and crm.CompanyIndex = c.CompanyIndex
      and (@Role = -999 or (crm.Role = @Role))
      and crm.SiteIndex = @SiteIndex

order by c.ID

end



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.rpt_sp_ta_CompanyReport TO [public]
GO
