USE [ConsolidatedDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.[rpt_ds_sp_EndMonthDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.[rpt_ds_sp_EndMonthDate]
GO


CREATE PROCEDURE [dbo].[rpt_ds_sp_EndMonthDate]

 /*=============================================
 Author:	 			UNKNOWN
 Create date: 			
 Description: 			New report
 Version:				7.5.1.0
 Modification History:
	Date		by		Description
	

 =============================================*/
/*

*/

AS

DECLARE @currentdate datetime;
DECLARE @endlastmonthdate datetime;
DECLARE @day int;
DECLARE @millisec int;
DECLARE @sec int;
DECLARE @min int;
DECLARE @hour int;

SELECT @currentdate = GETDATE();

SELECT @day = DATEPART(day, @currentdate);
SELECT @millisec = DATEPART(millisecond, @currentdate);
SELECT @sec = DATEPART(second, @currentdate);
SELECT @min = DATEPART(minute, @currentdate);
SELECT @hour = DATEPART(hour, @currentdate);

SELECT @endlastmonthdate = DATEADD(millisecond, (-@millisec), @currentdate);
SELECT @endlastmonthdate = DATEADD(second, (-@sec), @endlastmonthdate);
SELECT @endlastmonthdate= DATEADD(minute, (-@min), @endlastmonthdate);
SELECT @endlastmonthdate = DATEADD(hour, (-@hour), @endlastmonthdate);

SELECT @endlastmonthdate = DATEADD(day,(-@day)+1,@endlastmonthdate);
SELECT @endlastmonthdate = DATEADD(month,1,@endlastmonthdate);
SELECT @endlastmonthdate = DATEADD(day,-1,@endlastmonthdate);

SELECT @endlastmonthdate as EndMonthDate




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.[rpt_ds_sp_EndMonthDate] TO [public]
GO
