USE [ConsolidatedDB]
GO


SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_sp_ta_MeterReconciliationSummary') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_sp_ta_MeterReconciliationSummary
GO

CREATE PROCEDURE dbo.rpt_sp_ta_MeterReconciliationSummary
/*************
Author:		
Create date: 
Description:
Version:	7.5.1.4
Execution:
				Execute rpt_sp_ta_MeterReconciliationSummary '12/1/2009','12/7/2009',1,1,2,'3427 - CITGO Petroleum Corp','BOL',1

	Date					By		Description
10/24/2007	AS		add Batch Number, add code to handle previous meter is null
11/06/2007	AS		Add MeterCloseout section
11/13/2007	AS		Add Preset
02/25/2008	AS		Change LoadingLocationID from tblTransaction to tblTransactionlineItem
05/21/2008	AS		Add code to handle Additive Meter data
07/29/2008	AS		Add code to handle NULL Meter Start and Stop;
									Display Reversal and Upated transaction;
									tranactions queried by TransactionDate
08/04/2008	AS		change MeterStart and Stop time to local time
08/07/2008	AS		change back to query by InventoryDate because Meter Closeout record cross midnight
								could have transactionDate on next day but inventory date on previouse date
12/16/2008	AS		Remove product
12/17/2008	KF		Change sorts to MeterID, MeterStart
12/18/2008	KF		(ReversalType IS NULL OR ReversalType ='U') changed to (ReversalType IS NULL OR ReversalType ='O')
									To remove reversal transactions.
12/22/2008	KF		ORDER BY ProductType Desc,MeterID,InventoryDate,Product,MeterStartDateTime,Station,ArmNumber 
									changed to ORDER BY MeterID,Station,ArmNumber,InventoryDate,MeterStartDateTime,ProductType Desc
12/23/2008	KF		ORDER BY MeterID,ArmNumber,MeterStartDateTime,ProductType Desc
									changed to ORDER BY MeterID,MeterStart,MeterStartDateTime,ProductType Desc
1/9/2009	KF		Need to have an specific order for the meterid's. ex: 11P,11U,13P,13U,12,13,14,111,113,122
1/15/2009	KF		Add @AdditiveVolumeDecimalPlaces as DecimalPlaces
1/15/2009	KF		Changed the meterid order from ex: 11P,11U,13P,13U,12,13,14,111,113,122 to
									ex: 11P,11U,12,13P,13U,13,14,22P,22U,111,113,122
3/25/2009	KF		Add @AuthorizedCompanies to create Userdefine functionality. 
4/28/2009	KF		Add with(nolock) to tables. Recieved deadlock on South Portland Site.
6/10/2009	UP		Rename from fm_MeterReconciliation to rpt_sp_ta_MeterReconciliation
8/26/2009	KF		(ReversalType IS NULL OR ReversalType ='O') changed to (ReversalType IS NULL OR ReversalType in('U','RU') 
									to put back reversal transactions.
9/1/2009	KF		Add ReversalType 'O' back in sp.
9/2/2009	KF		Add @AliasName and remove TransType IN (3,4,5,6)
9/14/2009	KF		Include all Reversal Types ('O','R','U','RU','UO')	
12/8/2009	KF		changed function AliasList to rpt_fn_ta_AliasList	
2/9/2010	KF		Version changed due to change in report.
3/8/2010	KF		AuthorizedCompanies replaced by rpt_fn_ta_AuthorizedCompanies
5/11/2010	KF		Version change due to change in report.
7/12/2010	KF		Add @Additives to exclude Additives. 1 = Yes, 0 = No
*********************/

( 
	@BeginDate datetime,
	@EndDate datetime,
	@LoginSiteIndex int,
	@SiteIndex int,
	@UserIndex int,
	@Manager nvarchar(30),
	@AliasName nvarchar(64),
	@Additives bit

)
AS

DECLARE @VolumeUnits int
SET @VolumeUnits = (SELECT VolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @AdditiveVolumeUnits int
SET @AdditiveVolumeUnits = (SELECT AdditiveVolumeUnitIndex FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @VolumeDecimalPlaces int
SET @VolumeDecimalPlaces = (SELECT VolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @AdditiveVolumeDecimalPlaces int
SET @AdditiveVolumeDecimalPlaces = (SELECT AdditiveVolumeDecimalPlaces FROM tblSites with(nolock) WHERE tblSites.SiteIndex = @LoginSiteIndex)

DECLARE @EndInventoryDate datetime
SET	@EndInventoryDate = @EndDate  -- preserve the EndDate as InventoryDate first

SET @EndDate = DateAdd(second,-1,DateAdd(day,1,@EndDate))

-- Get the Authorized Companies
DECLARE @AuthorizedCompanies TABLE (CompanyID nvarchar(30))
INSERT INTO @AuthorizedCompanies SELECT ID FROM rpt_fn_ta_AuthorizedCompanies(@LoginSiteIndex, @SiteIndex, @UserIndex)

SELECT	ID AS Site,
		SiteIndex
INTO	#Site
FROM	tblSites with(nolock) ,tblSiteToSiteMap with(nolock)  
WHERE	ParentSiteIndex = @SiteIndex 
		AND ChildSiteIndex = tblSites.SiteIndex --???
		AND SiteGroupFlag = 0

-- Get the Transaction Aliases --shall we filter here though???
DECLARE @AliasList TABLE
(
	AliasName nvarchar (30),
	TransTypeID int
)

INSERT INTO @AliasList 
SELECT * 
FROM rpt_fn_ta_AliasList(@LoginSiteIndex,@SiteIndex) 
ORDER BY AliasName 

--SELECT * from @AliasList

--Get Meter Closeout Transactions first
--Get earliest Meter Closeout records if exist, each meter may have differnt date
   SELECT   SiteIndex,
			MeterID,
			MeterDate = 
			CASE
				WHEN Max(InventoryDate) IS NOT Null THEN Max(InventoryDate)
				ELSE '1901-01-01'
			END,
			BeginOrEnd = 'Begin'
   INTO		#MeterCloseoutRecords
   FROM dbo.tblTransactions T with(nolock) Right Join dbo.tblTransactionLineItems L with(nolock) ON T.TransID = L.TransID
   WHERE SiteIndex IN (SELECT SiteIndex FROM #Site)
		 AND ManagerID = @Manager
		 AND TransTypeID = 12 AND AliasName = 'Meter Closeout'
		 AND InventoryDate < @BeginDate --Meter start is previous day's Meter stop
		 AND (ReversalType IS NULL OR ReversalType in('O','R','U','RU','UO'))  --****Add 8/26/2009, 9/1/2009, 9/14/2009 kf
		 AND EXISTS (SELECT CompanyID 
		            FROM @AuthorizedCompanies 
			        WHERE CompanyID IN (T.CarrierID, T.ShipperID, T.ShipToID, T.SupplierID, T.ManagerID, T.OwnerID, T.BillToID)) 
		 AND T.DeleteFlag = cast(0 as bit)
	Group BY SiteIndex, L.MeterID--, L.Product
	UNION			--Get latest Meter Closeout records if exist, each meter may have different date
	SELECT SiteIndex,
			MeterID,
			MeterDate = 
			CASE
				WHEN Max(InventoryDate) IS NOT Null THEN Max(InventoryDate)
				ELSE '1901-01-01'
			END,
			--Product,
			BeginOrEnd ='End'
   FROM dbo.tblTransactions T with(nolock) Right Join dbo.tblTransactionLineItems L with(nolock) ON T.TransID = L.TransID
   WHERE SiteIndex IN (SELECT SiteIndex FROM #Site)
		 AND ManagerID = @Manager
		 AND TransTypeID = 12 AND AliasName = 'Meter Closeout'
		 AND InventoryDate <= @EndDate 
		 AND (ReversalType IS NULL OR ReversalType in('O','R','U','RU','UO'))  --****Add 8/26/2009, 9/1/2009, 9/14/2009 kf
		 AND EXISTS (SELECT CompanyID 
		            FROM @AuthorizedCompanies 
			        WHERE CompanyID IN (T.CarrierID, T.ShipperID, T.ShipToID, T.SupplierID, T.ManagerID, T.OwnerID, T.BillToID)) 
		 AND T.DeleteFlag = cast(0 as bit)
	Group BY T.SiteIndex, L.MeterID--,L.Product
	ORDER BY SiteIndex,MeterID--,Product

	SELECT	B.SiteIndex,
			B.MeterID,
			MeterReading= 
			CASE
				WHEN Max(MeterStop) IS NULL THEN 0
				ELSE Max(MeterStop)
			END,
			B.MeterDate,
			B.BeginOrEnd
	INTO	#MeterCloseout
	FROM  #MeterCloseoutRecords B Left Join (dbo.tblTransactions T with(nolock) Right Join dbo.tblTransactionLineItems L with(nolock) ON T.TransID = L.TransID) 
		  ON B.SiteIndex = T.SiteIndex AND B.MeterID = L.MeterID AND B.MeterDate = T.InventoryDate --AND B.Product = L.Product
	WHERE ManagerID = @Manager
		 AND TransTypeID = 12 AND AliasName = 'Meter Closeout'
		 AND (ReversalType IS NULL OR ReversalType in('O','R','U','RU','UO')) --****Add 8/26/2009, 9/1/2009, 9/14/2009 kf
		AND EXISTS (SELECT CompanyID 
		            FROM @AuthorizedCompanies 
			        WHERE CompanyID IN (T.CarrierID, T.ShipperID, T.ShipToID, T.SupplierID, T.ManagerID, T.OwnerID, BillToID)) 
		 AND T.DeleteFlag = cast(0 as bit)
Group By B.SiteIndex, B.MeterID,B.MeterDate,B.BeginOrEnd
	ORDER BY SiteIndex,MeterID--,Product

--select * from #MeterCloseoutRecords

-- Get Transactions from @BeginDate to @EndDate
SELECT	SiteIndex, 
		InventoryDate,
		AliasName,
		TransTypeID,
		TransID,
		ShipToID,
		CarrierID,
		PONumber,
		DocumentNumber		
INTO	#TransactionTable
FROM	tblTransactions a with(nolock) 
WHERE	    AliasName = @AliasName								-- *** Add 9/2/2009 kf
		AND SiteIndex IN (SELECT SiteIndex FROM #Site)
		AND ((dbo.GetLocalTime(@SiteIndex,TransDateTime) > =@BeginDate 
			 AND dbo.GetLocalTime(@SiteIndex,TransDateTime) <=@EndDate
        AND InventoryDate>=@BeginDate) OR InventoryDate Between @BeginDate AND @EndInventoryDate) -- cross midnight trans can have inventory date earlier than transaction datetime
		AND ManagerID = @Manager
	    AND (ReversalType IS NULL OR ReversalType in('O','R','U','RU','UO')) --****Add 8/26/2009, 9/1/2009, 9/14/2009 kf
		AND EXISTS (SELECT CompanyID 
		            FROM @AuthorizedCompanies 
			        WHERE CompanyID IN (a.CarrierID, a.ShipperID, a.ShipToID, a.SupplierID, a.ManagerID, a.OwnerID, a.BillToID)) 
		AND a.DeleteFlag = cast(0 as bit)

--SELECT * from #transactiontable

SELECT	l.TransLineItemID AS ID,
		t.*,
		l.Product,
		l.DestinationRegistrationID,
		IsNull(-1*dbo.ConvertFromSIUnits(l.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Gross,
		IsNull(-1*dbo.ConvertFromSIUnits(l.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Net,
		l.ArmNumber,
		l.MeterID,
		dbo.GetLocalTime(@SiteIndex,l.MeterStartDateTime) AS MeterStartDateTime ,
		dbo.GetLocalTime(@SiteIndex,l.MeterStopDateTime) AS MeterStopDateTime,
		l.MeterStart,
		l.MeterStop,
		l.BatchNumber,
		l.CreatedBy,
		IsNull(dbo.ConvertFromSIUnits(l.PresetAmount,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Preset,
		l.LoadingLocationID AS Station,
		l.ProductType
INTO #Transactions
FROM tblTransactionLineItems l with(nolock) LEFT OUTER JOIN #TransactionTable t ON l.TransID = t.TransID
WHERE	
		l.TransID = t.TransID AND
		l.DeleteFlag = cast(0 as bit)
		AND l.ProductType<>'Blend' --blend has blank meter
UNION ALL
SELECT	
		l.TransSubLineItemID AS ID,
		t.*,
		l.Product,
		I.DestinationRegistrationID,
		Gross = 
		CASE WHEN l.ProductType ='Additive' THEN IsNull(-1*dbo.ConvertFromSIUnits(l.GrossQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces),0.0)
			 ELSE IsNull(-1*dbo.ConvertFromSIUnits(l.GrossQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0) 
		END,
		Net = 
		CASE WHEN l.ProductType ='Additive' THEN IsNull(-1*dbo.ConvertFromSIUnits(l.NetQuantity,@AdditiveVolumeUnits,@AdditiveVolumeDecimalPlaces),0.0)
			 ELSE IsNull(-1*dbo.ConvertFromSIUnits(l.NetQuantity,@VolumeUnits,@VolumeDecimalPlaces),0.0)
		END,
		l.ArmNumber,
		l.MeterID,
		dbo.GetLocalTime(@SiteIndex,l.MeterStartDateTime) AS MeterStartDateTime ,
		dbo.GetLocalTime(@SiteIndex,l.MeterStopDateTime) AS MeterStopDateTime,
		l.MeterStart,
		l.MeterStop,
		l.BatchNumber,
		l.CreatedBy,
		IsNull(dbo.ConvertFromSIUnits(l.PresetAmount,@VolumeUnits,@VolumeDecimalPlaces),0.0) AS Preset,
		I.LoadingLocationID AS Station,
		l.ProductType
FROM  (tblTransactionSubLineItems l with(nolock) LEFT OUTER JOIN tblTransactionLineItems I with(nolock) ON l.TransLineItemID = I.TransLineItemID AND l.TransID = I.TransID)
		LEFT OUTER JOIN #TransactionTable t ON l.TransID = t.TransID
WHERE	
		l.TransID = t.TransID AND
		l.DeleteFlag = cast(0 as bit)
ORDER BY MeterID,MeterStart,MeterStartDateTime,ProductType Desc


--Select * from #Transactions

SELECT Identity (int,1,1) AS RecNo,
		T.*,
		0 AS PreviousMeterStop,
		0 AS MeterSkip
INTO	#TransTemp 
FROM #Transactions T

--SELECT * from #TransTemp

--Assume MeterID is unique cross all stations
UPDATE #TransTemp
SET PreviousMeterStop =
	CASE
	WHEN T2.MeterStop Is Null Then 0
	ELSE T2.MeterStop
	END,
	MeterSkip =
	CASE 
	WHEN T2.MeterStop = 0 OR T2.MeterStop Is Null OR T1.MeterStart IS NULL THEN 0	
	ELSE T1.MeterStart - T2.MeterStop
	END
FROM #TransTemp AS T1 
		join (SELECT * FROM #TransTemp) AS T2 ON 
			T1.MeterID = T2.MeterID AND 
			T1.RecNo = T2.RecNO+1

/***
Master Select Statement
***/

IF @Additives = '0'
		
	BEGIN

			SELECT	T.*,
					CASE WHEN DATALENGTH( dbo.rpt_st_fn_LJust(t.meterid,1,default)) = 2 or  
								isnumeric(t.meterid) <> 1
															then 2
						 When DATALENGTH( dbo.rpt_st_fn_LJust(t.meterid,1,default)) = 3
															then 3
																	else 1 end as alpha,
					M.MeterReading AS MeterCloseoutStart,
					M2.MeterReading AS MeterCloseoutStop,
					@AdditiveVolumeDecimalPlaces as DecimalPlaces
			FROM (#TransTemp T	
						Left Join #MeterCloseout M ON 
									T.MeterID = M.MeterID AND 
									M.BeginOrEnd ='Begin') 
				  Left Join #MeterCloseout M2 ON 
							T.MeterID=M2.MeterID AND 
							M2.BeginOrEnd ='End'
		   ORDER BY alpha,t.meterid

END
	ELSE ---Exclude Additives -- Add 7/12/2010 kf
		
		BEGIN


			SELECT	T.*,
					CASE WHEN DATALENGTH( dbo.rpt_st_fn_LJust(t.meterid,1,default)) = 2 or  
								isnumeric(t.meterid) <> 1
															then 2
						 When DATALENGTH( dbo.rpt_st_fn_LJust(t.meterid,1,default)) = 3
															then 3
																	else 1 end as alpha,
					M.MeterReading AS MeterCloseoutStart,
					M2.MeterReading AS MeterCloseoutStop,
					@AdditiveVolumeDecimalPlaces as DecimalPlaces
			FROM (#TransTemp T	
						Left Join #MeterCloseout M ON 
									T.MeterID = M.MeterID AND 
									M.BeginOrEnd ='Begin') 
				  Left Join #MeterCloseout M2 ON 
							T.MeterID=M2.MeterID AND 
							M2.BeginOrEnd ='End'

		   WHERE ProductType <> 'Additive'

		   ORDER BY alpha,t.meterid

END




DELETE #TransTemp
DELETE #Transactions
DELETE #TransactionTable
DELETE #Site
DELETE #MeterCloseoutRecords
DELETE #MeterCloseout





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
 

GRANT EXECUTE ON dbo.rpt_sp_ta_MeterReconciliationSummary TO [public]
GO








