USE ConsolidatedDB
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.rpt_ds_sp_CompanyList') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
Drop Procedure dbo.rpt_ds_sp_CompanyList
GO

CREATE PROCEDURE [dbo].[rpt_ds_sp_CompanyList] 
 /*=============================================
 Author:	 			UNKNOWN
 Create date: 			
 Description: 
 Version:				7.5.1.0			
 Modification History:
	Date		by		Description
	4/28/2009	UP		Rename from [fm_companylist] to [rpt_ds_sp_CompanyList]

 =============================================*/

(
	@LoginSiteIndex int,
	@SiteIndex int,
	@Role int,
	@HasAllItem bit
)
AS
BEGIN
	SELECT* FROM CompanyList(@LoginSiteIndex,@SiteIndex,@Role,@HasAllItem) ORDER BY CompanyName
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
GRANT EXECUTE ON dbo.rpt_ds_sp_CompanyList TO [public]
GO

