USE ConsolidatedDB

GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

If exists (Select * From dbo.sysobjects Where id = object_id(N'dbo.[vwAdditiveProfileProducts]') and OBJECTPROPERTY(id, N'IsView') = 1)
Drop View dbo.[vwAdditiveProfileProducts]
GO

CREATE VIEW [dbo].[vwAdditiveProfileProducts] 

 /*=============================================
 Author:				UNKNOWN	   
 Create date: 
 Description: 
 Version:				7.5.1.1
			
 Modification History:
	Date		by		Description
	3/2/2010	KF		AdditiveProfileID changed tables from tblapplicationstring
						to tblAdditiveProfiles
	9/20/2010	KF		Add if exist to view command line above.
 =============================================*/


AS

Select	a.SiteIndex, 
		a.[id] as AdditiveProfileID, 
		a.[index] as AdditiveProfileIndex, 
		p.ProductID, 
		pm.assignedindex as ProductIndex, 
		dbo.ConvertFromSIUnits( pm.AdditiveRate, 
								(SELECT tblSites.AdditiveProfileRateUnitIndex FROM tblSites WHERE tblSites.SiteIndex = a.SiteIndex), 
								(SELECT tblSites.AdditiveProfileRateDecimalPlaces FROM tblSites WHERE tblSites.SiteIndex = a.SiteIndex)) as AdditiveRate,
		dbo.ConvertFromSIUnits( pm.AdditiveCycleVolume, 
								(SELECT tblSites.AdditiveProfileCycleAmountUnitIndex FROM tblSites WHERE tblSites.SiteIndex = a.SiteIndex),
								(SELECT tblSites.AdditiveProfileCycleAmountDecimalPlaces FROM tblSites WHERE tblSites.SiteIndex = a.SiteIndex)) as AdditiveCycleVolume,	
		pm.UpdatedDate
From	tblAdditiveProfiles a, tblproductmap pm, tblproducts p
Where	a.[index] = pm.assignedtoindex and 
		pm.assignedindex = p.productindex and
		pm.[type] = 5 and	-- ADDITIVE_PROFILE_MAP
		a.[index] in (select [index]
					  from tblentitytositemap 
					  where	typeid = 'Additive Profiles' and 
					  siteindex = a.SiteIndex )





