<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WsHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
        <!--<binding name="SiteOmatClassSoap" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None">
                            <extendedProtectionPolicy policyEnforcement="Never"/>
                        </transport>
                    </security>
                </binding>-->
      </wsHttpBinding>
      <netTcpBinding>
		  <binding name="NetTcpBindingIIS" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true" sendTimeout="00:30:00" receiveTimeout="00:30:00">
			  <readerQuotas maxArrayLength="2147483647" maxDepth="64" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
		  </binding>
	  </netTcpBinding>
	  <netNamedPipeBinding>
		<binding name="NetNamedPipeBinding" maxReceivedMessageSize="2147483647">
			<security mode="Transport"/>
		</binding>
	  </netNamedPipeBinding>
	  <customBinding>
        <binding name="SiteOmatClassSoap" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
          <httpsTransport maxReceivedMessageSize="655360000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://gasboy/SiteOmatService/SiteOmatService.asmx" binding="customBinding" bindingConfiguration="SiteOmatClassSoap" contract="Gasboy.SiteOmatClassSoap" name="SiteOmatClassSoap" />
    </client>
    <services>
      <service name="FuelsManager.Afss.Module.Gasboy.ServiceProcess.ServiceClasses.GasboyStationServices">
        <endpoint address="IGasboyStationServices.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBindingIIS" contract="FuelsManager.Afss.Module.Gasboy.BusinessObjects.ServiceProcessInterfaces.IGasboyStationServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/AfssServiceProcess" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <appSettings>
	<!-- use netNamedPipeBinding if all web services and clients are hosted on the same machine. Add net.pipe to list of enabled protocols in IIS accepted by a web site.
		<add key="bindingName" value="NetNamedPipeBinding" />
		<add key="endPointAddress" value="net.pipe://localhost/FMBusinessServices" />
	-->
	<add key="bindingName" value="NetTcpBindingIIS" />
    <add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices" />
	<!-- use netNamedPipeBinding if all web services and clients are hosted on the same machine. Add net.pipe to list of enabled protocols in IIS accepted by a web site.
		<add key="GasboyBindingName" value="NetNamedPipeBinding" />
		<add key="GasboyEndPointAddress" value="net.pipe://localhost/GasboyBusinessServices" />
	-->
	<add key="GasboyBindingName" value="NetTcpBindingIIS" />
    <add key="GasboyEndPointAddress" value="net.tcp://localhost:808/GasboyBusinessServices" />
    <add key="AfssServiceProcessBindingName" value="NetTcpBindingIIS" />
    <add key="AfssServiceProcessEndPointAddress" value="net.tcp://localhost:8733/AfssServiceProcess" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="periodicPollingInterval" value="2" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>