<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="FMBusinessServicesBinding" maxReceivedMessageSize="2147483647" maxConnections="100" listenBacklog="100">
          <!--					
          <security mode="None">
						<message clientCredentialType="None" />
						<transport clientCredentialType="None" />
					</security>
          -->
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security> 
				</binding>
			</netTcpBinding>
      <netNamedPipeBinding>
        <binding name="FMBusinessServicesNetNamedPipeBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
	</system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <!--		<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\FuelsManagerLogs\FMOpcUaServerTraces.svclog"/>
				</listeners>
			</source>-->
    </sources>
    <switches>
      <add name="System.Net.Sockets" value="Information, ActivityTracing"/>
    </switches>
    <sharedListeners>
      <!--<add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\FDSIMLogs\FMOpcUaServerTraces.log"/>-->
      <add name="System.Net" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\FDSIMLogs\FMOpcUaServerTraces.svclog"/>
    </sharedListeners>
  </system.diagnostics>
	<appSettings>
    <!-- Recommended: For better performance use NetNamedPipeBidning in place of NetTcpBindingIIS when this service and FMBusinessService are hosted on same machine.-->
    <!--
    <add key="bindingName" value="FMBusinessServicesNetNamedPipeBinding" />
    <add key="endPointAddress" value="net.pipe://localhost/FMBusinessServices" />
    -->
    <add key="bindingName" value="FMBusinessServicesBinding" />
		<add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices" />
		<add key="AutoAcceptUntrustedCertificates" value="true" />
		<add key="RejectUnknownRevocationStatus" value="false" />
		<add key="OpcUaDeleteOnLoad" value="true" />
		<add key="HttpsPort" value="40002" />
		<add key="OpcTcpPort" value="40003" />
		<add key="OpcUaTraceMasks" value="1" />
		<add key="TraceMasks" value="2147483647" />
		<add key="ReverseConnectURL" value="localhost:40004" />
		<add key="OpcUaCertificateLifeTime" value ="12"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="62e1b5ec1eec9bdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.15.93" newVersion="1.0.15.93" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.27.0" newVersion="3.1.27.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
		</dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Core" publicKeyToken="bfa7a73c5cf4b6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.370.0" newVersion="1.4.370.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Security.Certificates" publicKeyToken="bfa7a73c5cf4b6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.370.0" newVersion="1.4.370.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Configuration" publicKeyToken="bfa7a73c5cf4b6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.370.0" newVersion="1.4.370.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Server" publicKeyToken="bfa7a73c5cf4b6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.367.0" newVersion="1.4.367.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.22.0" newVersion="2.1.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.1" newVersion="4.3.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.25.0" newVersion="2.1.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.27.0" newVersion="3.1.27.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.27.0" newVersion="3.1.27.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Connections.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.27.0" newVersion="3.1.27.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
