use AviationDB
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ASC_CompileDefuelActivity]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ASC_CompileDefuelActivity]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ASC_CompileGroundActivity]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ASC_CompileGroundActivity]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ASC_CompileRefuelActivity]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ASC_CompileRefuelActivity]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ASC_DEFUEL_CALCPEAKS]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ASC_DEFUEL_CALCPEAKS]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ASC_GROUND_CALCPEAKS]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ASC_GROUND_CALCPEAKS]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ASC_REFUEL_CALCPEAKS]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ASC_REFUEL_CALCPEAKS]
GO
