<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="sendpath" value="C:\SAPInterface\MockEBSService\ToSend\"/>
    <add key="receivepath" value="C:\SAPInterface\MockEBSService\Received\"/>
    <add key="ReceiveUri" value="http://localhost:8080/Receive"/>
    <add key="ResponseUri" value="http://localhost:8080/Response"/>
  </appSettings>

  <system.serviceModel>
   <!-- <client>
      <endpoint address ="http://localhost:8080/Receive"
                binding ="wsHttpBinding"
                contract ="MockEBSService.IRequestService"></endpoint>
        <endpoint address ="http://localhost:8080/Response"
          binding ="wsHttpBinding"
          contract ="MockEBSService.IResponseService">
      </endpoint>
    </client>-->
    
    <services>
<!--
      <service name="MockEBSService.ResponseService"   behaviorConfiguration="MockEBSService.ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="MockEBSService.IResponseService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="MockEBSService.RequestService"   behaviorConfiguration="MockEBSService.ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="MockEBSService.IRequestService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>-->

      <service name="MockEBSService.Pull" behaviorConfiguration="MockEBSService.ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="MockEBSService.IPull">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="MockEBSService.RequestService" behaviorConfiguration="MockEBSService.ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="MockEBSService.IREQ_PortType">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
    </services>
    
    <behaviors>
      <serviceBehaviors>
        
      <behavior name="MockEBSService.ServiceBehavior">
        <serviceMetadata httpGetEnabled="True"/>
        <serviceDebug includeExceptionDetailInFaults="False"/>
      </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
