<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<!-- this section is used by the application for custom settings -->
	<appSettings>
		<add key="IridiumSimulatorConfigDataLocation" value="C:\IridiumGatewaySimulator\IridiumGatewaySimulator\bin\Debug"/>
	</appSettings>
</configuration>
