<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                </binding>
            </basicHttpBinding>
          <netNamedPipeBinding>
            <binding name="FMBusinessServicesNetNamedPipeBinding" maxReceivedMessageSize="2147483647">
              <security mode="Transport">
                <transport protectionLevel="EncryptAndSign" />
              </security>
            </binding>
          </netNamedPipeBinding>          
            <netTcpBinding>
                <binding name="NetTcpBindingIIS" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
                  <!-- Transport security enabled -->
                  <security mode="Transport">
                    <transport clientCredentialType="Windows" />
                  </security>
                  <!--
                  <security mode="None">
                    <message clientCredentialType="None" />
                    <transport clientCredentialType="None" />
                  </security>
                  -->
                  <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                </binding>
            </netTcpBinding>
        </bindings>
    </system.serviceModel>

    <!-- this section is used by the application for custom settings -->
    <appSettings>
        <!-- Settings for binding to the FMBusinessServices WCF Service -->
        <!-- bindingType: basicHttp, none, tcpIp, wsHttp -->
      <!-- Recommended: For better performance use NetNamedPipeBidning in place of NetTcpBindingIIS when this service and FMBusinessService are hosted on same machine.-->
      <!--
      <add key="bindingName" value="FMBusinessServicesNetNamedPipeBinding" />
      <add key="endPointAddress" value="net.pipe://localhost/FMBusinessServices" />
      -->
        <add key="bindingName" value="NetTcpBindingIIS"/>
        <add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices"/>
        <add key="ClientSettingsProvider.ServiceUri" value=""/>
        <add key="DebugFlag" value="FALSE"/>
    </appSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>
</configuration>