<?xml version="1.0"?>
<serviceHostingEnvironment>
	<serviceActivations>
	<add relativeAddress="IGasboyStations.svc" service="FuelsManager.Afss.Module.Gasboy.BusinessServices.ServiceClasses.GasboyStations"/>
	<add relativeAddress="IGasboyTransactionProcessor.svc" service="FuelsManager.Afss.Module.Gasboy.BusinessServices.ServiceClasses.GasboyTransactionProcessor"/>
	</serviceActivations>
</serviceHostingEnvironment>
