USE [ConsolidatedDB]
GO
/****** Object:  UserDefinedFunction [dbo].[IntToHexString]    Script Date: 04/30/2009 14:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IntToHexString]
(@vbInput VARBINARY (255))
RETURNS VARCHAR (18)
AS
BEGIN
	DECLARE @sResult		VARCHAR(18)		SET @sResult   = '0x'
	DECLARE @i				INT				SET @i         = 1
	DECLARE @nInputLen	INT				SET @nInputLen = DATALENGTH(@vbInput)
	DECLARE @nChar			INT				SET @nChar     = 0
	DECLARE @nHiInt		INT				SET @nHiInt		= 0
	DECLARE @nLoInt		INT				SET @nLoInt		= 0

	WHILE (@i <= @nInputLen)
	BEGIN
		SET @nChar  = CONVERT(INT, SUBSTRING(@vbInput, @i, 1))
		SET @nHiInt = FLOOR(@nChar / 16)
		SET @nLoInt = @nChar - (@nHiInt * 16)

		SET @sResult = @sResult +
							SUBSTRING('0123456789ABCDEF', @nHiInt + 1, 1) +
							SUBSTRING('0123456789ABCDEF', @nLoInt + 1, 1)
		SET @i = @i + 1
	END

	RETURN @sResult
END



GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Takes any integer type and returns nvrchar like ''0xFFF123D3FFF123D3''.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'FUNCTION',@level1name=N'IntToHexString'