<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="UserName" value="Accounting"/>
		<add key="UserGuid" value="00000000-0000-0000-0000-000000000001"/>
		<add key="LoginSiteID" value="Skytanking USA"/>
		<add key="LoginSiteGuid" value="00000000-0000-0000-0000-000000000001"/>
		<add key="SiteID" value="PHL - Philadelphia"/>
		<add key="SiteGuid" value="00000000-0000-0000-0000-000000000001"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
