<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ReserveLevelCalculator" value=""/>
  <add key="PriceCalculator" value=""/>
  <!--<add key="ReserveLevelCalculator" value="ReserveLevelCalculator, Version=9.0.0.0, Culture=neutral, PublicKeyToken=e6190a5bf6c69d61"/>-->
  <!--<add key="PriceCalculator" value="ADFPriceCalculator"/>-->
</appSettings>
