<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <!-- this section is used by the web application for custom settings -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
          <!--
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="None" />
          </security>
          -->          
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>          

          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="FMBusinessServicesNetNamedPipeBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>

  <appSettings>
    <!-- Recommended: For better performance use NetNamedPipeBidning in place of NetTcpBindingIIS when this service and FMBusinessService are hosted on same machine.-->
    <!--
    <add key="FMExportServiceBindingType" value="netNamedPipeBinding" />
    <add key="FMExportServiceBindingConfiguration" value="NetNamedPipeBinding" />
    <add key="FMExportServiceAddress" value="net.pipe://localhost/FMExportService" />
    -->
    <add key="FMExportServiceBindingType" value="netTcpBinding" />
    <add key="FMExportServiceBindingConfiguration" value="NetTcpBinding" />

    <!--Local-->
    <add key="FMExportServiceAddress" value="net.tcp://localhost:819/FMExportService" />
    
    <!--Azure-->
    <!--<add key="FMExportServiceAddress" value="net.tcp://70.37.96.231:10100/" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.27.0" newVersion="3.1.27.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
