<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider" cookieless="true" timeout="25" xdt:Transform="Replace">
      <providers>
        <add name="AppFabricCacheSessionStoreProvider"
             type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
             cacheName="default"
             useBlobMode="true"
             dataCacheClientName="default"/>
      </providers>
    </sessionState>
  </system.web>
  <system.diagnostics>
    <trace>
      <listeners xdt:Transform="Replace">
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings file="fuelsmanager.config">
    <add key="bindingName"                            value="NetTcpBindingAzure" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="endPointAddress"                        value="net.tcp://localhost:9500" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>