<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Persist Security Info=False;Integrated Security=SSPI;database=FuelsManagerDB;server=localhost;Connect Timeout=60;TrustServerCertificate=true" />
	</appSettings>
</configuration>