<services>
	<service behaviorConfiguration="FMDataExchange.ExchangeServiceBehavior" 
			 name="FMDataExchange.ExchangeService">
		<endpoint address=""
				  binding="customBinding" 
				  bindingConfiguration="HandheldBinding" 
				  contract="FMDataExchange.IExchangeService"/>
		<endpoint address="mex" 
				  binding="mexHttpBinding" 
				  contract="IMetadataExchange" />
	</service>
</services>
