<services>
	<service behaviorConfiguration="FMDataExchange.ExchangeServicHttpseBehavior"
				 name="FMDataExchange.ExchangeService">
		<endpoint address="" 
			binding="customBinding" 
			bindingConfiguration="CustomHttps"
			contract="FMDataExchange.IExchangeService"/>
		<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
	</service>
</services>