<services>
	<service behaviorConfiguration="FMDataExchange.ExchangeNoSecurityBehavior"
	 name="FMDataExchange.ExchangeService">
		<endpoint address=""
			 binding="basicHttpBinding" bindingConfiguration="NoSecurity"
			 contract="FMDataExchange.IExchangeService" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	</service>
</services>