<?xml version="1.0" encoding="utf-8"?>
<!-- FMDataExchange -->
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <!-- This will allow the code to search for NspaAdcProcessor from the Interfaces folder-->
            <probing privatePath="Interfaces" />
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.27.0" newVersion="3.1.27.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions allowUnlisted="false">
                    <add fileExtension=".svc" allowed="true" />
                    <add fileExtension=".sdf" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <handlers accessPolicy="Read, Script">
            <add name="SdfHandler" verb="*" path="*.sdf" type="Nspa.SdfHandler, NspaADCProcessor" />
        </handlers>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <httpErrors>
            <clear />
        </httpErrors>
    </system.webServer>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Logs\Web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Logs\Web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="MessageSecurityOverSSL">
                    <reliableSession />
                    <textMessageEncoding>
                        <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <security authenticationMode="SecureConversation" requireSecurityContextCancellation="false" requireDerivedKeys="false" securityHeaderLayout="LaxTimestampLast" includeTimestamp="true" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <secureConversationBootstrap authenticationMode="MutualCertificate" />
                    </security>
                    <httpTransport maxReceivedMessageSize="6553600" maxBufferPoolSize="5242880" />
                </binding>
                <binding name="HandheldBinding">
                    <!-- Compact Framework doesn't support ReliableSessionBindingElement -->
                    <!--<reliableSession />-->
                    <textMessageEncoding messageVersion="Soap11">
                        <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <!-- Compact Framework 
                        - Basic256 and Basic256Rsa15 constants are available to the Compact framework but if you don't use Basic256Rsa15,
                        you will get the error, "The property 'DefaultAlgorithmSuite' must be set to 'SecurityAlgorithmSuite.Basic256Rsa15' in the .NET Compact Framework."
                        - securityHeaderLayout can only be Strict or Lax
                        - does not support SymmentricSecurityBindingElement
                        - according to documentation MutualCertificate generates SymmetrixSecurityBindingElement and 
                          MutualCertificateDuplex generates AsymmetrixSecurityBindingElement, 
                          but if is used, the client gets the error, "Cannot find a token authenticator for the 'System.IdentityModel.Tokens.X509SecurityToken' token type. 
                          Tokens of that type cannot be accepted according to current security settings.
                    -->
                    <!--
					<security authenticationMode="SecureConversation" requireSecurityContextCancellation="false" requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Basic256Rsa15" />
					-->
                    <httpsTransport maxReceivedMessageSize="6553600" maxBufferPoolSize="5242880" />
                </binding>
                <binding name="CustomHttps">
                    <textMessageEncoding messageVersion="Soap11">
                        <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpsTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                </binding>
            </customBinding>
            <basicHttpBinding>
                <binding name="NoSecurity">
                    <security mode="None" />
                </binding>
                <binding name="ClientBasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
                <!-- This is tested briefly and worked,  the CustomHttps should behave similar but allow better flexibility.  
                    If that doesn't work, we can fall back to this
                <binding name="HttpsBasicSecurity"
                     maxReceivedMessageSize="2147483647" 
                     maxBufferPoolSize="2147483647" 
                     maxBufferSize="2147483647">
                  <readerQuotas 
                    maxArrayLength="2147483647" 
                    maxDepth="32" 
                    maxStringContentLength="8192" 
                    maxBytesPerRead="4096" 
                    maxNameTableCharCount="16384" />
                  <security mode="Transport">
                    <transport
                      clientCredentialType="None"
                    />
                  </security>
                </binding>-->
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="ClientWsHttpsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                    </security>
                </binding>
            </wsHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBindingIIS" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
                    <!-- security node removed so it will default to "Transport" mode, which is compatible with FMDataExchange configuration -->
                 <!--
                    <security mode="None">
						          <message clientCredentialType="None"/>
						          <transport clientCredentialType="None"/>
					          </security>
                  -->
                  <security mode="Transport">
                    <transport clientCredentialType="Windows" />
                  </security>
                  <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="1048576" />
                </binding>
            </netTcpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding" maxReceivedMessageSize="2147483647">
                  <security mode="Transport">
                    <transport protectionLevel="EncryptAndSign" />                    
                  </security>
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <extensions>
            <behaviorExtensions>
                <add name="MessageInspectionBehaviorExtension" type="FMDataExchange.MessageInspectionBehaviorExtension, FMDataExchange, Version=8.0.4.0, Culture=neutral, PublicKeyToken=null" />
            </behaviorExtensions>
        </extensions>
        <behaviors>
            <serviceBehaviors>
                <behavior name="FMDataExchange.ExchangeNoSecurityBehavior">
                    <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="FMDataExchange.ExchangeServiceHttpsBehavior">
                    <serviceMetadata httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="FMDataExchange.ExchangeServiceBehavior">
                    <serviceMetadata httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceCredentials>
                        <serviceCertificate storeLocation="LocalMachine" findValue="Replace with your cert's thumbprint" x509FindType="FindByThumbprint" />
                        <clientCertificate>
                            <authentication certificateValidationMode="ChainTrust" />
                        </clientCertificate>
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="MessageInspectionBehavior">
                    <MessageInspectionBehaviorExtension />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <services configSource="ServiceHandheld.config" />
    </system.serviceModel>
    <appSettings>
        <add key="MessageValidPeriod" value="5" />
      <!-- Recommended: For better performance use NetNamedPipeBidning in place of NetTcpBindingIIS when this service and FMBusinessService are hosted on same machine.-->
      <!--
    <add key="bindingName" value="NetNamedPipeBinding" />
    <add key="endPointAddress" value="net.pipe://localhost/FMBusinessServices" />
    -->
      <add key="bindingName" value="NetTcpBindingIIS" />
        <add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices" />
        <add key="ConnectionString" value="Persist Security Info=False;Integrated Security=SSPI;database=FuelsManagerDB;server=localhost;Connect Timeout=60" />
    </appSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
    -->
    <system.web>
        <compilation targetFramework="4.7.2" />
    </system.web>
</configuration>