<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FMUAAlarmServer" type="Softing.Opc.Ua.Sdk.ApplicationConfigurationSection,Softing.Opc.Ua.Sdk.Core"/>
  </configSections>
  <FMUAAlarmServer>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>AlarmsServer.Config.xml</FilePath>
    </ConfigurationLocation>
  </FMUAAlarmServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
   	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="FMBusinessServicesBinding" maxReceivedMessageSize="2147483647" maxConnections="100" listenBacklog="100">
          <!--
          <security mode="None">
						<transport clientCredentialType="None">
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
          -->
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>          
        </binding>
			</netTcpBinding>
      <netNamedPipeBinding>
        <binding name="FMBusinessServicesNetNamedPipeBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
	</system.serviceModel>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
    <!-- Recommended: For better performance use NetNamedPipeBidning in place of NetTcpBindingIIS when this service and FMBusinessService are hosted on same machine.-->
    <!--
    <add key="bindingName" value="FMBusinessServicesNetNamedPipeBinding" />
    <add key="endPointAddress" value="net.pipe://localhost/FMBusinessServices" />
    -->
    <add key="bindingName" value="FMBusinessServicesBinding"/>
		<add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices"/>
		<add key="OpcUaApplicationConfigurationTraceFile" value="C:\Fuelsmanager.net\Releases\FuelsManager v10.1\v10.1.0/OpcUaApplicationConfigurationTrace.txt"/>
		<add key="OpcUaAcceptNonValidatedCertificates" value="true"/>
		<add key="LogOpcUaServerConnectionFailures" value="false"/>
    <add key="MinRampValue" value="7.00"/>
    <add key="MaxRampValue" value="22.00"/>
    <add key="RampUpdateRateInSeconds" value="5"/>
	   <add key="RampIncrement" value=".1"/>
	  <add key="RampIncreasing" value="true"/>


		
		<add key="NamespaceIndex" value="2"/>
		<add key="OpcUaServerFolderNodeIdForPoints" value="ns=2;i=3"/>
		<add key="OpcUaNamespaceUri" value="https://softing.com/Softing.Opc.Ua.Toolkit.Samples/AlarmsServer"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="62e1b5ec1eec9bdd" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.15.93" newVersion="1.0.15.93"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
