<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PollingIntervalSeconds" value="3600" />
    <!-- provide full path to write results to otherwise will go to a sytem directory -->
    <add key="Export Path" value="C:\FMTransactionExportService" />
    <add key="Debugging Enabled" value="false" />
	  <!--  ToSiteUnits = 1, ToCongfigFileSettings =  2, DontConvert =3 -->
	<add key="ConvertUnitsOption" value="1" />
    <!-- EngineeringUnit e.g. 42="FmvLitre" 46="FmvUsGal" -->
    <add key="DEFAULT_UNITS_VAL_VOL" value="46" />
    <!-- EngineeringUnit e.g. 1="FmtDegC" 2="FmtDegF" -->
    <add key="DEFAULT_UNITS_VAL_TEMP" value="2" />
    <!-- EngineeringUnit e.g.  18="FmdKgM3" 186="FmdLbFt3" -->
    <add key="DEFAULT_UNITS_VAL_DENSITY" value="191" />

	<!-- comma seperated list of productName|replacmentName if no match DB value is used-->
    <add key="ProductsMap" value="Jet A|JA,MoGas|MG,AvGas|AVGAS" />
	  
	<add key="DateFormat" value="MM-dd-yyyy HH:mm:ss" />
	<add key="TimeFormat" value="HH:mm:ss" />

    <!-- comma seperated list of LoadingLocationID|ArmNumbers with armnumbers seperated by an underscore _ -->
	<!-- e.g  Bay3|1_3_5,Bay5|5_7_9  --> 
	<add key="LoadRackIdentification" value="" />

	<!-- comma seperated list of LoadingLocationID to add ArmNumber to when filling Location column-->
	<add key="LoadingLocationIDWithArmNumber" value="Bay1,Bay10" />
	  
	<add key="OperatorId_to_Column" value="UserData_3" />
	<add key="TransLineOperatorId_to_Column" value="UserData_4" />
	<add key="FST_to_Column" value="" />
	<add key="TimeEnd_to_Column" value="UserData_8" />
	<add key="LoadID_to_Column" value="UserData_9" />

	  <!-- comma seperated list of columnName|defaultValue -->
	<add key="DefaultValuesMap" value="Request_By_Date|12-31-9999 00:00:00,Closeout_Date|99-99-0099 99:99:99,MeterFactor|1,FuelCP|1" />

	<!-- comma seperated list of Transaction Alias Names to export -->
	  <!--<add key="AliasNames" value="Physical Inventory,Regrade,Shipment,Order,Meter Closeout,Weight BOL,End Of Month,Transfer,Supply Order,End Of Day,Receipt,BOL,Adjustment" />-->
    <add key="AliasNames" value="BOL" />
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="endPointAddress" value="net.tcp://127.0.0.1:808/FMBusinessServices" />
	<add key="bindingName" value="FMBusinessServicesBinding" />
	<add key="BusinessServicesAccessMethod" value="WCF" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="FMBusinessServicesBinding" maxReceivedMessageSize="2147483647" maxConnections="100" listenBacklog="100">
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>