.rtuipheader {
    font-size: 10px;
    text-align: center;
    padding-bottom: 5px;
    font: Roboto;
    font-size: 10px !important; 
	color: darkgray;
}

.statusheader {
	width: 100%;
    text-align: center;
    font: Roboto;
    font-size: 18px !important; 
    font-weight: bold;
	color: #006BC3;
}

.connectionSignal {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 6px;
    margin-right: 5px;
    border-width: 2px;
    border-style: solid;
}
