h1 {
	padding-left: 25px;
    padding-top: 20px;
    margin-bottom: 0px;
    font: Roboto-Medium;
    font-size: 40px !important; 
    font-weight: bold;
	color: #006BC3;
}

p {
    font: Roboto-Bold;
    font-size: 12px !important; 
    font-weight: bold;
    padding-left: 104px;
    margin-top: -5px;
    margin-bottom: 0px;
    color: #006BC3;
}

img {
    width: 60px;
    height: 45px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    top: 0px;
    right: 40px;
}

app-connect-header {
    position: absolute;
    bottom: 23px;
    right: 200px;
}
