/*
To Do: 1. The solution to requirement 10. is not fully verified by me.
	   2. If time permits, modify code sections that use a cursor to perform a single bulk insert
	      into the exising producttion tables, rather than from within a cursor loop (performance tweak).
	   3. Do we hqve orpahned Equipment rows in tblEntityToSiteMap? How to verify this?

Requirements for FM ADF Enterprise Test Database Setup:

1.       Insert 50 sites (rows) into the tblSites table.  The new sites should be local (SiteGroupFlag = 0) sites. These sites shall have the same settings like existing sites. 
2.       Assign each of the 50 new local sites to the JFLA group by inserting a row for each new site into the tblSiteToSiteMap (set ParentSiteIndex)
3.       NA - Assign a user to each of the new sites (We may not need to do this because the ‘group’ that the local sites are assigned to already has a user assigned to it in tblUsers).
4.       Assign all products (in tblProducts) to each new site by inserting a row into the tblEntityToSiteMap for each combination of product and new site.
5.       Create an ‘Equipment Type’ row in tblEntityToSiteMap for each of the new sites. Assign all existing Equipment Types to each new site in tblEntityToSiteMap
6.       Create a row in tblEquipment for each existing row ‘Equipment’ row for a single local site.  Currently all equipments are created for site JEFM. It shall be changed to a local site. After the change, create the set of equipments for each site. If it has 100 equipments already, it shall have 100 equipments * 50 sites = 5000 equipments.
7.       NA - Create an equipment row (TypeID = ‘Equipment’) row for each product Where does this come from? 
8.       Create 70 rows in tblCompanies for each existing row (company) in that table. Make each of the new rows unique by adding a numeric suffix to the ID and Name columns.
9.       Create a new row in tblEntityToSiteMap for each of the new sets of companies. Each set should be assigned to a different (local?)site.
10.		 Create a row in tblCompanyRoleMap for each new company for each combination of site and role assigned to original company from which the new company was created.
*/

--USE ConsolidatedDB
--USE BaselineADF
GO

/*********************************************************************************************************/
-- 1. Create 50 new local sites
/*********************************************************************************************************/

-- 21 rows in tblSites before the update, 71 rows after the update.
--SELECT SiteIndex, ID, SiteGroupflag FROM [dbo].[tblSites] ORDER BY SiteIndex ASC

PRINT 'Creating new sites'

INSERT INTO [dbo].[tblSites]
           ([ID]
           ,[Number]
           ,[SPLCCode]
           ,[Address1]
           ,[Address2]
           ,[City]
           ,[State]
           ,[Zip]
           ,[Country]
           ,[Phone]
           ,[FAX]
           ,[EmailAddress]
           ,[EmergencyContact]
           ,[EmergencyPhone]
           ,[Enabled]
           ,[SiteGroupFlag]
           ,[TimeZone]
           ,[AdjustForDaylightSavings]
           ,[LevelUnitIndex]
           ,[TemperatureUnitIndex]
           ,[DensityUnitIndex]
           ,[PressureUnitIndex]
           ,[FlowUnitIndex]
           ,[VolumeUnitIndex]
           ,[MassUnitIndex]
           ,[AdditiveVolumeUnitIndex]
           ,[AdditiveProfileCycleAmountUnitIndex]
           ,[AdditiveProfileRateUnitIndex]
           ,[LevelDecimalPlaces]
           ,[TemperatureDecimalPlaces]
           ,[DensityDecimalPlaces]
           ,[PressureDecimalPlaces]
           ,[FlowDecimalPlaces]
           ,[VolumeDecimalPlaces]
           ,[MassDecimalPlaces]
           ,[AdditiveVolumeDecimalPlaces]
           ,[AdditiveProfileCycleAmountDecimalPlaces]
           ,[AdditiveProfileRateDecimalPlaces]
           ,[VolumeDisplayDefault]
           ,[InhibitAccessAfterHours]
           ,[InhibitMultipleCardIns]
           ,[AccessCardinRequired]
           ,[CheckSiteNumber]
           ,[PromptForCustomerCard]
           ,[PromptForTractorOrTanker]
           ,[PromptForFirstTrailer]
           ,[PromptForSecondTrailer]
           ,[PromptForCompartment]
           ,[EnforceDriverEquipmentMatch]
           ,[EnableAdditiveAccounting]
           ,[UseCompanyEquipmentIdentifiers]
           ,[UseLastKnownGoodTankData]
           ,[MaximumLoadAmount]
           ,[MaximumLoadTime]
           ,[MaximumIdleTime]
           ,[MaximumFlushAmount]
           ,[MaximumMeterProvingAmount]
           ,[MaximumReturnsAmount]
           ,[MaximumNumberOfActiveArms]
           ,[DriverTimeoutPeriod]
           ,[DriverWarningPeriod]
           ,[MaximumPrompts]
           ,[InventoryTransactionAliasIndex]
           ,[AdjustmentTransactionAliasIndex]
           ,[MaximumVehicleWeight]
           ,[LoadByNet]
           ,[PromptForShipmentNumber]
           ,[MaximumProductTemperature]
           ,[ListEquipment]
           ,[DeferStationChanges]
           ,[InhibitBOLWithBrokenBlends]
           ,[InhibitBOLWithImproperAdditization]
           ,[InhibitOverweightBOL]
           ,[ExceptionBOLPrinter]
           ,[EnableAutomaticBOLPrinting]
           ,[AutomaticBOLStartNumber]
           ,[AutomaticBOLEndNumber]
           ,[AutomaticBOLNextNumber]
           ,[SeparateManualBOLNumbering]
           ,[ManualBOLStartNumber]
           ,[ManualBOLEndNumber]
           ,[ManualBOLNextNumber]
           ,[TransactionStartNumber]
           ,[TransactionEndNumber]
           ,[TransactionNextNumber]
           ,[OrderStartNumber]
           ,[OrderEndNumber]
           ,[OrderNextNumber]
           ,[NumberPrefix]
           ,[OpenTransactionWindow]
           ,[AdministrativeLockDate]
           ,[OperationalLockDate]
           ,[MaximumDaysToRetainLogs]
           ,[EnableDebugLogging]
           ,[EnableAuditLogging]
           ,[AutomaticallyPrintAlarmsAndEvents]
           ,[AlarmAndEventPrinter]
           ,[MailServer]
           ,[MailFrom]
           ,[MailUserName]
           ,[MailPassword]
           ,[MailConnectMode]
           ,[DialupName]
           ,[SCADASystem]
           ,[InhibitTemplateGraphics]
           ,[RefreshInterval]
           ,[InhibitEndOfDayOperations]
           ,[InhibitEndOfMonthOperations]
           ,[EndOfDayWarningPeriod]
           ,[InhibitAutomaticPhysicalInventory]
           ,[InhibitAutomaticMeterCloseout]
           ,[InhibitAutomaticReportGeneration]
           ,[InhibitAutomaticAdjustmentDistribution]
           ,[InhibitAutomaticCloseout]
           ,[InhibitTankScan]
           ,[ReportDirectory]
           ,[ManageReports]
           ,[ManagedReportDirectory]
           ,[VRURateLimit]
           ,[VRUHourlyLimit]
           ,[VRUDailyLimit]
           ,[VRUYearlyLimit]
           ,[VRUCurrentYearLimit]
           ,[VRURateActual]
           ,[VRUHourlyActual]
           ,[VRUDailyActual]
           ,[VRUYearlyActual]
           ,[VRUCurrentYearActual]
           ,[VRURateLimitEnabled]
           ,[VRUHourlyLimitEnabled]
           ,[VRUDailyLimitEnabled]
           ,[VRUYearlyLimitEnabled]
           ,[VRUCurrentYearLimitEnabled]
           ,[WatchdogPeriod]
           ,[WatchdogMode]
           ,[WatchdogCounterStart]
           ,[WatchdogCounterEnd]
           ,[NumberGroupSizesType]
           ,[NumberDecimalSeparator]
           ,[NumberGroupSeparator]
           ,[ListSeparator]
           ,[TimePattern]
           ,[TimeSeparator]
           ,[AMSymbol]
           ,[PMSymbol]
           ,[ShortDatePattern]
           ,[DateSeparator]
           ,[LongDatePattern]
           ,[TwoDigitCalendarEndYear]
           ,[UserData1]
           ,[UserData2]
           ,[UserData3]
           ,[UserData4]
           ,[UserData5]
           ,[UserData6]
           ,[UserData7]
           ,[UserData8]
           ,[CreatedDate]
           ,[CreatedBy]
           ,[UpdatedDate]
           ,[UpdatedBy]
           ,[MinTimeAllowedToChangePwd]
           ,[MinPwdCharacterLength]
           ,[PwdExpirationInDays]
           ,[PwdLockoutThreshold]
           ,[CheckForPreviousPwd]
           ,[StrongPwdUse]
           ,[PwdHistoryCount]
           ,[ApplyToAllSiteMembers]
           ,[InactivityDisablePeriod]
           ,[EnforceSingleOwner]
           ,[InhibitBOLSummaryAutoPopulate]
           ,[InhibitOrderSummaryAutoPopulate]
           ,[InhibitSupplyOrderSummaryAutoPopulate]
           ,[InvoiceStartNumber]
           ,[InvoiceEndNumber]
           ,[InvoiceNextNumber]
           ,[PromptForReturns]
           ,[PromptForTruckCard]
           ,[StartingShortCardNumber]
           ,[UseShortCardNumber]
           ,[ExcessVarianceCount]
           ,[ExcessVarianceTolerance]
           ,[SecondaryStorageFillMethod]
           ,[DisableArchivePeriod])
SELECT TOP 16 
		[ID] 
      ,[Number]
      ,[SPLCCode]
      ,[Address1]
      ,[Address2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Country]
      ,[Phone]
      ,[FAX]
      ,[EmailAddress]
      ,[EmergencyContact]
      ,[EmergencyPhone]
      ,[Enabled]	
      ,[SiteGroupFlag] 
      ,[TimeZone]	
      ,[AdjustForDaylightSavings] 
      ,[LevelUnitIndex] 
      ,[TemperatureUnitIndex]  
      ,[DensityUnitIndex] 
      ,[PressureUnitIndex]
      ,[FlowUnitIndex]
      ,[VolumeUnitIndex]
      ,[MassUnitIndex]
      ,[AdditiveVolumeUnitIndex]
      ,[AdditiveProfileCycleAmountUnitIndex]
      ,[AdditiveProfileRateUnitIndex]
      ,[LevelDecimalPlaces]
      ,[TemperatureDecimalPlaces]
      ,[DensityDecimalPlaces]
      ,[PressureDecimalPlaces]
      ,[FlowDecimalPlaces]
      ,[VolumeDecimalPlaces]
      ,[MassDecimalPlaces]
      ,[AdditiveVolumeDecimalPlaces]
      ,[AdditiveProfileCycleAmountDecimalPlaces]
      ,[AdditiveProfileRateDecimalPlaces]
      ,[VolumeDisplayDefault]
      ,[InhibitAccessAfterHours]
      ,[InhibitMultipleCardIns]
      ,[AccessCardinRequired]
      ,[CheckSiteNumber]
      ,[PromptForCustomerCard]
      ,[PromptForTractorOrTanker]
      ,[PromptForFirstTrailer]
      ,[PromptForSecondTrailer]
      ,[PromptForCompartment]
      ,[EnforceDriverEquipmentMatch]
      ,[EnableAdditiveAccounting]
      ,[UseCompanyEquipmentIdentifiers]
      ,[UseLastKnownGoodTankData]
      ,[MaximumLoadAmount]
      ,[MaximumLoadTime]
      ,[MaximumIdleTime]
      ,[MaximumFlushAmount]
      ,[MaximumMeterProvingAmount]
      ,[MaximumReturnsAmount]
      ,[MaximumNumberOfActiveArms]
      ,[DriverTimeoutPeriod]
      ,[DriverWarningPeriod]
      ,[MaximumPrompts]
      ,[InventoryTransactionAliasIndex]
      ,[AdjustmentTransactionAliasIndex]
      ,[MaximumVehicleWeight]
      ,[LoadByNet]
      ,[PromptForShipmentNumber]
      ,[MaximumProductTemperature]
      ,[ListEquipment]
      ,[DeferStationChanges]
      ,[InhibitBOLWithBrokenBlends]
      ,[InhibitBOLWithImproperAdditization]
      ,[InhibitOverweightBOL]
      ,[ExceptionBOLPrinter]
      ,[EnableAutomaticBOLPrinting]
      ,[AutomaticBOLStartNumber]
      ,[AutomaticBOLEndNumber]
      ,[AutomaticBOLNextNumber]
      ,[SeparateManualBOLNumbering]
      ,[ManualBOLStartNumber]
      ,[ManualBOLEndNumber]
      ,[ManualBOLNextNumber]
      ,[TransactionStartNumber]
      ,[TransactionEndNumber]
      ,[TransactionNextNumber]
      ,[OrderStartNumber]
      ,[OrderEndNumber]
      ,[OrderNextNumber]
      ,[NumberPrefix]
      ,[OpenTransactionWindow]
      ,[AdministrativeLockDate]
      ,[OperationalLockDate]
      ,[MaximumDaysToRetainLogs]
      ,[EnableDebugLogging]
      ,[EnableAuditLogging]
      ,[AutomaticallyPrintAlarmsAndEvents]
      ,[AlarmAndEventPrinter]
      ,[MailServer]
      ,[MailFrom]
      ,[MailUserName]
      ,[MailPassword]
      ,[MailConnectMode]
      ,[DialupName]
      ,[SCADASystem]
      ,[InhibitTemplateGraphics]
      ,[RefreshInterval]
      ,[InhibitEndOfDayOperations]
      ,[InhibitEndOfMonthOperations]
      ,[EndOfDayWarningPeriod]
      ,[InhibitAutomaticPhysicalInventory]
      ,[InhibitAutomaticMeterCloseout]
      ,[InhibitAutomaticReportGeneration]
      ,[InhibitAutomaticAdjustmentDistribution]
      ,[InhibitAutomaticCloseout]
      ,[InhibitTankScan]
      ,[ReportDirectory]
      ,[ManageReports]
      ,[ManagedReportDirectory]
      ,[VRURateLimit]
      ,[VRUHourlyLimit]
      ,[VRUDailyLimit]
      ,[VRUYearlyLimit]
      ,[VRUCurrentYearLimit]
      ,[VRURateActual]
      ,[VRUHourlyActual]
      ,[VRUDailyActual]
      ,[VRUYearlyActual]
      ,[VRUCurrentYearActual]
      ,[VRURateLimitEnabled]
      ,[VRUHourlyLimitEnabled]
      ,[VRUDailyLimitEnabled]
      ,[VRUYearlyLimitEnabled]
      ,[VRUCurrentYearLimitEnabled]
      ,[WatchdogPeriod]
      ,[WatchdogMode]
      ,[WatchdogCounterStart]
      ,[WatchdogCounterEnd]
      ,[NumberGroupSizesType]
      ,[NumberDecimalSeparator]
      ,[NumberGroupSeparator]
      ,[ListSeparator]
      ,[TimePattern]
      ,[TimeSeparator]
      ,[AMSymbol]
      ,[PMSymbol]
      ,[ShortDatePattern]
      ,[DateSeparator]
      ,[LongDatePattern]
      ,[TwoDigitCalendarEndYear]
      ,[UserData1]
      ,[UserData2]
      ,[UserData3]
      ,[UserData4]
      ,[UserData5]
      ,[UserData6]
      ,[UserData7]
      ,[UserData8]
      ,[CreatedDate]
      --,[CreatedBy]
		, 'HJH'
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[MinTimeAllowedToChangePwd]
      ,[MinPwdCharacterLength]
      ,[PwdExpirationInDays]
      ,[PwdLockoutThreshold]
      ,[CheckForPreviousPwd]
      ,[StrongPwdUse]
      ,[PwdHistoryCount]
      ,[ApplyToAllSiteMembers]
      ,[InactivityDisablePeriod]
      ,[EnforceSingleOwner]
      ,[InhibitBOLSummaryAutoPopulate]
      ,[InhibitOrderSummaryAutoPopulate]
      ,[InhibitSupplyOrderSummaryAutoPopulate]
      ,[InvoiceStartNumber]
      ,[InvoiceEndNumber]
      ,[InvoiceNextNumber]
      ,[PromptForReturns]
      ,[PromptForTruckCard]
      ,[StartingShortCardNumber]
      ,[UseShortCardNumber]
      ,[ExcessVarianceCount]
      ,[ExcessVarianceTolerance]
      ,[SecondaryStorageFillMethod]
      ,[DisableArchivePeriod]
FROM [dbo].[tblSites]
WHERE SiteGroupFlag = 0
ORDER BY [SiteIndex] ASC
GO

INSERT INTO [dbo].[tblSites]
           ([ID]
           ,[Number]
           ,[SPLCCode]
           ,[Address1]
           ,[Address2]
           ,[City]
           ,[State]
           ,[Zip]
           ,[Country]
           ,[Phone]
           ,[FAX]
           ,[EmailAddress]
           ,[EmergencyContact]
           ,[EmergencyPhone]
           ,[Enabled]
           ,[SiteGroupFlag]
           ,[TimeZone]
           ,[AdjustForDaylightSavings]
           ,[LevelUnitIndex]
           ,[TemperatureUnitIndex]
           ,[DensityUnitIndex]
           ,[PressureUnitIndex]
           ,[FlowUnitIndex]
           ,[VolumeUnitIndex]
           ,[MassUnitIndex]
           ,[AdditiveVolumeUnitIndex]
           ,[AdditiveProfileCycleAmountUnitIndex]
           ,[AdditiveProfileRateUnitIndex]
           ,[LevelDecimalPlaces]
           ,[TemperatureDecimalPlaces]
           ,[DensityDecimalPlaces]
           ,[PressureDecimalPlaces]
           ,[FlowDecimalPlaces]
           ,[VolumeDecimalPlaces]
           ,[MassDecimalPlaces]
           ,[AdditiveVolumeDecimalPlaces]
           ,[AdditiveProfileCycleAmountDecimalPlaces]
           ,[AdditiveProfileRateDecimalPlaces]
           ,[VolumeDisplayDefault]
           ,[InhibitAccessAfterHours]
           ,[InhibitMultipleCardIns]
           ,[AccessCardinRequired]
           ,[CheckSiteNumber]
           ,[PromptForCustomerCard]
           ,[PromptForTractorOrTanker]
           ,[PromptForFirstTrailer]
           ,[PromptForSecondTrailer]
           ,[PromptForCompartment]
           ,[EnforceDriverEquipmentMatch]
           ,[EnableAdditiveAccounting]
           ,[UseCompanyEquipmentIdentifiers]
           ,[UseLastKnownGoodTankData]
           ,[MaximumLoadAmount]
           ,[MaximumLoadTime]
           ,[MaximumIdleTime]
           ,[MaximumFlushAmount]
           ,[MaximumMeterProvingAmount]
           ,[MaximumReturnsAmount]
           ,[MaximumNumberOfActiveArms]
           ,[DriverTimeoutPeriod]
           ,[DriverWarningPeriod]
           ,[MaximumPrompts]
           ,[InventoryTransactionAliasIndex]
           ,[AdjustmentTransactionAliasIndex]
           ,[MaximumVehicleWeight]
           ,[LoadByNet]
           ,[PromptForShipmentNumber]
           ,[MaximumProductTemperature]
           ,[ListEquipment]
           ,[DeferStationChanges]
           ,[InhibitBOLWithBrokenBlends]
           ,[InhibitBOLWithImproperAdditization]
           ,[InhibitOverweightBOL]
           ,[ExceptionBOLPrinter]
           ,[EnableAutomaticBOLPrinting]
           ,[AutomaticBOLStartNumber]
           ,[AutomaticBOLEndNumber]
           ,[AutomaticBOLNextNumber]
           ,[SeparateManualBOLNumbering]
           ,[ManualBOLStartNumber]
           ,[ManualBOLEndNumber]
           ,[ManualBOLNextNumber]
           ,[TransactionStartNumber]
           ,[TransactionEndNumber]
           ,[TransactionNextNumber]
           ,[OrderStartNumber]
           ,[OrderEndNumber]
           ,[OrderNextNumber]
           ,[NumberPrefix]
           ,[OpenTransactionWindow]
           ,[AdministrativeLockDate]
           ,[OperationalLockDate]
           ,[MaximumDaysToRetainLogs]
           ,[EnableDebugLogging]
           ,[EnableAuditLogging]
           ,[AutomaticallyPrintAlarmsAndEvents]
           ,[AlarmAndEventPrinter]
           ,[MailServer]
           ,[MailFrom]
           ,[MailUserName]
           ,[MailPassword]
           ,[MailConnectMode]
           ,[DialupName]
           ,[SCADASystem]
           ,[InhibitTemplateGraphics]
           ,[RefreshInterval]
           ,[InhibitEndOfDayOperations]
           ,[InhibitEndOfMonthOperations]
           ,[EndOfDayWarningPeriod]
           ,[InhibitAutomaticPhysicalInventory]
           ,[InhibitAutomaticMeterCloseout]
           ,[InhibitAutomaticReportGeneration]
           ,[InhibitAutomaticAdjustmentDistribution]
           ,[InhibitAutomaticCloseout]
           ,[InhibitTankScan]
           ,[ReportDirectory]
           ,[ManageReports]
           ,[ManagedReportDirectory]
           ,[VRURateLimit]
           ,[VRUHourlyLimit]
           ,[VRUDailyLimit]
           ,[VRUYearlyLimit]
           ,[VRUCurrentYearLimit]
           ,[VRURateActual]
           ,[VRUHourlyActual]
           ,[VRUDailyActual]
           ,[VRUYearlyActual]
           ,[VRUCurrentYearActual]
           ,[VRURateLimitEnabled]
           ,[VRUHourlyLimitEnabled]
           ,[VRUDailyLimitEnabled]
           ,[VRUYearlyLimitEnabled]
           ,[VRUCurrentYearLimitEnabled]
           ,[WatchdogPeriod]
           ,[WatchdogMode]
           ,[WatchdogCounterStart]
           ,[WatchdogCounterEnd]
           ,[NumberGroupSizesType]
           ,[NumberDecimalSeparator]
           ,[NumberGroupSeparator]
           ,[ListSeparator]
           ,[TimePattern]
           ,[TimeSeparator]
           ,[AMSymbol]
           ,[PMSymbol]
           ,[ShortDatePattern]
           ,[DateSeparator]
           ,[LongDatePattern]
           ,[TwoDigitCalendarEndYear]
           ,[UserData1]
           ,[UserData2]
           ,[UserData3]
           ,[UserData4]
           ,[UserData5]
           ,[UserData6]
           ,[UserData7]
           ,[UserData8]
           ,[CreatedDate]
           ,[CreatedBy]
           ,[UpdatedDate]
           ,[UpdatedBy]
           ,[MinTimeAllowedToChangePwd]
           ,[MinPwdCharacterLength]
           ,[PwdExpirationInDays]
           ,[PwdLockoutThreshold]
           ,[CheckForPreviousPwd]
           ,[StrongPwdUse]
           ,[PwdHistoryCount]
           ,[ApplyToAllSiteMembers]
           ,[InactivityDisablePeriod]
           ,[EnforceSingleOwner]
           ,[InhibitBOLSummaryAutoPopulate]
           ,[InhibitOrderSummaryAutoPopulate]
           ,[InhibitSupplyOrderSummaryAutoPopulate]
           ,[InvoiceStartNumber]
           ,[InvoiceEndNumber]
           ,[InvoiceNextNumber]
           ,[PromptForReturns]
           ,[PromptForTruckCard]
           ,[StartingShortCardNumber]
           ,[UseShortCardNumber]
           ,[ExcessVarianceCount]
           ,[ExcessVarianceTolerance]
           ,[SecondaryStorageFillMethod]
           ,[DisableArchivePeriod])
SELECT TOP 16 
		[ID] 
      ,[Number]
      ,[SPLCCode]
      ,[Address1]
      ,[Address2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Country]
      ,[Phone]
      ,[FAX]
      ,[EmailAddress]
      ,[EmergencyContact]
      ,[EmergencyPhone]
      ,[Enabled]	
      ,[SiteGroupFlag] 
      ,[TimeZone]	
      ,[AdjustForDaylightSavings] 
      ,[LevelUnitIndex] 
      ,[TemperatureUnitIndex]  
      ,[DensityUnitIndex] 
      ,[PressureUnitIndex]
      ,[FlowUnitIndex]
      ,[VolumeUnitIndex]
      ,[MassUnitIndex]
      ,[AdditiveVolumeUnitIndex]
      ,[AdditiveProfileCycleAmountUnitIndex]
      ,[AdditiveProfileRateUnitIndex]
      ,[LevelDecimalPlaces]
      ,[TemperatureDecimalPlaces]
      ,[DensityDecimalPlaces]
      ,[PressureDecimalPlaces]
      ,[FlowDecimalPlaces]
      ,[VolumeDecimalPlaces]
      ,[MassDecimalPlaces]
      ,[AdditiveVolumeDecimalPlaces]
      ,[AdditiveProfileCycleAmountDecimalPlaces]
      ,[AdditiveProfileRateDecimalPlaces]
      ,[VolumeDisplayDefault]
      ,[InhibitAccessAfterHours]
      ,[InhibitMultipleCardIns]
      ,[AccessCardinRequired]
      ,[CheckSiteNumber]
      ,[PromptForCustomerCard]
      ,[PromptForTractorOrTanker]
      ,[PromptForFirstTrailer]
      ,[PromptForSecondTrailer]
      ,[PromptForCompartment]
      ,[EnforceDriverEquipmentMatch]
      ,[EnableAdditiveAccounting]
      ,[UseCompanyEquipmentIdentifiers]
      ,[UseLastKnownGoodTankData]
      ,[MaximumLoadAmount]
      ,[MaximumLoadTime]
      ,[MaximumIdleTime]
      ,[MaximumFlushAmount]
      ,[MaximumMeterProvingAmount]
      ,[MaximumReturnsAmount]
      ,[MaximumNumberOfActiveArms]
      ,[DriverTimeoutPeriod]
      ,[DriverWarningPeriod]
      ,[MaximumPrompts]
      ,[InventoryTransactionAliasIndex]
      ,[AdjustmentTransactionAliasIndex]
      ,[MaximumVehicleWeight]
      ,[LoadByNet]
      ,[PromptForShipmentNumber]
      ,[MaximumProductTemperature]
      ,[ListEquipment]
      ,[DeferStationChanges]
      ,[InhibitBOLWithBrokenBlends]
      ,[InhibitBOLWithImproperAdditization]
      ,[InhibitOverweightBOL]
      ,[ExceptionBOLPrinter]
      ,[EnableAutomaticBOLPrinting]
      ,[AutomaticBOLStartNumber]
      ,[AutomaticBOLEndNumber]
      ,[AutomaticBOLNextNumber]
      ,[SeparateManualBOLNumbering]
      ,[ManualBOLStartNumber]
      ,[ManualBOLEndNumber]
      ,[ManualBOLNextNumber]
      ,[TransactionStartNumber]
      ,[TransactionEndNumber]
      ,[TransactionNextNumber]
      ,[OrderStartNumber]
      ,[OrderEndNumber]
      ,[OrderNextNumber]
      ,[NumberPrefix]
      ,[OpenTransactionWindow]
      ,[AdministrativeLockDate]
      ,[OperationalLockDate]
      ,[MaximumDaysToRetainLogs]
      ,[EnableDebugLogging]
      ,[EnableAuditLogging]
      ,[AutomaticallyPrintAlarmsAndEvents]
      ,[AlarmAndEventPrinter]
      ,[MailServer]
      ,[MailFrom]
      ,[MailUserName]
      ,[MailPassword]
      ,[MailConnectMode]
      ,[DialupName]
      ,[SCADASystem]
      ,[InhibitTemplateGraphics]
      ,[RefreshInterval]
      ,[InhibitEndOfDayOperations]
      ,[InhibitEndOfMonthOperations]
      ,[EndOfDayWarningPeriod]
      ,[InhibitAutomaticPhysicalInventory]
      ,[InhibitAutomaticMeterCloseout]
      ,[InhibitAutomaticReportGeneration]
      ,[InhibitAutomaticAdjustmentDistribution]
      ,[InhibitAutomaticCloseout]
      ,[InhibitTankScan]
      ,[ReportDirectory]
      ,[ManageReports]
      ,[ManagedReportDirectory]
      ,[VRURateLimit]
      ,[VRUHourlyLimit]
      ,[VRUDailyLimit]
      ,[VRUYearlyLimit]
      ,[VRUCurrentYearLimit]
      ,[VRURateActual]
      ,[VRUHourlyActual]
      ,[VRUDailyActual]
      ,[VRUYearlyActual]
      ,[VRUCurrentYearActual]
      ,[VRURateLimitEnabled]
      ,[VRUHourlyLimitEnabled]
      ,[VRUDailyLimitEnabled]
      ,[VRUYearlyLimitEnabled]
      ,[VRUCurrentYearLimitEnabled]
      ,[WatchdogPeriod]
      ,[WatchdogMode]
      ,[WatchdogCounterStart]
      ,[WatchdogCounterEnd]
      ,[NumberGroupSizesType]
      ,[NumberDecimalSeparator]
      ,[NumberGroupSeparator]
      ,[ListSeparator]
      ,[TimePattern]
      ,[TimeSeparator]
      ,[AMSymbol]
      ,[PMSymbol]
      ,[ShortDatePattern]
      ,[DateSeparator]
      ,[LongDatePattern]
      ,[TwoDigitCalendarEndYear]
      ,[UserData1]
      ,[UserData2]
      ,[UserData3]
      ,[UserData4]
      ,[UserData5]
      ,[UserData6]
      ,[UserData7]
      ,[UserData8]
      ,[CreatedDate]
      --,[CreatedBy]
		, 'HJH'
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[MinTimeAllowedToChangePwd]
      ,[MinPwdCharacterLength]
      ,[PwdExpirationInDays]
      ,[PwdLockoutThreshold]
      ,[CheckForPreviousPwd]
      ,[StrongPwdUse]
      ,[PwdHistoryCount]
      ,[ApplyToAllSiteMembers]
      ,[InactivityDisablePeriod]
      ,[EnforceSingleOwner]
      ,[InhibitBOLSummaryAutoPopulate]
      ,[InhibitOrderSummaryAutoPopulate]
      ,[InhibitSupplyOrderSummaryAutoPopulate]
      ,[InvoiceStartNumber]
      ,[InvoiceEndNumber]
      ,[InvoiceNextNumber]
      ,[PromptForReturns]
      ,[PromptForTruckCard]
      ,[StartingShortCardNumber]
      ,[UseShortCardNumber]
      ,[ExcessVarianceCount]
      ,[ExcessVarianceTolerance]
      ,[SecondaryStorageFillMethod]
      ,[DisableArchivePeriod]
FROM [dbo].[tblSites]
WHERE SiteGroupFlag = 0
ORDER BY [SiteIndex]
GO

INSERT INTO [dbo].[tblSites]
           ([ID]
           ,[Number]
           ,[SPLCCode]
           ,[Address1]
           ,[Address2]
           ,[City]
           ,[State]
           ,[Zip]
           ,[Country]
           ,[Phone]
           ,[FAX]
           ,[EmailAddress]
           ,[EmergencyContact]
           ,[EmergencyPhone]
           ,[Enabled]
           ,[SiteGroupFlag]
           ,[TimeZone]
           ,[AdjustForDaylightSavings]
           ,[LevelUnitIndex]
           ,[TemperatureUnitIndex]
           ,[DensityUnitIndex]
           ,[PressureUnitIndex]
           ,[FlowUnitIndex]
           ,[VolumeUnitIndex]
           ,[MassUnitIndex]
           ,[AdditiveVolumeUnitIndex]
           ,[AdditiveProfileCycleAmountUnitIndex]
           ,[AdditiveProfileRateUnitIndex]
           ,[LevelDecimalPlaces]
           ,[TemperatureDecimalPlaces]
           ,[DensityDecimalPlaces]
           ,[PressureDecimalPlaces]
           ,[FlowDecimalPlaces]
           ,[VolumeDecimalPlaces]
           ,[MassDecimalPlaces]
           ,[AdditiveVolumeDecimalPlaces]
           ,[AdditiveProfileCycleAmountDecimalPlaces]
           ,[AdditiveProfileRateDecimalPlaces]
           ,[VolumeDisplayDefault]
           ,[InhibitAccessAfterHours]
           ,[InhibitMultipleCardIns]
           ,[AccessCardinRequired]
           ,[CheckSiteNumber]
           ,[PromptForCustomerCard]
           ,[PromptForTractorOrTanker]
           ,[PromptForFirstTrailer]
           ,[PromptForSecondTrailer]
           ,[PromptForCompartment]
           ,[EnforceDriverEquipmentMatch]
           ,[EnableAdditiveAccounting]
           ,[UseCompanyEquipmentIdentifiers]
           ,[UseLastKnownGoodTankData]
           ,[MaximumLoadAmount]
           ,[MaximumLoadTime]
           ,[MaximumIdleTime]
           ,[MaximumFlushAmount]
           ,[MaximumMeterProvingAmount]
           ,[MaximumReturnsAmount]
           ,[MaximumNumberOfActiveArms]
           ,[DriverTimeoutPeriod]
           ,[DriverWarningPeriod]
           ,[MaximumPrompts]
           ,[InventoryTransactionAliasIndex]
           ,[AdjustmentTransactionAliasIndex]
           ,[MaximumVehicleWeight]
           ,[LoadByNet]
           ,[PromptForShipmentNumber]
           ,[MaximumProductTemperature]
           ,[ListEquipment]
           ,[DeferStationChanges]
           ,[InhibitBOLWithBrokenBlends]
           ,[InhibitBOLWithImproperAdditization]
           ,[InhibitOverweightBOL]
           ,[ExceptionBOLPrinter]
           ,[EnableAutomaticBOLPrinting]
           ,[AutomaticBOLStartNumber]
           ,[AutomaticBOLEndNumber]
           ,[AutomaticBOLNextNumber]
           ,[SeparateManualBOLNumbering]
           ,[ManualBOLStartNumber]
           ,[ManualBOLEndNumber]
           ,[ManualBOLNextNumber]
           ,[TransactionStartNumber]
           ,[TransactionEndNumber]
           ,[TransactionNextNumber]
           ,[OrderStartNumber]
           ,[OrderEndNumber]
           ,[OrderNextNumber]
           ,[NumberPrefix]
           ,[OpenTransactionWindow]
           ,[AdministrativeLockDate]
           ,[OperationalLockDate]
           ,[MaximumDaysToRetainLogs]
           ,[EnableDebugLogging]
           ,[EnableAuditLogging]
           ,[AutomaticallyPrintAlarmsAndEvents]
           ,[AlarmAndEventPrinter]
           ,[MailServer]
           ,[MailFrom]
           ,[MailUserName]
           ,[MailPassword]
           ,[MailConnectMode]
           ,[DialupName]
           ,[SCADASystem]
           ,[InhibitTemplateGraphics]
           ,[RefreshInterval]
           ,[InhibitEndOfDayOperations]
           ,[InhibitEndOfMonthOperations]
           ,[EndOfDayWarningPeriod]
           ,[InhibitAutomaticPhysicalInventory]
           ,[InhibitAutomaticMeterCloseout]
           ,[InhibitAutomaticReportGeneration]
           ,[InhibitAutomaticAdjustmentDistribution]
           ,[InhibitAutomaticCloseout]
           ,[InhibitTankScan]
           ,[ReportDirectory]
           ,[ManageReports]
           ,[ManagedReportDirectory]
           ,[VRURateLimit]
           ,[VRUHourlyLimit]
           ,[VRUDailyLimit]
           ,[VRUYearlyLimit]
           ,[VRUCurrentYearLimit]
           ,[VRURateActual]
           ,[VRUHourlyActual]
           ,[VRUDailyActual]
           ,[VRUYearlyActual]
           ,[VRUCurrentYearActual]
           ,[VRURateLimitEnabled]
           ,[VRUHourlyLimitEnabled]
           ,[VRUDailyLimitEnabled]
           ,[VRUYearlyLimitEnabled]
           ,[VRUCurrentYearLimitEnabled]
           ,[WatchdogPeriod]
           ,[WatchdogMode]
           ,[WatchdogCounterStart]
           ,[WatchdogCounterEnd]
           ,[NumberGroupSizesType]
           ,[NumberDecimalSeparator]
           ,[NumberGroupSeparator]
           ,[ListSeparator]
           ,[TimePattern]
           ,[TimeSeparator]
           ,[AMSymbol]
           ,[PMSymbol]
           ,[ShortDatePattern]
           ,[DateSeparator]
           ,[LongDatePattern]
           ,[TwoDigitCalendarEndYear]
           ,[UserData1]
           ,[UserData2]
           ,[UserData3]
           ,[UserData4]
           ,[UserData5]
           ,[UserData6]
           ,[UserData7]
           ,[UserData8]
           ,[CreatedDate]
           ,[CreatedBy]
           ,[UpdatedDate]
           ,[UpdatedBy]
           ,[MinTimeAllowedToChangePwd]
           ,[MinPwdCharacterLength]
           ,[PwdExpirationInDays]
           ,[PwdLockoutThreshold]
           ,[CheckForPreviousPwd]
           ,[StrongPwdUse]
           ,[PwdHistoryCount]
           ,[ApplyToAllSiteMembers]
           ,[InactivityDisablePeriod]
           ,[EnforceSingleOwner]
           ,[InhibitBOLSummaryAutoPopulate]
           ,[InhibitOrderSummaryAutoPopulate]
           ,[InhibitSupplyOrderSummaryAutoPopulate]
           ,[InvoiceStartNumber]
           ,[InvoiceEndNumber]
           ,[InvoiceNextNumber]
           ,[PromptForReturns]
           ,[PromptForTruckCard]
           ,[StartingShortCardNumber]
           ,[UseShortCardNumber]
           ,[ExcessVarianceCount]
           ,[ExcessVarianceTolerance]
           ,[SecondaryStorageFillMethod]
           ,[DisableArchivePeriod])
SELECT TOP 16 		
		[ID] 
      ,[Number]
      ,[SPLCCode]
      ,[Address1]
      ,[Address2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Country]
      ,[Phone]
      ,[FAX]
      ,[EmailAddress]
      ,[EmergencyContact]
      ,[EmergencyPhone]
      ,[Enabled]	
      ,[SiteGroupFlag] 
      ,[TimeZone]	
      ,[AdjustForDaylightSavings] 
      ,[LevelUnitIndex] 
      ,[TemperatureUnitIndex]  
      ,[DensityUnitIndex] 
      ,[PressureUnitIndex]
      ,[FlowUnitIndex]
      ,[VolumeUnitIndex]
      ,[MassUnitIndex]
      ,[AdditiveVolumeUnitIndex]
      ,[AdditiveProfileCycleAmountUnitIndex]
      ,[AdditiveProfileRateUnitIndex]
      ,[LevelDecimalPlaces]
      ,[TemperatureDecimalPlaces]
      ,[DensityDecimalPlaces]
      ,[PressureDecimalPlaces]
      ,[FlowDecimalPlaces]
      ,[VolumeDecimalPlaces]
      ,[MassDecimalPlaces]
      ,[AdditiveVolumeDecimalPlaces]
      ,[AdditiveProfileCycleAmountDecimalPlaces]
      ,[AdditiveProfileRateDecimalPlaces]
      ,[VolumeDisplayDefault]
      ,[InhibitAccessAfterHours]
      ,[InhibitMultipleCardIns]
      ,[AccessCardinRequired]
      ,[CheckSiteNumber]
      ,[PromptForCustomerCard]
      ,[PromptForTractorOrTanker]
      ,[PromptForFirstTrailer]
      ,[PromptForSecondTrailer]
      ,[PromptForCompartment]
      ,[EnforceDriverEquipmentMatch]
      ,[EnableAdditiveAccounting]
      ,[UseCompanyEquipmentIdentifiers]
      ,[UseLastKnownGoodTankData]
      ,[MaximumLoadAmount]
      ,[MaximumLoadTime]
      ,[MaximumIdleTime]
      ,[MaximumFlushAmount]
      ,[MaximumMeterProvingAmount]
      ,[MaximumReturnsAmount]
      ,[MaximumNumberOfActiveArms]
      ,[DriverTimeoutPeriod]
      ,[DriverWarningPeriod]
      ,[MaximumPrompts]
      ,[InventoryTransactionAliasIndex]
      ,[AdjustmentTransactionAliasIndex]
      ,[MaximumVehicleWeight]
      ,[LoadByNet]
      ,[PromptForShipmentNumber]
      ,[MaximumProductTemperature]
      ,[ListEquipment]
      ,[DeferStationChanges]
      ,[InhibitBOLWithBrokenBlends]
      ,[InhibitBOLWithImproperAdditization]
      ,[InhibitOverweightBOL]
      ,[ExceptionBOLPrinter]
      ,[EnableAutomaticBOLPrinting]
      ,[AutomaticBOLStartNumber]
      ,[AutomaticBOLEndNumber]
      ,[AutomaticBOLNextNumber]
      ,[SeparateManualBOLNumbering]
      ,[ManualBOLStartNumber]
      ,[ManualBOLEndNumber]
      ,[ManualBOLNextNumber]
      ,[TransactionStartNumber]
      ,[TransactionEndNumber]
      ,[TransactionNextNumber]
      ,[OrderStartNumber]
      ,[OrderEndNumber]
      ,[OrderNextNumber]
      ,[NumberPrefix]
      ,[OpenTransactionWindow]
      ,[AdministrativeLockDate]
      ,[OperationalLockDate]
      ,[MaximumDaysToRetainLogs]
      ,[EnableDebugLogging]
      ,[EnableAuditLogging]
      ,[AutomaticallyPrintAlarmsAndEvents]
      ,[AlarmAndEventPrinter]
      ,[MailServer]
      ,[MailFrom]
      ,[MailUserName]
      ,[MailPassword]
      ,[MailConnectMode]
      ,[DialupName]
      ,[SCADASystem]
      ,[InhibitTemplateGraphics]
      ,[RefreshInterval]
      ,[InhibitEndOfDayOperations]
      ,[InhibitEndOfMonthOperations]
      ,[EndOfDayWarningPeriod]
      ,[InhibitAutomaticPhysicalInventory]
      ,[InhibitAutomaticMeterCloseout]
      ,[InhibitAutomaticReportGeneration]
      ,[InhibitAutomaticAdjustmentDistribution]
      ,[InhibitAutomaticCloseout]
      ,[InhibitTankScan]
      ,[ReportDirectory]
      ,[ManageReports]
      ,[ManagedReportDirectory]
      ,[VRURateLimit]
      ,[VRUHourlyLimit]
      ,[VRUDailyLimit]
      ,[VRUYearlyLimit]
      ,[VRUCurrentYearLimit]
      ,[VRURateActual]
      ,[VRUHourlyActual]
      ,[VRUDailyActual]
      ,[VRUYearlyActual]
      ,[VRUCurrentYearActual]
      ,[VRURateLimitEnabled]
      ,[VRUHourlyLimitEnabled]
      ,[VRUDailyLimitEnabled]
      ,[VRUYearlyLimitEnabled]
      ,[VRUCurrentYearLimitEnabled]
      ,[WatchdogPeriod]
      ,[WatchdogMode]
      ,[WatchdogCounterStart]
      ,[WatchdogCounterEnd]
      ,[NumberGroupSizesType]
      ,[NumberDecimalSeparator]
      ,[NumberGroupSeparator]
      ,[ListSeparator]
      ,[TimePattern]
      ,[TimeSeparator]
      ,[AMSymbol]
      ,[PMSymbol]
      ,[ShortDatePattern]
      ,[DateSeparator]
      ,[LongDatePattern]
      ,[TwoDigitCalendarEndYear]
      ,[UserData1]
      ,[UserData2]
      ,[UserData3]
      ,[UserData4]
      ,[UserData5]
      ,[UserData6]
      ,[UserData7]
      ,[UserData8]
      ,[CreatedDate]
      --,[CreatedBy]
		, 'HJH'
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[MinTimeAllowedToChangePwd]
      ,[MinPwdCharacterLength]
      ,[PwdExpirationInDays]
      ,[PwdLockoutThreshold]
      ,[CheckForPreviousPwd]
      ,[StrongPwdUse]
      ,[PwdHistoryCount]
      ,[ApplyToAllSiteMembers]
      ,[InactivityDisablePeriod]
      ,[EnforceSingleOwner]
      ,[InhibitBOLSummaryAutoPopulate]
      ,[InhibitOrderSummaryAutoPopulate]
      ,[InhibitSupplyOrderSummaryAutoPopulate]
      ,[InvoiceStartNumber]
      ,[InvoiceEndNumber]
      ,[InvoiceNextNumber]
      ,[PromptForReturns]
      ,[PromptForTruckCard]
      ,[StartingShortCardNumber]
      ,[UseShortCardNumber]
      ,[ExcessVarianceCount]
      ,[ExcessVarianceTolerance]
      ,[SecondaryStorageFillMethod]
      ,[DisableArchivePeriod]
FROM [dbo].[tblSites]
WHERE SiteGroupFlag = 0
ORDER BY [SiteIndex]
GO

INSERT INTO [dbo].[tblSites]
           ([ID]
           ,[Number]
           ,[SPLCCode]
           ,[Address1]
           ,[Address2]
           ,[City]
           ,[State]
           ,[Zip]
           ,[Country]
           ,[Phone]
           ,[FAX]
           ,[EmailAddress]
           ,[EmergencyContact]
           ,[EmergencyPhone]
           ,[Enabled]
           ,[SiteGroupFlag]
           ,[TimeZone]
           ,[AdjustForDaylightSavings]
           ,[LevelUnitIndex]
           ,[TemperatureUnitIndex]
           ,[DensityUnitIndex]
           ,[PressureUnitIndex]
           ,[FlowUnitIndex]
           ,[VolumeUnitIndex]
           ,[MassUnitIndex]
           ,[AdditiveVolumeUnitIndex]
           ,[AdditiveProfileCycleAmountUnitIndex]
           ,[AdditiveProfileRateUnitIndex]
           ,[LevelDecimalPlaces]
           ,[TemperatureDecimalPlaces]
           ,[DensityDecimalPlaces]
           ,[PressureDecimalPlaces]
           ,[FlowDecimalPlaces]
           ,[VolumeDecimalPlaces]
           ,[MassDecimalPlaces]
           ,[AdditiveVolumeDecimalPlaces]
           ,[AdditiveProfileCycleAmountDecimalPlaces]
           ,[AdditiveProfileRateDecimalPlaces]
           ,[VolumeDisplayDefault]
           ,[InhibitAccessAfterHours]
           ,[InhibitMultipleCardIns]
           ,[AccessCardinRequired]
           ,[CheckSiteNumber]
           ,[PromptForCustomerCard]
           ,[PromptForTractorOrTanker]
           ,[PromptForFirstTrailer]
           ,[PromptForSecondTrailer]
           ,[PromptForCompartment]
           ,[EnforceDriverEquipmentMatch]
           ,[EnableAdditiveAccounting]
           ,[UseCompanyEquipmentIdentifiers]
           ,[UseLastKnownGoodTankData]
           ,[MaximumLoadAmount]
           ,[MaximumLoadTime]
           ,[MaximumIdleTime]
           ,[MaximumFlushAmount]
           ,[MaximumMeterProvingAmount]
           ,[MaximumReturnsAmount]
           ,[MaximumNumberOfActiveArms]
           ,[DriverTimeoutPeriod]
           ,[DriverWarningPeriod]
           ,[MaximumPrompts]
           ,[InventoryTransactionAliasIndex]
           ,[AdjustmentTransactionAliasIndex]
           ,[MaximumVehicleWeight]
           ,[LoadByNet]
           ,[PromptForShipmentNumber]
           ,[MaximumProductTemperature]
           ,[ListEquipment]
           ,[DeferStationChanges]
           ,[InhibitBOLWithBrokenBlends]
           ,[InhibitBOLWithImproperAdditization]
           ,[InhibitOverweightBOL]
           ,[ExceptionBOLPrinter]
           ,[EnableAutomaticBOLPrinting]
           ,[AutomaticBOLStartNumber]
           ,[AutomaticBOLEndNumber]
           ,[AutomaticBOLNextNumber]
           ,[SeparateManualBOLNumbering]
           ,[ManualBOLStartNumber]
           ,[ManualBOLEndNumber]
           ,[ManualBOLNextNumber]
           ,[TransactionStartNumber]
           ,[TransactionEndNumber]
           ,[TransactionNextNumber]
           ,[OrderStartNumber]
           ,[OrderEndNumber]
           ,[OrderNextNumber]
           ,[NumberPrefix]
           ,[OpenTransactionWindow]
           ,[AdministrativeLockDate]
           ,[OperationalLockDate]
           ,[MaximumDaysToRetainLogs]
           ,[EnableDebugLogging]
           ,[EnableAuditLogging]
           ,[AutomaticallyPrintAlarmsAndEvents]
           ,[AlarmAndEventPrinter]
           ,[MailServer]
           ,[MailFrom]
           ,[MailUserName]
           ,[MailPassword]
           ,[MailConnectMode]
           ,[DialupName]
           ,[SCADASystem]
           ,[InhibitTemplateGraphics]
           ,[RefreshInterval]
           ,[InhibitEndOfDayOperations]
           ,[InhibitEndOfMonthOperations]
           ,[EndOfDayWarningPeriod]
           ,[InhibitAutomaticPhysicalInventory]
           ,[InhibitAutomaticMeterCloseout]
           ,[InhibitAutomaticReportGeneration]
           ,[InhibitAutomaticAdjustmentDistribution]
           ,[InhibitAutomaticCloseout]
           ,[InhibitTankScan]
           ,[ReportDirectory]
           ,[ManageReports]
           ,[ManagedReportDirectory]
           ,[VRURateLimit]
           ,[VRUHourlyLimit]
           ,[VRUDailyLimit]
           ,[VRUYearlyLimit]
           ,[VRUCurrentYearLimit]
           ,[VRURateActual]
           ,[VRUHourlyActual]
           ,[VRUDailyActual]
           ,[VRUYearlyActual]
           ,[VRUCurrentYearActual]
           ,[VRURateLimitEnabled]
           ,[VRUHourlyLimitEnabled]
           ,[VRUDailyLimitEnabled]
           ,[VRUYearlyLimitEnabled]
           ,[VRUCurrentYearLimitEnabled]
           ,[WatchdogPeriod]
           ,[WatchdogMode]
           ,[WatchdogCounterStart]
           ,[WatchdogCounterEnd]
           ,[NumberGroupSizesType]
           ,[NumberDecimalSeparator]
           ,[NumberGroupSeparator]
           ,[ListSeparator]
           ,[TimePattern]
           ,[TimeSeparator]
           ,[AMSymbol]
           ,[PMSymbol]
           ,[ShortDatePattern]
           ,[DateSeparator]
           ,[LongDatePattern]
           ,[TwoDigitCalendarEndYear]
           ,[UserData1]
           ,[UserData2]
           ,[UserData3]
           ,[UserData4]
           ,[UserData5]
           ,[UserData6]
           ,[UserData7]
           ,[UserData8]
           ,[CreatedDate]
           ,[CreatedBy]
           ,[UpdatedDate]
           ,[UpdatedBy]
           ,[MinTimeAllowedToChangePwd]
           ,[MinPwdCharacterLength]
           ,[PwdExpirationInDays]
           ,[PwdLockoutThreshold]
           ,[CheckForPreviousPwd]
           ,[StrongPwdUse]
           ,[PwdHistoryCount]
           ,[ApplyToAllSiteMembers]
           ,[InactivityDisablePeriod]
           ,[EnforceSingleOwner]
           ,[InhibitBOLSummaryAutoPopulate]
           ,[InhibitOrderSummaryAutoPopulate]
           ,[InhibitSupplyOrderSummaryAutoPopulate]
           ,[InvoiceStartNumber]
           ,[InvoiceEndNumber]
           ,[InvoiceNextNumber]
           ,[PromptForReturns]
           ,[PromptForTruckCard]
           ,[StartingShortCardNumber]
           ,[UseShortCardNumber]
           ,[ExcessVarianceCount]
           ,[ExcessVarianceTolerance]
           ,[SecondaryStorageFillMethod]
           ,[DisableArchivePeriod])
SELECT TOP 2 
		[ID] 
      ,[Number]
      ,[SPLCCode]
      ,[Address1]
      ,[Address2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Country]
      ,[Phone]
      ,[FAX]
      ,[EmailAddress]
      ,[EmergencyContact]
      ,[EmergencyPhone]
      ,[Enabled]	
      ,[SiteGroupFlag] 
      ,[TimeZone]	
      ,[AdjustForDaylightSavings] 
      ,[LevelUnitIndex] 
      ,[TemperatureUnitIndex]  
      ,[DensityUnitIndex] 
      ,[PressureUnitIndex]
      ,[FlowUnitIndex]
      ,[VolumeUnitIndex]
      ,[MassUnitIndex]
      ,[AdditiveVolumeUnitIndex]
      ,[AdditiveProfileCycleAmountUnitIndex]
      ,[AdditiveProfileRateUnitIndex]
      ,[LevelDecimalPlaces]
      ,[TemperatureDecimalPlaces]
      ,[DensityDecimalPlaces]
      ,[PressureDecimalPlaces]
      ,[FlowDecimalPlaces]
      ,[VolumeDecimalPlaces]
      ,[MassDecimalPlaces]
      ,[AdditiveVolumeDecimalPlaces]
      ,[AdditiveProfileCycleAmountDecimalPlaces]
      ,[AdditiveProfileRateDecimalPlaces]
      ,[VolumeDisplayDefault]
      ,[InhibitAccessAfterHours]
      ,[InhibitMultipleCardIns]
      ,[AccessCardinRequired]
      ,[CheckSiteNumber]
      ,[PromptForCustomerCard]
      ,[PromptForTractorOrTanker]
      ,[PromptForFirstTrailer]
      ,[PromptForSecondTrailer]
      ,[PromptForCompartment]
      ,[EnforceDriverEquipmentMatch]
      ,[EnableAdditiveAccounting]
      ,[UseCompanyEquipmentIdentifiers]
      ,[UseLastKnownGoodTankData]
      ,[MaximumLoadAmount]
      ,[MaximumLoadTime]
      ,[MaximumIdleTime]
      ,[MaximumFlushAmount]
      ,[MaximumMeterProvingAmount]
      ,[MaximumReturnsAmount]
      ,[MaximumNumberOfActiveArms]
      ,[DriverTimeoutPeriod]
      ,[DriverWarningPeriod]
      ,[MaximumPrompts]
      ,[InventoryTransactionAliasIndex]
      ,[AdjustmentTransactionAliasIndex]
      ,[MaximumVehicleWeight]
      ,[LoadByNet]
      ,[PromptForShipmentNumber]
      ,[MaximumProductTemperature]
      ,[ListEquipment]
      ,[DeferStationChanges]
      ,[InhibitBOLWithBrokenBlends]
      ,[InhibitBOLWithImproperAdditization]
      ,[InhibitOverweightBOL]
      ,[ExceptionBOLPrinter]
      ,[EnableAutomaticBOLPrinting]
      ,[AutomaticBOLStartNumber]
      ,[AutomaticBOLEndNumber]
      ,[AutomaticBOLNextNumber]
      ,[SeparateManualBOLNumbering]
      ,[ManualBOLStartNumber]
      ,[ManualBOLEndNumber]
      ,[ManualBOLNextNumber]
      ,[TransactionStartNumber]
      ,[TransactionEndNumber]
      ,[TransactionNextNumber]
      ,[OrderStartNumber]
      ,[OrderEndNumber]
      ,[OrderNextNumber]
      ,[NumberPrefix]
      ,[OpenTransactionWindow]
      ,[AdministrativeLockDate]
      ,[OperationalLockDate]
      ,[MaximumDaysToRetainLogs]
      ,[EnableDebugLogging]
      ,[EnableAuditLogging]
      ,[AutomaticallyPrintAlarmsAndEvents]
      ,[AlarmAndEventPrinter]
      ,[MailServer]
      ,[MailFrom]
      ,[MailUserName]
      ,[MailPassword]
      ,[MailConnectMode]
      ,[DialupName]
      ,[SCADASystem]
      ,[InhibitTemplateGraphics]
      ,[RefreshInterval]
      ,[InhibitEndOfDayOperations]
      ,[InhibitEndOfMonthOperations]
      ,[EndOfDayWarningPeriod]
      ,[InhibitAutomaticPhysicalInventory]
      ,[InhibitAutomaticMeterCloseout]
      ,[InhibitAutomaticReportGeneration]
      ,[InhibitAutomaticAdjustmentDistribution]
      ,[InhibitAutomaticCloseout]
      ,[InhibitTankScan]
      ,[ReportDirectory]
      ,[ManageReports]
      ,[ManagedReportDirectory]
      ,[VRURateLimit]
      ,[VRUHourlyLimit]
      ,[VRUDailyLimit]
      ,[VRUYearlyLimit]
      ,[VRUCurrentYearLimit]
      ,[VRURateActual]
      ,[VRUHourlyActual]
      ,[VRUDailyActual]
      ,[VRUYearlyActual]
      ,[VRUCurrentYearActual]
      ,[VRURateLimitEnabled]
      ,[VRUHourlyLimitEnabled]
      ,[VRUDailyLimitEnabled]
      ,[VRUYearlyLimitEnabled]
      ,[VRUCurrentYearLimitEnabled]
      ,[WatchdogPeriod]
      ,[WatchdogMode]
      ,[WatchdogCounterStart]
      ,[WatchdogCounterEnd]
      ,[NumberGroupSizesType]
      ,[NumberDecimalSeparator]
      ,[NumberGroupSeparator]
      ,[ListSeparator]
      ,[TimePattern]
      ,[TimeSeparator]
      ,[AMSymbol]
      ,[PMSymbol]
      ,[ShortDatePattern]
      ,[DateSeparator]
      ,[LongDatePattern]
      ,[TwoDigitCalendarEndYear]
      ,[UserData1]
      ,[UserData2]
      ,[UserData3]
      ,[UserData4]
      ,[UserData5]
      ,[UserData6]
      ,[UserData7]
      ,[UserData8]
      ,[CreatedDate]
      --,[CreatedBy]
		, 'HJH'
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[MinTimeAllowedToChangePwd]
      ,[MinPwdCharacterLength]
      ,[PwdExpirationInDays]
      ,[PwdLockoutThreshold]
      ,[CheckForPreviousPwd]
      ,[StrongPwdUse]
      ,[PwdHistoryCount]
      ,[ApplyToAllSiteMembers]
      ,[InactivityDisablePeriod]
      ,[EnforceSingleOwner]
      ,[InhibitBOLSummaryAutoPopulate]
      ,[InhibitOrderSummaryAutoPopulate]
      ,[InhibitSupplyOrderSummaryAutoPopulate]
      ,[InvoiceStartNumber]
      ,[InvoiceEndNumber]
      ,[InvoiceNextNumber]
      ,[PromptForReturns]
      ,[PromptForTruckCard]
      ,[StartingShortCardNumber]
      ,[UseShortCardNumber]
      ,[ExcessVarianceCount]
      ,[ExcessVarianceTolerance]
      ,[SecondaryStorageFillMethod]
      ,[DisableArchivePeriod]
FROM [dbo].[tblSites]
WHERE SiteGroupFlag = 0
ORDER BY [SiteIndex]
GO

-- Append the SiteIndex to the Site ID (site name)
UPDATE tblsites
SET ID = SUBSTRING(ID, 1, 24) + ' - ' + CONVERT(VARCHAR(3), SiteIndex)
WHERE SiteGroupFlag = 0 AND CreatedBy = 'HJH'
GO

-- View all local sites
--SELECT Siteindex, ID FROM tblsites WHERE SiteGroupFlag = 0 ORDER BY [SiteIndex]
GO

/*********************************************************************************************************/
-- 2. Assign each of the 50 new local sites to the JFLA group.
--	  Assign each of the 50 new local sites to the the SiteAdmin
/*********************************************************************************************************/

PRINT 'Assigning new (local) sites to JFLA group'
GO

-- 50 local sites (rows) in tblSites after the update (as expected)
--SELECT * FROM tblSites WHERE SiteIndex NOT IN (SELECT ParentSiteIndex FROM tblSiteToSiteMap)

-- 75 rows in tblSiteToSiteMap before update 
--SELECT * FROM tblSiteToSiteMap

-- 1 row
--SELECT Siteindex FROM tblsites WHERE ID = 'JFLA' 
--SELECT Siteindex FROM tblsites WHERE ID = 'SiteAdmin' 
--GO

DECLARE @JFLASiteIndex int
DECLARE @SiteAdminSiteIndex int

SELECT @SiteAdminSiteIndex = Siteindex
FROM tblsites 
WHERE ID = 'SiteAdmin'

SELECT @JFLASiteIndex = Siteindex
FROM tblsites 
WHERE ID = 'JFLA'

-- The sites that should be inserted into tblSiteToSiteMap
/*
SELECT @JFLASiteIndex
      ,SiteIndex
      ,getdate()
      ,'HJH'
FROM [dbo].[tblSites]
WHERE   SiteGroupFlag = 0 AND
		SiteIndex NOT IN (SELECT ParentSiteIndex FROM tblSiteToSiteMap)
*/

INSERT INTO [dbo].[tblSiteToSiteMap]
           ([ParentSiteIndex]
           ,[ChildSiteIndex]
           ,[CreatedDate]
           ,[CreatedBy])
SELECT @SiteAdminSiteIndex
      ,SiteIndex
      ,getdate()
      ,'HJH'
FROM [dbo].[tblSites]
WHERE   SiteGroupFlag = 0 AND 
		SiteIndex NOT IN (SELECT ParentSiteIndex FROM tblSiteToSiteMap)
		
INSERT INTO [dbo].[tblSiteToSiteMap]
           ([ParentSiteIndex]
           ,[ChildSiteIndex]
           ,[CreatedDate]
           ,[CreatedBy])
SELECT @JFLASiteIndex
      ,SiteIndex
      ,getdate()
      ,'HJH'
FROM [dbo].[tblSites]
WHERE   SiteGroupFlag = 0 AND 
		SiteIndex NOT IN (SELECT ParentSiteIndex FROM tblSiteToSiteMap)
		
GO

/*********************************************************************************************************/
-- 3. Assign a user to each of the new sites (At this time it is not clear whether this needs to be done).
/*********************************************************************************************************/

--PRINT 'Assigning users to new sites'

-- 17 users before update. All are part of the JFLA group(?)
--SELECT UserIndex, UserID, SiteIndex from tblUsers

-- 19 groups before update.
--SELECT * from tblGroups

-- All 17 users are assigned to a group
--SELECT * from tblUserGroupMap

/*********************************************************************************************************/
-- 4. Assign each of the new local sites to each product
/*********************************************************************************************************/

-- Logic: For each product:
--			1. Copy all new local sites into a temp table
--			2. Set the temp table ProductIndex and ProductID
--		  Copy the temp table into the tblEntityToSiteMap table
--		  Truncate the temp table

-- So for N products we should have 50*N new rows in the tblEntityToSiteMap,
-- and with 14 product rows before updates, we should have 700 new rows in tblEntityToSiteMap

PRINT 'Assigning products to new sites'

IF OBJECT_ID('tempdb..#TempSiteProductData') IS NOT NULL
	DROP TABLE [dbo].[#TempSiteProductData]
GO

IF OBJECT_ID('tempdb..#TempSiteProductDataBackup') IS NOT NULL
	DROP TABLE [dbo].[#TempSiteProductDataBackup]
GO

CREATE TABLE #TempSiteProductData
(
	SiteIndex int null,
	SiteId nvarchar(30) null,
	ProductIndex int null,
	ProductId nvarchar(30) null,
	Copied bit null		-- was this row already copied to tblEntityToSiteMap?
)

-- All records that will be added to tblentityToSiteMap
CREATE TABLE #TempSiteProductDataBackup
(
	SiteIndex int null,
	SiteId nvarchar(30) null,
	ProductIndex int null,
	ProductId nvarchar(30) null,
	Copied bit null		-- was this row already copied to tblEntityToSiteMap?
)

DECLARE @NSites int
DECLARE @NProducts int
DECLARE @ProductIndex int
DECLARE @ProductID nvarchar(30)

DECLARE ProductCursor CURSOR FOR 
	SELECT ProductIndex, ProductId FROM tblProducts --WHERE ProductIndex != -1

--SELECT @NSites = COUNT(*) from tblSites WHERE CreatedBy = 'HJH'
--SELECT @NProducts = COUNT(*) from tblProducts

OPEN ProductCursor

FETCH NEXT FROM ProductCursor INTO @ProductIndex, @ProductId

WHILE @@FETCH_STATUS = 0
BEGIN
	INSERT INTO #TempSiteProductData (SiteIndex, SiteId)
	SELECT SiteIndex, Id FROM tblSites WHERE CreatedBy = 'HJH'

	UPDATE #TempSiteProductData
	SET ProductIndex = @ProductIndex,
		ProductID = @ProductID
		--Copied = 0

	-- Copy temp data into tblEntityToSiteMap and then truncate the temp table
	INSERT INTO [dbo].[tblEntityToSiteMap]
			   ([TypeID]
			   ,[SiteIndex]
			   ,[Index]			-- in this case Index refers to the ProductIndex
			   ,[CreatedDate]
			   ,[CreatedBy])
	SELECT		'Products'
			   ,[SiteIndex]
			   ,[ProductIndex]	
				,getdate()
				,'HJH'
	FROM #TempSiteProductData

	-- The temp backup table will contain all the data that was inserted into tblEntityToSiteMap
	INSERT INTO #TempSiteProductDataBackup
	SELECT * FROM #TempSiteProductData

	TRUNCATE TABLE #TempSiteProductData

	FETCH NEXT FROM ProductCursor INTO @ProductIndex, @ProductId
END

CLOSE ProductCursor
DEALLOCATE ProductCursor

-- Verify results
--SELECT * FROM #TempSiteProductDataBackup

--SELECT * FROM tblEntityToSiteMap WHERE TYPEId = 'Products' AND CreatedBy = 'HJH'

DROP TABLE #TempSiteProductData
DROP TABLE #TempSiteProductDataBackup
GO

/*********************************************************************************************************/
-- 5. Assign all existing Equipment Types to each new site in tblEntityToSiteMap
/*********************************************************************************************************/

PRINT 'Assigning all equipment types to each new local site'

-- 6 equipment types are in the baseline db defined at this time
--SELECT * FROM tblEquipmentTypes

-- Equipment types that are currently assigned to existing sites
--SELECT * FROM tblEntityToSiteMap WHERE TypeID = 'Equipment Type'

-- Logic: For each equipment type:
--			1. Copy all new local sites into a temp table
--			2. Set the temp table EqTypeIndex and ProductID
--		  Copy the temp table into the tblEntityToSiteMap table
--		  Truncate the temp table

IF OBJECT_ID('tempdb..#TempSiteEqTypeData') IS NOT NULL
	DROP TABLE [dbo].[#TempSiteEqTypeData]
GO

IF OBJECT_ID('tempdb..#TempSiteEqTypeDataBackup') IS NOT NULL
	DROP TABLE [dbo].[#TempSiteEqTypeDataBackup]
GO

CREATE TABLE #TempSiteEqTypeData
(
	SiteIndex int null,
	SiteId nvarchar(30) null,
	EqTypeIndex int null,
	EqTypeName nvarchar(50) null,
	Copied bit null		-- was this row already copied to tblEntityToSiteMap?
)

-- All records that will be added to tblEntityToSiteMap
CREATE TABLE #TempSiteEqTypeDataBackup
(
	SiteIndex int null,
	SiteId nvarchar(30) null,
	EqTypeIndex int null,
	EqTypeName nvarchar(50) null,
	Copied bit null
)

DECLARE @NSites int
DECLARE @NEqTypes int
DECLARE @EqTypeIndex int
DECLARE @EqTypeName nvarchar(30)

DECLARE EqTypeCursor CURSOR FOR 
	SELECT EqTypeIndex, EqTypeName FROM tblEquipmentTypes

SELECT @NSites = COUNT(*) from tblSites WHERE CreatedBy = 'HJH'
SELECT @NEqTypes = COUNT(*) from tblEquipmentTypes

OPEN EqTypeCursor

FETCH NEXT FROM EqTypeCursor INTO @EqTypeIndex, @EqTypeName

WHILE @@FETCH_STATUS = 0
BEGIN
	INSERT INTO #TempSiteEqTypeData (SiteIndex, SiteId)
	SELECT SiteIndex, Id FROM tblSites WHERE CreatedBy = 'HJH'

	UPDATE #TempSiteEqTypeData
	SET EqTypeIndex = @EqTypeIndex,
		EqTypeName = @EqTypeName
		--Copied = 0

	-- Copy temp data into tblEntityToSiteMap and then truncate the temp table
	INSERT INTO [dbo].[tblEntityToSiteMap]
			   ([TypeID]
			   ,[SiteIndex]
			   ,[Index]			-- in this case Index refers to the ProductIndex
			   ,[CreatedDate]
			   ,[CreatedBy])
	SELECT		'Equipment Type'
			   ,[SiteIndex]
			   ,[EqTypeIndex]	
				,getdate()
				,'HJH'
	FROM #TempSiteEqTypeData

	-- The temp backup table will contain all the data that was inserted into tblEntityToSiteMap
	INSERT INTO #TempSiteEqTypeDataBackup
	SELECT * FROM #TempSiteEqTypeData

	TRUNCATE TABLE #TempSiteEqTypeData

	FETCH NEXT FROM EqTypeCursor INTO @EqTypeIndex, @EqTypeName
END

CLOSE EqTypeCursor
DEALLOCATE EqTypeCursor

-- Verify results
--PRINT 'New equipment type site records'
--SELECT * FROM #TempSiteEqTypeDataBackup
--SELECT * FROM tblEntityToSiteMap WHERE TypeId = 'Equipment Type' AND CreatedBy = 'HJH'

DROP TABLE #TempSiteEqTypeData
DROP TABLE #TempSiteEqTypeDataBackup
GO

/*********************************************************************************************************/
-- 6. a. Set (UPDATE) all existng tblEquipment rows to a local site.
--    b. Then create a copy of all existing equipment rows for each new local site.
--	  c. Then create a row in tblEntityToSiteMap for each new row in tblEquipment.
--	  Q. There may be oprhaned 'Equipment' rows in tblEntityToSiteMap.
--		 Should we delete all equipment rows in tblEntityToSiteMap and create a new row for each row in tblEquipment? 
--
--    (per Amanda):
--    Currently all equipments are created for site JEFM. It shall be changed to a local site. 
--	  After the change, create the set of equipments for each site. If it has 100 equipments already, 
--	  it shall have 100 equipments * 50 sites = 5000 equipments.
/*********************************************************************************************************/

-- 6a.
-- There are currently 672 rows in rblEquipment. All are assigned to SiteIndex 3 (JEFM)
-- There should be 672 * NSites (= 70) = 47040 rows in tblEquipment after this section is completed. All should have a local SiteIndex (!= 3)
-- Set (update) all equipment rows that are assigned to JEFM to a local site.

PRINT 'Updating existing tblEquipment rows'
GO

DECLARE @MinLocalSiteID int 

SELECT @MinLocalSiteID = min(SiteIndex) FROM tblSites WHERE SiteGroupFlag = 0 AND SiteIndex <> -1
--PRINT 'Minimum SiteIndex among local sites is ' + CONVERT(char(4), @MinLocalSiteID)

-- At present the min ID for a local site is 5
-- Assign all existig rows in tblEquipment that are assigned to a non-local site to a local site
UPDATE tblEquipment SET SiteIndex = @MinLocalSiteID WHERE SiteIndex NOT IN (SELECT SiteIndex FROM tblSites WHERE SiteGroupFlag = 0) AND SiteIndex <> -1
GO

--***************************************************************************************************************
-- 6b.
-- Now, for each new site create a copy of each in tblEquipment and assign it to the new site.
-- At present there are 672 euipment rows * 50 new local sites = ~33,000 new equipment rows.

PRINT 'Creating new tblEquipment rows'
GO

IF OBJECT_ID('tempdb..#TempEquipmentData') IS NOT NULL
	DROP TABLE [dbo].[#TempEquipmentData]
GO

IF OBJECT_ID('tempdb..#TempEquipmentDataBackup') IS NOT NULL
	DROP TABLE [dbo].[#TempEquipmentDataBackup]
GO

IF OBJECT_ID('tempdb..#NewSites') IS NOT NULL
	DROP TABLE [dbo].[#NewSites]
GO

CREATE TABLE #NewSites
(
	SiteIndex int
)

CREATE TABLE #TempEquipmentData
(
	[Index] [int] NULL,
	[SiteIndex] [int] NULL,
	[ID] [nvarchar](30) NULL,
	[Description] [nvarchar](50) NULL,
	[EqTypeIndex] [int] NULL,
	[Make] [nvarchar](20) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[IssPtNum] [nvarchar](20) NULL,
	[CompanyIndex] [int] NULL,
	[Fixed] [bit] NULL,
	[StorageType] [nvarchar](2) NULL,
	[InUse] [bit] NULL,
	[ProductIndex] [int] NULL,
	[FuelCardIndex] [int] NULL,
	[FixedVolume] [bit] NULL,
	[IntoPlane] [bit] NULL,
	[Mobile] [bit] NULL,
	[AttachedTo] [nvarchar](6) NULL,
	[MediaType] [char](1) NULL,
	[Meters] [int] NULL,
	[DefuelMeterForwards] [bit] NULL,
	[PulseRatio] [float] NULL,
	[Round] [bit] NULL,
	[Xref] [nvarchar](10) NULL,
	[LowStockWarning] [float] NULL,
	[StockTrack] [bit] NULL,
	[Totalisor1] [nvarchar](10) NULL,
	[Totalisor2] [nvarchar](10) NULL,
	[FuelingState] [nvarchar](10) NULL,
	[Volume] [float] NULL,
	[MeterReading] [float] NULL,
	[Consecutive_OOS_Variance] [int] NULL,
	[Notes] [nvarchar](1000) NULL,
	[Capacity] [float] NULL,
	[SafeFill] [float] NULL,
	[VolumeUnitIndex] [int] NULL,
	[TemperatureUnitIndex] [int] NULL,
	[DensityUnitIndex] [int] NULL,
	[MassUnitIndex] [int] NULL,
	[VolumeDecimalPlaces] [tinyint] NULL,
	[TemperatureDecimalPlaces] [tinyint] NULL,
	[DensityDecimalPlaces] [tinyint] NULL,
	[MassDecimalPlaces] [tinyint] NULL,
	[EquipmentIndex] [int] NULL,
	[EquipmentSequence] [nvarchar](50) NULL,
	[LockedOut] [bit] NULL,
	[LockedOutReason] [nvarchar](80) NULL,
	[LockedOutDate] [datetime] NULL,
	[SerialNumber] [nvarchar](30) NULL,
	[CompanyEquipmentID] [nvarchar](30) NULL,
	[TruckCardNumber] [nvarchar](32) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] nvarchar (100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] nvarchar (100) NULL,
	[RatedGPM] [float] NULL,
	[ActualGPM] [float] NULL,
	[FuelAdditiveFlag] [bit] NULL,
	[ManufactureDate] [datetime] NULL,
	[InstallationDate] [datetime] NULL,
	[InspectionDate] [datetime] NULL,
	[CalibrationDate] [datetime] NULL,
	[QCDate] [datetime] NULL,
	[SecondaryStorageFlag] [bit] NULL,
	[ManagedEquipmentFlag] [bit] NULL,
	[FuelingType] [smallint] NULL,
	[UserData1] [nvarchar](60) NULL,
	[UserData2] [nvarchar](60) NULL,
	[UserData3] [nvarchar](60) NULL,
	[UserData4] [nvarchar](60) NULL,
	[UserData5] [nvarchar](60) NULL,
	[UserData6] [nvarchar](60) NULL,
	[UserData7] [nvarchar](60) NULL,
	[UserData8] [nvarchar](60) NULL,
	[UserData9] [nvarchar](60) NULL,
	[UserData10] [nvarchar](60) NULL,
	[UserData11] [nvarchar](60) NULL,
	[UserData12] [nvarchar](60) NULL,
	[UserData13] [nvarchar](60) NULL,
	[UserData14] [nvarchar](60) NULL,
	[UserData15] [nvarchar](60) NULL,
	[UserData16] [nvarchar](60) NULL,
	[UserData17] [nvarchar](60) NULL,
	[UserData18] [nvarchar](60) NULL,
	[UserData19] [nvarchar](60) NULL,
	[UserData20] [nvarchar](60) NULL,
	[UserData21] [nvarchar](60) NULL,
	[UserData22] [nvarchar](60) NULL,
	[UserData23] [nvarchar](60) NULL,
	[UserData24] [nvarchar](60) NULL
)	
GO
           
CREATE TABLE #TempEquipmentDataBackup
(
	[Index] [int] NULL,
	[SiteIndex] [int] NULL,
	[ID] [nvarchar](30) NULL,
	[Description] [nvarchar](50) NULL,
	[EqTypeIndex] [int] NULL,
	[Make] [nvarchar](20) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[IssPtNum] [nvarchar](20) NULL,
	[CompanyIndex] [int] NULL,
	[Fixed] [bit] NULL,
	[StorageType] [nvarchar](2) NULL,
	[InUse] [bit] NULL,
	[ProductIndex] [int] NULL,
	[FuelCardIndex] [int] NULL,
	[FixedVolume] [bit] NULL,
	[IntoPlane] [bit] NULL,
	[Mobile] [bit] NULL,
	[AttachedTo] [nvarchar](6) NULL,
	[MediaType] [char](1) NULL,
	[Meters] [int] NULL,
	[DefuelMeterForwards] [bit] NULL,
	[PulseRatio] [float] NULL,
	[Round] [bit] NULL,
	[Xref] [nvarchar](10) NULL,
	[LowStockWarning] [float] NULL,
	[StockTrack] [bit] NULL,
	[Totalisor1] [nvarchar](10) NULL,
	[Totalisor2] [nvarchar](10) NULL,
	[FuelingState] [nvarchar](10) NULL,
	[Volume] [float] NULL,
	[MeterReading] [float] NULL,
	[Consecutive_OOS_Variance] [int] NULL,
	[Notes] [nvarchar](1000) NULL,
	[Capacity] [float] NULL,
	[SafeFill] [float] NULL,
	[VolumeUnitIndex] [int] NULL,
	[TemperatureUnitIndex] [int] NULL,
	[DensityUnitIndex] [int] NULL,
	[MassUnitIndex] [int] NULL,
	[VolumeDecimalPlaces] [tinyint] NULL,
	[TemperatureDecimalPlaces] [tinyint] NULL,
	[DensityDecimalPlaces] [tinyint] NULL,
	[MassDecimalPlaces] [tinyint] NULL,
	[EquipmentIndex] [int] NULL,
	[EquipmentSequence] [nvarchar](50) NULL,
	[LockedOut] [bit] NULL,
	[LockedOutReason] [nvarchar](80) NULL,
	[LockedOutDate] [datetime] NULL,
	[SerialNumber] [nvarchar](30) NULL,
	[CompanyEquipmentID] [nvarchar](30) NULL,
	[TruckCardNumber] [nvarchar](32) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] nvarchar (100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] nvarchar (100) NULL,
	[RatedGPM] [float] NULL,
	[ActualGPM] [float] NULL,
	[FuelAdditiveFlag] [bit] NULL,
	[ManufactureDate] [datetime] NULL,
	[InstallationDate] [datetime] NULL,
	[InspectionDate] [datetime] NULL,
	[CalibrationDate] [datetime] NULL,
	[QCDate] [datetime] NULL,
	[SecondaryStorageFlag] [bit] NULL,
	[ManagedEquipmentFlag] [bit] NULL,
	[FuelingType] [smallint] NULL,
	[UserData1] [nvarchar](60) NULL,
	[UserData2] [nvarchar](60) NULL,
	[UserData3] [nvarchar](60) NULL,
	[UserData4] [nvarchar](60) NULL,
	[UserData5] [nvarchar](60) NULL,
	[UserData6] [nvarchar](60) NULL,
	[UserData7] [nvarchar](60) NULL,
	[UserData8] [nvarchar](60) NULL,
	[UserData9] [nvarchar](60) NULL,
	[UserData10] [nvarchar](60) NULL,
	[UserData11] [nvarchar](60) NULL,
	[UserData12] [nvarchar](60) NULL,
	[UserData13] [nvarchar](60) NULL,
	[UserData14] [nvarchar](60) NULL,
	[UserData15] [nvarchar](60) NULL,
	[UserData16] [nvarchar](60) NULL,
	[UserData17] [nvarchar](60) NULL,
	[UserData18] [nvarchar](60) NULL,
	[UserData19] [nvarchar](60) NULL,
	[UserData20] [nvarchar](60) NULL,
	[UserData21] [nvarchar](60) NULL,
	[UserData22] [nvarchar](60) NULL,
	[UserData23] [nvarchar](60) NULL,
	[UserData24] [nvarchar](60) NULL
)	
GO
           
DECLARE @SiteIndex int
DECLARE @EquipmentIndex int
DECLARE @EquipmentID nvarchar(30)
DECLARE @Description nvarchar(50)
DECLARE @EqTypeIndex int
DECLARE @SiteCount int

-- New Sites are those created by me (CreateBy = 'HJH')
INSERT INTO #NewSites
SELECT SiteIndex FROM tblSites WHERE CreatedBy = 'HJH' ORDER BY SiteIndex 
--GO

SELECT @SiteCount = COUNT(*) FROM #NewSites
PRINT 'New site count = ' + CONVERT(varchar(2), @SiteCount)

-- Sanity check
--SELECT COUNT(*) from tblSites WHERE CreatedBy = 'HJH'

DECLARE @LoopCounter int
DECLARE @CurrentSiteIndex int

SET @LoopCounter = 1

WHILE (@LoopCounter) < @SiteCount + 1
	BEGIN
		SELECT @CurrentSiteIndex = MIN(SiteIndex) FROM #NewSites
		
		INSERT INTO #TempEquipmentData		-- Copy all old equipment rows into the #Temp table
		SELECT * FROM tblEquipment
		
		UPDATE #TempEquipmentData
		SET SiteIndex = @CurrentSiteIndex

		INSERT INTO #TempEquipmentDataBackup -- Upon completion of the loop, this table will a new set of equipment rows for each new site
		SELECT * FROM #TempEquipmentData

		TRUNCATE TABLE #TempEquipmentData

		DELETE FROM #NewSites WHERE SiteIndex = @CurrentSiteIndex
		
		SET @LoopCounter = @LoopCounter + 1
	END
GO

-- Now copy all new equipment rows into tblEquipment

INSERT INTO [dbo].[tblEquipment]
(
			SiteIndex,
			[ID]
           ,[Description]
           ,[EqTypeIndex]
           ,[Make]
           ,[Model]
           ,[Year]
           ,[IssPtNum]
           ,[CompanyIndex]
           ,[Fixed]
           ,[StorageType]
           ,[InUse]
           ,[ProductIndex]
           ,[FuelCardIndex]
           ,[FixedVolume]
           ,[IntoPlane]
           ,[Mobile]
           ,[AttachedTo]
           ,[MediaType]
           ,[Meters]
           ,[DefuelMeterForwards]
           ,[PulseRatio]
           ,[Round]
           ,[Xref]
           ,[LowStockWarning]
           ,[StockTrack]
           ,[Totalisor1]
           ,[Totalisor2]
           ,[FuelingState]
           ,[Volume]
           ,[MeterReading]
           ,[Consecutive_OOS_Variance]
           ,[Notes]
           ,[Capacity]
           ,[SafeFill]
           ,[VolumeUnitIndex]
           ,[TemperatureUnitIndex]
           ,[DensityUnitIndex]
           ,[MassUnitIndex]
           ,[VolumeDecimalPlaces]
           ,[TemperatureDecimalPlaces]
           ,[DensityDecimalPlaces]
           ,[MassDecimalPlaces]
           ,[EquipmentIndex]
           ,[EquipmentSequence]
           ,[LockedOut]
           ,[LockedOutReason]
           ,[LockedOutDate]
           ,[SerialNumber]
           ,[CompanyEquipmentID]
           ,[TruckCardNumber]
           ,[CreatedDate]
           ,[CreatedBy]
           ,[UpdatedDate]
           ,[UpdatedBy]
           ,[RatedGPM]
           ,[ActualGPM]
           ,[FuelAdditiveFlag]
           ,[ManufactureDate]
           ,[InstallationDate]
           ,[InspectionDate]
           ,[CalibrationDate]
           ,[QCDate]
           ,[SecondaryStorageFlag]
           ,[ManagedEquipmentFlag]
           ,[FuelingType]
           ,[UserData1]
           ,[UserData2]
           ,[UserData3]
           ,[UserData4]
           ,[UserData5]
           ,[UserData6]
           ,[UserData7]
           ,[UserData8]
           ,[UserData9]
           ,[UserData10]
           ,[UserData11]
           ,[UserData12]
           ,[UserData13]
           ,[UserData14]
           ,[UserData15]
           ,[UserData16]
           ,[UserData17]
           ,[UserData18]
           ,[UserData19]
           ,[UserData20]
           ,[UserData21]
           ,[UserData22]
           ,[UserData23]
           ,[UserData24]
)
SELECT 			
			SiteIndex,
			[ID]
           ,[Description]
           ,[EqTypeIndex]
           ,[Make]
           ,[Model]
           ,[Year]
           ,[IssPtNum]
           ,[CompanyIndex]
           ,[Fixed]
           ,[StorageType]
           ,[InUse]
           ,[ProductIndex]
           ,[FuelCardIndex]
           ,[FixedVolume]
           ,[IntoPlane]
           ,[Mobile]
           ,[AttachedTo]
           ,[MediaType]
           ,[Meters]
           ,[DefuelMeterForwards]
           ,[PulseRatio]
           ,[Round]
           ,[Xref]
           ,[LowStockWarning]
           ,[StockTrack]
           ,[Totalisor1]
           ,[Totalisor2]
           ,[FuelingState]
           ,[Volume]
           ,[MeterReading]
           ,[Consecutive_OOS_Variance]
           ,[Notes]
           ,[Capacity]
           ,[SafeFill]
           ,[VolumeUnitIndex]
           ,[TemperatureUnitIndex]
           ,[DensityUnitIndex]
           ,[MassUnitIndex]
           ,[VolumeDecimalPlaces]
           ,[TemperatureDecimalPlaces]
           ,[DensityDecimalPlaces]
           ,[MassDecimalPlaces]
           ,[EquipmentIndex]
           ,[EquipmentSequence]
           ,[LockedOut]
           ,[LockedOutReason]
           ,[LockedOutDate]
           ,[SerialNumber]
           ,[CompanyEquipmentID]
           ,[TruckCardNumber]
           --,[CreatedDate]
           , GETDATE()
           --,[CreatedBy]
           ,'HJH'
           ,[UpdatedDate]
           ,[UpdatedBy]
           ,[RatedGPM]
           ,[ActualGPM]
           ,[FuelAdditiveFlag]
           ,[ManufactureDate]
           ,[InstallationDate]
           ,[InspectionDate]
           ,[CalibrationDate]
           ,[QCDate]
           ,[SecondaryStorageFlag]
           ,[ManagedEquipmentFlag]
           ,[FuelingType]
           ,[UserData1]
           ,[UserData2]
           ,[UserData3]
           ,[UserData4]
           ,[UserData5]
           ,[UserData6]
           ,[UserData7]
           ,[UserData8]
           ,[UserData9]
           ,[UserData10]
           ,[UserData11]
           ,[UserData12]
           ,[UserData13]
           ,[UserData14]
           ,[UserData15]
           ,[UserData16]
           ,[UserData17]
           ,[UserData18]
           ,[UserData19]
           ,[UserData20]
           ,[UserData21]
           ,[UserData22]
           ,[UserData23]
           ,[UserData24]
FROM #TempEquipmentDataBackup
GO

--***************************************************************************************************************
-- 6c.
-- Now create a row in tblEntityToSiteMap for each new row in tblEquipment.

INSERT INTO tblEntityToSiteMap
		   ([TypeID]
           ,[SiteIndex]
           ,[Index]
           ,[CreatedDate]
           ,[CreatedBy])
SELECT		'Equipment'
           ,[SiteIndex]
           ,[Index]
           ,[CreatedDate]
           ,[CreatedBy]
FROM tblEquipment
WHERE CreatedBy = 'HJH' 
GO

--DROP TABLE #TempEquipmentData
--DROP TABLE #TempEquipmentDataBackup
--GO

/*********************************************************************************************************/
-- 7. There is no item 7 in the requirements
/*********************************************************************************************************/

/*********************************************************************************************************/
-- 8. Create 70 new companies (in tblCompanies) for each existing company
/*********************************************************************************************************/

PRINT 'Creating new companies'

-- Logic:
--		For each row in tblCompanies
--			Copy tblCompanies into a temp table
--			Add a numeric suffix to the Name and ID columns of the temp table
--			Append the temp table to tblCompanies

--1445 companies at present
--We will create 1445 * 70 = 101150 new companies
--SELECT * FROM tblCompanies

PRINT 'Creating new tblCompanies rows'

IF OBJECT_ID('tempdb..#TempCompanies') IS NOT NULL
	DROP TABLE [dbo].[#TempCompanies]
GO

IF OBJECT_ID('tempdb..#TempCompaniesBackup') IS NOT NULL
	DROP TABLE [dbo].[#TempCompaniesBackup]
GO

CREATE TABLE #TempCompanies
(
	CompanyIndex int,		-- CompanyIndex of the parent company from which the new companies are cloned
	IterationSetNum [int],
	NewSiteIndex [int],		-- the replacement SiteIndex for new companies, because the original company did not have alocal SiteIndex
	[SiteIndex] [int],
	[ID] [nvarchar](30),
	[Code] [nvarchar](10), 
	[Name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS, 
	[Address1] [nvarchar](60),
	[Address2] [nvarchar](60),
	[City] [nvarchar](20), 
	[State] [nvarchar](20),
	[Zip] [nvarchar](11), 
	[Country] [nvarchar](30),
	[Phone] [nvarchar](20),
	[FAX] [nvarchar](20),
	[EmergencyContact] [nvarchar](30),
	[EmergencyPhone] [nvarchar](20),
	[FlightPrefix] [nvarchar](5),
	[EffectiveDate] [datetime] NULL,
	[ExpirationDate] [datetime] NULL,
	[IATAIndex] [int] NULL,
	[OnHold] [bit] NULL,
	[PickupFLights] [bit] NULL,
	[StockTrack] [bit] NULL,
	[SufferLossGain] [bit] NULL,
	[LowStockWarning] [float] NULL,
	[LockedOut] [bit] NULL,
	[LockedOutReason] [nvarchar](80),
	[LockedOutDate] [datetime] NULL,
	[ShipperTypeIndex] [int] NULL,
	[CustomerBillToTypeIndex] [int] NULL,
	[CustomerShipToTypeIndex] [int] NULL,
	[ReceivableAccount] [nvarchar](20),
	[RefinerCode] [nvarchar](20),
	[LastActivityDate] [datetime] NULL,
	[CreditOK] [bit] NULL,
	[AdditiveAccounting] [bit] NULL,
	[PurchaseOrderRequired] [bit] NULL,
	[EPANumber] [nvarchar](20),
	[FederalID] [nvarchar](20),
	[TaxNumber] [nvarchar](20),
	[FlushPermitted] [bit] NULL,
	[PumpOffPermitted] [bit] NULL,
	[DeliveryToTerminalPermitted] [bit] NULL,
	[LicenseNumber] [nvarchar](20),
	[LicenseExpiration] [datetime] NULL,
	[InsuranceCompany] [nvarchar](20),
	[InsurancePolicy] [nvarchar](20),
	[LiabilityAmount] [money] NULL,
	[HazardousMaterialExclusion] [bit] NULL,
	[InsuranceExpiration] [datetime] NULL,
	[AllowDriverEntry] [bit] NULL,
	[PINRequired] [bit] NULL,
	[MaximumVehicleWeight] [float] NULL,
	[WeightUnits] [smallint] NULL,
	[AccountNumber] [nvarchar](30),
	[SCACCode] [nvarchar](4),
	[NotesIndex] [int] NULL,
	[DisableOwnerAllocationsCheck] [bit] NULL,
	[DisableShipperAllocationsCheck] [bit] NULL,
	[DisableBillToAllocationsCheck] [bit] NULL,
	[DisableShipToAllocationsCheck] [bit] NULL,
	[LoadRackDisplayText] [nvarchar](30),
	[UserData1] [nvarchar](60),
	[UserData2] [nvarchar](60),
	[UserData3] [nvarchar](60),
	[UserData4] [nvarchar](60),
	[UserData5] [nvarchar](60),
	[UserData6] [nvarchar](60),
	[UserData7] [nvarchar](60),
	[UserData8] [nvarchar](60),
	[CreatedDate] [datetime] NULL, 
	[CreatedBy] nvarchar(100) NULL,
	[UpdatedDate] [datetime] NULL, 
	[UpdatedBy] nvarchar(100) NULL
)
GO

CREATE TABLE #TempCompaniesBackup
(
	CompanyIndex int,		-- CompanyIndex of the parent company from which the new companies are cloned
	IterationSetNum [int],
	NewSiteIndex [int],		-- the replacement SiteIndex for new companies, because the original company did not have alocal SiteIndex
	[SiteIndex] [int],
	[ID] [nvarchar](30),
	[Code] [nvarchar](10), 
	[Name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS, 
	[Address1] [nvarchar](60),
	[Address2] [nvarchar](60),
	[City] [nvarchar](20), 
	[State] [nvarchar](20),
	[Zip] [nvarchar](11), 
	[Country] [nvarchar](30),
	[Phone] [nvarchar](20),
	[FAX] [nvarchar](20),
	[EmergencyContact] [nvarchar](30),
	[EmergencyPhone] [nvarchar](20),
	[FlightPrefix] [nvarchar](5),
	[EffectiveDate] [datetime] NULL,
	[ExpirationDate] [datetime] NULL,
	[IATAIndex] [int] NULL,
	[OnHold] [bit] NULL,
	[PickupFLights] [bit] NULL,
	[StockTrack] [bit] NULL,
	[SufferLossGain] [bit] NULL,
	[LowStockWarning] [float] NULL,
	[LockedOut] [bit] NULL,
	[LockedOutReason] [nvarchar](80),
	[LockedOutDate] [datetime] NULL,
	[ShipperTypeIndex] [int] NULL,
	[CustomerBillToTypeIndex] [int] NULL,
	[CustomerShipToTypeIndex] [int] NULL,
	[ReceivableAccount] [nvarchar](20),
	[RefinerCode] [nvarchar](20),
	[LastActivityDate] [datetime] NULL,
	[CreditOK] [bit] NULL,
	[AdditiveAccounting] [bit] NULL,
	[PurchaseOrderRequired] [bit] NULL,
	[EPANumber] [nvarchar](20),
	[FederalID] [nvarchar](20),
	[TaxNumber] [nvarchar](20),
	[FlushPermitted] [bit] NULL,
	[PumpOffPermitted] [bit] NULL,
	[DeliveryToTerminalPermitted] [bit] NULL,
	[LicenseNumber] [nvarchar](20),
	[LicenseExpiration] [datetime] NULL,
	[InsuranceCompany] [nvarchar](20),
	[InsurancePolicy] [nvarchar](20),
	[LiabilityAmount] [money] NULL,
	[HazardousMaterialExclusion] [bit] NULL,
	[InsuranceExpiration] [datetime] NULL,
	[AllowDriverEntry] [bit] NULL,
	[PINRequired] [bit] NULL,
	[MaximumVehicleWeight] [float] NULL,
	[WeightUnits] [smallint] NULL,
	[AccountNumber] [nvarchar](30),
	[SCACCode] [nvarchar](4),
	[NotesIndex] [int] NULL,
	[DisableOwnerAllocationsCheck] [bit] NULL,
	[DisableShipperAllocationsCheck] [bit] NULL,
	[DisableBillToAllocationsCheck] [bit] NULL,
	[DisableShipToAllocationsCheck] [bit] NULL,
	[LoadRackDisplayText] [nvarchar](30),
	[UserData1] [nvarchar](60),
	[UserData2] [nvarchar](60),
	[UserData3] [nvarchar](60),
	[UserData4] [nvarchar](60),
	[UserData5] [nvarchar](60),
	[UserData6] [nvarchar](60),
	[UserData7] [nvarchar](60),
	[UserData8] [nvarchar](60),
	[CreatedDate] [datetime] NULL, 
	[CreatedBy] nvarchar(100) NULL,
	[UpdatedDate] [datetime] NULL, 
	[UpdatedBy] nvarchar(100) NULL
)
GO

DECLARE @LoopCounter int
SET @LoopCounter = 0

WHILE (@LoopCounter) < 70
BEGIN
	SET @LoopCounter = @LoopCounter + 1

	INSERT INTO #TempCompanies
	SELECT
		CompanyIndex,
		@LoopCounter,
		NULL,
	   [SiteIndex]
      ,[ID]
      ,[Code]
      ,[Name]
      ,[Address1]
      ,[Address2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Country]
      ,[Phone]
      ,[FAX]
      ,[EmergencyContact]
      ,[EmergencyPhone]
      ,[FlightPrefix]
      ,[EffectiveDate]
      ,[ExpirationDate]
      ,[IATAIndex]
      ,[OnHold]
      ,[PickupFLights]
      ,[StockTrack]
      ,[SufferLossGain]
      ,[LowStockWarning]
      ,[LockedOut]
      ,[LockedOutReason]
      ,[LockedOutDate]
      ,[ShipperTypeIndex]
      ,[CustomerBillToTypeIndex]
      ,[CustomerShipToTypeIndex]
      ,[ReceivableAccount]
      ,[RefinerCode]
      ,[LastActivityDate]
      ,[CreditOK]
      ,[AdditiveAccounting]
      ,[PurchaseOrderRequired]
      ,[EPANumber]
      ,[FederalID]
      ,[TaxNumber]
      ,[FlushPermitted]
      ,[PumpOffPermitted]
      ,[DeliveryToTerminalPermitted]
      ,[LicenseNumber]
      ,[LicenseExpiration]
      ,[InsuranceCompany]
      ,[InsurancePolicy]
      ,[LiabilityAmount]
      ,[HazardousMaterialExclusion]
      ,[InsuranceExpiration]
      ,[AllowDriverEntry]
      ,[PINRequired]
      ,[MaximumVehicleWeight]
      ,[WeightUnits]
      ,[AccountNumber]
      ,[SCACCode]
      ,[NotesIndex]
      ,[DisableOwnerAllocationsCheck]
      ,[DisableShipperAllocationsCheck]
      ,[DisableBillToAllocationsCheck]
      ,[DisableShipToAllocationsCheck]
      ,[LoadRackDisplayText]
      ,[UserData1]
      ,[UserData2]
      ,[UserData3]
      ,[UserData4]
      ,[UserData5]
      ,[UserData6]
      ,[UserData7]
      ,[UserData8]
      ,[CreatedDate]
      ,[CreatedBy]
      ,[UpdatedDate]
      ,[UpdatedBy]
	FROM tblCompanies

	UPDATE #TempCompanies
	SET ID = SUBSTRING(ID, 1, 25) + ' - ' + CONVERT(varchar(2), @LoopCounter),
		[Name] = SUBSTRING(ID, 1, 50) + ' - ' + CONVERT(varchar(2), @LoopCounter),
		CreatedDate = getdate(),
		CreatedBy = 'HJH'

	INSERT INTO #TempCompaniesBackup
	SELECT * FROM #TempCompanies

	TRUNCATE TABLE #TempCompanies
END
GO

--Verify results.
/*
SELECT CompanyIndex
	  ,[SiteIndex]
      ,[ID]
      ,[Code]
      ,[Name]
	  ,CreatedDate
	  ,CreatedBy
FROM tblCompanies 
WHERE CreatedBy = 'HJH'
ORDER BY SiteIndex
*/

-- I am commenting out the INSERT INTO tblCompanies here, because I want to perform the insert 
-- after the NewSiteIndex column in table #TempCompaniesBackup is defined (below) in section 9.
/*
INSERT INTO tblCompanies
	SELECT 
       --[SiteIndex]
       [NewSiteIndex]
      ,[ID]
      ,[Code]
      ,[Name]
      ,[Address1]
      ,[Address2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Country]
      ,[Phone]
      ,[FAX]
      ,[EmergencyContact]
      ,[EmergencyPhone]
      ,[FlightPrefix]
      ,[EffectiveDate]
      ,[ExpirationDate]
      ,[IATAIndex]
      ,[OnHold]
      ,[PickupFLights]
      ,[StockTrack]
      ,[SufferLossGain]
      ,[LowStockWarning]
      ,[LockedOut]
      ,[LockedOutReason]
      ,[LockedOutDate]
      ,[ShipperTypeIndex]
      ,[CustomerBillToTypeIndex]
      ,[CustomerShipToTypeIndex]
      ,[ReceivableAccount]
      ,[RefinerCode]
      ,[LastActivityDate]
      ,[CreditOK]
      ,[AdditiveAccounting]
      ,[PurchaseOrderRequired]
      ,[EPANumber]
      ,[FederalID]
      ,[TaxNumber]
      ,[FlushPermitted]
      ,[PumpOffPermitted]
      ,[DeliveryToTerminalPermitted]
      ,[LicenseNumber]
      ,[LicenseExpiration]
      ,[InsuranceCompany]
      ,[InsurancePolicy]
      ,[LiabilityAmount]
      ,[HazardousMaterialExclusion]
      ,[InsuranceExpiration]
      ,[AllowDriverEntry]
      ,[PINRequired]
      ,[MaximumVehicleWeight]
      ,[WeightUnits]
      ,[AccountNumber]
      ,[SCACCode]
      ,[NotesIndex]
      ,[DisableOwnerAllocationsCheck]
      ,[DisableShipperAllocationsCheck]
      ,[DisableBillToAllocationsCheck]
      ,[DisableShipToAllocationsCheck]
      ,[LoadRackDisplayText]
      ,[UserData1]
      ,[UserData2]
      ,[UserData3]
      ,[UserData4]
      ,[UserData5]
      ,[UserData6]
      ,[UserData7]
      ,[UserData8]
      ,[CreatedDate]
      ,[CreatedBy]
      ,[UpdatedDate]
      ,[UpdatedBy]
FROM #TempCompaniesBackup
*/

--TRUNCATE TABLE #TempCompanies
--GO
--DROP TABLE #TempCompanies -- I am going to reuse this table in item 9.

-- We are keeping the cumulative list of new companies (#TempCompaniesBackup) for now, as they are needed by the next requirement (iem 9.).
--DROP TABLE #TempCompaniesBackup

GO

/*********************************************************************************************************/
-- 9. Create a new row in tblEntityToSiteMap for each of the new companies (from requirement # 8 above).
--    Assign a different site (SiteIndex where SiteGroupFlag = 0) to each of the 70 new companies within each set.
--    There are now 70 sites, so each set of the 70 new companies can be assigned to each of the 70 sites
/*********************************************************************************************************/

-- 06/01/10 - At this point, we have a temporary list (in #TempCompaniesBackup) of 70 new sets of companies, 
-- and each set has a unique IterationSetNum from 1..70. We want to assign a single SiteIndex to each new company.
-- Preferably each new company within a set will have a different SiteIndex.
-- The current logic (below) assigns a unique SiteIndex to each set of companies, i.e., 
-- all companies within a given set have the same SiteIndex.

-- Sanity check
--SELECT * FROM #TempCompaniesBackup 

-- Revised loop logic
DECLARE @LoopCounter int
DECLARE @NextSiteIndex int

IF OBJECT_ID('tempdb..#TempSiteIndexes') IS NOT NULL
	DROP TABLE [dbo].[#TempSiteIndexes]
--GO

CREATE TABLE #TempSiteIndexes
(
	SiteIndex int
)

INSERT INTO #TempSiteIndexes
SELECT SiteIndex from tblSites WHERE SiteIndex <> -1 ORDER BY SiteIndex 
--GO

SET @LoopCounter = 1

WHILE (@LoopCounter) < 71
	BEGIN
		SELECT @NextSiteIndex = MIN(SiteIndex) FROM #TempSiteIndexes
		
		UPDATE #TempCompaniesBackup
		SET NewSiteIndex = @NextSiteIndex
		WHERE IterationSetNum = @LoopCounter
			
		DELETE FROM #TempSiteIndexes WHERE SiteIndex = @NextSiteIndex
		
		SET @LoopCounter = @LoopCounter + 1
	END
GO
	
--Verify results 
/*
SELECT 	
	IterationSetNum,
	NewSiteIndex,
	[SiteIndex],
	[ID],
	[Code],
	[Name]
FROM #TempCompaniesBackup
ORDER BY IterationSetNum
*/

-- Now append the new companies to tblCompanies

INSERT INTO tblCompanies
	SELECT 
       --[SiteIndex]
       [NewSiteIndex]
      ,[ID]
      ,[Code]
      ,[Name]
      ,[Address1]
      ,[Address2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Country]
      ,[Phone]
      ,[FAX]
      ,[EmergencyContact]
      ,[EmergencyPhone]
      ,[FlightPrefix]
      ,[EffectiveDate]
      ,[ExpirationDate]
      ,[IATAIndex]
      ,[OnHold]
      ,[PickupFLights]
      ,[StockTrack]
      ,[SufferLossGain]
      ,[LowStockWarning]
      ,[LockedOut]
      ,[LockedOutReason]
      ,[LockedOutDate]
      ,[ShipperTypeIndex]
      ,[CustomerBillToTypeIndex]
      ,[CustomerShipToTypeIndex]
      ,[ReceivableAccount]
      ,[RefinerCode]
      ,[LastActivityDate]
      ,[CreditOK]
      ,[AdditiveAccounting]
      ,[PurchaseOrderRequired]
      ,[EPANumber]
      ,[FederalID]
      ,[TaxNumber]
      ,[FlushPermitted]
      ,[PumpOffPermitted]
      ,[DeliveryToTerminalPermitted]
      ,[LicenseNumber]
      ,[LicenseExpiration]
      ,[InsuranceCompany]
      ,[InsurancePolicy]
      ,[LiabilityAmount]
      ,[HazardousMaterialExclusion]
      ,[InsuranceExpiration]
      ,[AllowDriverEntry]
      ,[PINRequired]
      ,[MaximumVehicleWeight]
      ,[WeightUnits]
      ,[AccountNumber]
      ,[SCACCode]
      ,[NotesIndex]
      ,[DisableOwnerAllocationsCheck]
      ,[DisableShipperAllocationsCheck]
      ,[DisableBillToAllocationsCheck]
      ,[DisableShipToAllocationsCheck]
      ,[LoadRackDisplayText]
      ,[UserData1]
      ,[UserData2]
      ,[UserData3]
      ,[UserData4]
      ,[UserData5]
      ,[UserData6]
      ,[UserData7]
      ,[UserData8]
      ,[CreatedDate]
      ,[CreatedBy]
      ,[UpdatedDate]
      ,[UpdatedBy]
FROM #TempCompaniesBackup
GO

-- Now append the new Companies to tblEnityToSiteMap.

-- We use the new companies that were inserted into tblCompanies to populae tblEntityToSiteMap, instead of #TempCompaniesBackup,
-- because they new companies in tblCompanies will have a different CompanyIndex from their counterpart rows
-- in the #TempCompaniesBackup table (because tblCompanies.CompanyIndex is an identity column).
-- Copying new companies from tblCompanies prevents tblEntityToSiteMap PK constraint violations
-- when the new companies are copied into tblEntityToSiteMap, because there are rows in that table
-- that contain the original CompanyIndex column (the PK) from  which the new companies were created,
-- and those values are stored in #TempCompaniesBackup.

-- Any duplicates?
/*
SELECT * 
FROM tblEntityToSiteMap e
JOIN tblCompanies c on c.CompanyIndex = e.[Index] AND c.SiteIndex = e.SiteIndex AND e.TypeID = 'Companies'
WHERE c.CreatedBy = 'HJH'
*/
  
INSERT INTO tblEntityToSiteMap 
           ([TypeID]
           ,[SiteIndex]
           ,[Index]
           ,[CreatedDate]
           ,[CreatedBy])
SELECT 'Companies',
		SiteIndex,
		CompanyIndex,
		CreatedDate,
		CreatedBy
FROM tblCompanies 
WHERE CreatedBy = 'HJH'
GO

--Sanity Check 
--We should have identical results between the following 2 queries, except for the CompanyIndex column,
--because in #TempCompaniesBackup CompanyIndex has the value of the companies from which the new companies 
--were cloned, while the CompanyIndex for the new companies is auto-generated when they are copied to tblCompanies.
--SELECT * FROM #TempCompaniesBackup
--SELECT * FROM tblCompanies WHERE CreatedBy = 'HJH'

/*********************************************************************************************************/
--10. Create a row in tblCompanyRoleMap for each new company for each role assigned to the new company's root comany.
--    The SiteIndex for each new should be the SiteIndex that was assigned to the company in requirement 9. above,
--	  i.e., the number of new rows in tblCompanyRoleMap for each new compamy should be the number of roles 
--    assigned to the root company (from which the new comany row was created), with the same SietIndex for each role.
/*********************************************************************************************************/

PRINT 'Creating new company role mappings'
GO

--Sanity check
--SELECT COUNT(*) FROM tblCompanies WHERE CreatedBy = 'HJH'
--SELECT COUNT(*) FROM #TempCompaniesBackup

/*
SELECT COUNT(tc.CompanyIndex)
FROM #TempCompaniesBackup tc 
JOIN tblCompanies c ON c.Name = tc.Name And c.SiteIndex = tc.NewSiteIndex AND c.CreatedBy = 'HJH'
*/

--I am modifying the structure of #TempCompaniesBackup here to simplify coding for item 10. 
--Doing so where this table is first defined will break some of the exising code.
ALTER TABLE #TempCompaniesBackup
ADD Role0 int,
	Role1 int,
	Role2 int,
	Role3 int,
	Role4 int,
	Role5 int,
	Role6 int,
	--OriginalCompanyIndex int, -- the CompanyIndex of the company from whic the new company was cloned.
	NewCompanyIndex int -- the generated identity value stored in tblCompanies for the new company row
GO

-- Populate the new columns in #TempCompaniesBackup. Set the NewCompanyIndex to the CompanyIndex values
-- that were generated when the new compnies were inserted into tblCompanies.
-- This will give us al the information we need to create rows for the new companies in tblCompanyRoleMap. 
UPDATE #TempCompaniesBackup
SET NewCompanyIndex = c.CompanyIndex
FROM #TempCompaniesBackup tc
JOIN tblCompanies c ON c.Name = tc.Name And c.SiteIndex = tc.NewSiteIndex AND c.CreatedBy = 'HJH'
GO

/* Verify results of asigning values to #TempCompaniesBackup.NewCompaniIndex 
SELECT tc.CompanyIndex, tc.NewCompanyIndex, tc.NewSiteIndex, c.CompanyIndex, c.SiteIndex
FROM #TempCompaniesBackup tc 
JOIN tblCompanies c ON c.Name = tc.Name And c.SiteIndex = tc.NewSiteIndex AND c.CreatedBy = 'HJH'
*/

-- In this update we use the following values for each of the role columns:
-- NULL = no row for this company in tblCompanyRoleMap 
-- 1 = a row exists in tblCompanyRoleMap  for this company for specified role# column
UPDATE #TempCompaniesBackup
SET			Role0 = CASE
               WHEN rm.Role = 0 THEN 1
               ELSE NULL
            END,
            Role1 = CASE
               WHEN rm.Role = 1 THEN 1
               ELSE NULL
            END,
            Role2 = CASE
               WHEN rm.Role = 2 THEN 1
               ELSE NULL
            END,
            Role3 = CASE
               WHEN rm.Role = 3 THEN 1
               ELSE NULL
            END,
            Role4 = CASE
               WHEN rm.Role = 4 THEN 1
               ELSE NULL
            END,
            Role5 = CASE
               WHEN rm.Role = 5 THEN 1
               ELSE NULL
            END,
            Role6 = CASE
               WHEN rm.Role = 6 THEN 1
               ELSE NULL
            END
FROM #TempCompaniesBackup tc
JOIN tblCompanyRoleMap rm ON  tc.CompanyIndex = rm.CompanyIndex AND 
							  tc.SiteIndex = rm.SiteIndex
GO

SELECT * FROM #TempCompaniesBackup

-- Of the original 1449 companies, 1307 have at least one record in tblCompanyRoleMap
-- i.e, 142 of the original companies do not have a row in tblCompanyRoleMap
--SELECT COUNT(DISTINCT(CompanyIndex)) FROM tblCompanies WHERE CreatedBy <> 'HJH'
--SELECT COUNT(DISTINCT(CompanyIndex)) FROM tblCompanyRoleMap

-- To Do
-- Verify that the roles for the companies from which the new companies were created
-- are stored correctly in #TempCompaniesBackup. Note that roles are stored in flattened form in #TempCompaniesBackup.

SELECT * 
FROM #TempCompaniesBackup tc
JOIN tblCompanyRoleMap rm ON tc.CompanyIndex = rm.CompanyIndex AND 
							 tc.SiteIndex = rm.SiteIndex
GO

-- Creating a new temp table for now. We may not need this
IF OBJECT_ID('tempdb..#TempCompanyRoleMap') IS NOT NULL
	DROP TABLE [dbo].[#TempCompanyRoleMap]
GO

CREATE TABLE #TempCompanyRoleMap
(
	[CompanyIndex] [int] NULL,
	[Role] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[SiteIndex] [int] NULL
)
GO

INSERT INTO #TempCompanyRoleMap
	SELECT  NewCompanyIndex, 
			0,
			getdate(),
			'HJH',
			NewSiteIndex
	FROM #TempCompaniesBackup
	WHERE Role0 = 1
UNION ALL
	SELECT  NewCompanyIndex, 
			1,
			getdate(),
			'HJH',
			NewSiteIndex
	FROM #TempCompaniesBackup
	WHERE Role1 = 1
UNION ALL
	SELECT  NewCompanyIndex, 
			2,
			getdate(),
			'HJH',
			NewSiteIndex
	FROM #TempCompaniesBackup
	WHERE Role2 = 1
UNION ALL
	SELECT  NewCompanyIndex, 
			3,
			getdate(),
			'HJH',
			NewSiteIndex
	FROM #TempCompaniesBackup
	WHERE Role3 = 1
UNION ALL
	SELECT  NewCompanyIndex, 
			4,
			getdate(),
			'HJH',
			NewSiteIndex
	FROM #TempCompaniesBackup
	WHERE Role4 = 1
UNION ALL
	SELECT  NewCompanyIndex, 
			5,
			getdate(),
			'HJH',
			NewSiteIndex
	FROM #TempCompaniesBackup
	WHERE Role5 = 1
UNION ALL
	SELECT  NewCompanyIndex, 
			6,
			getdate(),
			'HJH',
			NewSiteIndex
	FROM #TempCompaniesBackup
	WHERE Role6 = 1
GO

INSERT INTO tblCompanyRoleMap
SELECT * FROM #TempCompanyRoleMap
GO

--DROP TABLE #TempCompanyRoleMap

-- Sanity check
--SELECT Role, COUNT(*) FROM #TempCompanyRoleMap GROUP BY ROLE ORDER BY Role
SELECT * FROM tblCompanyRoleMap WHERE CreatedBy = 'HJH'
GO