--******************************************************************************
-- The purpose of the Copy And Populate Transactions stored procedure is 
-- to randomly select transactions out of the database, make a copy of the 
-- transaction (give a new GUID, change dates, and change indexes) and insert
-- it into the database.
--
-- Parameters:
--		@RecordsPerDay  - the number of records to be created per day
--		@TotalNumOfDays - the total number of days to create records
--		@StartDate      - the starting date of the transactions
--
-- Author: Richard R. Panachida
-- Date: 2010-07-12
--******************************************************************************
USE [ConsolidatedDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fm_CopyAndPopulateTransactions]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[fm_CopyAndPopulateTransactions]
GO

CREATE PROCEDURE [dbo].[fm_CopyAndPopulateTransactions]
(
	@RecordsPerDay  INT, 
    @TotalNumOfDays INT,
	@StartDate      DateTime
)
AS
SET NOCOUNT ON

BEGIN
	DECLARE @SiteID             NVARCHAR(30)
	DECLARE @RndSiteCount       INT
	DECLARE @SiteCounter        INT
	DECLARE @MaxSiteCount       INT
	DECLARE @DayCounter         INT
	DECLARE @RecCounter         INT
	DECLARE @CreatedUpdatedDate DateTime
	DECLARE @InventoryDate      DateTime
	DECLARE @InventoryDateStr   NVARCHAR(19)
	DECLARE @NewGUI             NVARCHAR(64)
	DECLARE @NewTransIndex      BIGINT
	DECLARE @MaxDocNumber       NVARCHAR(30)
	DECLARE @ExistDocNumber     NVARCHAR(30)
	DECLARE @Date01             DateTime
	DECLARE @Date02             DateTime
	DECLARE @Date03             DateTime
	DECLARE @Date04             DateTime
	DECLARE @Year               NVARCHAR(4)
	DECLARE @Month              NVARCHAR(2)
	DECLARE @Day                NVARCHAR(2)
	DECLARE @NewTransLineItemID INT
	DECLARE @MSG                NVARCHAR(MAX)
	DECLARE @MaxDocNum          BIGINT

	SET @DayCounter = 0

	CREATE TABLE #TBL_NEW_LINE_ITEM_NUMBER
	(
		SequenceValue INT
	)

	SELECT *, 0 AS SeqNum INTO #TBL_SITE_LIST
		FROM tblSites
		WHERE SiteGroupFlag = 0
	
	DECLARE @SiteIndex INT
	SET @SiteCounter = 0
	
	DECLARE @SiteIndex_Cursor CURSOR 
	SET		@SiteIndex_Cursor = CURSOR FOR SELECT SiteIndex FROM #TBL_SITE_LIST
	OPEN	@SiteIndex_Cursor
	FETCH NEXT FROM	@SiteIndex_Cursor INTO @SiteIndex
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		UPDATE #TBL_SITE_LIST SET SeqNum = @SiteCounter WHERE SiteIndex = @SiteIndex
		SET @SiteCounter = @SiteCounter + 1
		FETCH NEXT FROM	@SiteIndex_Cursor INTO @SiteIndex
	END
	CLOSE @SiteIndex_Cursor
	DEALLOCATE @SiteIndex_Cursor

	SELECT @MaxSiteCount = MAX(SeqNum) FROM #TBL_SITE_LIST
	
	-- Get one Transaction for each type of aliases with the exception
	-- of orders and invoices.
	SELECT TOP(1) *, 0 AS SeqNum INTO #TBL_TEMP_TRANSACTIONS_1
		FROM tblTransactions 
		WHERE (TransTypeID = 5 OR TransTypeID = 6)
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE (TransTypeID = 1 OR TransTypeID = 2)
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 1 WHERE TransTypeID in (1,2)
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) * 
		FROM tblTransactions 
		WHERE TransTypeID = 3
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 2 WHERE TransTypeID in (3)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 4
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 3 WHERE TransTypeID in (4)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 7
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 4 WHERE TransTypeID in (7)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 8
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 5 WHERE TransTypeID in (8)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 9
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 6 WHERE TransTypeID in (9)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) * 
		FROM tblTransactions 
		WHERE TransTypeID = 10
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 7 WHERE TransTypeID in (10)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 11
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 8 WHERE TransTypeID in (11)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 12
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 9 WHERE TransTypeID in (12)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 14
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 10 WHERE TransTypeID in (14)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 15
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 11 WHERE TransTypeID in (15)			
	INSERT INTO #TBL_TEMP_TRANSACTIONS_1
		SELECT TOP(1) *
		FROM tblTransactions 
		WHERE TransTypeID = 23			
	UPDATE #TBL_TEMP_TRANSACTIONS_1 SET SeqNum = 12 WHERE TransTypeID in (23)			
		
	SELECT TOP(1) *, 0 AS SeqNum INTO #TBL_TEMP_TRANSACTION_LINE_ITEMS_1
		FROM tblTransactionLineItems
		WHERE TransIndex = (SELECT TransIndex FROM #TBL_TEMP_TRANSACTIONS_1 WHERE SeqNum = 0)
	
	SELECT TOP(1) *, 0 AS SeqNum INTO #TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA_1
		FROM tblTransactionLineItemUserData
		WHERE TransLineItemID IN (SELECT TransLineItemID FROM #TBL_TEMP_TRANSACTION_LINE_ITEMS_1)
		
	SELECT TOP(1) *, 0 AS SeqNum INTO #TBL_TEMP_TRANSACTION_NOTES_1
		FROM tblTransactionNotes
		WHERE TransIndex = (SELECT TransIndex FROM #TBL_TEMP_TRANSACTIONS_1 WHERE SeqNum = 0)
					
	SELECT TOP(1) *, 0 AS SeqNum  INTO #TBL_TEMP_TRANSACTION_SIGNATURE_1
		FROM tblTransactionSignature 
		WHERE TransIndex = (SELECT TransIndex FROM #TBL_TEMP_TRANSACTIONS_1 WHERE SeqNum = 0)
		
	SELECT TOP(1) *, 0 AS SeqNum  INTO #TBL_TEMP_TRANSACTION_USER_DATA_1
		FROM tblTransactionUserData
		WHERE TransIndex = (SELECT TransIndex FROM #TBL_TEMP_TRANSACTIONS_1 WHERE SeqNum = 0)	

	
	DECLARE @Count INT
	SET @Count = 1
	WHILE (@Count < 13)
	BEGIN
		INSERT INTO #TBL_TEMP_TRANSACTION_LINE_ITEMS_1
			SELECT TOP(1) *, @Count AS SeqNum
			FROM tblTransactionLineItems
			WHERE TransIndex = (SELECT TransIndex FROM #TBL_TEMP_TRANSACTIONS_1 WHERE SeqNum = @Count)
		
		INSERT INTO #TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA_1
			SELECT TOP(1) *, @Count AS SeqNum
			FROM tblTransactionLineItemUserData
			WHERE TransLineItemID IN (SELECT TransLineItemID FROM #TBL_TEMP_TRANSACTION_LINE_ITEMS_1 WHERE SeqNum = @Count)
		
		INSERT INTO #TBL_TEMP_TRANSACTION_NOTES_1
			SELECT *, @Count AS SeqNum 
			FROM tblTransactionNotes
			WHERE TransIndex = (SELECT TransIndex FROM #TBL_TEMP_TRANSACTIONS_1 WHERE SeqNum = @Count)
					
		INSERT INTO #TBL_TEMP_TRANSACTION_SIGNATURE_1
			SELECT *, @Count AS SeqNum
			FROM tblTransactionSignature 
			WHERE TransIndex = (SELECT TransIndex FROM #TBL_TEMP_TRANSACTIONS_1 WHERE SeqNum = @Count)
		
		INSERT INTO #TBL_TEMP_TRANSACTION_USER_DATA_1
			SELECT TOP(1) *, @Count AS SeqNum  
			FROM tblTransactionUserData
			WHERE TransIndex = (SELECT TransIndex FROM #TBL_TEMP_TRANSACTIONS_1 WHERE SeqNum = @Count)	

		SET @Count = @Count + 1
	END

	WHILE @DayCounter < @TotalNumOfDays
	BEGIN
		SET @RecCounter = 0

		IF (@StartDate = null)
		  BEGIN
			SET @CreatedUpdatedDate = DATEADD(day, @DayCounter, GetDate())
			SET @InventoryDate      = DATEADD(day, @DayCounter, GetDate())
		  END
		ELSE
		  BEGIN
			SET @CreatedUpdatedDate = DATEADD(day, @DayCounter, @StartDate)
			SET @InventoryDate      = DATEADD(day, @DayCounter, @StartDate)
		  END

		SET @Year  = DATEPART(Year,  @InventoryDate)
		SET @Month = DATEPART(Month, @InventoryDate)
		SET @Day   = DATEPART(Day,   @InventoryDate)
		SET @InventoryDateStr = @Year + '-' + @Month + '-' + @Day + ' 00:00:00'
		SET @InventoryDate    = CONVERT(DateTime, @InventoryDateStr)

		DECLARE @RndCount INT
		
		PRINT 'Creating records for starting date: ' + @InventoryDateStr

		WHILE @RecCounter < @RecordsPerDay
		BEGIN

			BEGIN TRY
			BEGIN TRANSACTION

			SET @RndSiteCount = CONVERT(INT, RAND() * 1000)
			
			IF (@RndSiteCount > @MaxSiteCount) 
			BEGIN
				SET @RndSiteCount = 0
			END

			SET @RndCount = CONVERT(INT, RAND() * 100)
			
			IF (@RndCount > 12) 
			BEGIN
				SET @RndCount = @RndCount / 10
				
				IF (@RndCount > 12)
				BEGIN
					SET @RndCount = 0
				END
			END
			
			SELECT @ExistDocNumber = DocumentNumber, @Date01 = Date01, @Date02 = Date02,
				   @Date03 = Date03, @Date04 = Date04 
				FROM #TBL_TEMP_TRANSACTIONS_1
				WHERE SeqNum = @RndCount

			IF ((@ExistDocNumber != NULL) OR (@ExistDocNumber != ''))
			BEGIN
				SET @MaxDocNum = RAND() * 1000000000000
				SET @ExistDocNumber = CONVERT(NVARCHAR(30), @MaxDocNum)
			END

			IF (@Date01 <> NULL)
			BEGIN
				SET @Date01 = @CreatedUpdatedDate
			END

			IF (@Date02 <> NULL)
			BEGIN
				SET @Date02 = @CreatedUpdatedDate
			END

			IF (@Date03 <> NULL)
			BEGIN
				SET @Date03 = @CreatedUpdatedDate
			END

			IF (@Date04 <> NULL)
			BEGIN
				SET @Date04 = @CreatedUpdatedDate
			END

			SET @NewGUI = NEWID()

			SELECT @SiteIndex = SiteIndex, @SiteID = ID 
				FROM #TBL_SITE_LIST
				WHERE SeqNum = @RndSiteCount
				
			UPDATE #TBL_TEMP_TRANSACTIONS_1 
				SET InventoryDate = CONVERT(SmallDateTime, @InventoryDate), 
					CreatedDate = @CreatedUpdatedDate,
					UpdatedDate = @CreatedUpdatedDate, TransID = @NewGUI,
					TransDateTime =  @CreatedUpdatedDate, DocumentNumber = @ExistDocNumber,
					Date01 = @Date01, Date02 = @Date02, Date03 = @Date03, Date04 = @Date04,
					CreatedBy = 'AutoGen', UpdatedBy = 'AutoGen',
					SiteIndex = @SiteIndex, [Site] = @SiteID
				WHERE SeqNum = @RndCount 

			-- Must remove the TransIndex since it is an Identity column.
			SELECT * INTO #TBL_TEMP_TRANSACTIONS
				FROM #TBL_TEMP_TRANSACTIONS_1
				WHERE SeqNum = @RndCount
			ALTER TABLE #TBL_TEMP_TRANSACTIONS DROP COLUMN TransIndex, SeqNum

			INSERT INTO tblTransactions
				SELECT *
				FROM #TBL_TEMP_TRANSACTIONS

			SELECT @NewTransIndex = SCOPE_IDENTITY()
			-- SELECT @NewTransIndex = TransIndex FROM tblTransactions WHERE TransID = @NewGUI

			-- Make a copy of the old line item and insert into tblTransactionLineItems
			-- and tblTransactionLineItemUserData
			SELECT * INTO #TBL_TEMP_TRANSACTION_LINE_ITEMS
				FROM #TBL_TEMP_TRANSACTION_LINE_ITEMS_1
				WHERE SeqNum = @RndCount

			SELECT * INTO #TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA
				FROM #TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA_1
				WHERE SeqNum = @RndCount
			
			DELETE FROM #TBL_NEW_LINE_ITEM_NUMBER
			INSERT INTO #TBL_NEW_LINE_ITEM_NUMBER
				EXEC [dbo].[fm_GetSequenceValue] 'LineItemID'
				
			SELECT @NewTransLineItemID = SequenceValue FROM #TBL_NEW_LINE_ITEM_NUMBER
			
			UPDATE #TBL_TEMP_TRANSACTION_LINE_ITEMS 
				SET TransLineItemID = @NewTransLineItemID, TransIndex = @NewTransIndex,
					CreatedDate = @CreatedUpdatedDate, UpdatedDate = @CreatedUpdatedDate,
					CreatedBy = 'AutoGen', UpdatedBy = 'AutoGen'
				WHERE SeqNum = @RndCount

			UPDATE #TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA
				SET CreatedDate = @CreatedUpdatedDate, UpdatedDate = @CreatedUpdatedDate,
				    TransLineItemID = @NewTransLineItemID,
				    CreatedBy = 'AutoGen', UpdatedBy = 'AutoGen'
				WHERE SeqNum = @RndCount


			ALTER TABLE #TBL_TEMP_TRANSACTION_LINE_ITEMS DROP COLUMN SeqNum
			ALTER TABLE #TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA DROP COLUMN SeqNum

			INSERT INTO tblTransactionLineItems
				SELECT * 
				FROM #TBL_TEMP_TRANSACTION_LINE_ITEMS 

			INSERT INTO tblTransactionLineItemUserData
				SELECT * 
				FROM #TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA 

			-- Make a copy of the old notes and insert into tblTransactionNotes
			SELECT * INTO #TBL_TEMP_TRANSACTION_NOTES
				FROM #TBL_TEMP_TRANSACTION_NOTES_1
				WHERE SeqNum = @RndCount

			UPDATE #TBL_TEMP_TRANSACTION_NOTES 
				SET CreatedDate = @CreatedUpdatedDate, UpdatedDate = @CreatedUpdatedDate,
				    TransIndex = @NewTransIndex, CreatedBy = 'AutoGen', UpdatedBy = 'AutoGen'
			ALTER TABLE #TBL_TEMP_TRANSACTION_NOTES DROP COLUMN SeqNum

			INSERT INTO tblTransactionNotes
				SELECT *
				FROM #TBL_TEMP_TRANSACTION_NOTES

	
			-- Make a copy of the old signature and insert into tblTransactionSignature
			SELECT * INTO #TBL_TEMP_TRANSACTION_SIGNATURE
				FROM #TBL_TEMP_TRANSACTION_SIGNATURE_1 
				WHERE SeqNum = @RndCount

			UPDATE #TBL_TEMP_TRANSACTION_SIGNATURE
				SET CreatedDate = @CreatedUpdatedDate, UpdatedDate = @CreatedUpdatedDate,
				    TransIndex = @NewTransIndex, CreatedBy = 'AutoGen', UpdatedBy = 'AutoGen'

			ALTER TABLE #TBL_TEMP_TRANSACTION_SIGNATURE DROP COLUMN SeqNum
			
			INSERT INTO tblTransactionSignature
				SELECT *
				FROM #TBL_TEMP_TRANSACTION_SIGNATURE
				
			-- Make a copy of the old user data and insert into tblTransactionUserData
			SELECT * INTO #TBL_TEMP_TRANSACTION_USER_DATA
				FROM #TBL_TEMP_TRANSACTION_USER_DATA_1
				WHERE SeqNum = @RndCount

			UPDATE #TBL_TEMP_TRANSACTION_USER_DATA
				SET CreatedDate = @CreatedUpdatedDate, UpdatedDate = @CreatedUpdatedDate,
				    TransIndex = @NewTransIndex, CreatedBy = 'AutoGen', UpdatedBy = 'AutoGen'
				    
			ALTER TABLE #TBL_TEMP_TRANSACTION_USER_DATA DROP COLUMN SeqNum

			INSERT INTO tblTransactionUserData
				SELECT *
				FROM #TBL_TEMP_TRANSACTION_USER_DATA
		

			DROP TABLE [dbo].[#TBL_TEMP_TRANSACTIONS]
			DROP TABLE [dbo].[#TBL_TEMP_TRANSACTION_LINE_ITEMS]
			DROP TABLE [dbo].[#TBL_TEMP_TRANSACTION_NOTES]
			DROP TABLE [dbo].[#TBL_TEMP_TRANSACTION_SIGNATURE]
			DROP TABLE [dbo].[#TBL_TEMP_TRANSACTION_USER_DATA]
			DROP TABLE [dbo].[#TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA]

			SET @RecCounter = @RecCounter + 1

			COMMIT

			END TRY
			BEGIN CATCH
				ROLLBACK
				SET @MSG = ERROR_MESSAGE()    
		 		PRINT 'Failure - ' + @MSG
		 		RAISERROR  (@MSG, 0, 1)
			END CATCH
		END

		SET @DayCounter = @DayCounter + 1
		PRINT ' '
		PRINT 'Created record: ' + CONVERT(NVARCHAR(30), @RecCounter) 
			+ ' of ' + CONVERT(NVARCHAR(30), @RecordsPerDay)
		PRINT 'Created record for day: ' + CONVERT(NVARCHAR(30), @DayCounter) 
			+ ' of ' + CONVERT(NVARCHAR(30), @TotalNumOfDays)
	END
	
	DROP TABLE #TBL_NEW_LINE_ITEM_NUMBER
	DROP TABLE #TBL_TEMP_TRANSACTIONS_1
	DROP TABLE #TBL_TEMP_TRANSACTION_LINE_ITEMS_1
	DROP TABLE #TBL_TEMP_TRANSACTION_NOTES_1
	DROP TABLE #TBL_TEMP_TRANSACTION_SIGNATURE_1
	DROP TABLE #TBL_TEMP_TRANSACTION_USER_DATA_1
	DROP TABLE #TBL_TEMP_TRANSACTION_LINE_ITEM_USER_DATA_1

END
