<div class="adminUserSettingsPanel">
  <div class="title">Admin User</div>
  <div class="description">This screen allows the user to configure the administrator username and password.</div>
  <div class="inputHeading">Properties</div>
  <form name="adminForm" #f="ngForm">
    <p>
      <input type="text" class="form-control" id="usernameTextbox" name="username" required [(ngModel)]="model.username" #username="ngModel"
        required placeholder="Enter a user name">
        <div class="validationText"
        *ngIf="this.username.invalid && (this.username.dirty || this.username.touched)">
          User Name is required.
        </div>
      <p>
        <input type="password" class="form-control" id="passwordTextbox" name="password" required [(ngModel)]="model.password" #password="ngModel"
          required placeholder="Enter new password">
          <div class="validationText"
          *ngIf="this.password.invalid && (this.password.dirty || this.password.touched)">
            Password is Required.
          </div>

      <p>
        <input type="password" class="form-control" id="confirmPasswordTextbox" name="confirmPassword" required [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
          required placeholder="Confirm new password">
          <div class="validationText"
          *ngIf="this.password.value != this.confirmPassword.value && this.confirmPassword.touched ">
            Passwords must match.
          </div>

      <p>
        <button id="cancelButton" class="btn btn-secondary" [routerLink]="['home']">Cancel</button>
        <button id="saveButton" class="btn btn-primary" [disabled]="this.password.value != this.confirmPassword.value || username.invalid || password.invalid || confirmPassword.invalid || this.connectionStatus != 'CONNECTED'" (click)="Apply(this.username.value, this.password.value)">Apply to RTU</button>
      </p>
  </form>
</div>
