<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DispatchRequestProxyBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="DispatchRequestProxyEndpointBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="DispatchRequestProxyBehavior" name="FuelsManager.DispatchRequestProxy">
				<endpoint binding="webHttpBinding" address="" contract="FuelsManager.IDispatchRequestProxy" bindingConfiguration="WebHttpBinding" behaviorConfiguration="DispatchRequestProxyEndpointBehavior" />
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="WebHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
			<wsHttpBinding>
				<binding name="WsHttpsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None">
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
				</binding>
				<binding name="WsHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security>
						<transport>
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
				</binding>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBindingIIS" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
					<security mode="None">
						<transport clientCredentialType="None">
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
				<binding name="NetTcpBindingAzure" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
					<security mode="None">
						<transport clientCredentialType="None">
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
				<binding name="NetTcpBindingSyncService" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
					<security mode="Transport">
						<message clientCredentialType="UserName" />
						<transport clientCredentialType="Windows" />
					</security>
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
				<binding name="SRMTcpBinding" maxReceivedMessageSize="10000" maxConnections="500" listenBacklog="500">
					<security mode="None">
						<message clientCredentialType="None" />
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<appSettings>
		<add key="bindingName"							value="NetTcpBindingIIS"/>
		<add key="endPointAddress"						value="net.tcp://localhost:808/FMBusinessServices" />
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
