USE [ConsolidatedDB]
GO
/****** Object:  StoredProcedure [dbo].[CITGO_SAPUpload]    Script Date: 02/03/2010 15:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










-- =============================================
-- Author:		A.Sang
-- Create date:  03/17/2008
-- Description:	This procedure returns records for SAP upload
---Update On 06/05/2008 Add TransVersion
---Update on 06/09/2008 change to TransDateTime
-- Update on 06/10/2008 add PO number, convert time to localtime, add code to handle error API
---Update on 06/13/2008, add transactionstatus =1 in lineitem, add transID in productlineitem
---Update on 06/16/2008, add code to handle broken blend , zero gravity and blank timeout
---Update on 07/02/2008, modify C records
---Update on 07/18/2008, add code to create Tank Inventory data
---Update on 08/05/2008, modify Closeout records
---Update on 08/06/2008, modify Tank Inventory data, change from net to gross
---													 change code to handle linefill	
---Update on 08/08/2008, remove 'Bay ' from station ID		
---Update on 08/27/2008, order BOL by sequenceID	
---Update on 09/18/2008, modify to handle RU, UO reveral type; 
---						 modify to handle blend component closeout;
---						 modify loading station ID; modify closeout DateTime
---Update on 09/19/2008, modify closeout time always be 2359 
---Update on 09/22/2008, modify to handle Blend closeout records
---Update on 10/21/2008, modify closeout records, no 06 for additive products;
---						 change closeout records by Closeout Date;
---						 change Physical Inventory for closeout Date only
---						 change all "T" product without "T"
---Update on 10/27/2008, change Manual transaction to "O"
--Update on 10/30/2008, change to get first 2 characters of meter name in Closeout records
---Update on 12/08/2008, change 25/35 record format 
---Update on 12/17/2008, remove Blend filter for 01, 03, 05 records
---Update on 01/14/2009, change additive meter to sublineitem meter ID
---Update on 01/16/2009, change to get product meter from the last 2 characters of additive meter names for 01, 03,05 records
---						 assuming additive meters configured using meter name as 2 last characters
---Update on 01/20/2009, change to get 38, 34 from Adjustment UserData1 (type) field
---						 Add Regrade to 22, 32 reocrds
---Update on 01/21/2009, change 06 meter totalizer, remove Max and filter additive type
---Update on 01/23/2009, change to get SCACCode from tblCompanies table because shipment is blank
---						 Add Regrade records in 22/32 records
---						 Modify 06 record
---						 Add Transfer 88
---Update on 01/28/2009  Change 25 record's time to TransDateTime
---						 modify 39 record ticket#, gravity to 2 characters,batch#, Shipper#
---Update on 01/31/2009  Chang 05 records to Additive meter closeout,
---						 Add code to handle  tracking product
---Update on 02/04/2009  Change to get all Physical Inventory even the product was not closeout
---Update on 03/03/2009  Change on 29 records to check if data has been sent before.
---Update on 03/11/2009  Change on closeout records not using closeoutdate
---Update on 03/16/2009  Change 88 record of Batch number and From/To 
---Update on 04/14/2009  Change transfer to handle multiple line item transfer
---Update on 04/16/2009  Change time format for record 88, correct regrade double records problem
---Update on 07/26/2009	 Change 29 records to query 10mins backward
---						 29 records already set it as Null if BOL has no EndTime
---Update on 08/06/2009  Since TransVersion number can be bigger while UpdatedDateTime can be earlier, 
---						 change the code use either rather than both in the filter criteria
---						 Add with (nolock) on 29 records
--Update  on 12/10/2009  Convert Bulk shipment volume to Int first
--Update on 12/20/2009	Filter out trans with more than 8 line items
--Update on 02/03/2010	Deploy to Houston Lab
--Update on 05/28/2010  Filter out tanks with Vapor Pressure of 0.01 in the site's pressure units
--Update on 10/12/2010	Mark as out of service tanks with a non-good OPC Quality
-- =============================================

ALTER PROCEDURE [dbo].[CITGO_SAPUpload]
	@SiteIndex int,
	@ManagerIndex int,
	@StartTime	DateTime,
	@EndTime DateTime,
	@TransVersion int,
	@Type varchar(1) --C for closeout, I for BOL record, T for Tank data

AS
BEGIN
	SET NOCOUNT ON;
	--SET CONCAT_NULL_YIELDS_NULL OFF; -- treat Null as blank string

	DECLARE @TerminalNumber AS varchar(4)
	SET @TerminalNumber = (SELECT Number FROM dbo.tblSites WHERE SiteIndex = @SiteIndex)

	DECLARE @VolumeUnits int
	SET @VolumeUnits = (SELECT VolumeUnitIndex FROM tblSites WHERE tblSites.SiteIndex = @SiteIndex)

	DECLARE @TemperatureUnits int
	SET @TemperatureUnits = (SELECT TemperatureUnitIndex FROM tblSites WHERE tblSites.SiteIndex = @SiteIndex)

	DECLARE @PressureUnits int
	SET @PressureUnits = (SELECT PressureUnitIndex FROM tblSites WHERE tblSites.SiteIndex = @SiteIndex)


	DECLARE @DensityUnits int
	SET @DensityUnits = (SELECT DensityUnitIndex FROM tblSites WHERE tblSites.SiteIndex = @SiteIndex)

	DECLARE @AdditiveVolumeUnits int
	SET @AdditiveVolumeUnits = (SELECT AdditiveVolumeUnitIndex FROM tblSites WHERE tblSites.SiteIndex = @SiteIndex)

	DECLARE @AdditiveProfileRateUnitIndex int
	SET @AdditiveProfileRateUnitIndex = (SELECT AdditiveProfileRateUnitIndex FROM tblSites WHERE tblSites.SiteIndex = @SiteIndex)
	

	IF @Type = 'I' 
	BEGIN
		--BOL Shipment Header Record (29)-- don't send Original record if it has been sent

		--set time stamp 10mins before the query time
		SET @StartTime =DateAdd(mi,-10,@StartTime)
		SET @EndTime = DateAdd(mi,-10,@EndTime)
		
		IF @TransVersion = 0
		BEGIN
		  SELECT  TransID,
				TransVersion,
				'29' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				LEFT(T.DocumentNumber + REPLICATE('0',6),6) As BOLNumber,
				'1' AS SequenceNumber,
				CONVERT(varchar(6),dbo.GetLocalTime(@SiteIndex,T.TransDateTime),12) AS TransDate,
				TimeEnd = 
					CASE WHEN TimeOut IS NULL THEN NULL
						 ELSE REPLACE(CONVERT(varchar(5),dbo.GetLocalTime(@SiteIndex,TimeOut),108),':','')
					End,
				REPLICATE('0',6) AS CustomerCardNumber,
				RIGHT(REPLICATE('0',13) + ShipToID,13) As CustomerNumber,
				RIGHT(REPLICATE('0',5)+DriverIdentificationNumber,5) AS DriverCard,
				RIGHT(REPLICATE('0',4) + SCACCode,4) AS SCACCode,
				REPLICATE('0',3) AS Filler1,
				Rack = SubString((SELECT Top(1) LoadingLocationID FROM dbo.tblTransactionLineItems L WHERE L.transID = T.transID),5,1),
				REPLICATE('0',13) AS Filler2,
				TimeOut = 
					CASE WHEN TimeOut IS NULL THEN NULL
						 ELSE RIGHT(REPLICATE('0',3) + Convert(varchar(3),DatePart(dy,dbo.GetLocalTime(@SiteIndex,TimeOut))),3)
					END,
				'0' AS Filler3,
				TrailerNumber = 
					CASE
						WHEN DestinationRegistrationID1 IS NULL THEN REPLICATE('0',5)
						ELSE RIGHT(REPLICATE('0',5)+DestinationRegistrationID1,5)
					END,
				InventoryStatus = 
				CASE
					WHEN T.CreatedBy ='LoadRack.NET' AND (ReversalType IS NULL OR ReversalType ='O' OR ReversalType ='UO') THEN 'O'
					WHEN T.CreatedBy <>'LoadRack.NET' AND (ReversalType IS NULL OR ReversalType ='O' OR ReversalType ='UO') THEN 'O'
					WHEN ReversalType ='R' OR ReversalType ='RU' THEN 'R'
					WHEN ReversalType ='U' THEN 'C'
				END,
				PONumber =
					CASE WHEN T.PONumber IS NULL THEN REPLICATE('0',2)+SPACE(14)+REPLICATE('0',66)
						 ELSE REPLICATE('0',2)+LEFT(T.PONumber + SPACE(14),14)+REPLICATE('0',66)
					END	 
		INTO	#TransHeader
		FROM	dbo.tblTransactions T with (nolock)
		WHERE	T.SiteIndex = @SiteIndex 
				AND TransTypeID = 5
				AND	ManagerIndex = @ManagerIndex 
				--AND T.TransVersion >@TransVersion
				AND (T.TransactionStatus = 0 OR T.TransactionStatus = 11 ) --0 Completed, 11 is Posted, it can be posted after sending to PIDX
				AND ((T.TransDateTime <= @EndTime AND T.TransDateTime>@StartTime) OR (T.UpdatedDate<=@EndTime AND T.UpdatedDate>@StartTime))
				AND T.DeleteFlag = cast(0 as bit)
				AND T.TransID NOT IN (SELECT RecordID FROM dbo.tblExportResultDetails
										WHERE Fail = cast(0 as bit))
				--skip the Original Records if it has been sent; Original record can not be modified from UI after uploaded
		ORDER BY BOLNumber
			

		--BOL Shipment Product Record (29) - Line Items
		SELECT  T.TransID,
				'29' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				LEFT(T.DocumentNumber + REPLICATE('0',6),6) As BOLNumber,
		        SequenceID + 2 AS SequenceNumber, --need to increate it in the code
				RIGHT(REPLICATE('0',5) + L.ProductCode,5) As ProductCode,
				GrossSign = 
				CASE 
					WHEN T.ReversalType ='R' OR T.ReversalType ='RU' THEN '-'
					ELSE '+'
				END,
				GrossVolume=
				CASE
					WHEN BrokenBlend = cast(1 as bit) THEN NULL --invalid record when it is broken blend
					ELSE RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),ABS(dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,0))),8)
				END,
				NetSign = 
				CASE 
					WHEN T.ReversalType ='R' OR T.ReversalType ='RU' THEN '-'
					ELSE '+'
				END,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),ABS(dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,0))),8) AS NetVolume,
				RIGHT(REPLICATE('0',3) + CONVERT(varchar(3),dbo.ConvertFromSIUnits(L.Temperature,@TemperatureUnits,0)),3) AS Temperature,
				APIGravity = 
				CASE
					WHEN L.Density<1 OR (dbo.ConvertFromSIUnits(L.Density,@DensityUnits,0)=0) THEN NULL
					ELSE RIGHT(REPLICATE('0',2) + CONVERT(varchar(4),dbo.ConvertFromSIUnits(L.Density,@DensityUnits,0)),2) 
				END,
				REPLICATE('0',3) AS Filler,
				RIGHT(REPLICATE('0',5) + L.ProductCode,5) As RackProductCode,
				REPLICATE('0',26) AS Filler1,
				Meter = 
				CASE
					WHEN L.ProductType ='Blend' AND L.MeterID IS NULL THEN REPLICATE('0',2)
					ELSE RIGHT(REPLICATE('0',2) + L.MeterID,2)
				END,
				BOLType = 
				CASE
					WHEN T.CreatedBy ='LoadRack.NET' AND (T.ReversalType IS NULL OR T.ReversalType ='O' OR T.ReversalType ='UO') THEN 'O'
					WHEN T.CreatedBy <>'LoadRack.NET' AND (T.ReversalType IS NULL OR T.ReversalType ='O' OR T.ReversalType ='UO') THEN 'O'
					WHEN T.ReversalType ='R' OR T.ReversalType ='RU' THEN 'R'
					WHEN T.ReversalType ='U' THEN 'C'
				END,
				REPLICATE('0',2) AS Filler4
			INTO	#TransLineItem
			FROM   dbo.tblTransactionLineItems L with (nolock) Left Join dbo.tblTransactions T with (nolock) ON L.TransID = T.TransID
			WHERE	T.SiteIndex = @SiteIndex 
				AND T.TransTypeID = 5
				AND	T.ManagerIndex = @ManagerIndex 
				--AND T.TransVersion >@TransVersion
				AND (T.TransactionStatus = 0 OR T.TransactionStatus = 11 ) --0 Completed, 11 is Posted
				AND (L.TransactionStatus =0 OR L.TransactionStatus = 11 OR L.TransactionStatus =1)
				AND ((T.TransDateTime <= @EndTime AND T.TransDateTime>@StartTime) OR (L.UpdatedDate<=@EndTime AND L.UpdatedDate>@StartTime))
				AND L.DeleteFlag = cast(0 as bit)
				AND T.TransID NOT IN (SELECT RecordID FROM dbo.tblExportResultDetails
										WHERE Fail = cast(0 as bit))
			ORDER BY BOLNumber,SequenceNumber
			
			SELECT TransID 
			INTO #TransID
			FROM #TransLineItem
			GROUP BY TransID
			Having Count(TransID)>8
			
			
			SELECT * FROM #TransHeader
			WHERE TransID NOT IN (SELECT TransID FROM #TransID)
	
			SELECT * FROM #TransLineItem
			WHERE TransID NOT IN (SELECT TransID FROM #TransID)

			Drop TABLE #TransHeader
			Drop TABLE #TransLineItem
			Drop TABLE #TransID

		END
		ELSE
		IF @TransVersion >0 -- Auto BOL, use transversion only 
		BEGIN
			SELECT  TransID,
				TransVersion,
				'29' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				LEFT(T.DocumentNumber + REPLICATE('0',6),6) As BOLNumber,
				'1' AS SequenceNumber,
				CONVERT(varchar(6),dbo.GetLocalTime(@SiteIndex,T.TransDateTime),12) AS TransDate,
				TimeEnd = 
					CASE WHEN TimeOut IS NULL THEN NULL
						 ELSE REPLACE(CONVERT(varchar(5),dbo.GetLocalTime(@SiteIndex,TimeOut),108),':','')
					End,
				REPLICATE('0',6) AS CustomerCardNumber,
				RIGHT(REPLICATE('0',13) + ShipToID,13) As CustomerNumber,
				RIGHT(REPLICATE('0',5)+DriverIdentificationNumber,5) AS DriverCard,
				RIGHT(REPLICATE('0',4) + SCACCode,4) AS SCACCode,
				REPLICATE('0',3) AS Filler1,
				Rack = SubString((SELECT Top(1) LoadingLocationID FROM dbo.tblTransactionLineItems L WHERE L.transID = T.transID),5,1),
				REPLICATE('0',13) AS Filler2,
				TimeOut = 
					CASE WHEN TimeOut IS NULL THEN NULL
						 ELSE RIGHT(REPLICATE('0',3) + Convert(varchar(3),DatePart(dy,dbo.GetLocalTime(@SiteIndex,TimeOut))),3)
					END,
				'0' AS Filler3,
				TrailerNumber = 
					CASE
						WHEN DestinationRegistrationID1 IS NULL THEN REPLICATE('0',5)
						ELSE RIGHT(REPLICATE('0',5)+DestinationRegistrationID1,5)
					END,
				InventoryStatus = 
				CASE
					WHEN T.CreatedBy ='LoadRack.NET' AND (ReversalType IS NULL OR ReversalType ='O' OR ReversalType ='UO') THEN 'O'
					WHEN T.CreatedBy <>'LoadRack.NET' AND (ReversalType IS NULL OR ReversalType ='O' OR ReversalType ='UO') THEN 'O'
					WHEN ReversalType ='R' OR ReversalType ='RU' THEN 'R'
					WHEN ReversalType ='U' THEN 'C'
				END,
				PONumber =
					CASE WHEN T.PONumber IS NULL THEN REPLICATE('0',2)+SPACE(14)+REPLICATE('0',66)
						 ELSE REPLICATE('0',2)+LEFT(T.PONumber + SPACE(14),14)+REPLICATE('0',66)
					END	 
		INTO	#TransHeader1
		FROM	dbo.tblTransactions T with (nolock)
		WHERE	T.SiteIndex = @SiteIndex 
				AND TransTypeID = 5
				AND	ManagerIndex = @ManagerIndex 
				AND T.TransVersion >@TransVersion
				AND (T.TransactionStatus = 0 OR T.TransactionStatus = 11 ) --0 Completed, 11 is Posted, it can be posted after sending to PIDX
				--AND ((T.TransDateTime <= @EndTime AND T.TransDateTime>@StartTime) OR (T.UpdatedDate<=@EndTime AND T.UpdatedDate>@StartTime))
				AND T.DeleteFlag = cast(0 as bit)
				AND T.TransID NOT IN (SELECT RecordID FROM dbo.tblExportResultDetails
										WHERE Fail = cast(0 as bit))
				--skip the Original Records if it has been sent; Original record can not be modified from UI after uploaded
		ORDER BY BOLNumber
			

		--BOL Shipment Product Record (29) - Line Items
		SELECT  T.TransID,
				'29' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				LEFT(T.DocumentNumber + REPLICATE('0',6),6) As BOLNumber,
		        SequenceID + 2 AS SequenceNumber, --need to increate it in the code
				RIGHT(REPLICATE('0',5) + L.ProductCode,5) As ProductCode,
				GrossSign = 
				CASE 
					WHEN T.ReversalType ='R' OR T.ReversalType ='RU' THEN '-'
					ELSE '+'
				END,
				GrossVolume=
				CASE
					WHEN BrokenBlend = cast(1 as bit) THEN NULL --invalid record when it is broken blend
					ELSE RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),ABS(dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,0))),8)
				END,
				NetSign = 
				CASE 
					WHEN T.ReversalType ='R' OR T.ReversalType ='RU' THEN '-'
					ELSE '+'
				END,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),ABS(dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,0))),8) AS NetVolume,
				RIGHT(REPLICATE('0',3) + CONVERT(varchar(3),dbo.ConvertFromSIUnits(L.Temperature,@TemperatureUnits,0)),3) AS Temperature,
				APIGravity = 
				CASE
					WHEN L.Density<1 OR (dbo.ConvertFromSIUnits(L.Density,@DensityUnits,0)=0) THEN NULL
					ELSE RIGHT(REPLICATE('0',2) + CONVERT(varchar(4),dbo.ConvertFromSIUnits(L.Density,@DensityUnits,0)),2) 
				END,
				REPLICATE('0',3) AS Filler,
				RIGHT(REPLICATE('0',5) + L.ProductCode,5) As RackProductCode,
				REPLICATE('0',26) AS Filler1,
				Meter = 
				CASE
					WHEN L.ProductType ='Blend' AND L.MeterID IS NULL THEN REPLICATE('0',2)
					ELSE RIGHT(REPLICATE('0',2) + L.MeterID,2)
				END,
				BOLType = 
				CASE
					WHEN T.CreatedBy ='LoadRack.NET' AND (T.ReversalType IS NULL OR T.ReversalType ='O' OR T.ReversalType ='UO') THEN 'O'
					WHEN T.CreatedBy <>'LoadRack.NET' AND (T.ReversalType IS NULL OR T.ReversalType ='O' OR T.ReversalType ='UO') THEN 'O'
					WHEN T.ReversalType ='R' OR T.ReversalType ='RU' THEN 'R'
					WHEN T.ReversalType ='U' THEN 'C'
				END,
				REPLICATE('0',2) AS Filler4
			INTO	#TransLineItem1
			FROM   dbo.tblTransactionLineItems L with (nolock) Left Join dbo.tblTransactions T with (nolock) ON L.TransID = T.TransID
			WHERE	T.SiteIndex = @SiteIndex 
				AND T.TransTypeID = 5
				AND	T.ManagerIndex = @ManagerIndex 
				AND T.TransVersion >@TransVersion
				AND (T.TransactionStatus = 0 OR T.TransactionStatus = 11 ) --0 Completed, 11 is Posted
				AND (L.TransactionStatus =0 OR L.TransactionStatus = 11 OR L.TransactionStatus =1)
				--AND ((T.TransDateTime <= @EndTime AND T.TransDateTime>@StartTime) OR (L.UpdatedDate<=@EndTime AND L.UpdatedDate>@StartTime))
				AND L.DeleteFlag = cast(0 as bit)
				AND T.TransID NOT IN (SELECT RecordID FROM dbo.tblExportResultDetails
										WHERE Fail = cast(0 as bit))
			ORDER BY BOLNumber,SequenceNumber

			SELECT TransID 
			INTO #TransID1
			FROM #TransLineItem1
			GROUP BY TransID
			Having Count(TransID)>8
			
			SELECT * FROM #TransHeader1
			WHERE TransID NOT IN (SELECT TransID FROM #TransID1)
	
			SELECT * FROM #TransLineItem1
			WHERE TransID NOT IN (SELECT TransID FROM #TransID1)

			Drop TABLE #TransHeader1
			Drop TABLE #TrandLineItem1
			Drop TABLE #TransID1
		END
	END
	ELSE  
	IF @Type = 'C' --StartTime will be CloseoutDate, EndTime will be the same CloseoutDate
	BEGIN
		
		DECLARE @CloseoutDate AS DateTime
		SET @CloseoutDate  = @StartTime

		DECLARE @CloseoutTime AS varchar(10)
		SET @CloseoutTime = CONVERT(varchar(6),@CloseoutDate,12) + '2359'	
		
		SELECT ProductIndex,
			   TransVersion
		INTO #ProductIndex
		FROM dbo.tblCloseoutInventory 
		WHERE CloseoutDate =@CloseoutDate 
			 AND SiteIndex = @SiteIndex 
			 AND TransVersion > @TransVersion -- filter out the product which already was closeout for the same day before

		--find previouse closeoudate
		DECLARE @PreviousCloseoutDate AS DateTime
		SET @PreviousCloseoutDate = ISNULL((SELECT Max(CloseoutDate) FROM dbo.tblCloseoutInventory 
										WHERE CloseoutDate<@CloseoutDate),'01/01/1900')

		SET @PreviousCloseoutDate = DATEAdd(d,1,@PreviousCloseoutDate) -- add one day so we can use BETWEEN statement later
		--SELECT @PreviousCloseoutDate

	--	SELECt * from #ProductIndex
	
		--00 record for End of Day CutOff 
		SELECT	'' AS TransID,
				Max(TransVersion) AS TransVersion,
				'00' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				REPLICATE('0',5) AS Filler,
				@CloseoutTime AS TransTime,
				REPLICATE('0',59) AS Filler2
	    FROM	#ProductIndex
		
		SELECT	T.SiteIndex,
				T.TransID,
				L.TransLineItemID,
				S.TransSubLineItemID,
				T.TransTypeID,
				T.ReversalType,
				T.InventoryDate,
				T.DocumentNumber AS BOL,
				TransDateTime = dbo.GetLocalTime(@SiteIndex,T.TransDateTime),
				T.OwnerID, 
				T.ShipToID,
				RTRIM(LEFT(REPLACE(L.LoadingLocationID,'Bay ',''),2)) AS StationNumber,
				S.MeterID AS ProductMeterNumber,
				S.ProductCode AS AdditiveSystem,
				L.AdditiveProfileID,
				-1*(dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,0)) AS ProductVolume, -- product volume not additive volume
				L.Product AS LineItemProduct,
				L.ProductType AS LineItemProductType,
				S.Product,
				S.ProductType,
				S.MeterStart,
				S.MeterStop,
				S.DosageRate,
				GrossVolume = 
				CASE 
					WHEN S.ProductType ='Additive' THEN -1*(dbo.ConvertFromSIUnits(S.GrossQuantity,@AdditiveVolumeUnits,0))
					ELSE -1*(dbo.ConvertFromSIUnits(S.GrossQuantity,@VolumeUnits,0))
				END,
				NetVolume = 
				CASE 
					WHEN S.ProductType ='Additive' THEN -1*(dbo.ConvertFromSIUnits(S.NetQuantity,@AdditiveVolumeUnits,0))
					ELSE -1*(dbo.ConvertFromSIUnits(S.NetQuantity,@VolumeUnits,0))
				END,
				S.PresetAmount,
				S.ImproperAdditization,
				S.BrokenBlend,
				TrackingProduct = (SELECT ProductID FROM dbo.tblProducts WHERE ProductIndex =P.TrackingProductIndex)
		INTO	#AdditiveTransactions
		FROM	(dbo.tblTransactions T WITH (NOLOCK) JOIN dbo.tblTransactionLineItems L WITH (NOLOCK) ON T.TransID = L.TransID)
				JOIN dbo.tblTransactionSubLineItems S WITH (NOLOCK) ON L.TransLineItemID = S.TransLineItemID
				LEFT JOIN dbo.tblProducts P WITH (NOLOCK) ON L.ProductIndex = P.ProductIndex
		WHERE	T.SiteIndex = @SiteIndex 
				AND	T.ManagerIndex = @ManagerIndex 
				AND T.TransTypeID = 5 -- ??? BOL type only or others
				AND T.DeleteFlag = cast(0 as bit)
				AND T.InventoryDate BETWEEN @PreviousCloseoutDate AND @CloseoutDate
				AND L.ProductIndex IN (SELECT ProductIndex FROM #ProductIndex) --lineitem product, not additive product
				--AND S.ProductType = 'Additive'
		
	---SELECT * from #AdditiveTransactions	
			

		-- Addtive Usage Record (01)
		SELECT	'' AS TransID,
				'' AS TransVersion,
				'01' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',2) + StationNumber,2) AS StationNumber,
				RIGHT(REPLICATE('0',2) +RIGHT(ProductMeterNumber,2),2) AS ProductMeterNumber,
				RIGHT(REPLICATE('0',2) + AdditiveSystem,2) AS AdditiveSystem,
				RIGHT(REPLICATE('0',2) + AdditiveProfileID,2) AS AdditiveProfileID,		
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) AS AdditiveProductCode,	
				RIGHT(REPLICATE('0',5) + Convert(varchar(5),CONVERT(int,DosageRate)),5) AS DosageRate,
				RIGHT(REPLICATE('0',8) + Convert(varchar(8),CONVERT(int,SUM(ProductVolume))),8) AS ProductVolume,
				RIGHT(REPLICATE('0',8) + Convert(varchar(8),CONVERT(int,SUM(GrossVolume))),8) AS AdditiveVolume,
				REPLICATE('0',30) AS Filler
		FROM	#AdditiveTransactions
		WHERE	ProductType ='Additive' --AND LineItemProductType <>'Blend'
		GROUP BY StationNumber,ProductMeterNumber,AdditiveSystem,AdditiveProfileID,Product,DosageRate
		ORDER BY Product
		
		--Additive Failure Record (03)
		SELECT	'' AS TransID,
				'' AS TransVersion,
				'03' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',2) + StationNumber,2) AS StationNumber,
				RIGHT(REPLICATE('0',2) +RIGHT(ProductMeterNumber,2),2) AS ProductMeterNumber,
				RIGHT(REPLICATE('0',2) + AdditiveSystem,2) AS AdditiveSystem,
				RIGHT(REPLICATE('0',2) + AdditiveProfileID,2) AS AdditiveProfileID,	
				RIGHT(REPLICATE('0',6) + Convert(varchar(8),CONVERT(int,GrossVolume)),6) AS AdditiveVolume,	
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) AS AdditiveProductCode,
				RIGHT(REPLICATE('0',6) + BOL,6) AS BOLNumber,
				RIGHT(REPLICATE('0',8) + ShipToID,8) AS ShipToAccount,
				RIGHT(REPLICATE('0',6) + Convert(varchar(8),CONVERT(int,ProductVolume)),6) AS ProductVolume,
				RIGHT(REPLICATE('0',5) + Convert(varchar(6),CONVERT(int,PresetAmount)),5) AS RequiredAdditive,
				REPLICATE('0',20) AS Filler
		FROM	#AdditiveTransactions
		WHERE	ProductType ='Additive' --AND LineItemProductType <>'Blend'
				AND ImproperAdditization = cast(1 as bit) --Additive failure
		ORDER BY Product
		
/*
		-- Additive Meter Totalizer Record (05) 
		SELECT	'' AS TransID,
				'' AS TransVersion,
				'05' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',2) + StationNumber,2) AS StationNumber,
				RIGHT(REPLICATE('0',2) +RIGHT(ProductMeterNumber,2),2) AS ProductMeterNumber,
				RIGHT(REPLICATE('0',2) + AdditiveSystem,2) AS AdditiveSystem,	
				RIGHT(REPLICATE('0',5) + Product,5) AS AdditiveProductCode,	
				RIGHT(REPLICATE('0',10) + CONVERT(varchar(10),CONVERT(int,Max(MeterStop))),10) AS CurrentTotalizerReading, -- how about rollover? 
				'000001' AS TotalizerToCCMutiplier,
				REPLICATE('0',37) AS Filler
		FROM	#AdditiveTransactions
		WHERE	ProductType ='Additive' --AND LineItemProductType<>'Blend'
		GROUP BY StationNumber, ProductMeterNumber,AdditiveSystem,Product	
		ORDER BY PRODUCT
*/

/*
		--Additive Rate Change Record(04) ADDITIVE_PROFILE_MAP = 5
		--does it include Add or just modify? 
		SELECT  '04' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				CONVERT(varchar(6),P.UpdatedDate,12) + REPLACE(CONVERT(varchar(5),P.UpdatedDate,108),':','') AS TransDate,
				RIGHT(REPLICATE('0',2) + A.ID,2) AS AdditiveCode,
				RIGHT(REPLICATE('0',5) + R.ProductID,5) AS AdditiveProductCode,	
				REPLICATE('0',5) AS Filler,
				RIGHT(REPLICATE('0',11) + CONVERT(varchar(11),CONVERT(int,dbo.ConvertFromSIUnits(P.AdditiveRate,@AdditiveProfileRateUnitIndex,0))),11) AS NewInjectionRate,
				REPLICATE('0',47) AS Filler1
		FROM (dbo.tblProductMap P LEFT JOIN dbo.tblApplicationString A 
				ON P.AssignedToIndex = A.[Index]) LEFT JOIN dbo.tblProducts R
				ON P.AssignedIndex = R.ProductIndex 
		WHERE P.[Type] = 5 
				AND A.[Type] = 5 
				AND A.SiteIndex = @SiteIndex
				AND P.UpdatedDate >@StartTime
				AND P.UpdatedDate <=@EndTime
*/
	
	  ---***************Transaction Data*************************---
		SELECT	T.SiteIndex,
				T.TransID,
				T.TransVersion,
				L.TransLineItemID,
				L.SequenceID,
				T.TransTypeID,
				T.AliasName,
				T.InventoryDate,
				T.CarrierID, 
				T.OwnerID AS ShipperNumber,
				T.ShipToID AS ShipToNumber,
				T.DocumentNumber AS TicketNumber,
				T.PONumber,
				TimeIn = 
					CASE
						WHEN T.TimeIn IS Null THEN T.TransDateTime
						ElSE T.TimeIn
					END,
				TimeOut = 
					CASE
						WHEN T.Timeout Is NUll THEN T.TransDateTime
						ELSE T.Timeout
					END,
				L.Product,
				L.ProductCode,
				L.ProductIndex,
				L.ProductType,
				L.MeterID AS Meter,
				LEFT(L.MeterID,2) AS MeterID,
				L.MeterStart,
				L.MeterStop,
				RTRIM(LEFT(REPLACE(L.LoadingLocationID,'Bay ',''),2)) AS LoadingLocationID,
				dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,0) AS GrossVolume,
				dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,0) AS NetVolume,
				L.Temperature,
				L.Density,
				L.LineFill,
				L.BottomVolume,
				L.NetCapacity,
				T.TransDateTime,
				T.ReversalType,
				SCACCode = (SELECT SCACCode FROM dbo.tblCompanies WHERE CompanyIndex = T.CarrierIndex) ,
				L.StorageLocationID,
				L.StorageLocationIndex,
				L.TankStatus,
				U.UserData1 AS SubType,
				T.ConjoinTransID,
				P.ProductType AS ProductTypeNumber,
				TrackingProduct = (SELECT ProductID FROM dbo.tblProducts WHERE ProductIndex =P.TrackingProductIndex)
		INTO	#Transactions
		FROM	dbo.tblTransactions T WITH (NOLOCK) JOIN dbo.tblTransactionLineItems L WITH (NOLOCK) 
				ON T.TransID = L.TransID 
				LEFT JOIN dbo.tblTransactionUserData U WITH (NOLOCK) ON T.transID = U.transID
				LEFT JOIN dbo.tblProducts P WITH (NOLOCK) ON L.ProductIndex = P.ProductIndex
		WHERE	T.SiteIndex = @SiteIndex 
				AND	T.ManagerIndex = @ManagerIndex 
				AND (T.InventoryDate BETWEEN @PreviousCloseoutDate AND @CloseoutDate 
					 OR (T.InventoryDate = @CloseoutDate AND T.AliasName ='Physical Inventory') -- get all product tank inventory even it is not closeout, this is for Inhibit Accounting Product
					 )
				AND T.DeleteFlag = cast(0 as bit)
				
		-- add records for Regrade 
		INSERT INTO #Transactions
		SELECT	T.SiteIndex,
				T.TransID,
				T.TransVersion,
				L.TransLineItemID,
				L.SequenceID,
				T.TransTypeID,
				T.AliasName,
				T.InventoryDate,
				T.CarrierID, 
				T.OwnerID AS ShipperNumber,
				T.ShipToID AS ShipToNumber,
				T.DocumentNumber AS TicketNumber,
				T.PONumber,
				TimeIn = 
					CASE
						WHEN T.TimeIn IS Null THEN T.TransDateTime
						ElSE T.TimeIn
					END,
				TimeOut = 
					CASE
						WHEN T.Timeout Is NUll THEN T.TransDateTime
						ELSE T.Timeout
					END,
				L.Product,
				L.ProductCode,
				L.ProductIndex,
				L.ProductType,
				L.MeterID AS Meter,
				LEFT(L.MeterID,2) AS MeterID,
				L.MeterStart,
				L.MeterStop,
				RTRIM(LEFT(REPLACE(L.LoadingLocationID,'Bay ',''),2)) AS LoadingLocationID,
				dbo.ConvertFromSIUnits(L.GrossQuantity,@VolumeUnits,0) AS GrossVolume,
				dbo.ConvertFromSIUnits(L.NetQuantity,@VolumeUnits,0) AS NetVolume,
				L.Temperature,
				L.Density,
				L.LineFill,
				L.BottomVolume,
				L.NetCapacity,
				T.TransDateTime,
				T.ReversalType,
				SCACCode = (SELECT SCACCode FROM dbo.tblCompanies WHERE CompanyIndex = T.CarrierIndex) ,
				L.StorageLocationID,
				L.StorageLocationIndex,
				L.TankStatus,
				'' AS SubType,
				T.ConjoinTransID,
				P.ProductType AS ProductTypeNumber,
				TrackingProduct = (SELECT ProductID FROM dbo.tblProducts WHERE ProductIndex =P.TrackingProductIndex)
		FROM	dbo.tblTransactions T WITH (NOLOCK) JOIN dbo.tblTransactionLineItems L WITH (NOLOCK) 
				ON T.TransID = L.TransID 
				LEFT JOIN dbo.tblProducts P WITH (NOLOCK) ON L.ProductIndex = P.ProductIndex
		WHERE	T.TransID IN (SELECT ConjoinTransID FROM #Transactions WHERE AliasName ='Regrade')
				AND T.TransID NOT IN (SELECT TransID FROM #Transactions WHERE AliasName ='Regrade')
		
	 --SELECT * from #Transactions order by aliasname
		
		-- Additive Meter Totalizer Record (05) 
		SELECT	'' AS TransID,
				'' AS TransVersion,
				'05' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',2) + LoadingLocationID,2) AS StationNumber,
				RIGHT(REPLICATE('0',2) + Meter,2) AS ProductMeterNumber,
				RIGHT(REPLICATE('0',2) + ProductCode,2) AS AdditiveSystem,	
				RIGHT(REPLICATE('0',5) + Product,5) AS AdditiveProductCode,	
				RIGHT(REPLICATE('0',10) + CONVERT(varchar(10),CONVERT(int,Sum(MeterStop))),10) AS CurrentTotalizerReading, -- how about rollover? 
				'000001' AS TotalizerToCCMutiplier,
				REPLICATE('0',37) AS Filler
		FROM	#Transactions
		WHERE	AliasName ='Meter Closeout'
				AND ProductTypeNumber =2
				AND InventoryDate =@CloseoutDate
		GROUP BY LoadingLocationID, Meter,ProductCode,Product	
		ORDER BY LoadingLocationID, Meter,Product

		--Product Meter Totalizer Record ( 06)		
		SELECT	'' AS TransID,
				'' AS TransVersion,
				'06' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',2) + LoadingLocationID,2) AS Rack,
				RIGHT(REPLICATE('0',2) + MeterID,2) AS ProductMeterNumber,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),CONVERT(int,Sum(MeterStop))),8) AS CurrentTotalizerReading,	
				REPLICATE('0',52) AS Filler
		FROM	#Transactions T 
		WHERE	AliasName ='Meter Closeout' 
				AND (ProductTypeNumber =0 OR ProductTypeNumber =1)
				AND InventoryDate =@CloseoutDate
		GROUP BY LoadingLocationID,MeterID
		ORDER BY MeterID

		--BOL Debt Record ( 22) --Summarize all blend products
		--Regrade Record
		SELECT  '' AS TransID,
				'' AS TransVersion,
				'22' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) As ProductCode,
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),CONVERT(int,ABS(SUM(NetVolume)))),8) AS NetVolume,
				REPLICATE('0',20) AS Filler,
				REPLICATE('0',8) AS TicketNumber,
				RIGHT(REPLICATE('0',8) + ShipperNumber,8) AS ShipperNumber,
				REPLICATE('0',4) AS SCACCode,	
				REPLICATE('0',11) AS Filler1
		FROM	#Transactions
		WHERE	((TransTypeID = 5 AND ProductType = 'Blend') OR (AliasName ='Regrade' AND NetVolume>=0))
				AND (ReversalType IS NULL OR ReversalType ='U' OR ReversalType ='UR')
		GROUP BY Product, ShipperNumber
		ORDER BY Product
		
		UPDATE #AdditiveTransactions
		SET Product = TrackingProduct
		WHERE TrackingProduct IS NOT NULL AND ProductType ='Component' AND TransTypeID =5

		--BOL credit Record ( 32) --Summarize all blend component products
		SELECT  '' AS TransID,
				'' AS TransVersion,
				'32' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) As ProductCode,	
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),CONVERT(int,ABS(SUM(NetVolume)))),8) AS NetVolume,
				REPLICATE('0',20) AS Filler,
				REPLICATE('0',8) AS TicketNumber,
				RIGHT(REPLICATE('0',8) + OwnerID,8) AS ShipperNumber,
				REPLICATE('0',4) AS SCACCode,	
				REPLICATE('0',11) AS Filler1
		FROM	#AdditiveTransactions
		WHERE	(TransTypeID = 5 AND ProductType = 'Component')
				AND (ReversalType IS NULL OR ReversalType ='U' OR ReversalType ='UO')--???
		GROUP BY Product, OwnerID
		UNION -- Regrade Credit Record
		SELECT  '' AS TransID,
				'' AS TransVersion,
				'32' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) As ProductCode,	
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),CONVERT(int,ABS(SUM(NetVolume)))),8) AS NetVolume,
				REPLICATE('0',20) AS Filler,
				REPLICATE('0',8) AS TicketNumber,
				RIGHT(REPLICATE('0',8) + ShipperNumber,8) AS ShipperNumber,
				REPLICATE('0',4) AS SCACCode,	
				REPLICATE('0',11) AS Filler1
		FROM	#Transactions
		WHERE	(AliasName ='Regrade' AND NetVolume<0)
				AND (ReversalType IS NULL OR ReversalType ='U' OR ReversalType ='UO')--???	 
		GROUP BY Product, ShipperNumber
		ORDER BY ProductCode

		--Product Overage Record (23) / Product Shortage Record(33)
		--Unsalable Stock Record (38)
		--Company User Record (34)
		SELECT  TransID,
				'' AS TransVersion,
				RecordType=
				CASE 
					WHEN TransTypeID =1 AND SubType ='Unsaleable Stock' THEN '38'
					WHEN TransTypeID =1 AND SubType ='Company Use' THEN '34'
					WHEN NetVolume >0 AND TransTypeID = 1 AND AliasName = 'Adjustment' THEN '23'
					WHEN NetVolume <=0 AND TransTypeID = 1 AND AliasName ='Adjustment' THEN '33'
				END,
				@TerminalNumber AS TerminalNumber,
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) As ProductCode,
				@CloseoutTime AS TransDate,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),CONVERT(int,ABS(NetVolume))),8) AS NetVolume,
				Filler = 
				CASE
					WHEN TransTypeID =8 THEN SPACE(20)
					ELSE REPLICATE('0',20)
				END,
				RIGHT(REPLICATE('0',8) + TicketNumber,8) AS TicketNumber,
				RIGHT(REPLICATE('0',8) + ShipperNumber,8) AS ShipperNumber,
				SCACCode = 
				CASE
					WHEN TransTypeID = 8 THEN RIGHT(REPLICATE('0',4) + SCACCode,4)
					ELSE REPLICATE('0',4)
				END,	
				REPLICATE('0',11) AS Filler1
		FROM	#Transactions
		WHERE	TransTypeID = 1 AND AliasName = 'Adjustment' 
					AND (ReversalType IS NULL OR ReversalType ='U' OR ReversalType ='UR')	
		ORDER BY RecordType,Product

		--25/35 --Product Receipt Record (25) / Product Receipt Reversal Record (35)
		SELECT  TransID,
				'' AS TransVersion,
				RecordType=
				CASE 
					WHEN TransTypeID =8 AND (ReversalType IS NULL OR ReversalType ='U' OR ReversalType ='O' OR ReversalType ='UO') THEN '25'
					WHEN TransTypeID =8 AND (ReversalType ='R' OR ReversalType ='RU') THEN '35'
				END,
				@TerminalNumber AS TerminalNumber,
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) As ProductCode,
				CONVERT(varchar(6),dbo.GetLocalTime(@SiteIndex,TransDateTime),12) AS TransDate,
				REPLACE(CONVERT(varchar(5),dbo.GetLocalTime(@SiteIndex,TransDateTime),108),':','') AS TransTime,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),CONVERT(int,ABS(NetVolume))),8) AS NetVolume,
				LEFT(PONumber + SPACE(20),20) AS BargeID,
				RIGHT(REPLICATE('0',8) + TicketNumber,8) AS TicketNumber,
				RIGHT(REPLICATE('0',8) + ShipperNumber,8) AS ShipperNumber,
				RIGHT(REPLICATE('0',4) + CarrierID,4) AS CarrierID,
			--	RIGHT(REPLICATE('0',4) + SCACCode,4) AS SCACCode,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),CONVERT(int,ABS(NetVolume))),8) AS NetVolumeAgain,	
				REPLICATE('0',3) AS Filler1
		FROM	#Transactions
		WHERE	TransTypeID = 8
		ORDER BY RecordType,Product
		
		--Bulk Shipment Header Record (39)
		SELECT  Distinct TransID ,
				TransVersion,
				'39' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				LEFT(TicketNumber + REPLICATE('0',6),6) As BOLNumber,
				'1' AS SequenceNumber,
				CONVERT(varchar(6),dbo.GetLocalTime(@SiteIndex,TransDateTime),12) AS TransDate,
				TimeIn = 
					CASE WHEN TimeIn IS NULL THEN NULL
						 ELSE REPLACE(CONVERT(varchar(5),dbo.GetLocalTime(@SiteIndex,TimeIn),108),':','')
					End,
				REPLICATE('0',6) AS Filler0,
				RIGHT(REPLICATE('0',13) + ShipToNumber,13) As CustomerNumber,
				REPLICATE('0',5) AS Filler1,
				RIGHT(REPLICATE('0',4) + SCACCode,4) AS SCACCode,
				REPLICATE('0',3) AS Filler2,
				RIGHT(SPACE(10)+TicketNumber,10) AS TicketNumber,
				TimeOut = 
					CASE WHEN TimeOut IS NULL THEN NULL
						 ELSE REPLACE(CONVERT(varchar(5),dbo.GetLocalTime(@SiteIndex,TimeOut),108),':','')
					END,
				RIGHT(REPLICATE('0',3) + Convert(varchar(3),DatePart(dy,TransDateTime)),3) AS RunNumber,
				REPLICATE('0',6) AS Filler3,
				'B' AS BOLType,
				REPLICATE('0',2) AS Filler4
				
		FROM	#Transactions
		WHERE	TransTypeID = 6  --??
				AND AliasName ='Shipment'  --??
				--AND (T.TransactionStatus = 0 OR T.TransactionStatus = 11 ) 
		ORDER BY BOLNumber
			

		--Bulk Shipment Product Record (39)
		SELECT  TransID,
				'39' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				LEFT(TicketNumber + REPLICATE('0',6),6) As BOLNumber,
		        SequenceID + 2 AS SequenceNumber, --need to increate it in the code
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) As ProductCode,
				GrossSign = 
				CASE 
					WHEN ReversalType ='R' OR ReversalType ='RU' THEN '-'
					ELSE '+'
				END,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),Convert(int,ABS(GrossVolume))),8) AS GrossVolume,
				NetSign = 
				CASE 
					WHEN ReversalType ='R' OR ReversalType ='RU' THEN '-'
					ELSE '+'
				END,
				--NetVolume,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),Convert(int,ABS(NetVolume))),8) AS NetVolume,
				Temperature = 
					CASE
						WHEN Temperature IS NULL THEN '060'
						ELSE RIGHT(REPLICATE('0',3) + CONVERT(varchar(3),dbo.ConvertFromSIUnits(Temperature,@TemperatureUnits,0)),3)
					END,
				APIGravity = 
				CASE
					WHEN Density<1 OR (dbo.ConvertFromSIUnits(Density,@DensityUnits,0)=0) OR Density IS NULL THEN '60'
					ELSE RIGHT(REPLICATE('0',2) + CONVERT(varchar(2),dbo.ConvertFromSIUnits(Density,@DensityUnits,0)),2) 
				END,
				REPLICATE('0',3) AS Filler,
				LEFT(PONumber + SPACE(20),20) As BatchNumber,						
				LEFT(ShipperNumber+REPLICATE('0',6),6) As ShipperNumber,
				REPLICATE('0',7) AS Filler1,
				'B' AS BOLType,
				REPLICATE('0',2) AS Filler4
		FROM   #Transactions
		WHERE	TransTypeID = 6
				AND AliasName ='Shipment'
		ORDER BY BOLNumber,SequenceNumber

		-- Process variable type 45 is Vapor Pressure
		-- Type 74,75,76 excludes records relating to tanks with a Vapor Pressure of 0.01 in the site's pressure units.
		--    This has been agreed as a signal that there is no actual tank present
		
		--Physical-by-Product Record(74)
		SELECT	Product,
				InventoryDate,
				SUM(GrossVolume) AS GrossVolume,
				SUM(dbo.ConvertFromSIUnits(BottomVolume,@VolumeUnits,0)) AS BottomVolume,
				SUM(dbo.ConvertFromSIUnits(NetCapacity,@VolumeUnits,0)) AS NetCapacity
		INTO #TankPhysical
		FROM #Transactions
		WHERE AliasName ='Physical Inventory' 
			  AND StorageLocationID NOT LIKE 'Linefill%'
			  AND InventoryDate = @CloseoutDate
			  AND NOT EXISTS (SELECT [Index] FROM tblProcessVariables WHERE ProcessVariableType = 45 AND UnitIndex = #Transactions.StorageLocationIndex AND UnitType = 1 and cast (SIValue as float) = dbo.ConvertToSIUnits(0.01,@PressureUnits))
		GROUP BY Product,InventoryDate

		SELECT	LineFill= SUM(ISNULL(GrossVolume,0)),
							Product,
							InventoryDate
		INTO #LineFill
		FROM #Transactions
		WHERE AliasName ='Physical Inventory' 
			  AND StorageLocationID LIKE 'Linefill%'
			  AND InventoryDate = @CloseoutDate
		GROUP BY Product,InventoryDate


		SELECT	'' AS TransID,
				'' AS TransVersion,
				'74' AS RecordType,
				@TerminalNumber AS TerminalNumber,
			    RIGHT(REPLICATE('0',5) + REPLACE(T.Product,'T',''),5) As ProductCode,
				CONVERT(varchar(6),T.InventoryDate,12) + REPLACE(CONVERT(varchar(5),T.InventoryDate,108),':','') AS Date,
				PhyscialInventory=RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,GrossVolume)),8),
				LineFill=RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,ISNULL(L.LineFill,0))),8),
				Bottoms =RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,ISNULL(BottomVolume,0))),8),
				NetCapacity =RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,ISNULL(NetCapacity,0))),8),
				REPLICATE('0',27) AS Filler
		FROM #TankPhysical AS T LEFT JOIN #Linefill AS L WITH (NOLOCK) 
			ON L.Product = T.Product AND L.InventoryDate = T.InventoryDate
		ORDER BY ProductCode,Date


		SELECT	'' AS TransID,
				'' AS TransVersion,
				'76' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) As ProductCode,
				CONVERT(varchar(6),InventoryDate,12) + REPLACE(CONVERT(varchar(5),InventoryDate,108),':','') AS Date,
				RIGHT(REPLICATE('0',4) + REPLACE(StorageLocationID,'Tank ',''),4) As TankID,
				TankStatus=
				CASE
					WHEN #Transactions.TankStatus='Out of Service' THEN 'O'
					WHEN EXISTS(SELECT [Index] FROM tblProcessVariables WHERE ProcessVariableType = 58 AND UnitIndex = #Transactions.StorageLocationIndex AND UnitType = 1 and Quality < 192) THEN 'O'
					ELSE 'I'
				END,
				Bottoms =RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,dbo.ConvertFromSIUnits(ISNULL(BottomVolume,0),@VolumeUnits,0))),8),
				NetCapacity =RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,dbo.ConvertFromSIUnits(ISNULL(NetCapacity,0),@VolumeUnits,0))),8),
				PhyscialInventory=RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,GrossVolume)),8),
				REPLICATE('0',30) AS Filler
		FROM #Transactions 
		WHERE AliasName ='Physical Inventory' 
				AND StorageLocationID NOT LIKE 'Linefill%'
				AND InventoryDate = @CloseoutDate
			  AND NOT EXISTS (SELECT [Index] FROM tblProcessVariables WHERE ProcessVariableType = 45 AND UnitIndex = #Transactions.StorageLocationIndex AND UnitType = 1 and cast (SIValue as float) = dbo.ConvertToSIUnits(0.01,@PressureUnits))
		ORDER BY TankID,ProductCode,Date

		--PIC Audti Trail Record (77)

		--Transfer Records (88)	
		SELECT	'' AS TransID,
				'' AS TransVersion,
				'88' AS RecordType,
				LEFT(@TerminalNumber+REPLICATE('0',6),6)  AS TerminalNumber,
				ContractNumberFrom=
				RIGHT(REPLICATE('0',4) +(SELECT Top 1 ShipperNumber FROM #Transactions WHERE TransID = T.ConjoinTransID),4),
				RIGHT(REPLICATE('0',4) + ShipperNumber,4) AS ContractNumberTo, 
				RIGHT(REPLICATE('0',5) + REPLACE(Product,'T',''),5) As ProductCode,
				RIGHT(REPLICATE('0',8) + CONVERT(varchar(8),CONVERT(int,ABS(NetVolume))),8) AS NetVolume,
				RIGHT(REPLICATE('0',20)+PONumber,20)  AS BatchNumber,
				CONVERT(varchar(10),dbo.GetLocalTime(@SiteIndex,TransDateTime),101) AS Date,
				TimePart=RIGHT(REPLICATE('0',2)+CONVERT(varchar(2),DatePart(hh,dbo.GetLocalTime(@SiteIndex,TransDateTime))),2) + ':'+ CONVERT(varchar(2),DatePart(mi,dbo.GetLocalTime(@SiteIndex,TransDateTime))),
				
				--@CloseoutTime AS TransDate,
					
				REPLICATE('0',16) AS Filler
		FROM	#Transactions T 
		WHERE	AliasName ='Transfer' AND GrossVolume>=0 --To Transfer when GrossVolume is positive
		--ORDER BY Product
		
		
		DROP TABLE #ProductIndex
		DROP TABLE #Transactions
		DROP TABLE #AdditiveTransactions
		DROP TABLE #LineFill
		DROP TABLE #TankPhysical
	END
	ELSE
	IF @Type ='T'
	BEGIN
		--BottomVolume = Volume.Net - availableNetVolume  type 46
		--NetCapacity = Volume.Net + remainingNetVolume   type 47
		--Vapor Pressure								  type 45
		-- Process variable type 45 is Vapor Pressure
		-- Type 74,75,76 excludes records relating to tanks with a Vapor Pressure of 0.01 in the site's pressure units.
		--    This has been agreed as a signal that there is no actual tank present
		
		SELECT	T.TankID,
		ProductCode = (SELECt ProductID FROM dbo.tblProducts D WHERE T.ProductIndex = D.ProductIndex),
		Variable = 
		CASE
			WHEN ProcessVariableType = 3 THEN 'Gross'
			WHEN ProcessVariableType = 30 THEN 'AvailableGross'
			WHEN ProcessVariableType=58 THEN 'TankStatus'
			WHEN ProcessVariableType=31 THEN 'RemainGross'
			ELSE ''
		END,
		SIValue =
		CASE
			WHEN P.ProcessVariableType = 58 AND P.Quality < 192 THEN 'Out of Service'
			ELSE P.SIValue
		END,
		Quality,
		LineFill=
		CASE
			WHEN TankID Like 'Linefill%' THEN 'LineFill'
			ELSE 'Tank'
		END
		INTO #TankInventory
		FROM  dbo.tblProcessVariables P LEFT JOIN dbo.tblTanks T WITH (NOLOCK) ON UnitIndex = TankIndex
		WHERE (ProcessVariableType=3 -- 4 is for net volume 
				OR ProcessVariableType= 30 
				OR ProcessVariableType=31
				OR ProcessVariableType=58	-- 58 for tank status
			   )
				AND UnitType = 1 -- 1 is for Tank
			  AND NOT EXISTS (SELECT [Index] FROM tblProcessVariables WHERE ProcessVariableType = 45 AND UnitIndex = T.TankIndex AND UnitType = 1 and cast (SIValue as float) = dbo.ConvertToSIUnits(0.01,@PressureUnits))
		ORDER BY T.TankID, ProcessVariableType
			
		--select * from #TankInventory

		/*SELECT ProductCode,
			   LineFill + Variable AS Variable,
			   Sum(convert(float,SIValue)) AS Volume
		From  #TankInventory
		WHERE ProductCode IS NOT NULL 
			  AND ( LineFill  = 'Tank' OR (LineFill ='LineFill' AND Variable ='Gross'))
			  AND Variable <>'TankStatus' -- exclude tank status
		GROUP BY ProductCode, Variable,LineFill 	*/	

		SELECT	'' AS TransID,
				'' AS TransVersion,
				'75' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				RIGHT(REPLICATE('0',5) + REPLACE(ProductCode,'T',''),5) As ProductCode,
				CONVERT(varchar(6),GetDate(),12) + REPLACE(CONVERT(varchar(5),GetDate(),108),':','') AS Date,
				PhyscialInventory=RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,dbo.ConvertFromSIUnits(TankGross,@VolumeUnits,0))),8),
				LineFill=RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),ISNULL(CONVERT(int,dbo.ConvertFromSIUnits(LineFillGross,@VolumeUnits,0)),0)),8),
				Bottoms =RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,dbo.ConvertFromSIUnits(TankGross-TankAvailableGross,@VolumeUnits,0))),8),
				NetCapacity =RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,dbo.ConvertFromSIUnits(TankGross + TankRemainGross,@VolumeUnits,0))),8),
				REPLICATE('0',27) AS Filler
		FROM
		(SELECT ProductCode,
			   LineFill + Variable AS Variable,
			   Sum(convert(float,SIValue)) AS Volume
		From  #TankInventory
		WHERE ProductCode IS NOT NULL 
			  AND ( LineFill  = 'Tank' OR (LineFill ='LineFill' AND Variable ='Gross'))
			  AND Variable <>'TankStatus' -- exclude tank status
		GROUP BY ProductCode, Variable,LineFill ) AS S
		PIVOT (
		 SUM(S.Volume)
		 for S.Variable
		 in (TankGross,LineFillGross, TankRemainGross, TankAvailableGross)
		) AS p
		ORDER BY ProductCode

		SELECT	'' AS TransID,
				'' AS TransVersion,
				'76' AS RecordType,
				@TerminalNumber AS TerminalNumber,
				RIGHT(REPLICATE('0',5) + REPLACE(ProductCode,'T',''),5) As ProductCode,
				CONVERT(varchar(6),GetDate(),12) + REPLACE(CONVERT(varchar(5),GetDate(),108),':','') AS Date,
				RIGHT(REPLICATE('0',4) + REPLACE(TankID,'Tank ',''),4) As TankID,
				TankStatus=
				CASE
					WHEN TankStatus='Out of Service' THEN 'O'
					ELSE 'I'
				END,
				Bottoms =RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,dbo.ConvertFromSIUnits(Convert(float,Gross)-Convert(float,AvailableGross),@VolumeUnits,0))),8),
				NetCapacity =RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,dbo.ConvertFromSIUnits(Convert(float,Gross) + Convert(float,RemainGross),@VolumeUnits,0))),8),
				PhyscialInventory=RIGHT(REPLICATE('0',8) + CONVERT(varchar(10),CONVERT(int,dbo.ConvertFromSIUnits(Convert(float,Gross),@VolumeUnits,0))),8),
				REPLICATE('0',30) AS Filler
		FROM
		(SELECT TankID,
				ProductCode,
				Variable AS Variable,
			    SIValue AS Volume 
		From  #TankInventory
		WHERE ProductCode IS NOT NULL 
			  AND LineFill  = 'Tank' ) AS S
			  PIVOT (
				 Max(S.Volume)
				 for S.Variable
				 in (TankStatus,Gross,RemainGross, AvailableGross)
				) AS p
			  ORDER BY TankID,ProductCode

		DROP TABLE #TankInventory

	END
END
