<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" sendTimeout="00:15:00">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="WebHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
			<wsHttpBinding>
				<binding name="WsHttpsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" sendTimeout="00:15:00">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="16384" maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="None">
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
				</binding>
				<binding name="WsHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security>
						<transport>
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
				</binding>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBindingIIS" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true" sendTimeout="00:15:00">
				</binding>
			</netTcpBinding>
			<netNamedPipeBinding>
			  <binding name="NetNamedPipeBinding" maxReceivedMessageSize="2147483647">
			    <security mode="Transport"/>
			  </binding>
		    </netNamedPipeBinding>
		</bindings>
		<protocolMapping>
			<add scheme="http" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" />
			<add scheme="https" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding" />
			<add scheme="net.pipe" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding" />
		</protocolMapping>
	</system.serviceModel>

	<!-- this section is used by the application for custom settings -->
	<appSettings>
		<!-- use netNamedPipeBinding if all web services and clients are hosted on the same machine. Add net.pipe to list of enabled protocols in IIS accepted by a web site.
		<add key="DispatchBindingName" value="NetNamedPipeBinding" />
		<add key="DispatchEndPointAddress" value="net.pipe://localhost/FMDispatchProxyServices" />
		-->
		<add key="DispatchBindingName" value="NetTcpBindingIIS"/>
		<add key="DispatchEndPointAddress" value="net.tcp://localhost:808/FMDispatchProxyServices" /> <!-- This is the end point address to FuelsManager Business Services  -->
		<add key="Site" value="SE5A00" />
		<add key="AppointmentWarningPeriod" value="20" />
		<add key="FuelRequestTransactionAlias" value="Sale" />
		<add key="DefuelRequestTransactionAlias" value="Defuel" />
		<add key="FillStandTransactionAlias" value="Fillstand" />
		<add key="ReturnToBulkTransactionAlias" value="Return to Bulk" />		
		<add key="WebAppAddress" value="https://localhost/fuelsmanager/" /> <!-- This is the web address to FuelsManager web application -->
		<add key="Use Arrival Time" value="True" />
		<add key="Use Start Time" value="True" />
		<add key="Use Stop Time" value="True" />
		<add key="PollingInterval" value="5"/>
		<add key="PermitNonReferenceCompanyData" value="true" />
		<add key="PermitNonReferenceProductData" value="false" />
		<add key="PermitNonReferencePersonnelData" value="false" />
		<add key="PermitNonReferenceFuelCardData" value="true" />
		<add key="PermitNonReferenceSourceEquipmentData" value="false" />
		<add key="PermitNonReferenceDestinationEquipmentData" value="true" />
		<add key="AppPath0" value="C:\WorkVarec\FuelsManager Defense v8.0 SP4\Web Application\ASCReporter\ASCReporter\bin\Debug\ASCReporter.exe"/>
		<add key="MenuItem0" value="ASC Report"/>
		<add key="MaximumConsecutiveErrorCountForLogs" value="0"/>
		<add key="ShutdownIfMaximumErrorCountExceededForLogs" value="true"/>
	</appSettings>
</configuration>
