<?xml version="1.0" encoding="utf-8"?>
<!-- FuelsManager -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FuelsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="7200" maxRequestLength="2097151" encoderType="System.Web.Security.AntiXss.AntiXssEncoder" />
    <!--  DYNAMIC DEBUG COMPILATION
      Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
      false will improve runtime performance of this application. 
      Set compilation debug="true" to insert debugging symbols (.pdb information)
      into the compiled page. Because this creates a larger file that executes
      more slowly, you should set this value to true only when debugging and to
      false at all other times. For more information, refer to the documentation about
      debugging ASP.NET files.
  -->
    <compilation defaultLanguage="c#" targetFramework="4.7.2" debug="false">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
      Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
      Add <error> tags for each of the errors you want to handle.

      "On" Always display custom (friendly) messages.
      "Off" Always display detailed ASP.NET error information.
      "RemoteOnly" Display custom (friendly) messages only to users not running 
       on the local Web server. This setting is recommended for security purposes, so 
       that you do not display application detail information to remote clients.
  -->
    <customErrors mode="On" defaultRedirect="~/UnhandledException.aspx">

    </customErrors>    
    <!--  APPLICATION-LEVEL TRACE LOGGING
      Application-level tracing enables trace log output for every page within an application. 
      Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
      trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
      application trace log by browsing the "trace.axd" page from your web application
      root. 
  -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  GLOBALIZATION
      This section sets the globalization settings of the application. 
  -->
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="fr-CH" uiCulture="fr-CH"/>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!-- LOCAL DEBUGGER SESSION STATE-->
    <sessionState mode="InProc" cookieless="UseUri" timeout="5" cookieSameSite="Strict" regenerateExpiredSessionId="true" cookieName="yg757tjukh8" />
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F6DF7461DA1EFB09AFFE45629F51D2DCD" validation="HMACSHA256" validationKey="6DF7461DA1EFB09AFFE45629F51D2DCDEEEE802E9DE62168764FF0DCE537184F0535D5D9AD66DEDC6DF7461DA1EFB09AFFE45629F51D2DCDEEEE802E97DC1ABF" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="ReportingRequestProxyEndpointBehavior">
          <!--<webHttp helpEnabled="true"/>-->
        </behavior>
        <behavior name="DispatchRequestProxyEndpointBehavior">
          <webHttp />
        </behavior>
        <behavior name="FuelCardsProxyEndpointBehavior" />
        <behavior name="MessageCertBehavior">
          <clientCredentials>
            <clientCertificate findValue="5fa896ed6e556fb7ec7bc4e3ff3a184a60e64b44" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="EnterpriseManagementBehavior">
          <clientCredentials>
            <clientCertificate findValue="26ad9c628409e1bfc1fbb3a77446e7a12f8b1959" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ReportingRequestProxyBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceTimeouts transactionTimeout="00:15:00" />
        </behavior>
        <behavior name="DispatchRequestProxyBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="EnterpriseSynchronizationProxyBehavior">
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceTimeouts transactionTimeout="01:00:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="None" suppressAuditFailure="false" />
        </behavior>
        <behavior name="FuelCardsProxyBehavior">
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceTimeouts transactionTimeout="00:05:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ReportingRequestProxyBehavior" name="FuelsManager.ReportingRequestProxy">
        <endpoint binding="wsHttpBinding" address="" contract="FuelsManager.IReportingRequestProxy" bindingConfiguration="WsHttpsBinding" behaviorConfiguration="ReportingRequestProxyEndpointBehavior" />
      </service>
      <service behaviorConfiguration="DispatchRequestProxyBehavior" name="FuelsManager.DispatchRequestProxy">
        <endpoint binding="webHttpBinding" address="" contract="FuelsManager.IDispatchRequestProxy" bindingConfiguration="JsonSSLBinding" behaviorConfiguration="DispatchRequestProxyEndpointBehavior" />
      </service>
      <service behaviorConfiguration="EnterpriseSynchronizationProxyBehavior" name="FuelsManager.EnterpriseSynchronization">
        <endpoint binding="customBinding" bindingConfiguration="CustomBinding_IEnterpriseSynchronization" name="Endpoint_IEnterpriseSynchronizaiton" contract="FMBusinessObjects.BusinessInterfaces.IEnterpriseSynchronization" />
      </service>
      <service behaviorConfiguration="FuelCardsProxyBehavior" name="FuelsManager.FuelCards">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" name="WsHttpsBinding_IFuelCards" contract="FMBusinessObjects.BusinessInterfaces.IFuelCards" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" sendTimeout="00:15:00">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="JsonSSLBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="WsHttpsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" sendTimeout="01:00:00" receiveTimeout="00:45:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="16384" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
        <binding name="WsHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
        <binding name="WsHttpBindingForEnterpriseManagement" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" sendTimeout="00:30:00">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingIIS" receiveTimeout="00:45:00" sendTimeout="01:00:00" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <!--          
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="None" />
          </security>
          -->
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBindingSyncService" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="Transport">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="Windows" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <customBinding>
        <binding name="CustomBinding_IExchangeService">
          <reliableSession />
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation" requireDerivedKeys="false" securityHeaderLayout="LaxTimestampLast" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="false">
            <localClientSettings cacheCookies="true" detectReplays="true" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap authenticationMode="MutualCertificate" />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="1000000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="1000000" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="1000000" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
        <binding name="CustomBinding_IEnterpriseSynchronization" receiveTimeout="00:45:00">
          <transactionFlow />
          <textMessageEncoding>
            <readerQuotas maxDepth="32" maxStringContentLength="1000000" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <!--<httpsTransport requireClientCertificate="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />-->
            <httpsTransport authenticationScheme="Negotiate" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
              <extendedProtectionPolicy policyEnforcement="Never" />
          </httpsTransport>
        </binding>
      </customBinding>
    </bindings>
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" />
      <add scheme="https" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding" />
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBindingIIS" />
      <add scheme="net.pipe" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding" />
    </protocolMapping>
    <client>
      <endpoint address="https://win-i4rs9s3rsug/FuelsManager/FMDataExchange/ExchangeService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IExchangeService" contract="ExchangeService.IExchangeService" name="CustomBinding_IExchangeService" behaviorConfiguration="MessageCertBehavior">
        <identity>
          <certificateReference storeLocation="LocalMachine" findValue="5fa896ed6e556fb7ec7bc4e3ff3a184a60e64b44" x509FindType="FindByThumbprint" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers accessPolicy="Read, Script">
      <add name="ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="PostWarning.htm" />
        <add value="Default.aspx" />
        <add value="Default.htm" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <clear />
      <error statusCode="404" path="/FuelsManager/FMWebApp/LogoutForm.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000000" maxUrl="65536" maxQueryString="32768">
            <headerLimits>
              <add header="X-Http-Method-Override" sizeLimit="0" />
              <add header="X-Method-Override" sizeLimit="0" />
              <add header="X-HTTP-Method" sizeLimit="0" />
            </headerLimits>
        </requestLimits>
        <verbs>
          <add verb="DEBUG" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlCustom="no-store,private,must-revalidate" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
      <remove fileExtension=".aspx" />
      <remove fileExtension=".htm" />
      <remove fileExtension=".html" />
      <remove fileExtension=".css" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".aspx" mimeType="text/html; charset=UTF-8" />
      <mimeMap fileExtension=".htm" mimeType="text/html; charset=UTF-8" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="Public-Key-Pins" />
        <remove name="Strict-Transport-Security" />
        <remove name="X-Content-Type-Options" />
        <remove name="X-Frame-Options" />
        <remove name="X-XSS-Protection" />
        <remove name="Content-Security-Policy" />
        <remove name="Cache-Control" />
        <add name="Public-Key-Pins" value="pin-sha256=&quot;base64+primary==&quot;; pin-sha256=&quot;base64+backup==&quot;; max-age=5184000; includeSubDomains" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1;mode=block"/>
        <add name="Content-Security-Policy" 
				 value="default-src 'self'; font-src 'self' https://fonts.gstatic.com ; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com ; img-src 'self' blob: data: https://maps.googleapis.com https://maps.google.com https://maps.gstatic.com https://*.virtualearth.net https://*.openstreetmap.org https://149.8.161.116; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://maps.google.com https://*.virtualearth.net https://maps.googleapis.com ; connect-src 'self' https://maps.googleapis.com ; frame-ancestors 'self'; worker-src 'self' blob:; " />
        <add name="Cache-Control" value="no-store,private,must-revalidate"></add>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\FuelsManagerLogs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <!-- this section is used by the web application for custom settings -->
  <appSettings file="fuelsmanager.config">
    <!-- Do not change the Accounting/TransactionDetail.aspx value. For other projects -->
    <!-- such as BSME the contain in the fuelsmanager.config file which is project -->
    <!-- specific will override the value with the appropriate value. -->
    <add key="AccountingTransactionDetailURL" value="Accounting/TransactionDetail.aspx" />
    <!-- Use the fuelsmanager.config file to override any of these values.  You do not have to  -->
    <!-- override each value.  Also, the product will work just fine if the fuelsmanager.config -->
    <!-- does not exist in the application directory.  It will use it, however, if the file     -->
    <!-- is present (Kendall) -->
    <add key="ContactUsLink" value="https://www.varec.com/contact/" />
    <add key="SupportLink" value="https://www.varec.com/contact/technical-support/" />
    <add key="PrivacyLink" value="https://www.varec.com/privacy/" />
    <add key="CopyrightLink" value="https://www.varec.com/products/fm-license-agreement/" />
    <!--  These values are used by default.aspx to display a warning banner.  If they are empty,
      no banner page will display. 
  -->
    <add key="WarningTitle" value="Leidos FuelsConnect (FC)&lt;br&gt;Fuel Depot System - Inventory Monitoring (FDS-IM)" />
    <add key="WarningText" value="You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only.
&#13;&#10;By using this IS (which includes any device attached to this IS), you consent to the following conditions:
&#13;&#10;-The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law enforcement (LE), and counterintelligence (CI) investigations.
&#13;&#10;-At any time, the USG may inspect and seize data stored on this IS.
&#13;&#10;-Communications using, or data stored on, this IS are not private, are subject to routine monitoring, interception, and search, and may be disclosed or used for any USG-authorized purpose.
&#13;&#10;-This IS includes security measures (e.g., authentication and access controls) to protect USG interests--not for your personal benefit or privacy.
&#13;&#10;-Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching or monitoring of the content of privileged communications, or work product, related to personal representation or services by attorneys, psychotherapists, or clergy, and their assistants. Such communications and work product are private and confidential. See User Agreement for details." />

    <add key="WarningTextSearchAndReplace1" value="(\n|\r)+~&lt;br&gt;&lt;br&gt;" />
    <add key="WarningTextSearchAndReplace2" value="&lt;br&gt;-~&lt;br&gt;• " />
    <add key="JavascriptRunAfterAccept" value="setTimeout(function(){window.open('/FuelsConnect/FMWebApp/Alert.htm','','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=900, height=500, top=150, left=60');},100); " />

    <!--  These values are used by default.aspx to display a privacy policy.  If they are empty,
      no privacy policy link will be display. 
  -->
    <add key="PrivacyPolicyPath" value="" />
    <!--  Glossary file name - should point to an HTML file with prepared bookmarks to aliased
      transaction field names.  Paths are relative to the Accounting web app folder.
  -->
    <add key="TransactionGlossaryFile" value="" />
    <!--  The maximum rows for logs setting is to set a threshold for warning messages on the 
      Alarm & Event log and the Audit log.  Zero means no limit.  Override in the fuelsmanager.config
      file
  -->
    <add key="MaximumNumberOfRowsForLogs" value="0" />
    <add key="ThreshholdPercentageForLogs" value="100" />
    <!-- This section contains keys for turning off certain tree views for webapps rolled into the FuelsManager DLL -->
    <add key="SupressInvoiceWebAppMenu" value="false" />

    <!-- For FDS -->
    <!--
    <add key="LoginPageSurpressBottomLinks" value="TRUE"/>
    <add key="LoginPageSplashImage" value="images/Fds/Splash_box.jpg"/>
    <add key="LoginPageWelcomeTitle" value="FuelsConnect"/>
    <add key="MenuBarPageLeftImageUrl" value="../FMWebApp/images/Fds/50x50_Logo.png"/>
    -->
    <!-- End FDS -->

    <add key="LoginPageBackgroundColor" value="#e5e5e5" />
    <add key="PageBannerImage" value="images/Page_banner_7.jpg" />
    <add key="WarningPageImage" value="images/Warn_Box_7.jpg" />
    <add key="PageFadeImage" value="../FMWebApp/images/Page_Fade_Blank.bmp" />
    <add key="PageFadeImageAlt" value="Page Background" />
    <add key="ColorHeaderBlue" value="4745369" />
    <add key="ColorDarkBlue" value="190" />
    <add key="Defaultlimit" value="1500" />
    <add key="FuelCardlimit" value="1500" />
    <add key="FuelCardlimitAssignmentLimit" value="1000" />
    <add key="Equipmentlimit" value="1500" />
    <add key="Companylimit" value="1500" />
    <add key="Productlimit" value="1500" />
    <add key="Personlimit" value="1500" />
    <add key="StandingOfferlimit" value="50" />
    <add key="AlarmAndEventLogLimit" value="1500" />
    <!-- Geo-Tracking default map icon names. -->
    <add key="EquipmentIconDefaultName" value="Big-Truck-for-map-Blue.png" />
    <add key="EquipmentVarianceIconDefaultName" value="Big-Truck-for-map-Orange.png" />
    <add key="EquipmentInvestigationIconDefaultName" value="Big-Truck-for-map-Yellow.png" />
    <add key="EquipmentCompleteInvestigationFailedIconDefaultName" value="Big-Truck-for-map-Red.png" />
    <add key="EquipmentCompleteInvestigationPassedIconDefaultName" value="Big-Truck-for-map-Green.png" />
    <add key="TankIconDefaultName" value="Tank.png" />
    <add key="FacilityIconDefaultName" value="Tag-Icon.png" />
    <add key="DeliveryLocationIconDefaultName" value="Flag.png" />
    <add key="BreadcrumbIconDefaultName" value="Dark-green-triangle.png" />
    <add key="BreadcrumbVarianceIconDefaultName" value="OrangeWarning.png" />
    <add key="BreadcrumbInvestigationIconDefaultName" value="YellowWarning.png" />
    <add key="BreadcrumbCompleteInvestigationFailedIconDefaultName" value="RedWarning.png" />
    <add key="BreadcrumbCompleteInvestigationPassedIconDefaultName" value="GreenWarning.png" />
    <!-- End Geo-Tracking default map icon names. -->
    <!-- Graphics configuration -->
    <add key="RightViewWidth" value="1280" />
    <add key="RightViewHeight" value="1024" />
    <!-- End Graphics configuration -->
    <!-- Settings for binding to the FMBusinessServices WCF Service -->
    <!-- bindingType: basicHttp, none, tcpIp, wsHttp, netPipe -->
    <!-- use netNamedPipeBinding if all web services and clients are hosted on the same machine. Add net.pipe to list of enabled protocols in IIS accepted by a web site. -->
    <!--
    <add key="bindingName" value="NetNamedPipeBinding" />
    <add key="endPointAddress" value="net.pipe://localhost/FMBusinessServices" />
    -->
    <add key="bindingName" value="NetTcpBindingIIS" />
    <add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices" />
    <add key="EnterpriseManagementBindingName" value="WsHttpBindingForEnterpriseManagement" />
    <add key="EnterpriseManagementEndPointAddress" value="https://1552-DEV-CKENTW.1552-qa-svr.varec.com/FMEnterpriseManagementProxyServices/ServiceClasses" />
    <add key="EnterpriseManagementBehaviorName" value="EnterpriseManagementBehavior" />
    <add key="syncServiceBindingType" value="netTcpBinding" />
    <add key="syncServiceBindingConfiguration" value="NetTcpBindingSyncService" />
    <add key="syncServiceBindingEndPointAddress" value="net.tcp://localhost:62344/FMSynchronizationService" />
    <add key="LoggerDebugFlag" value="false" />
    <add key="LoggerInfoFlag" value="false" />
    <add key="LoggerPerformanceFlag" value="false" />
    <add key="LoggerWarnFlag" value="true" />
    <add key="LoggerErrorFlag" value="true" />
    <add key="LoggerCriticalFlag" value="true" />
    <add key="EnablePerformanceLogging" value="false" />
    <add key="PerformanceLoggingThresholdMilliseconds" value="4000" />
    <add key="LogSessionMemoryState" value="false" />
    <add key="PlainTextImportExportManagedQueries" value="false" />
    <add key="ComplianceScanFlag" value="true" />
    <add key="CommercialReturnToLogin" value="true" />
    <add key="UseNewTransactionEntryScreen" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="LoggerLogDir" value="C:\Program Files (x86)\FuelsManager\ErrorLogging" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ShowIventoryManagementStatisticsPage" value="true" />
    <add key="OpcUaAutoAcceptUntrustedCertificates" value="true" />
    <add key="LegacyMovementSummaryUrl" value="http://localhost:9000/Summary/GetSummary" />
    <add key="MovementTrackingPollingInterval" value="5000" />
    <add key="OpcUaTraceMasks" value="1" />
	 <add key="OpcUaCertificateLifeTime" value ="12"/>
	 <add key="DisplayCUIDataMark" value="false" />
    <add key="NumberOfMovementPointsToFetchInMovementSettingsDialog" value="25" />
    <!-- Following key is a placeholder that will be used in lieu of license functionality until it is ready -->
    <add key="MaxOperateTabsAllowedPerSite" value="15" />
    <!-- enter load balancer certificate subject. If more than one certificate separate them with semicolon.-->
    <!--<add key="LoadBalancerCertificateSubject" value="C=US, O=U.S. Government, OU=DoD, OU=PKI, OU=ouxxxxx, CN=cnxxxxx;" />-->
    <add key="LoadBalancerCertificateSubject" value="" />
    <add key="AccessibilityEnabled" value="false" />
  </appSettings>
  <applicationSettings>
    <FuelsManager.Properties.Settings>
      <setting name="FuelsManager_AccountingImportService_ImportService" serializeAs="String">
        <value>http://localhost/AccountingImportExport/ImportService.asmx</value>
      </setting>
      <setting name="FuelsManager_ReportSrv2005_ReportingService2005" serializeAs="String">
        <value>http://localhost/ReportServer/ReportService2005.asmx</value>
      </setting>
    </FuelsManager.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.27.0" newVersion="3.1.27.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Configuration" publicKeyToken="bfa7a73c5cf4b6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.370.0" newVersion="1.4.370.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Core" publicKeyToken="bfa7a73c5cf4b6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.370.0" newVersion="1.4.370.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Client" publicKeyToken="bfa7a73c5cf4b6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.370.0" newVersion="1.4.370.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Security.Certificates" publicKeyToken="bfa7a73c5cf4b6e8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.370.0" newVersion="1.4.370.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.22.0" newVersion="2.1.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.1" newVersion="4.3.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.25.0" newVersion="2.1.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <location path="Content">
    <system.webServer>
        <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache,must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="javascripts">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>


  <location path="Scripts">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="MenuBar">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="fonts">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="FMWebApp/images">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="FMWebApp/sounds">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="css">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="DispatchWebApp/css">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="DispatchWebApp/images">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <location path="DispatchWebApp/lib">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="DispatchWebApp/slickGrid2.0">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Areas/Content">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Areas/images">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Areas/Lib">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Areas/Scripts">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Areas/InventoryManagement/Views/Operate/WebWorkers">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache, must-revalidate"></add>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Reserved.ReportViewerWebControl.axd">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
        </customHeaders>
      </httpProtocol>
      <staticContent>
        <clientCache cacheControlCustom="private" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="Bundles">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Cache-Control" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>