<?xml version="1.0"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <!-- this section is used by the application for custom settings -->
  <appSettings>
    <add key="ConnectionString" value="Persist Security Info=False;Integrated Security=SSPI;database=ConsolidatedDB;server=127.0.0.1;Connect Timeout=30"/>
  </appSettings>
</configuration>
