<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
	  <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
   </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="FuelsManagerServiceBehavior" name="FuelsManagerService.FuelsManagerServiceCommunication">
        <endpoint address="net.tcp://localhost:53120/FuelsManagerServiceCommunication.svc/FuelsManagerService" binding="netTcpBinding" bindingConfiguration="FuelsManagerServiceBinding" contract="FMBusinessObjects.BusinessInterfaces.IFuelsManagerService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="FuelsManagerServiceBinding" maxReceivedMessageSize="10000" maxConnections="100" listenBacklog="100">
          <security mode="None">
            <message clientCredentialType="None" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NetTcpBindingIIS" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true" sendTimeout="01:00:00" receiveTimeout="00:45:00">
          <readerQuotas maxArrayLength="2147483647" maxDepth="64" maxStringContentLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
			  <!--
           <security mode="None">
              <message clientCredentialType="None" />
              <transport clientCredentialType="None" />
           </security>
-->
			  <security mode="Transport">
				  <transport clientCredentialType="Windows" />
			  </security>
		  </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>      
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FuelsManagerServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <!--
        <add key="bindingName" value="BasicHttpBinding" />
        <add key="endPointAddress" value="http://localhost/FMBusinessServices" />
        -->
    <!-- Recommended: For better performance use NetNamedPipeBidning in place of NetTcpBindingIIS when this service and FMBusinessService are hosted on same machine.-->
    <!--
    <add key="bindingName" value="NetNamedPipeBinding" />
    <add key="endPointAddress" value="net.pipe://localhost/FMBusinessServices" />
    -->
    <add key="bindingName" value="NetTcpBindingIIS" />
    <add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices" />
    <add key="MaximumNumberOfLoginAttempts" value="5" />
    <add key="UserAccountCleanupEnabled" value="true" />
    <add key="UserAccountCleanupIntervalMinutes" value="15" />
    <add key="AuditProcessingEnabled" value="true" />
    <add key="AuditProcessingIntervalMinutes" value="15" />
    <add key="AlarmAndEventProcessingEnabled" value="true" />
    <add key="AlarmAndEventProcessingIntervalMinutes" value="15" />
    <add key="AlarmAndEventLogCleanupEnabled" value="true" />
	  <add key="AlarmAndEventLogCleanupIntervalMinutes" value="15" />
	  <add key="FCEEMessagesCleanupEnabled" value="true" />
	  <add key="FCEEMessagesCleanupIntervalMinutes" value="15" />
    <add key="fceHeartbeatSentryEnabled" value="true" />
    <add key="fceHeartbeatSentryIntervalMinutes" value="5" />
	  <add key="SchedulerEnabled" value="true" />
    <add key="SessionCleanupEnabled" value="true" />
    <add key="SessionCleanupIntervalMinutes" value="15" />
    <add key="FMAEPingEnabled" value="true" />
    <add key="FMAEPingIntervalMinutes" value="60" />
    <add key="PointAlarmStatusEnabled" value="false" />
    <add key="StaleOperateSessionCleanupEnabled" value="true" />
    <add key="StaleOperateSessionTime" value="60" />
    <add key="PointCalculatorRunTableCleanupEnabled" value="true" />
    <add key="PointCalculatorRunTableCleanupIntervalMinutes" value="1440" />
    <add key="FuelsManager_AccountingImportService_ImportService" value="https://localhost/AccountingImportExport/ImportService.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--How often the service should check to see if auto closeout should be run-->
    <add key="AutoCloseoutPollIntervalMinutes" value="15" />
    <!--The time of day for the autocloseout feature to run.
    Auto closeout isn't guaranteed to run at this time - it will run within AutoCloseoutPollIntervalMinutes after the time.
    Do not set this to a time near the end of the day like 11:59 PM.-->
    <add key="AutoCloseoutRunTime" value="1:00 AM" />
    <!--Enables or disables the auto closeout feature-->
    <add key="AutoCloseoutEnabled" value="false" />
    <!--Enables/disables the global specific changes queue processing at Enterprise systems.
        Should be set to "false" at terminal systems-->
    <add key="RecordVersionPropagationEnabled" value="false" />
    <add key="RecordVersionPropagationIntervalSeconds" value="30" />
    <add key="GlobalFieldsProcessingInhibitTimeThresholdMinutes" value="60" />
    <add key="LoggerDebugFlag" value="false" />
    <add key="LoggerInfoFlag" value="false" />
    <add key="LoggerPerformanceFlag" value="false" />
    <add key="LoggerWarnFlag" value="false" />
    <add key="LoggerErrorFlag" value="false" />
    <add key="LoggerCriticalFlag" value="false" />
    <add key="LoggerLogDir" value="" />
  </appSettings>
   <quartz>
	  <add key="quartz.scheduler.instanceName" value="XmlConfiguredInstance" />
	  <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
	  <add key="quartz.threadPool.threadCount" value="15" />
	  <add key="quartz.threadPool.threadPriority" value="Normal" />
   </quartz>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
