<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.7" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.3" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Core" version="1.4.370.12" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Security.Certificates" version="1.4.370.12" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PDFsharp-GDI" version="6.2.1" targetFramework="net472" />
  <package id="PDFsharp-MigraDoc-GDI" version="6.2.1" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="Quartz" version="3.0.7" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.7" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="9.0.7" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.1" targetFramework="net472" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>