.container
{
    width: 100%;
    height: 707px;
    margin-left:0px;
    margin-right:0px;
    padding:0px;
    max-width: 100%;
}

app-diagnosticsviewpicker {
    width: 300px;
    vertical-align: top;
    height: 707px;
    float:left;
    box-shadow: 2px 2px 3px;

}

app-diagnosticstagviewer {
    width: calc(100% - 300px);

    height: 707px;
    float:left;
}
