<div class="container">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="settingsLinksPanel">
        <pre>
          </pre>
        <p>
            <a routerLink="/settings/networkConfiguration" routerLinkActive="active">Configure RTU Network</a>
        </p>
        <p>
            <a routerLink="/settings" routerLinkActive="active">Device Network Settings</a>
        </p>
        <p>
            <a routerLink="/settings/admin-User-Configuration" routerLinkActive="active">Admin User Settings</a>
        </p>
        <p>
            <a routerLink="/settings/dateTimeConfiguration" routerLinkActive="active">Date & Time Settings</a>
        </p>
    </div>
</div>