<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- This value governs all database connections -->
    <add key="LoggerDebugFlag" value="false"/>
    <add key="LoggerInfoFlag" value="true"/>
    <add key="LoggerPerformanceFlag" value="false"/>
    <add key="LoggerWarnFlag" value="true"/>
    <add key="LoggerErrorFlag" value="true"/>
    <add key="LoggerCriticalFlag" value="true"/>
    <add key="LoggerLogDir" value="C:\Program Files\FuelsManager\ErrorLogging"/>
  </appSettings>
</configuration>
