<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConsolidatedDBEntities" connectionString="metadata=res://*/FuelsManager.csdl|res://*/FuelsManager.ssdl|res://*/FuelsManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ConsolidatedDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>