USE [FuelsManagerDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  DROP PROCEDURE [rpt].[usp_IntoPlaneDailyReport]
GO

CREATE PROCEDURE [rpt].[usp_IntoPlaneDailyReport]
(
		@BeginDate datetime,
		@Managers nvarchar(max),
		@Vendors nvarchar(max), 
		@Owners nvarchar(max), 
		@Sites nvarchar(max),
		@Consumers nvarchar(max),
		@Product uniqueidentifier,
		@SiteGuid uniqueidentifier,		
		@UserGuid UNIQUEIDENTIFIER
)
	------------------------------------------------------------------------------------------------------
	-- Stored Procedure: [rpt].[sp_IntoPlaneDailyReport]
	-- Author: Paul Carpenter
	-- Version/Date:
	-- 2015-Apr-06 TFS 49861, 49862, 50466 Create report and suporting SQL for Into Plane Daily Report
	-- Purpose: Retrieve the individual IntoPlane transaction records 
	-- Notes:
	-- 1. @BeginDate: Single day to filter the date of transactions in the results
	-- 2. @Managers: List of company MasterRecordGuids assigned the role of manager that the transactions list has its associated manager in to be included in the results.
	-- 3. @Vendors: List of company MasterRecordGuids assigned the role of carrier that the transactions list has its associated carrier in to be included in the results.
	-- 4. @Owners: List of company MasterRecordGuids assigned the role of owner that the transactions list has its associated owner in to be included in the results.
	-- 5. @Sites: List of SiteGuids (not SiteGroups) to retrieve the transactions from.
	-- 6. @Consumers: List of company MasterRecordGuids assigned the role of ShipTo that the transactions list has its associated ShipTo in to be included in the results.
	-- 7. @Product: Product MasterRecordGuids that the transactions list has its associated product in to be included in the results
	-- 8. @SiteGuid: Site/SiteGroup that report is being executed at for the purpose of retrieving proper units and decimal places.
	-- 9. @UserGuid: Identifies the user running the report
	------------------------------------------------------------------------------------------------------
AS
BEGIN

	Declare @SiteGroupLevelVolumeUnitIndex int;
	Declare @SiteGroupLevelVolumeDecimalPlaces int;
	Declare @SiteGroupLevelDensityUnitIndex int;
	Declare @SiteGroupLevelDensityDecimalPlaces int;
	Declare @SiteGroupLevelTemperatureUnitIndex int;
	Declare @SiteGroupLevelTemperatureDecimalPlaces int;
	Declare @SiteGroupLevelMassUnitIndex int;
	Declare @SiteGroupLevelMassDecimalPlaces int;

	Set @SiteGroupLevelVolumeUnitIndex = (Select top 1 ISNULL(VolumeUnitIndex,46) from tblSites where SiteGuid = @SiteGuid);
	Set @SiteGroupLevelVolumeDecimalPlaces = (Select top 1 ISNULL(VolumeDecimalPlaces,0) from tblSites where SiteGuid = @SiteGuid);
	Set @SiteGroupLevelDensityUnitIndex = (Select top 1 ISNULL(DensityUnitIndex,187) from tblSites where SiteGuid = @SiteGuid);
	Set @SiteGroupLevelDensityDecimalPlaces = (Select top 1 ISNULL(DensityDecimalPlaces,0) from tblSites where SiteGuid = @SiteGuid);
	Set @SiteGroupLevelTemperatureUnitIndex = (Select top 1 ISNULL(TemperatureUnitIndex,2) from tblSites where SiteGuid = @SiteGuid);
	Set @SiteGroupLevelTemperatureDecimalPlaces = (Select top 1 ISNULL(TemperatureDecimalPlaces,1) from tblSites where SiteGuid = @SiteGuid);
	Set @SiteGroupLevelMassUnitIndex = (Select top 1 ISNULL(MassUnitIndex,64) from tblSites where SiteGuid = @SiteGuid);
	Set @SiteGroupLevelMassDecimalPlaces = (Select top 1 ISNULL(MassDecimalPlaces,0) from tblSites where SiteGuid = @SiteGuid);
	
	IF OBJECT_ID('tempdb..#tempProducts') IS NOT NULL DROP TABLE #tempProducts

	Select tp._MasterRecordGuid,tp.SiteGuid,
		  ISNULL(tp.VolumeUnitIndex,@SiteGroupLevelVolumeUnitIndex) as VolumeUnitIndex,
		  ISNULL(tp.VolumeDecimalPlaces,@SiteGroupLevelVolumeDecimalPlaces) as VolumeDecimalPlaces,
		  ISNULL(tp.DensityUnitIndex,@SiteGroupLevelDensityUnitIndex) as DensityUnitIndex,
		  ISNULL(tp.DensityDecimalPlaces,@SiteGroupLevelDensityDecimalPlaces) as DensityDecimalPlaces,
		  ISNULL(tp.TemperatureUnitIndex,@SiteGroupLevelTemperatureUnitIndex) as TemperatureUnitIndex,
		  ISNULL(tp.TemperatureDecimalPlaces,@SiteGroupLevelTemperatureDecimalPlaces) as TemperatureDecimalPlaces,
		  ISNULL(tp.MassUnitIndex,@SiteGroupLevelMassUnitIndex) as MassUnitIndex,
		  ISNULL(tp.MassDecimalPlaces,@SiteGroupLevelMassDecimalPlaces) as MassDecimalPlaces
		into #tempProducts from tblProducts tp, tblSites ts
		where  tp.SiteGuid = ts.SiteGuid

	Select 
		CAST(t.InventoryDate AS DATE) AS InventoryDate
		,t.AliasName
		,t.ManagerID
		,t.OwnerID
		,t.CarrierID
		,t.ShipToID as Consumer
		,l.Product
		,l.DocumentNumber as ShipmentNumber
		,l.DestinationRegistrationID
		,t.RoutingID
		,l.SourceRegistrationID
		,l.MeterStart
		,l.MeterStop
		,l.DestinationEquipmentModel
		,l.SourceEquipmentModel
		,CASE t.LookupTransTypeIndex
			WHEN 4 then (-1 * (dbo.udf_ConvertFromSIUnits(ABS(isnull(l.GrossQuantity,0.0)), p.VolumeUnitIndex, p.VolumeDecimalPlaces))) -- WHEN T4_SecondaryDefuel
			ELSE dbo.udf_ConvertFromSIUnits(ABS(isnull(l.GrossQuantity,0.0)), p.VolumeUnitIndex, p.VolumeDecimalPlaces)
			END AS GrossQuantity
		,CASE t.LookupTransTypeIndex
			WHEN 4 then (-1 * (dbo.udf_ConvertFromSIUnits(ABS(isnull(l.NetQuantity,0.0)), p.VolumeUnitIndex, p.VolumeDecimalPlaces))) -- WHEN T4_SecondaryDefuel
			ELSE  dbo.udf_ConvertFromSIUnits(ABS(isnull(l.NetQuantity,0.0)), p.VolumeUnitIndex, p.VolumeDecimalPlaces) 
			END AS NetQuantity
		,CASE IsNull(t.InternationalRouteIndicator,0) WHEN 0 THEN 'DOM' ELSE 'FTZ' END as InternationalRouteIndicator
		,t.NextStationIATAID as NextStation
		,1 as FlightCnt 
	FROM tblTransactions t
	--INNER JOIN tblSites s ON s.SiteGuid = t.SiteGuid
	INNER JOIN tblTransactionLineItems l ON t.TransactionGuid = l.TransactionGuid
	INNER JOIN #tempProducts p ON (p._MasterRecordGuid = l.ProductGuid and p.SiteGuid = t.SiteGuid)
	--INNER JOIN lookup.tblEngineeringUnit ON lookup.tblEngineeringUnit.EngineeringUnitIndex = p.VolumeUnitIndex

	WHERE 1=1
		AND CAST(t.InventoryDate AS DATE) = @BeginDate 
		AND ProductGuid	= @Product
		AND ManagerCompanyGuid	in (SELECT c.Guid FROM rpt.udf_GetTableFromStringList(@Managers) c)
		AND t.SiteGuid			in (SELECT c.Guid FROM rpt.udf_GetTableFromStringList(@Sites) c)
		AND ( CarrierCompanyGuid is null OR CarrierCompanyGuid	in (SELECT c.Guid FROM rpt.udf_GetTableFromStringList(@Vendors) c))
		AND ( ShipToCompanyGuid  is null OR ShipToCompanyGuid	in (SELECT c.Guid FROM rpt.udf_GetTableFromStringList(@Consumers) c))
		AND ( OwnerCompanyGuid	 is null OR OwnerCompanyGuid	in (SELECT c.Guid FROM rpt.udf_GetTableFromStringList(@Owners) c))
		AND t.DeleteFlag = CAST(0 AS bit)
		AND l.DeleteFlag = CAST(0 AS bit) 
		--AND t.AliasName IN ('Bulk Issue','Defuel','Issue') 
		AND LookupTransTypeIndex in( 6,5,4) -- T5_PrimaryDisbursement, T4_SecondaryDefuel			
		AND EXISTS (SELECT *
						FROM (SELECT * FROM [dbo].[udf_AuthorizedCompaniesGuid](@SiteGuid, @UserGuid)) authorizedCompaniesGuids 
						WHERE authorizedCompaniesGuids.CompanyGuid IS NULL
						OR authorizedCompaniesGuids.CompanyGuid IN (t.ShipToCompanyGuid, t.SupplierCompanyGuid, t.ShipperCompanyGuid, t.OwnerCompanyGuid, t.ManagerCompanyGuid, t.CarrierCompanyGuid, t.BillToCompanyGuid)) 			
	ORDER BY
		CASE IsNull(t.InternationalRouteIndicator,0) WHEN 0 THEN 'DOM' ELSE 'FTZ' END, 
		t.ShipToID, 
		t.InventoryDate, 
		t.AliasName
END
