<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <appSettings>
    <add key="Site" value="SiteAdmin" />
    <!--<add key="TargetCustomer" value="MOD"/>-->
    <add key="TargetCustomer" value="BSME"/>
    <add key="AppointmentWarningPeriod" value="15" />
    <add key="FuelRequestTransactionAlias" value="Sale" />
    <add key="DefuelRequestTransactionAlias" value="Defuel" />
    <add key="FillStandTransactionAlias" value="Fillstand" />
    <add key="ReturnToBulkTransactionAlias" value="Return to Bulk" />
    <add key="AutoCreateCompanyData" value="true" />
    <add key="AutoCreateProductData" value="false" />
    <add key="AutoCreatePersonnelData" value="false" />
    <add key="AutoCreateFuelCardData" value="true" />
    <add key="AutoCreateSourceEquipmentData" value="false" />
    <add key="AutoCreateDestinationEquipmentData" value="true" />
    <add key="WebAppAddress" value="http://10.33.16.40/FuelsManager" />
    <add key="Use Arrival Time" value="True" />
    <add key="Use Start Time" value="True" />
    <add key="Use Stop Time" value="True" />
  </appSettings>
</configuration>
