<?xml version="1.0"?>
<serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0">
	<serviceActivations>
		<add relativeAddress="IAccessibilities.svc" service="FMBusinessServices.ServiceClasses.AccessibilitiesClass"/>
		<add relativeAddress="IAandEArchive.svc" service="FMBusinessServices.ServiceClasses.AandETagArchive"/>
		<add relativeAddress="IAccountingSites.svc" service="FMBusinessServices.ServiceClasses.AccountingSites"/>
		<add relativeAddress="IAdditiveProfiles.svc" service="FMBusinessServices.ServiceClasses.AdditiveProfiles"/>
		<add relativeAddress="IAdjustmentDistributionProcessor.svc" service="FMBusinessServices.ServiceClasses.AdjustmentDistributionProcessorClass"/>
		<add relativeAddress="IMobileDevices.svc" service="FMBusinessServices.ServiceClasses.MobileDevices"/>
		<add relativeAddress="IADOFMSReverseLookupProcessor.svc" service="FMBusinessServices.ServiceClasses.ADOFMSReverseLookupProcessorClass"/>
		<add relativeAddress="IAlarmAndEventLogs.svc" service="FMBusinessServices.ServiceClasses.AlarmAndEventLogsClass"/>
		<add relativeAddress="IAuditLogs.svc" service="FMBusinessServices.ServiceClasses.AuditLogsClass"/>
		<add relativeAddress="IAlarmAndEvents.svc" service="FMBusinessServices.ServiceClasses.AlarmAndEventsClass"/>
		<add relativeAddress="IAlarmPriorities.svc" service="FMBusinessServices.ServiceClasses.AlarmPrioritiesClass"/>
		<add relativeAddress="IAlarmPriorityEmailGroupMaps.svc" service="FMBusinessServices.ServiceClasses.AlarmPriorityEmailGroupMapsClass"/>
		<add relativeAddress="IAlarmStatus.svc" service="FMBusinessServices.ServiceClasses.AlarmStatus"/>
		<add relativeAddress="IAliasAssignmentProcessor.svc" service="FMBusinessServices.ServiceClasses.AliasAssignmentProcessorClass"/>
		<add relativeAddress="IAllocationLineItems.svc" service="FMBusinessServices.ServiceClasses.AllocationLineItemsClass"/>
		<add relativeAddress="IAllocations.svc" service="FMBusinessServices.ServiceClasses.AllocationsClass"/>
		<add relativeAddress="IAnimations.svc" service="FMBusinessServices.ServiceClasses.Animations"/>
		<add relativeAddress="IAnimationDrawingMaps.svc" service="FMBusinessServices.ServiceClasses.AnimationDrawingMaps"/>
		<add relativeAddress="IApplicationStringMaps.svc" service="FMBusinessServices.ServiceClasses.ApplicationStringMapsClass"/>
		<add relativeAddress="IApplicationStrings.svc" service="FMBusinessServices.ServiceClasses.ApplicationStringsClass"/>
		<add relativeAddress="IAppointments.svc" service="FMBusinessServices.ServiceClasses.AppointmentsClass"/>
		<add relativeAddress="IArchiveDataProcessor.svc" service="FMBusinessServices.ServiceClasses.ArchiveDataProcessorClass"/>
		<add relativeAddress="IAssociatedPayments.svc" service="FMBusinessServices.ServiceClasses.AssociatedPaymentsClass"/>
		<add relativeAddress="IAssociatedTxProcessor.svc" service="FMBusinessServices.ServiceClasses.AssociatedTxProcessorClass"/>
		<add relativeAddress="IAssociationQuantityProcessor.svc" service="FMBusinessServices.ServiceClasses.AssociationQuantityProcessorClass"/>
		<add relativeAddress="IAutoDistributionProcessor.svc" service="FMBusinessServices.ServiceClasses.AutoDistributionProcessor"/>
		<add relativeAddress="IAutoDistributionReasonCodes.svc" service="FMBusinessServices.ServiceClasses.AutoDistributionReasonCodes"/>
		<add relativeAddress="IAutoDistributionRules.svc" service="FMBusinessServices.ServiceClasses.AutoDistributionRules"/>
		<add relativeAddress="IBSMEVerifications.svc" service="FMBusinessServices.ServiceClasses.BSMEVerificationsClass"/>
		<add relativeAddress="IBulkPaymentInvoiceMappings.svc" service="FMBusinessServices.ServiceClasses.BulkPaymentInvoiceMappingsClass"/>
		<add relativeAddress="IBulkPayments.svc" service="FMBusinessServices.ServiceClasses.BulkPaymentsClass"/>
		<add relativeAddress="ICassandraAdministration.svc" service="FMBusinessServices.ServiceClasses.CassandraAdministration"/>
		<add relativeAddress="ICassandraDataAccess.svc" service="FMBusinessServices.ServiceClasses.CassandraDataAccess"/>
		<add relativeAddress="IChangeQueueRecordsClass.svc" service="FMBusinessServices.ServiccaseClasses.ChangeQueueRecordsClass"/>
		<add relativeAddress="ICloseoutListProcessor.svc" service="FMBusinessServices.ServiceClasses.CloseoutListProcessorClass"/>
		<add relativeAddress="ICloseoutProcessor.svc" service="FMBusinessServices.ServiceClasses.CloseoutProcessorClass"/>
		<add relativeAddress="ICloseoutSiteProcessor.svc" service="FMBusinessServices.ServiceClasses.CloseoutSiteProcessorClass"/>
		<add relativeAddress="ICompanies.svc" service="FMBusinessServices.ServiceClasses.CompaniesClass"/>
		<add relativeAddress="ICompanyGroups.svc" service="FMBusinessServices.ServiceClasses.CompanyGroupsClass"/>
		<add relativeAddress="ICompanyLists.svc" service="FMBusinessServices.ServiceClasses.CompanyListsClass"/>
		<add relativeAddress="ICompanyMaps.svc" service="FMBusinessServices.ServiceClasses.CompanyMapsClass"/>
		<add relativeAddress="ICompanyRoleMaps.svc" service="FMBusinessServices.ServiceClasses.CompanyRoleMapsClass"/>
		<add relativeAddress="IConfigurationSettings.svc" service="FMBusinessServices.ServiceClasses.ConfigurationSettingsClass"/>
		<add relativeAddress="IControllerLogs.svc" service="FMBusinessServices.ServiceClasses.ControllerLogsClass"/>
		<add relativeAddress="ICopyTransactionsProcessor.svc" service="FMBusinessServices.ServiceClasses.CopyTransactionsProcessor"/>
		<add relativeAddress="ICurrencies.svc" service="FMBusinessServices.ServiceClasses.CurrenciesClass"/>
		<add relativeAddress="ICustomToolbars.svc" service="FMBusinessServices.ServiceClasses.CustomToolbars"/>
		<add relativeAddress="ICustomToolbarCommands.svc" service="FMBusinessServices.ServiceClasses.CustomToolbarCommands"/>
		<add relativeAddress="IDatabaseBackupProcessor.svc" service="FMBusinessServices.ServiceClasses.DatabaseBackupProcessor"/>
		<add relativeAddress="IDataDictionariesClass.svc" service="FMBusinessServices.ServiceClasses.DataDictionariesClass"/>
		<add relativeAddress="IDBAccess.svc" service="FMBusinessServices.ServiceClasses.DBAccess"/>
		<add relativeAddress="IDemandAssociatedTxProcessor.svc" service="FMBusinessServices.ServiceClasses.DemandAssociatedTxProcessorClass"/>
		<add relativeAddress="IDispatchConfigurations.svc" service="FMBusinessServices.ServiceClasses.DispatchConfigurations"/>
		<add relativeAddress="IDispatchGrids.svc" service="FMBusinessServices.ServiceClasses.DispatchGrids"/>
		<add relativeAddress="IDispatchGridColumns.svc" service="FMBusinessServices.ServiceClasses.DispatchGridColumns"/>
		<add relativeAddress="IDispatchRequests.svc" service="FMBusinessServices.ServiceClasses.DispatchRequests"/>
		<add relativeAddress="IDispatchTransactionsProcessor.svc" service="FMBusinessServices.ServiceClasses.DispatchTransactionsProcessor"/>
		<add relativeAddress="IDrawdownProcessor.svc" service="FMBusinessServices.ServiceClasses.DrawdownProcessorClass"/>
		<add relativeAddress="IDrawings.svc" service="FMBusinessServices.ServiceClasses.Drawings"/>
		<add relativeAddress="IEmailClient.svc" service="FMBusinessServices.ServiceClasses.EmailClientClass"/>
    <add relativeAddress="IEmailGroups.svc" service="FMBusinessServices.ServiceClasses.EmailGroupsClass"/>
    <add relativeAddress="IEmailTemplatesClass.svc" service="FMBusinessServices.ServiceClasses.EmailTemplatesClass"/>
    <add relativeAddress="IEnterpriseExportImport.svc" service="FMBusinessServices.ServiceClasses.EnterpriseExportImportClass"/>
		<add relativeAddress="IEnterpriseImportExportSettings.svc" service="FMBusinessServices.ServiceClasses.EnterpriseImportExportSettings"/>
		<add relativeAddress="IEnterpriseSynchronization.svc" service="FMBusinessServices.ServiceClasses.EnterpriseSynchronization"/>
		<add relativeAddress="IEntityExcelExport.svc" service="FMBusinessServices.ServiceClasses.EntityExcelExportClass"/>
		<add relativeAddress="IEntityExcelImport.svc" service="FMBusinessServices.ServiceClasses.EntityExcelImportClass"/>
		<add relativeAddress="IEntityToSiteMaps.svc" service="FMBusinessServices.ServiceClasses.EntityToSiteMaps"/>
		<add relativeAddress="IEquipmentMaintenanceLogs.svc" service="FMBusinessServices.ServiceClasses.EquipmentMaintenanceLogsClass"/>
		<add relativeAddress="IEquipmentQualityTagLogs.svc" service="FMBusinessServices.ServiceClasses.EquipmentQualityTagLogsClass"/>
		<add relativeAddress="IEquipments.svc" service="FMBusinessServices.ServiceClasses.EquipmentsClass"/>
		<add relativeAddress="IEquipmentTypes.svc" service="FMBusinessServices.ServiceClasses.EquipmentTypesClass"/>
		<add relativeAddress="IExcises.svc" service="FMBusinessServices.ServiceClasses.ExcisesClass"/>
		<add relativeAddress="IExistTransactionAssetProcessor.svc" service="FMBusinessServices.ServiceClasses.ExistTransactionAssetProcessorClass"/>
		<add relativeAddress="IExportRequests.svc" service="FMBusinessServices.ServiceClasses.ExportRequests"/>
		<add relativeAddress="IExportResultDetails.svc" service="FMBusinessServices.ServiceClasses.ExportResultDetailsClass"/>
		<add relativeAddress="IExportResults.svc" service="FMBusinessServices.ServiceClasses.ExportResultsClass"/>
		<add relativeAddress="IExStarsSiteConfig.svc" service="FMBusinessServices.ServiceClasses.ExStarsSiteConfigDO"/>
		<add relativeAddress="IExStarsBusiness.svc" service="FMBusinessServices.ServiceClasses.ExStarsBusiness"/>
		<add relativeAddress="IFCEEServiceManager.svc" service="FMBusinessServices.ServiceClasses.FCEE"/>
		<add relativeAddress="IFCEDevices.svc" service="FMBusinessServices.ServiceClasses.FCEDevices"/>
		<add relativeAddress="IFilterViews.svc" service="FMBusinessServices.ServiceClasses.FilterViewsClass"/>
		<add relativeAddress="IFinanceProcessor.svc" service="FMBusinessServices.ServiceClasses.FinanceProcessorClass"/>
		<add relativeAddress="IFMAETranslations.svc" service="FMBusinessServices.ServiceClasses.FMAETranslations"/>
		<add relativeAddress="IFMEventLog.svc" service="FMBusinessServices.ServiceClasses.FMEventLog"/>
		<add relativeAddress="IFootNotes.svc" service="FMBusinessServices.ServiceClasses.FootNotes"/>
		<add relativeAddress="IFuelCardLimits.svc" service="FMBusinessServices.ServiceClasses.FuelCardLimits"/>
		<add relativeAddress="IFuelCards.svc" service="FMBusinessServices.ServiceClasses.FuelCardsClass"/>
		<add relativeAddress="IFuelOrderAssociatedTxProcessor.svc" service="FMBusinessServices.ServiceClasses.FuelOrderAssociatedTxProcessorCLass"/>
		<add relativeAddress="IFuelRequestProcessor.svc" service="FMBusinessServices.ServiceClasses.FuelRequestProcessor"/>
		<add relativeAddress="IGates.svc" service="FMBusinessServices.ServiceClasses.GatesClass"/>
		<add relativeAddress="IGaugeTypes.svc" service="FMBusinessServices.ServiceClasses.GaugeTypes"/>
		<add relativeAddress="IGeneralConfigProcessor.svc" service="FMBusinessServices.ServiceClasses.GeneralConfigProcessorClass"/>
		<add relativeAddress="IGetAssociatedParentTxProcessor.svc" service="FMBusinessServices.ServiceClasses.GetAssociatedParentTxProcessorClass"/>
		<add relativeAddress="IGetFuelOrderReceiptedLineItemsProcessor.svc" service="FMBusinessServices.ServiceClasses.GetFuelOrderReceiptedLineItemsProcessorClass"/>
		<add relativeAddress="IGetTransactionProcessor.svc" service="FMBusinessServices.ServiceClasses.GetTransactionProcessorClass"/>
		<add relativeAddress="IGetTransactionTypeProcessor.svc" service="FMBusinessServices.ServiceClasses.GetTransactionTypeProcessorClass"/>
		<add relativeAddress="IGoodsAndServices.svc" service="FMBusinessServices.ServiceClasses.GoodsAndServicesClass"/>
		<add relativeAddress="IGroupLedgerViewMaps.svc" service="FMBusinessServices.ServiceClasses.GroupLedgerViewMapsClass"/>
		<add relativeAddress="IGroupRightMaps.svc" service="FMBusinessServices.ServiceClasses.GroupRightMapsClass"/>
		<add relativeAddress="IGroups.svc" service="FMBusinessServices.ServiceClasses.GroupsClass"/>
		<add relativeAddress="IGroupTransactionAliasMaps.svc" service="FMBusinessServices.ServiceClasses.GroupTransactionAliasMapsClass"/>
		<add relativeAddress="IHardwareKey.svc" service="FMBusinessServices.ServiceClasses.HardwareKeyClass"/>
		<add relativeAddress="IHelpMappings.svc" service="FMBusinessServices.ServiceClasses.HelpMappingsClass"/>
		<add relativeAddress="IHouseCards.svc" service="FMBusinessServices.ServiceClasses.HouseCardsClass"/>
		<add relativeAddress="IIATACodes.svc" service="FMBusinessServices.ServiceClasses.IATACodesClass"/>
		<add relativeAddress="IImportExportConfigProcessor.svc" service="FMBusinessServices.ServiceClasses.ImportExportConfigProcessorClass"/>
		<add relativeAddress="IImportExportPluginProcessor.svc" service="FMBusinessServices.ServiceClasses.ImportExportPluginProcessorClass"/>
		<add relativeAddress="IImportExportProcessor.svc" service="FMBusinessServices.ServiceClasses.ImportExportProcessorClass"/>
		<add relativeAddress="IImportProcessor.svc" service="FMBusinessServices.ServiceClasses.ImportProcessorClass"/>
		<add relativeAddress="IIncomingTruckGetTxProcessor.svc" service="FMBusinessServices.ServiceClasses.IncomingTruckGetTxProcessorClass"/>
		<add relativeAddress="IInventoryDateProcessor.svc" service="FMBusinessServices.ServiceClasses.InventoryDateProcessorClass"/>
		<add relativeAddress="IInventoryReconciliationProcessor.svc" service="FMBusinessServices.ServiceClasses.InventoryReconciliationProcessorClass"/>
		<add relativeAddress="IIntoPlaneImport.svc" service="FMBusinessServices.ServiceClasses.IntoPlaneImport"/>
		<add relativeAddress="IInvoiceQueries.svc" service="FMBusinessServices.ServiceClasses.InvoiceQueriesClass"/>
		<add relativeAddress="IInvoiceSummaryProcessor.svc" service="FMBusinessServices.ServiceClasses.InvoiceSummaryProcessorClass"/>
		<add relativeAddress="ILeakTests.svc" service="FMBusinessServices.ServiceClasses.LeakTestsClass"/>
		<add relativeAddress="ILedgerAggregateColumnMaps.svc" service="FMBusinessServices.ServiceClasses.LedgerAggregateColumnMapsClass"/>
		<add relativeAddress="ILedgerAggregateColumns.svc" service="FMBusinessServices.ServiceClasses.LedgerAggregateColumnsClass"/>
		<add relativeAddress="ILedgerPageProcessor.svc" service="FMBusinessServices.ServiceClasses.LedgerPageProcessorClass"/>
		<add relativeAddress="ILedgerProcessor.svc" service="FMBusinessServices.ServiceClasses.LedgerProcessorClass"/>
		<add relativeAddress="ILedgerReportCalculator.svc" service="FMBusinessServices.ServiceClasses.LedgerReportClasses.LedgerReportCalculator"/>
		<add relativeAddress="IListViewFields.svc" service="FMBusinessServices.ServiceClasses.ListViewFieldsClass"/>
		<add relativeAddress="IListViewProcessor.svc" service="FMBusinessServices.ServiceClasses.ListViewProcessorClass"/>
		<add relativeAddress="IListViews.svc" service="FMBusinessServices.ServiceClasses.ListViewsClass"/>
		<add relativeAddress="ILoadArms.svc" service="FMBusinessServices.ServiceClasses.LoadArmsClass"/>
		<add relativeAddress="ILoggerService.svc" service="FMBusinessServices.ServiceClasses.LoggerServiceClass"/>
		<add relativeAddress="IMaintenanceReasons.svc" service="FMBusinessServices.ServiceClasses.MaintenanceReasonsClass"/>
		<add relativeAddress="IMarkups.svc" service="FMBusinessServices.ServiceClasses.MarkupsClass"/>
		<add relativeAddress="IMessageLogs.svc" service="FMBusinessServices.ServiceClasses.MessageLogsClass"/>
		<add relativeAddress="IMessages.svc" service="FMBusinessServices.ServiceClasses.MessagesClass"/>
		<!--<add relativeAddress="IMeterCloseoutTransactionsProcessor.svc" service="FMBusinessServices.ServiceClasses.MeterCloseoutTransactionsProcessorClass"/>-->
		<add relativeAddress="IMeterReconciliationProcessor.svc" service="FMBusinessServices.ServiceClasses.MeterReconciliationProcessorClass"/>
		<!--<add relativeAddress="IMeterRollovers.svc" service="FMBusinessServices.ServiceClasses.MeterRolloverClass"/>-->
		<add relativeAddress="IMeters.svc" service="FMBusinessServices.ServiceClasses.MetersClass"/>
		<add relativeAddress="IMigrationDataExportImport.svc" service="FMBusinessServices.ServiceClasses.MigrationDataExportImportSvc"/>
		<add relativeAddress="IMigrationDataExportImportLog.svc" service="FMBusinessServices.ServiceClasses.MigrationDataExportImportLog"/>
		<add relativeAddress="IMobileDeviceProfileToMobileDeviceMaps.svc" service="FMBusinessServices.ServiceClasses.MobileDeviceProfileToMobileDeviceMaps"/>
		<add relativeAddress="IModules.svc" service="FMBusinessServices.ServiceClasses.Modules"/>
	   <add relativeAddress="IModulePointTemplateMaps.svc" service="FMBusinessServices.ServiceClasses.ModuleToPointTemplateMaps"/>
	   <add relativeAddress="IMonthYearProcessor.svc" service="FMBusinessServices.ServiceClasses.MonthYearProcessor"/>
		<add relativeAddress="IMovementService.svc" service="FMBusinessServices.ServiceClasses.MovementService"/>
		<add relativeAddress="IMenuFavorites.svc" service="FMBusinessServices.ServiceClasses.MenuFavorites"/>
		<add relativeAddress="INotes.svc" service="FMBusinessServices.ServiceClasses.Notes"/>
		<add relativeAddress="IOPCConnections.svc" service="FMBusinessServices.ServiceClasses.OPCConnectionsClass"/>
		<add relativeAddress="IOpcUAServer.svc" service="FMBusinessServices.ServiceClasses.OpcUAServersClass"/>
		<add relativeAddress="IOrderAssociatedTxProcessor.svc" service="FMBusinessServices.ServiceClasses.OrderAssociatedTxProcessorClass"/>
		<add relativeAddress="IOrderListProcessor.svc" service="FMBusinessServices.ServiceClasses.OrderListProcessorClass"/>
		<add relativeAddress="IOrderQtyListProcessor.svc" service="FMBusinessServices.ServiceClasses.OrderQtyListProcessorClass"/>
		<add relativeAddress="IPersonnel.svc" service="FMBusinessServices.ServiceClasses.PersonnelClass"/>
		<add relativeAddress="IPersonRoleMaps.svc" service="FMBusinessServices.ServiceClasses.PersonRoleMapsClass"/>
		<add relativeAddress="IPhysicalInventoryListProcessor.svc" service="FMBusinessServices.ServiceClasses.PhysicalInventoryListProcessorClass"/>
		<add relativeAddress="IPictures.svc" service="FMBusinessServices.ServiceClasses.Pictures"/>
		<add relativeAddress="IPIDXBOLProcessor.svc" service="FMBusinessServices.ServiceClasses.PidxBolProcessorClass"/>
		<add relativeAddress="IPIDXProfileCompanyMaps.svc" service="FMBusinessServices.ServiceClasses.PIDXProfileCompanyMapsClass"/>
		<add relativeAddress="IPIDXProfiles.svc" service="FMBusinessServices.ServiceClasses.PIDXProfilesClass"/>
		<add relativeAddress="IPointTags.svc" service="FMBusinessServices.ServiceClasses.PointTags"/>
		<add relativeAddress="IPoints.svc" service="FMBusinessServices.ServiceClasses.Points"/>
		<add relativeAddress="IPointTemplates.svc" service="FMBusinessServices.ServiceClasses.PointTemplates"/>
		<add relativeAddress="IPointTemplateProperties.svc" service="FMBusinessServices.ServiceClasses.PointTemplateProperties"/>
		<add relativeAddress="IPointTemplateTags.svc" service="FMBusinessServices.ServiceClasses.PointTemplateTags"/>
		<add relativeAddress="IPointAccessGroups.svc" service="FMBusinessServices.ServiceClasses.PointAccessGroups"/>
		<add relativeAddress="IPointProperties.svc" service="FMBusinessServices.ServiceClasses.PointProperties"/>
		<add relativeAddress="IPointGroups.svc" service="FMBusinessServices.ServiceClasses.PointGroups"/>
		<add relativeAddress="IPointGroupRows.svc" service="FMBusinessServices.ServiceClasses.PointGroupRows"/>
		<add relativeAddress="IPointGroupColumns.svc" service="FMBusinessServices.ServiceClasses.PointGroupColumns"/>
		 <add relativeAddress="IPointGroupSchedules.svc" service="FMBusinessServices.ServiceClasses.PointGroupSchedules"/>
    <add relativeAddress="IPointHistories.svc" service="FMBusinessServices.ServiceClasses.PointHistories"/>
    <add relativeAddress="IPointServices.svc" service="FMBusinessServices.ServiceClasses.PointServices"/>
		<add relativeAddress="IPointServiceManager.svc" service="FMBusinessServices.ServiceClasses.PointServiceManager"/>
		<add relativeAddress="IPointTags.svc" service="FMBusinessServices.ServiceClasses.PointTags"/>
		<add relativeAddress="IPointTagAlarmStatuses.svc" service="FMBusinessServices.ServiceClasses.PointTagAlarmStatuses"/>
		<add relativeAddress="IPointTagArchive.svc" service="FMBusinessServices.ServiceClasses.PointTagArchive"/>
			<add relativeAddress="IPriceCalculatorInvoker.svc" service="FMBusinessServices.ServiceClasses.PriceCalculatorInvokerClass"/>
		 <add relativeAddress="IPostToEnterpriseProcessor.svc" service="FMBusinessServices.ServiceClasses.PostToEnterpriseProcessor"/>
			<add relativeAddress="IProcessVariables.svc" service="FMBusinessServices.ServiceClasses.ProcessVariablesClass"/>
		<add relativeAddress="IProductGroups.svc" service="FMBusinessServices.ServiceClasses.ProductGroupsClass"/>
		<add relativeAddress="IProductMaps.svc" service="FMBusinessServices.ServiceClasses.ProductMapsClass"/>
		<add relativeAddress="IProducts.svc" service="FMBusinessServices.ServiceClasses.ProductsClass"/>
		<add relativeAddress="IQualificationMaps.svc" service="FMBusinessServices.ServiceClasses.QualificationMapsClass"/>
		<add relativeAddress="IQualifications.svc" service="FMBusinessServices.ServiceClasses.QualificationsClass"/>
		<add relativeAddress="IQualityTags.svc" service="FMBusinessServices.ServiceClasses.QualityTagsClass"/>
		<add relativeAddress="IQueries.svc" service="FMBusinessServices.ServiceClasses.QueriesClass"/>
		<add relativeAddress="IQueryDefaultFields.svc" service="FMBusinessServices.ServiceClasses.QueryDefaultFieldsClass"/>
		<add relativeAddress="IQueryDefaults.svc" service="FMBusinessServices.ServiceClasses.QueryDefaultsClass"/>
		<add relativeAddress="IQueryGroupMaps.svc" service="FMBusinessServices.ServiceClasses.QueryGroupMapsClass"/>
		<add relativeAddress="IReportConfigurationDetailProcessor.svc" service="FMBusinessServices.ServiceClasses.ReportConfigurationDetailProcessorClass"/>
		<add relativeAddress="IReportConfigurationGroupProcessor.svc" service="FMBusinessServices.ServiceClasses.ReportConfigurationGroupProcessorClass"/>
		<add relativeAddress="IReportUrlDirProcessor.svc" service="FMBusinessServices.ServiceClasses.ReportUrlDirProcessorClass"/>
		<add relativeAddress="IReportingRequest.svc" service="FMBusinessServices.ServiceClasses.ReportingRequest"/>
		<add relativeAddress="IReserveLevels.svc" service="FMBusinessServices.ServiceClasses.ReserveLevelsClass"/>
		<add relativeAddress="IRights.svc" service="FMBusinessServices.ServiceClasses.RightsClass"/>
		<add relativeAddress="ISaveInvoiceQueryProcessorClass.svc" service="FMBusinessServices.ServiceClasses.SaveInvoiceQueryProcessorClass"/>
		<add relativeAddress="ISaveTransactionsProcessor.svc" service="FMBusinessServices.ServiceClasses.SaveTransactionsProcessor"/>
		<add relativeAddress="ISaveTransmitTranListProcessor.svc" service="FMBusinessServices.ServiceClasses.SaveTransmitTranListProcessor"/>
		<add relativeAddress="ISaveWeightedAverageCostsProcessor.svc" service="FMBusinessServices.ServiceClasses.SaveWeightedAverageCostsProcessorClass"/>
		<add relativeAddress="ISchedules.svc" service="FMBusinessServices.ServiceClasses.SchedulesClass"/>
		<add relativeAddress="ISchemaChangeHistories.svc" service="FMBusinessServices.ServiceClasses.SchemaChangeHistories"/>
		<add relativeAddress="ISequences.svc" service="FMBusinessServices.ServiceClasses.SequencesClass"/>
		<add relativeAddress="IServiceRequestMessaging.svc" service="FMBusinessServices.ServiceClasses.ServiceRequestMessaging"/>
		<add relativeAddress="ISessions.svc" service="FMBusinessServices.ServiceClasses.SessionsClass"/>
    <add relativeAddress="ISitesInfo.svc" service="FMBusinessServices.ServiceClasses.SitesInfoClass"/>
    <add relativeAddress="ISiteCloseoutTimes.svc" service="FMBusinessServices.ServiceClasses.SiteCloseoutTimes"/>
    <add relativeAddress="ISites.svc" service="FMBusinessServices.ServiceClasses.SitesClass"/>
		<add relativeAddress="ISiteToSiteMaps.svc" service="FMBusinessServices.ServiceClasses.SiteToSiteMapsClass"/>
		<add relativeAddress="IStandardXMLImportExportConfiguration.svc" service="FMBusinessServices.ServiceClasses.StandardXMLImportExportConfiguration"/>
		<add relativeAddress="IStandingOffers.svc" service="FMBusinessServices.ServiceClasses.StandingOffersClass"/>
		<add relativeAddress="IStandingOffersProcessor.svc" service="FMBusinessServices.ServiceClasses.StandingOffersProcessorClass"/>
		<add relativeAddress="IStations.svc" service="FMBusinessServices.ServiceClasses.StationsClass"/>
		<add relativeAddress="ISupplyOrderAssociatedTxProcessor.svc" service="FMBusinessServices.ServiceClasses.SupplyOrderAssociatedTxProcessorClass"/>
		<add relativeAddress="ISupplyOrderListProcessor.svc" service="FMBusinessServices.ServiceClasses.SupplyOrderListProcessorClass"/>
		<add relativeAddress="ISystemSettings.svc" service="FMBusinessServices.ServiceClasses.SystemSettingsClass"/>
		<add relativeAddress="ISyncClientConfigurations.svc" service="FMBusinessServices.ServiceClasses.SyncClientConfigurations"/>
		<add relativeAddress="ISyncControllerProcessor.svc" service="FMBusinessServices.ServiceClasses.SyncControllerProcessor"/>
		<add relativeAddress="ISyncServerConfigurations.svc" service="FMBusinessServices.ServiceClasses.SyncServerConfigurations"/>
		<add relativeAddress="ISyncRecordConflicts.svc" service="FMBusinessServices.ServiceClasses.SyncRecordConflicts" />
		<add relativeAddress="ISyncSessionLogs.svc" service="FMBusinessServices.ServiceClasses.SyncSessionLogs" />
		<add relativeAddress="ISyncSessionScopeLogs.svc" service="FMBusinessServices.ServiceClasses.SyncSessionScopeLogs" />
		<add relativeAddress="ISyncProfiles.svc" service="FMBusinessServices.ServiceClasses.SyncProfiles"/>
		<add relativeAddress="ISyncScopes.svc" service="FMBusinessServices.ServiceClasses.SyncScopes"/>
		<add relativeAddress="IServiceDataDictionaryKeys.svc" service="FMBusinessServices.ServiceClasses.ServiceDataDictionaryKeys"/>
		<add relativeAddress="ITempPasswordGenerator.svc" service="FMBusinessServices.ServiceClasses.TempPasswordGenerator"/>
		<add relativeAddress="ITankGroups.svc" service="FMBusinessServices.ServiceClasses.TankGroupsClass"/>
		<add relativeAddress="ITankListProcessor.svc" service="FMBusinessServices.ServiceClasses.TankListProcessorClass"/>
		<add relativeAddress="ITankMaintenanceLogs.svc" service="FMBusinessServices.ServiceClasses.TankMaintenanceLogsClass"/>
		<add relativeAddress="ITankMaps.svc" service="FMBusinessServices.ServiceClasses.TankMapsClass"/>
		<add relativeAddress="ITankQualityTagLogs.svc" service="FMBusinessServices.ServiceClasses.TankQualityTagLogsClass"/>
		<add relativeAddress="ITanks.svc" service="FMBusinessServices.ServiceClasses.TanksClass"/>
		<add relativeAddress="ITankStatusColors.svc" service="FMBusinessServices.ServiceClasses.TankStatusColorsClass"/>
		<add relativeAddress="ITestEquipmentResults.svc" service="FMBusinessServices.ServiceClasses.TestEquipmentResultsClass"/>
		<add relativeAddress="ITests.svc" service="FMBusinessServices.ServiceClasses.TestsClass"/>
		<add relativeAddress="ITestSetEquipmentResults.svc" service="FMBusinessServices.ServiceClasses.TestSetEquipmentResultsClass"/>
		<add relativeAddress="ITestSets.svc" service="FMBusinessServices.ServiceClasses.TestSetsClass"/>
		<add relativeAddress="ITestSetTankResults.svc" service="FMBusinessServices.ServiceClasses.TestSetTankResultsClass"/>
		<add relativeAddress="ITestTankResults.svc" service="FMBusinessServices.ServiceClasses.TestTankResultsClass"/>
		<add relativeAddress="ITestToTestSetMaps.svc" service="FMBusinessServices.ServiceClasses.TestToTestSetMapsClass"/>
		<add relativeAddress="ITFMServices.svc" service="FMBusinessServices.ServiceClasses.TFMServicesClass"/>
		<add relativeAddress="ITransactionAliases.svc" service="FMBusinessServices.ServiceClasses.TransactionAliasesClass"/>
		<add relativeAddress="ITransactionAliasFields.svc" service="FMBusinessServices.ServiceClasses.TransactionAliasFieldsClass"/>
		<add relativeAddress="ITransactionAliasListProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionAliasListProcessorClass"/>
		<add relativeAddress="ITransactionConfigDetailProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionConfigDetailProcessorClass"/>
		<add relativeAddress="ITransactionConfigProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionConfigProcessorClass"/>
		<add relativeAddress="ITransactionFilterProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionFilterProcessorClass"/>
		<add relativeAddress="ITransactionImportProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionImportProcessorClass"/>
		<add relativeAddress="ITransactionLinkProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionLinkProcessorClass"/>
		<add relativeAddress="ITransactionListProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionListProcessorClass"/>
		<add relativeAddress="ITransactionNoteProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionNoteProcessorClass"/>
		<add relativeAddress="ITransactionPIDXProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionPIDXProcessorClass"/>
		<add relativeAddress="ITransactionProcessor.svc" service="FMBusinessServices.ServiceClasses.TransactionProcessorClass"/>
		<add relativeAddress="ITransactions.svc" service="FMBusinessServices.ServiceClasses.Transactions"/>
		<add relativeAddress="ITransactionSummary.svc" service="FMBusinessServices.ServiceClasses.TransactionSummary"/>
		<add relativeAddress="ITransactionValidator.svc" service="FMBusinessServices.ServiceClasses.TransactionValidatorClass"/>
		<add relativeAddress="ITrends.svc" service="FMBusinessServices.ServiceClasses.Trends"/>
		<add relativeAddress="ITxAggregationProcessor.svc" service="FMBusinessServices.ServiceClasses.TxAggregationProcessorClass"/>
		<add relativeAddress="IUserDataFields.svc" service="FMBusinessServices.ServiceClasses.UserDataFieldsClass"/>
		<add relativeAddress="IUserDataListValues.svc" service="FMBusinessServices.ServiceClasses.UserDataListValuesClass"/>
		<add relativeAddress="IUserGroupMaps.svc" service="FMBusinessServices.ServiceClasses.UserGroupMaps"/>
		<add relativeAddress="IUsers.svc" service="FMBusinessServices.ServiceClasses.UsersClass"/>
		<add relativeAddress="IOperateScreenConfigurations.svc" service="FMBusinessServices.ServiceClasses.OperateScreenConfigurations"/>
		<add relativeAddress="IUserViewStateSettings.svc" service="FMBusinessServices.ServiceClasses.UserViewStateSettings"/>
		<add relativeAddress="IWeightAverageCosts.svc" service="FMBusinessServices.ServiceClasses.WeightedAverageCostsClass"/>
		<add relativeAddress="IMobileDeviceProfiles.svc" service="FMBusinessServices.ServiceClasses.MobileDeviceProfiles"/>
		<add relativeAddress="IFieldLevelConfigMaps.svc" service="FMBusinessServices.ServiceClasses.FieldLevelConfigMapsClass"/>
		<add relativeAddress="IMobileRequestsProcessor.svc" service="FMBusinessServices.ServiceClasses.MobileRequestsProcessor"/>
		<add relativeAddress="ICompanyCrossReference.svc" service="FMBusinessServices.ServiceClasses.CompanyCrossReference"/>
		<add relativeAddress="IVersions.svc" service="FMBusinessServices.ServiceClasses.Versions"/>
		<add relativeAddress="IWebLinks.svc" service="FMBusinessServices.ServiceClasses.WebLinks"/>
		<add relativeAddress="IFMFatalErrorHandler.svc" service="FMBusinessServices.ServiceClasses.FMFatalErrorHandler"/>
		<add relativeAddress="IDatabaseMaintenance.svc" service="FMBusinessServices.ServiceClasses.DatabaseMaintenanceClass"/>
		<add relativeAddress="IAssetTrackingDetails.svc" service="FMBusinessServices.ServiceClasses.AssetTrackingDetails"/>
		<add relativeAddress="IAssetTrackingDevices.svc" service="FMBusinessServices.ServiceClasses.AssetTrackingDevices"/>
		<add relativeAddress="IAssetTrackingMapConfigurations.svc" service="FMBusinessServices.ServiceClasses.AssetTrackingMapConfigurations"/>
		<add relativeAddress="IAssetTrackingIconConfigurations.svc" service="FMBusinessServices.ServiceClasses.AssetTrackingIconConfigurations"/>
		<add relativeAddress="ITransactionAliasFieldPlacementInformation.svc" service="FMBusinessServices.ServiceClasses.TransactionAliasFieldPlacementInformation"/>
		<add relativeAddress="IErrorTransactionSubmission.svc" service="FMBusinessServices.ServiceClasses.ErrorTransactionSubmission"/>
		<add relativeAddress="IVruTrackings.svc" service="FMBusinessServices.ServiceClasses.VruTrackings"/>
		<add relativeAddress="IActiveDirectoryMappings.svc" service="FMBusinessServices.ServiceClasses.ActiveDirectoryMappings"/>
		<add relativeAddress="IActiveDirectoryService.svc" service="FMBusinessServices.ServiceClasses.ActiveDirectoryService"/>
		<add relativeAddress="IQueryWriterTopics.svc" service="FMBusinessServices.ServiceClasses.QueryWriterTopics"/>
		<add relativeAddress="IMovementSummaryColumns.svc" service="FMBusinessServices.ServiceClasses.MovementSummaryColumns"/>
		<add relativeAddress="IMovementSummaryRows.svc" service="FMBusinessServices.ServiceClasses.MovementSummaryRows"/>
		<add relativeAddress="IMovementSummaries.svc" service="FMBusinessServices.ServiceClasses.MovementSummaries"/>
		<add relativeAddress="IMovementLegacyData.svc" service="FMBusinessServices.ServiceClasses.MovementLegacyData"/>
		<add relativeAddress="IAdminDashboard.svc" service="FMBusinessServices.ServiceClasses.AdminDashboardClass"/>
		<add relativeAddress="IMovementHistories.svc" service="FMBusinessServices.ServiceClasses.MovementHistories"/>
		<add relativeAddress="IWWIntegrationClass.svc" service="FMBusinessServices.ServiceClasses.WWIntegrationClass"/>
	</serviceActivations>
</serviceHostingEnvironment>
