<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SiteOmatClassSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58706/SiteOmatService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SiteOmatClassSoap"
                contract="GasboyBOS.SiteOmatClassSoap" name="SiteOmatClassSoap" />
        </client>
    </system.serviceModel>
</configuration>