<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FuelsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <system.web>
    <httpCookies httpOnlyCookies="false" requireSSL="false" />
    <httpRuntime executionTimeout="7200" maxRequestLength="2097151" />
    <!--  DYNAMIC DEBUG COMPILATION
      Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
      false will improve runtime performance of this application. 
      Set compilation debug="true" to insert debugging symbols (.pdb information)
      into the compiled page. Because this creates a larger file that executes
      more slowly, you should set this value to true only when debugging and to
      false at all other times. For more information, refer to the documentation about
      debugging ASP.NET files.
  -->
    <compilation defaultLanguage="c#" targetFramework="4.0" debug="false">
      <assemblies/>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
      Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
      Add <error> tags for each of the errors you want to handle.

      "On" Always display custom (friendly) messages.
      "Off" Always display detailed ASP.NET error information.
      "RemoteOnly" Display custom (friendly) messages only to users not running 
       on the local Web server. This setting is recommended for security purposes, so 
       that you do not display application detail information to remote clients.
  -->
    <customErrors mode="Off"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
      Application-level tracing enables trace log output for every page within an application. 
      Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
      trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
      application trace log by browsing the "trace.axd" page from your web application
      root. 
  -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  GLOBALIZATION
      This section sets the globalization settings of the application. 
  -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!-- LOCAL DEBUGGER SESSION STATE-->
    <sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider" cookieless="false" timeout="25">
      <providers>
        <add name="AppFabricCacheSessionStoreProvider"
          type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default"
          useBlobMode="true" dataCacheClientName="default"/>
      </providers>
    </sessionState>
    <!-- Windows Azure Caching output caching provider -->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F6DF7461DA1EFB09AFFE45629F51D2DCD" validation="SHA1" validationKey="6DF7461DA1EFB09AFFE45629F51D2DCDEEEE802E9DE62168764FF0DCE537184F0535D5D9AD66DEDC6DF7461DA1EFB09AFFE45629F51D2DCDEEEE802E97DC1ABF"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DispatchRequestProxyEndpointBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="FuelCardsProxyEndpointBehavior"/>
        <behavior name="MessageCertBehavior">
          <clientCredentials>
            <clientCertificate findValue="5fa896ed6e556fb7ec7bc4e3ff3a184a60e64b44" storeLocation="LocalMachine" x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DispatchRequestProxyBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="EnterpriseSynchronizationProxyBehavior">
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647"/>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceTimeouts transactionTimeout="00:05:00"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
         	<serviceCredentials>
          	<clientCertificate>
            	<authentication certificateValidationMode="PeerOrChainTrust"/>
						</clientCertificate>
					</serviceCredentials>
					<serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="true"/>
        </behavior>
        <behavior name="FuelCardsProxyBehavior">
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647"/>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceTimeouts transactionTimeout="00:05:00"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DispatchRequestProxyBehavior" name="FuelsManager.DispatchRequestProxy">
        <endpoint binding="webHttpBinding" address="" contract="FuelsManager.IDispatchRequestProxy" bindingConfiguration="WebHttpBinding" behaviorConfiguration="DispatchRequestProxyEndpointBehavior"/>
      </service>
      <service behaviorConfiguration="EnterpriseSynchronizationProxyBehavior" name="FuelsManager.EnterpriseSynchronization">
				<endpoint binding="customBinding" bindingConfiguration="CustomBinding_IEnterpriseSynchronization" name="Endpoint_IEnterpriseSynchronizaiton" contract="FMBusinessObjects.BusinessInterfaces.IEnterpriseSynchronization"/>
      </service>
      <service behaviorConfiguration="FuelCardsProxyBehavior" name="FuelsManager.FuelCards">
        <endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding_IFuelCards" contract="FMBusinessObjects.BusinessInterfaces.IFuelCards" name="CustomBinding_IFuelCards" behaviorConfiguration="FuelCardsProxyEndpointBehavior"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="WsHttpsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
        </binding>
        <binding name="WsHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="8192" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingIIS" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="None">
            <transport clientCredentialType="None">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="NetTcpBindingAzure" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="None">
            <transport clientCredentialType="None">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="NetTcpBindingSyncService" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="Transport">
            <message clientCredentialType="UserName"/>
            <transport clientCredentialType="Windows"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="SRMTcpBinding" maxReceivedMessageSize="10000" maxConnections="500" listenBacklog="500">
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="CustomBinding_IExchangeService">
          <reliableSession/>
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation" requireDerivedKeys="false" securityHeaderLayout="LaxTimestampLast" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature" protectTokens="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="false">
            <localClientSettings cacheCookies="true" detectReplays="true" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60"/>
            <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00"/>
            <secureConversationBootstrap authenticationMode="MutualCertificate"/>
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="1000000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="1000000" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="1000000" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
				<binding name="CustomBinding_IEnterpriseSynchronization" sendTimeout="00:15:00">
					<transactionFlow/>
					<httpsTransport requireClientCertificate="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
				</binding>
        <binding name="CustomBinding_IFuelCards" sendTimeout="00:15:00">
          <transactionFlow/>
          <textMessageEncoding/>
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap authenticationMode="SspiNegotiated"/>
          </security>
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"/>
      <add scheme="https" binding="wsHttpBinding" bindingConfiguration="WsHttpsBinding"/>
    </protocolMapping>
    <client>
      <endpoint address="https://win-i4rs9s3rsug/FuelsManager/FMDataExchange/ExchangeService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IExchangeService" contract="ExchangeService.IExchangeService" name="CustomBinding_IExchangeService" behaviorConfiguration="MessageCertBehavior">
        <identity>
          <certificateReference storeLocation="LocalMachine" findValue="5fa896ed6e556fb7ec7bc4e3ff3a184a60e64b44" x509FindType="FindByThumbprint"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers accessPolicy="Read, Script">
      <add name="ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="PostWarning.htm"/>
        <add value=" Default.asp"/>
        <add value=" Default.htm"/>
      </files>
    </defaultDocument>
    <httpErrors>
      <clear/>
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <!-- this section is used by the web application for custom settings -->
  <appSettings file="fuelsmanager.config">
    <!-- Do not change the Accounting/TransactionDetail.aspx value. For other projects -->
    <!-- such as BSME the contain in the fuelsmanager.config file which is project -->
    <!-- specific will override the value with the appropriate value. -->
    <add key="AccountingTransactionDetailURL" value="Accounting/TransactionDetail.aspx"/>
    <!-- Use the fuelsmanager.config file to override any of these values.  You do not have to  -->
    <!-- override each value.  Also, the product will work just fine if the fuelsmanager.config -->
    <!-- does not exist in the application directory.  It will use it, however, if the file     -->
    <!-- is present (Kendall) -->
    <add key="ContactUsLink" value="http://www.varec.com/contact-us.html"/>
    <add key="SupportLink" value="http://www.varec.com/services/techsupport.html"/>
    <add key="PrivacyLink" value="http://www.varec.com/privacy.html"/>
    <add key="CopyrightLink" value="http://www.varec.com/copyright.html"/>
    <!--  These values are used by default.aspx to display a warning banner.  If they are empty,
      no banner page will display. 
  -->
    <add key="WarningTitle" value=""/>
    <add key="WarningText" value=""/>
    <!--  Glossary file name - should point to an HTML file with prepared bookmarks to aliased
      transaction field names.  Paths are relative to the Accounting web app folder.
  -->
    <add key="TransactionGlossaryFile" value=""/>
    <!--  The maximum rows for logs setting is to set a threshold for warning messages on the 
      Alarm & Event log and the Audit log.  Zero means no limit.  Override in the fuelsmanager.config
      file
  -->
    <add key="MaximumNumberOfRowsForLogs" value="0"/>
    <add key="ThreshholdPercentageForLogs" value="100"/>
    <!-- This section contains keys for turning off certain tree views for webapps rolled into the FuelsManager DLL -->
    <add key="SupressInvoiceWebAppMenu" value="false"/>
    <add key="LoginPageSplashImage" value="images/splash_box_v1.jpg"/>
    <add key="LoginPageBackgroundColor" value="#0D256B"/>
    <add key="PageBannerImage" value="images\Page_banner_7.jpg"/>
    <add key="WarningPageImage" value="FMWebApp\\images\\Warn_Box_7.jpg"/>
    <add key="PageFadeImage" value="..\FMWebApp\images\Page_Fade_Blank.bmp"/>
    <add key="ColorHeaderBlue" value="861290"/>
    <add key="ColorDarkBlue" value="190"/>
    <add key="Defaultlimit" value="1500"/>
    <add key="FuelCardlimit" value="1500"/>
    <add key="Equipmentlimit" value="20"/>
    <add key="Companylimit" value="1500"/>
    <add key="Productlimit" value="15"/>
    <add key="Personlimit" value="1500"/>
    <add key="StandingOfferlimit" value="50"/>
    <add key="EndOfMonthReportName" value="TestReport.rdl"/>
    <add key="EndOfMonthReportNameTitle" value="TestReport.rdl"/>
    <!-- Settings for binding to the FMBusinessServices WCF Service -->
    <!-- AZURE-->
    <add key="bindingName" value="NetTcpBindingAzure"/>
    <add key="endPointAddress" value="net.tcp://localhost:9500"/>

    <add key="syncServiceBindingType" value="netTcpBinding"/>
    <add key="syncServiceBindingConfiguration" value="NetTcpBindingSyncService"/>
    <add key="syncServiceBindingEndPointAddress" value="net.tcp://localhost:8523/FMSynchronizationService"/>
    <add key="LoggerDebugFlag" value="false"/>
    <add key="LoggerInfoFlag" value="false"/>
    <add key="LoggerPerformanceFlag" value="false"/>
    <add key="LoggerWarnFlag" value="true"/>
    <add key="LoggerErrorFlag" value="true"/>
    <add key="LoggerCriticalFlag" value="true"/>
    <add key="LoggerLogDir" value="C:\Program Files\FuelsManager\ErrorLogging"/>
    <add key="EnablePerformanceLogging" value="false"/>
    <add key="PerformanceLoggingThresholdMilliseconds" value="4000"/>
  </appSettings>
  <applicationSettings>
    <FuelsManager.Properties.Settings>
      <setting name="FuelsManager_AccountingImportService_ImportService" serializeAs="String">
        <value>http://localhost/AccountingImportExport/ImportService.asmx</value>
      </setting>
      <setting name="FuelsManager_ReportSrv2005_ReportingService2005" serializeAs="String">
        <value>http://localhost/ReportServer/ReportService2005.asmx</value>
      </setting>
    </FuelsManager.Properties.Settings>
  </applicationSettings>
  <dataCacheClients>
    <dataCacheClient isCompressionEnabled="false" name="default">
      <autoDiscover isEnabled="true" identifier="FuelsManagerCacheWorkerRole"/>
      <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->
    </dataCacheClient>
  </dataCacheClients>
  <cacheDiagnostics>
    <crashDump dumpLevel="Off" dumpStorageQuotaInMB="100"/>
  </cacheDiagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="1.0.0.0-4.5.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>