<?xml version="1.0"?>
<serviceHostingEnvironment multipleSiteBindingsEnabled="true"
                           minFreeMemoryPercentageToActivateService="0">
	<serviceActivations>
		<add relativeAddress="IClientDispatchService.svc" service="FMDispatchProxyServices.ServiceClasses.ClientDispatchService"/>
	</serviceActivations>
</serviceHostingEnvironment>
