<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="FMBusinessServicesBinding" maxReceivedMessageSize="2147483647" maxConnections="100" listenBacklog="100">
					<security mode="None">
						<message clientCredentialType="None" />
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<appSettings>
		<add key="bindingName" value="FMBusinessServicesBinding" />
		<add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices" />
		<add key="OpcUaApplicationConfigurationTraceFile" value="C:/FuelsManager Luzern Maintenance/OpcUaLogs/OpcUaApplicationConfigurationTrace.txt" />
		<add key="OpcUaAcceptNonValidatedCertificates" value="true" />
		<add key="LogOpcUaServerConnectionFailures" value="false" />
		
		<add key="DAServerUrl" value="http://18vj8v1:40000/FuelsManager/DataAccessServer" />
		<add key="OpcUaUserCertificatePath" value="C:/Users/smarlin/Documents/Luczern/F090XR1.pfx" />
		<add key="OpcUaUserPassword" value="varec" />
		<add key="DAServerNamespaceIndex" value="2" />
		<add key="NumTankPoints" value="10" />
		<add key="NumTankTags" value="0" />
		<add key="NumNonTankPoints" value="0" />
		<add key="NumNonTankTags" value="0" />
		<add key="UseOpcForLoadTest" value="false" />
		<add key="NamespaceIndex" value="2" />
		<add key="UseOpcUaServer" value="true" />
		<add key="OpcUaServerEndPoint" value="opc.tcp://localhost:62550/AlarmsServer" />
		<add key="OpcUaServerFolderNodeIdForPoints" value="ns=2;i=3" />
		<add key="OpcUaNamespaceUri" value="http://softing.com/Softing.Opc.Ua.Toolkit.Samples/AlarmsServer" />
		<add key="OpcUaPublishingInterval" value="20000" />
		<add key="PointTemplateType" value="2" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.FMUtil" publicKeyToken="e6190a5bf6c69d61" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.1.0.0" newVersion="9.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Crypt" publicKeyToken="e6190a5bf6c69d61" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="LZ4" publicKeyToken="62e1b5ec1eec9bdd" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.15.93" newVersion="1.0.15.93" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
