<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FMExportServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50" maxConcurrentInstances="50" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FMExportService.FMExportServiceCommunication" behaviorConfiguration="FMExportServiceBehavior">
        <endpoint address="/IFMExportService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="FMExportService.IFMExportService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <!-- Settings for binding to the FMBusinessServices WCF Service -->
    <!-- <add key="bindingName" value="NetTcpBinding"/>
    <add key="endPointAddress" value="net.tcp://localhost:808/FMBusinessServices"/>-->
    <!--<add key="bindingName" value="BasicHttpBinding"/>
    <add key="endPointAddress" value="http://localhost:9500" />-->
    <!-- AZURE-->
    <add key="bindingName" value="NetTcpBinding"/>
    <add key="endPointAddress" value="net.tcp://localhost:809" />
  </appSettings>
</configuration>