<nav>
  <ul>
    <li>
      <a routerLink='home' href="#" onmouseover="document.homeimg.src='../../assets/home1.png';"
         onmouseout="document.homeimg.src='../../assets/home.png';">
        <img src="../../assets/home.png" name="homeimg" class="center" />
        <i class="fa fa-2x" style="font-family: Roboto; font-size: 12px; text-align: center">Home</i>
      </a>
    </li>
    <li>
      <a routerLink='chassis' href="#" onmouseover="document.assetimg.src='../../assets/assets1.png';"
         onmouseout="document.assetimg.src='../../assets/assets.png';">
        <img src="../../assets/assets.png" name="assetimg" class="center" />
        <i class="fa fa-2x" style="font-family: Roboto; font-size: 12px; text-align: center">Assets</i>
      </a>
    </li>
    <li>
      <a routerLink='tank' href="#" onmouseover="document.tankimg.src='../../assets/tank1.png';"
         onmouseout="document.tankimg.src='../../assets/tank.png';">
        <img src="../../assets/tank.png" name="tankimg" class="center" />
        <i class="fa fa-2x" style="font-family: Roboto; font-size: 12px; text-align: center">Tanks</i>
      </a>
    </li>
    <li>
      <a routerLink='certificate' href="#" onmouseover="document.certimg.src='../../assets/certificate-menu.png';"
         onmouseout="document.certimg.src='../../assets/certificate-menu1.png';">
        <img src="../../assets/certificate-menu1.png" name="certimg" class="center" />
        <i class="fa fa-2x" style="font-family: Roboto; font-size: 12px; text-align: center">Certificates</i>
      </a>
    </li>
    <li>
      <a routerLink='alarm' href="#" onmouseover="document.alarmimg.src='../../assets/alarm-bell.png';"
         onmouseout="document.alarmimg.src='../../assets/alarm-bell-inverse.png';">
        <img src="../../assets/alarm-bell-inverse.png" name="alarmimg" class="center" />
        <i class="fa fa-2x" style="font-family: Roboto; font-size: 12px; text-align: center">Alarms</i>
      </a>
    </li>
    <li>
      <a routerLink='modbus' href="#" onmouseover="document.modbusimg.src='../../assets/ic-action.png';"
         onmouseout="document.modbusimg.src='../../assets/ic-action1.png';">
        <img src="../../assets/ic-action1.png" name="modbusimg" class="center" />
        <i class="fa fa-2x" style="font-family: Roboto; font-size: 12px; text-align: center">Modbus</i>
      </a>
    </li>
    <li>
      <!--<a routerLink="diagnostics" style='opacity:.3; cursor:not-allowed'>-->
      <a routerLink='' style='opacity:.3; cursor:not-allowed' href="#" onmouseover="document.diagnosticsimg.src='../../assets/ic-diagnostics1.png';"
         onmouseout="document.diagnosticsimg.src='../../assets/ic-diagnostics.png';">
        <img src="../../assets/ic-diagnostics.png" name="diagnosticsimg" class="center" />
        <i class="fa fa-2x" style="font-family: Roboto; font-size: 12px; text-align: center">Diagnostics</i>
      </a>
    </li>
    <li>
      <a routerLink='settings' href="#" onmouseover="document.settingsimg.src='../../assets/settings1.png';"
         onmouseout="document.settingsimg.src='../../assets/settings.png';">
        <img src="../../assets/settings.png" name="settingsimg" class="center" />
        <i class="fa fa-2x" style="font-family: Roboto; font-size: 12px; text-align: center">Settings</i>
      </a>
    </li>
  </ul>
</nav>
