USE [ConsolidatedDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[Migrate_ConsolidatedDBtblGroupTransactionAliasMapping]    Script Date: 03/15/2010 11:39:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Migrate_ConsolidatedDBtblGroupTransactionAliasMapping]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Migrate_ConsolidatedDBtblGroupTransactionAliasMapping]
GO

CREATE PROCEDURE [dbo].[Migrate_ConsolidatedDBtblGroupTransactionAliasMapping]
 /*=============================================
 Author:			Ali Coker
 Create date:		10/13/2010
 Description:		Add Group Transactions Alias security rights
 Modification History:
	Date		by			Description
	
 =============================================*/
/*

EXEC Migrate_ConsolidatedDBtblGroupTransactionAliasMapping 2, null

*/
@IsBaseDB smallint, -- 0 = Base to Base, 1 = Base to Enterprise, 2 = Enterprise to Enterprise
@SiteID NVarChar(MAX) = NULL

AS 

  
DECLARE @createDate DateTime
SET @createDate = GetDate()

INSERT INTO  [ConsolidatedDB].[dbo].[tblGroupTransactionAliasMap] 
(GroupIndex, AliasID, CreatedDate, CreatedBy, [Right], UpdatedDate, UpdatedBy)
SELECT GroupIndex, AliasID, CreatedDate, CreatedBy, [Right], UpdatedDate, UpdatedBy FROM (
SELECT groupindex, aliasID, @createDate AS CreatedDate, 'Varec' AS CreatedBy, 
	1 AS [Right], @createDate AS UpdatedDate, 'Varec' As UpdatedBy FROM  [ConsolidatedDB].[dbo].[tblGroups] g,	
	[ConsolidatedDB].[dbo].[tblTransactionAliases] t
	WHERE t.SiteIndex=-1 and g.SiteIndex=-1 and t.AliasName IN (N'Commercial', N'Inflight', 
	N'Receive - Contract', N'Receive - Transfer',  N'Regrade', N'Reissue', N'Request', 
	N'Shipment - Contract', N'Shipment - Transfer', N'Transfer Destination' ) 
	AND g.GroupID IN (N'Accounting',N'Administrator')
UNION
SELECT groupindex, aliasID, @createDate, 'Varec', 1, @createDate, 'Varec' FROM  [ConsolidatedDB].[dbo].[tblGroups] g,	
	[ConsolidatedDB].[dbo].[tblTransactionAliases] t
	WHERE t.SiteIndex=-1 and g.SiteIndex=-1 and t.AliasName IN ( N'Inflight' ) 
	AND g.GroupID IN (N'Accounting',N'Administrator',N'Inflights')
UNION
SELECT groupindex, aliasID, @createDate, 'Varec', 1, @createDate, 'Varec' FROM  [ConsolidatedDB].[dbo].[tblGroups] g,	
	[ConsolidatedDB].[dbo].[tblTransactionAliases] t
	WHERE t.SiteIndex=-1 and g.SiteIndex=-1 and t.AliasName IN (N'Defuel',N'Determine', N'Fillstand', N'Physical Inventory',
	N'Recirculation', N'Return to Bulk',
	N'Sale' ) 
	AND g.GroupID IN (N'Accounting',N'Administrator',N'Dispatch')
UNION
SELECT groupindex, aliasID, @createDate, 'Varec', 0, @createDate, 'Varec' FROM  [ConsolidatedDB].[dbo].[tblGroups] g,	
	[ConsolidatedDB].[dbo].[tblTransactionAliases] t
	WHERE t.SiteIndex=-1 and g.SiteIndex=-1  and t.AliasName IN (N'Contract' ) 
	AND g.GroupID IN (N'Accounting',N'Administrator',N'BSME Administrator', N'COR')
UNION
SELECT groupindex, aliasID, @createDate, 'Varec', 0, @createDate, 'Varec' FROM  [ConsolidatedDB].[dbo].[tblGroups] g,	
	[ConsolidatedDB].[dbo].[tblTransactionAliases] t
	WHERE t.SiteIndex=-1 and g.SiteIndex=-1  and t.AliasName IN (N'Commercial',N'Defuel',N'Determine', N'Inflight', N'Physical Inventory',
	N'Regrade', N'Reissue', 
	N'Sale',N'Shipment - Contract', N'Shipment - Transfer', N'Transfer Destination' ) 
	AND g.GroupID IN (N'BSME Administrator', N'COR')
UNION
SELECT groupindex, aliasID, @createDate, 'Varec', 0, @createDate, 'Varec' FROM  [ConsolidatedDB].[dbo].[tblGroups] g,	
	[ConsolidatedDB].[dbo].[tblTransactionAliases] t
	WHERE t.SiteIndex=-1 and g.SiteIndex=-1  and t.AliasName IN (N'Fillstand',  N'Request' ) 
	AND g.GroupID IN (N'BSME Administrator')
	
UNION
SELECT groupindex, aliasID, @createDate, 'Varec', 0, @createDate, 'Varec' FROM  [ConsolidatedDB].[dbo].[tblGroups] g,	
	[ConsolidatedDB].[dbo].[tblTransactionAliases] t
	WHERE t.SiteIndex=-1 and g.SiteIndex=-1  and t.AliasName IN (N'Receive - Contract', N'Receive - Transfer' ) 
	AND g.GroupID IN (N'COR')
	) A
	WHERE NOT EXISTS(SELECT * FROM [ConsolidatedDB].[dbo].[tblGroupTransactionAliasMap] M WHERE A.AliasID = M.AliasID 
	AND A.GroupIndex = M.GroupIndex )

	
