--Error SQL72031: This deployment may encounter errors during execution because changes to [dbo].[AlarmDataType] are blocked by [dbo].[usp_AlarmUpdateShelved].[@AlarmTable]'s dependency in the target database.
--Error SQL72031: This deployment may encounter errors during execution because changes to [dbo].[AlarmDataType] are blocked by [dbo].[usp_AlarmUpdateShelvedOneShot].[@AlarmTable]'s dependency in the target database.

--Error SQL72031: This deployment may encounter errors during execution because changes to [dbo].[tblSessions] are blocked by [map].[trg_Audit_del_tblTrendPenToTrend]'s dependency in the target database.
--Error SQL72031: This deployment may encounter errors during execution because changes to [dbo].[tblSessions] are blocked by [map].[trg_Audit_ins_tblTrendPenToTrend]'s dependency in the target database.
--Error SQL72031: This deployment may encounter errors during execution because changes to [dbo].[tblSessions] are blocked by [map].[trg_Audit_upd_tblTrendPenToTrend]'s dependency in the target database.
--Error SQL72031: This deployment may encounter errors during execution because changes to [dbo].[tblUsers] are blocked by [map].[trg_Audit_del_tblTrendPenToTrend]'s dependency in the target database.
--Error SQL72031: This deployment may encounter errors during execution because changes to [dbo].[tblUsers] are blocked by [map].[trg_Audit_ins_tblTrendPenToTrend]'s dependency in the target database.
--Error SQL72031: This deployment may encounter errors during execution because changes to [dbo].[tblUsers] are blocked by [map].[trg_Audit_upd_tblTrendPenToTrend]'s dependency in the target database.

-- Resolved by dropping the triggers.  
-- Note: tblTrendPenToTrend was split out into two tables in v10.1. Tables get migrated to new tables and old table(s) will be dropped in the v10.1 DACPAC deployment.

/****** Object:  Trigger [trg_insupd_tblTrendPenToTrend_ForSync]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[map].[trg_insupd_tblTrendPenToTrend_ForSync]'))
DROP TRIGGER [map].[trg_insupd_tblTrendPenToTrend_ForSync]
GO
/****** Object:  Trigger [trg_del_tblTrendPenToTrend_ForSync]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[map].[trg_del_tblTrendPenToTrend_ForSync]'))
DROP TRIGGER [map].[trg_del_tblTrendPenToTrend_ForSync]
GO
/****** Object:  Trigger [trg_Audit_upd_tblTrendPenToTrend]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[map].[trg_Audit_upd_tblTrendPenToTrend]'))
DROP TRIGGER [map].[trg_Audit_upd_tblTrendPenToTrend]
GO
/****** Object:  Trigger [trg_Audit_ins_tblTrendPenToTrend]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[map].[trg_Audit_ins_tblTrendPenToTrend]'))
DROP TRIGGER [map].[trg_Audit_ins_tblTrendPenToTrend]
GO
/****** Object:  Trigger [trg_Audit_del_tblTrendPenToTrend]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[map].[trg_Audit_del_tblTrendPenToTrend]'))
DROP TRIGGER [map].[trg_Audit_del_tblTrendPenToTrend]
GO
/****** Object:  StoredProcedure [dbo].[usp_AlarmUpdateShelvedOneShot]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_AlarmUpdateShelvedOneShot]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_AlarmUpdateShelvedOneShot]
GO
/****** Object:  StoredProcedure [dbo].[usp_AlarmUpdateShelved]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_AlarmUpdateShelved]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_AlarmUpdateShelved]
GO
/****** Object:  StoredProcedure [dbo].[usp_AlarmAddModify]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_AlarmAddModify]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_AlarmAddModify]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmaudit].[DF_map_tblTrendPenToTrend_AuditGUID]') AND type = 'D')
BEGIN
ALTER TABLE [fmaudit].[map_tblTrendPenToTrend] DROP CONSTRAINT [DF_map_tblTrendPenToTrend_AuditGUID]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmaudit].[DF_map_tblTrendPenToTrend_AuditCreatedDate]') AND type = 'D')
BEGIN
ALTER TABLE [fmaudit].[map_tblTrendPenToTrend] DROP CONSTRAINT [DF_map_tblTrendPenToTrend_AuditCreatedDate]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fmaudit].[DF_map_tblTrendPenToTrend_AuditEventSequence]') AND type = 'D')
BEGIN
ALTER TABLE [fmaudit].[map_tblTrendPenToTrend] DROP CONSTRAINT [DF_map_tblTrendPenToTrend_AuditEventSequence]
END
GO

/****** Object:  UserDefinedTableType [dbo].[AlarmDataType]    Script Date: 3/2/2020 8:57:47 AM ******/
IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'AlarmDataType' AND ss.name = N'dbo')
DROP TYPE [dbo].[AlarmDataType]
GO


-- Error SQL72014: .Net SqlClient Data Provider: Msg 6529, Level 16, State 1, Line 1 ALTER ASSEMBLY failed because the identity of referenced assembly 'FMPointTagArchive.Core.Interfaces' has changed. Make sure the version, name, and public key have not changed.
-- Resolved by dropping the following items and letting the DACPAC recreate them.
/****** Object:  StoredProcedure [rpt].[usp_TankChangeCallingProc]    Script Date: 3/2/2020 10:22:53 AM ******/
DROP PROCEDURE IF EXISTS [rpt].[usp_TankChangeCallingProc]
GO
/****** Object:  StoredProcedure [rpt].[usp_CurrentTankInventoryCallingProc]    Script Date: 3/2/2020 10:22:53 AM ******/
DROP PROCEDURE IF EXISTS [rpt].[usp_CurrentTankInventoryCallingProc]
GO
/****** Object:  SqlAssembly [FMDatabase.SqlServer.Clr]    Script Date: 3/2/2020 10:20:17 AM ******/
DROP ASSEMBLY IF EXISTS [FMDatabase.SqlServer.Clr]
GO
/****** Object:  SqlAssembly [FMPointTagArchive.Core]    Script Date: 3/2/2020 10:20:17 AM ******/
DROP ASSEMBLY IF EXISTS [FMPointTagArchive.Core]
GO
/****** Object:  SqlAssembly [FMPointTagArchive.Core.Interfaces]    Script Date: 3/2/2020 10:20:17 AM ******/
DROP ASSEMBLY IF EXISTS [FMPointTagArchive.Core.Interfaces]
GO

